<?php $customer = $this->getCustomer(); ?>
<?php $customFields = $this->getCustomFieldsValues(true); ?>
<div class="manufacturer-page-profile">
    <div class="brand-inner-left">
       
        <?php if($this->helper('marketplace')->getSupplierLogo($customer->getId()) && $this->helper('marketplace')->canUploadLogos()): ?>
            <div class="col-left-first">
                <div class="main">
                    <div class="block block-account">
                        <img src="<?php echo $this->helper('marketplace')->getSupplierLogo($customer->getId()); ?>" alt="<?php echo $this->htmlEscape($customer->getSupplierName()); ?>"/>
                    </div>
                </div>
            </div>
        <?php endif; ?>

      
            <div class="my-account">
                <div class="dashboard">
                    <p><?php echo strip_tags($customer->getSupplierDescription(), '<ol><li><b><span><a><i><u><p><br><h1><h2><h3><h4><h5><div>'); ?></p>
                    <div class="ship-loc tooltip">
                    <i class="fa fa-map-marker"></i>
                    <label>Store Location</label>
                    <div class="tooltiptext tooltip-bottom">
                            <p><?php echo $customer->getCompanyAddress(); ?></p>
                           <p><?php echo $customer->getCompanyCity(); ?></p>
                            <p><?php echo $customer->getCompanyState(); ?></p>
                            <p><?php echo $customer->getCompanyCountry();?></p>
                    </div>
                </div>
                </div>
                    <?php if($customFields) {
                        foreach ($customFields as $customField) {
                            echo '<br>';
                            echo '<div><strong>' . $this->getFieldLabel($customField['name']) . '</strong></div>';
                            echo '<div>' . $customField['value'] . '</div>';
                        }
                    }
                    ;?>
            </div>
      
    </div>
    <div style="clear:both;"></div>
  
</div>