<?php if(Mage::getSingleton('customer/session')->isLoggedIn()) {
   $customerData = Mage::getModel('customer/customer')->load(Mage::getSingleton('customer/session')->getId());
   } else {
   $customerData = new Varien_Object();
   }
?>
<?php $customFields = $this->getCustomFields(); ?>
<?php $customFieldsValues = unserialize($customerData->getCustomFieldsValues());?>
<?php $newCustomFieldsValues = unserialize($customerData->getNewCustomFieldsValues());?>
<?php 
require_once './lib/IP2Location/IP2Location.php';
$db = new \IP2Location\Database('./lib/IP2Location/databases/IP2LOCATION-LITE-DB1.BIN', \IP2Location\Database::FILE_IO);
$records = $db->lookup($_SERVER['REMOTE_ADDR'], \IP2Location\Database::ALL);
//echo "<pre>";
   //print_r($customerData->getData()); ?>
<div class="col-md-10 pull-right main-container vendor-container">
   <!-- <h1 class="text-center e-title">
      <?php echo Mage::helper('marketplace')->__('Manage Profile Info'); ?></h1> -->
   <!--<div class="col-md-12">-->
   <form name="settings_supplier_profile" id="settings_supplier_profile" action="
      <?php echo Mage::getUrl('marketplace/settings/profileSave') ?>" method="post" enctype="multipart/form-data">
      <!-- <div class="row"> -->
      <div class="col-md-10 col-md-offset-1">
         <h1 class="text-center e-title">
            <?php echo Mage::helper('marketplace')->__('Manage Profile Info'); ?>
         </h1>
         <?php if($this->helper('marketplace')->canUploadLogos()): ?>
         <div class="form-group col-md-6 p-l-0 banner-group">
            <div class="logo">
               <?php if(Mage::helper('marketplace')->getSupplierLogo()): ?>
               <img src="
                  <?php echo Mage::helper('marketplace')->getSupplierLogo(); ?>" alt="" class="avatar img-thumbnail profile-img"/>
               <?php endif; ?>
            </div>
            <div class="clearfix"></div>
            <label for="logo" class="control-label">
            <?php echo $this->__('Logo'); ?>
            </label>
            <input type="file" id="logo" name="logo" class="validate-upload well well-sm profile-file"/>
            <p class="img-size">Logo Size : 350px X 350px</p>
            <div class="checkbox">
               <label>
               <input type="checkbox" name="remove_logo" />
               <?php echo $this->__('Remove logo'); ?>
               </label>
            </div>
         </div>
         <?php endif; ?>
         <?php if($this->helper('marketplace')->canUploadBanner()): ?>
         <div class="form-group col-md-6 p-r-0 banner-group">
            <div class="banner" >
               <?php if(Mage::helper('marketplace')->getSupplierBanner()): ?>
               <img src="
                  <?php echo Mage::helper('marketplace')->getSupplierBanner(); ?>" alt="" class="avatar img-thumbnail profile-img"/>
               <?php endif; ?>
            </div>
            <div class="clearfix"></div>
            <label for="banner" class="control-label">
            <?php echo $this->__('Banner'); ?>
            </label>
            <input type="file" id="banner" name="banner" class="validate-upload-banner well well-sm profile-file"/>
            <p class="img-size">Banner Size : 1280px X 500px</p>
            <div class="checkbox">
               <label>
               <input type="checkbox" name="remove_banner" />
               <?php echo $this->__('Remove Banner'); ?>
               </label>
            </div>
         </div>
         <?php endif; ?>
         <div class="clearfix"></div>
         <div class="m-b-30">
            <legend class="profile-legend">Store Information</legend>
            <div class="form-group col-md-6 p-l-0">
               <label for="name" class="required control-label">
               <?php echo $this->__('Name'); ?>
               <em>*</em>
               </label>
               <div class="input-container">
                  <input type="text" id="store_name" name="name" class="input-text validate-cname required-entry form-control validate-length maximum-length-60" value="<?php echo $customerData->getSupplierName(); ?>"  />
               </div>
            </div>
            <div class="form-group col-md-6 p-r-0">
               <label for="name" class="required control-label">
               <?php echo $this->__('Store Url'); ?>
               <em>*</em>
               </label>
               <div class="input-container">
                  <input type="text" id="store_url" name="url" class="input-text required-entry form-control validate-length maximum-length-60" value="<?php echo $customerData->getSupplierName(); ?>" readonly="readonly"/>
               </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-md-6 p-l-0">
               <label for="email" class="required control-label">
               Email ID
               <em>*</em>
               </label>
               <div class="input-container">
                  <input type="text" id="email" name="email" placeholder="Email ID" readonly="readonly" class="input-text required-entry form-control" value="<?php echo $customerData->getEmail(); ?>"/>
               </div>
            </div>
            <div class="form-group col-md-6 p-r-0">
               <label for="contact_number" class="required control-label">
               Contact Number
               <em>*</em>
               </label>
               <div class="input-container mobile-field">
                <?php $countrycode = explode("-", $customerData->getContactNumber()); ?>
                <select class="country-select" name="country_code" id="country_code" style="min-height:34px;">
                  
                     <option <?php if($records['countryCode']== 'AE' || @$countrycode[0] == '+971'){ echo "selected";}?> value="+971">(+971)</option>
                     <option <?php if($records['countryCode']== 'OM' || @$countrycode[0] == '+968'){ echo "selected";}?> value="+968">(+968)</option>
               </select>
                  <input type="text" id="contact_number" name="contact_number" placeholder="Contact Number" onkeypress="return isNumbers(event);" class="mobile-text input-text required-entry form-control validate-length-country maximum-length-20" value="<?php echo @$countrycode[1]; ?>"/>
               </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-md-6 p-l-0">
               <label for="address" class="required control-label">
               Address Line 1
               <em>*</em>
               </label>
               <div class="input-container">
                  <input type="text" name="company_address"  placeholder="Address Line 1" class="input-text required-entry form-control" value="<?php echo $customerData->getCompanyAddress(); ?>"/>
               </div>
            </div>
            <div class="form-group col-md-6 p-r-0">
               <label for="city" class="required control-label">
               City
               <em>*</em>
               </label>
               <div class="input-container">
                  <input type="text" placeholder="City" name="company_city" class="input-text required-entry form-control" value="<?php echo $customerData->getCompanyCity(); ?>"/>
               </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-md-6 p-l-0">
               <label for="state" class="required control-label">
               State
               <em>*</em>
               </label>
               <div class="input-container">
                  <input type="text" name="company_state" placeholder="State" class="input-text required-entry form-control" value="<?php echo $customerData->getCompanyState(); ?>"/>
               </div>
            </div>
            <div class="form-group col-md-6 p-r-0">
               <label for="country" class="required control-label">
               Country
               <em>*</em>
               </label>
               <div class="input-container">
                  <?php $countries = Mage::getModel('directory/country')->getResourceCollection()
                                                  ->loadByStore()
                                                  ->toOptionArray(true); ?>
                  <?php if (count($countries) > 0): ?>
                      <select name="company_country" id="country" class="required-entry" disabled="true">
                          <option value="">-- Please Select --</option>
                           <?php foreach($countries as $country):
							if($country['value']!=""){ ?>
                              <option value="<?php echo $country['value'] ?>" <?php if($country['value']==$customerData->getCompanyCountry()) echo 'selected="selected"'; ?> >
                                  <?php echo $country['label'] ?>
                              </option>
                          <?php } endforeach; ?>
                      </select>
					  <input type="hidden" name="company_country" value="<?php echo $customerData->getCompanyCountry(); ?>">
                  <?php endif; ?>
               </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
               <label for="name" class="required control-label">
               <?php echo $this->__('Description'); ?>
               <em>*</em>
               </label>
               <div class="input-container">
                  <textarea name="description" id="description" rows="14" class="input-text required-entry form-control wysiwyg">
                  <?php echo $customerData->getSupplierDescription(); ?>
                  </textarea>
               </div>
            </div>
            <!--<div class="clearfix"></div>
            <div class="form-group">
               <label for="name" class="required control-label">
               <?php echo $this->__('Ship To'); ?>
               <em>*</em>
               </label>
               <div class="input-container">
                  <?php $countries = Mage::getModel('directory/country')->getResourceCollection()
                                                  ->loadByStore()
                                                  ->toOptionArray(true); ?>
                  <?php if (count($countries) > 0): ?>
                      <select name="shipto[]" id="countryship" multiple>
                          <option value="">-- Please Select --</option>
                          <?php foreach($countries as $country):
							if($country['value']!=""){ ?>
                              <option value="<?php echo $country['value'] ?>" <?php if($country['value']==$customerData->getShipto()) echo 'selected="selected"'; ?>>
                                  <?php echo $country['label'] ?>
                              </option>
                          <?php } endforeach; ?>
                      </select>
                  <?php endif; ?>
               </div>
            </div>-->
         </div>
         <div class="clearfix"></div>
         <legend class="profile-legend">Bank Information</legend>
         <div class="form-group col-md-6 p-l-0">
            <label for="company_name" class="required control-label">
            Company Name
            <em>*</em>
            </label>
            <div class="input-container">
               <input type="text" id="company_name" name="company_name" placeholder="Company Name" class="input-text required-entry form-control" value="<?php echo $customerData->getCompanyName(); ?>"/>
            </div>
         </div>
         <div class="form-group col-md-6 p-r-0">
            <label for="auth_representative" class="required control-label">
            Authorized Representative
            <em>*</em>
            </label>
            <div class="input-container">
               <input type="text" id="auth_representative" name="auth_representative" placeholder="Authorized Representative" class="auth_representative validate-alpha-with-space input-text required-entry form-control" value="<?php echo $customerData->getAuthRepresentative(); ?>"/>
            </div>
         </div>
         <div class="clearfix"></div>
         <!-- New field add by rinkal 7-4-2017 start -->
         <div class="form-group col-md-6 p-l-0">
            <label for="bank_name" class="required control-label">
            Bank Name
            <em>*</em>
            </label>
            <div class="input-container">
               <input type="text" id="bank_name" name="bank_name" placeholder="Bank Name" class="bank_name bank_name_valid input-text required-entry form-control" value="<?php echo $customerData->getBankName(); ?>"/>
            </div>
         </div>
         <div class="form-group col-md-6 p-r-0">
            <label for="account_no" class="required control-label">
            Account No.
            <em>*</em>
            </label>
            <div class="input-container">
               <input type="text" id="account_no" name="account_no" placeholder="Account No." class="input-text required-entry form-control acc_num" value="<?php echo $customerData->getAccountNo(); ?>"/>
            </div>
         </div>
         <div class="form-group col-md-6 p-l-0">
            <label for="ifsc_code" class="required control-label">
            <!--  IFSC Code -->
           IBAN No.
            <em>*</em>
            </label>
            <div class="input-container">
               <input type="text" id="ifsc_code" data-rule-iban="true" name="ifsc_code" placeholder="IBAN No" class="iban-validate input-text required-entry form-control" maxlength="23" value="<?php echo $customerData->getIfscCode();?>"/>
            </div>
         </div>
         <div class="form-group col-md-6 p-r-0">
            <label for="trade_licence_no" class="required control-label">
            Trade Licence No
            <em>*</em>
            </label>
            <div class="input-container">
               <input type="text" id="trade_licence_no" name="trade_licence_no" placeholder="Trade Licence No." class="input-text required-entry form-control" maxlength="11" value="<?php echo $customerData->getTradeLicenceNo();?>"/>
                <input type="text" id="trade_license_expiry_date" name="trade_license_expiry_date" placeholder="Expiry Date" class="input-text required-entry form-control datepicker"  value="<?php echo $customerData->getTradeLicenseExpiryDate();?>" readonly="true"/>
            </div>
         </div>
         <!-- <div class="form-group col-md-6 p-r-0">
            <label for="address" class="required control-label">
                Address
                <em>*</em>
            </label>
            <div class="input-container">
                 <textarea name="company_locality" id="address" rows="14" class="input-text form-control wysiwyg"><?php echo $customerData->getCompanyLocality(); ?>
                 </textarea>
            </div>
            </div> -->
         <?php if($customFields): ?>
         <?php foreach($customFields AS $field): ?>
         <div class="form-group">
            <div class="label-container">
               <label for="
                  <?php echo $this->escapeHtml($field->getName()); ?>" 
                  <?php echo $field->getIsRequired() ? 'class="required control-label"' : 'class="control-label"'; ?>>
               <?php echo $this->escapeHtml($field->getLabel()); ?>
               <em>
               <?php echo $field->getIsRequired() ? '*' : ''; ?>
               </em>
               </label>
            </div>
            <div class="input-container">
               <?php echo $this->getCustomField($field, $customFieldsValues); ?>
            </div>
         </div>
         <?php endforeach; ?>
         <?php endif; ?>
         <div class="clearfix"></div>
         <div class="checkbox profile-checkbox">
            <label>
            <input type="checkbox" name="profile_enabled" 
               <?php echo $customerData->getSupplierProfileVisible() ? ' checked="checked"' : ''; ?>/>
            <?php echo $this->__('Profile Page Enabled'); ?>
            </label>
         </div>
         <div class="col-md-2 nopadding">
            <input type="submit" name="submit" class="btn btn-primary" value="
               <?php echo $this->__('Save') ?>"/>
         </div>
      </div>
      <div class="review-section col-md-10 col-md-offset-1 ">
         <?php if($customerData->getSupplierNameNew() || $customerData->getNewCustomFieldsValues()) : ?>
         <div class="clearfix"></div>
         <legend class="profile-legend"><?php echo $this->__('Pending for admin approval'); ?></legend>
         <!-- <legend class="profile-legend"><?php echo $this->__('Waiting For Review by Admin'); ?></legend> -->
         <!--    <h3 class="text-left review-title">
            </h3> -->
         <?php if($customerData->getSupplierNameNew()): ?>
         <div class="col-md-12">
            <h4>
               <b>
               <?php echo $this->__("Name"); ?> :
               </b>
            </h4>
            <p>
               <?php echo $this->escapeHtml($customerData->getSupplierNameNew()); ?>
            </p>
         </div>
         <?php endif; ?>
         <?php if($customerData->getSupplierUrlNew()): ?>
         <div class="col-md-12">
            <h4><b><?php echo $this->__("Store Url"); ?> :</b></h4>
            <p><?php echo $this->escapeHtml($customerData->getSupplierUrlNew()); ?></p>
         </div>
         <?php endif; ?>
         <?php if($customerData->getSupplierDescriptionNew()): ?>
         <div class="col-md-12">
            <h4>
               <b>
               <?php echo $this->__("Description"); ?> :
               </b>
            </h4>
            <p>
               <?php echo $this->escapeHtml($customerData->getSupplierDescriptionNew()); ?>
            </p>
         </div>
         <?php endif; ?>
         <?php if(!is_array($newCustomFieldsValues)) $newCustomFieldsValues = array(); ?>
         <?php foreach($newCustomFieldsValues AS $newCustomValue) : ?>
         <div class="col-md-12">
            <h4>
               <b>
               <?php echo $this->escapeHtml($newCustomValue['name']); ?> :
               </b>
            </h4>
            <p>
               <?php echo $this->escapeHtml($newCustomValue['value']); ?>
            </p>
         </div>
         <?php endforeach; ?>
         <!-- </div> -->
         <div class="col-md-2 col-sm-4">
            <input type="submit" name="clear" class="btn btn-primary" value="<?php echo $this->__('Clear text') ?>"/>
         </div>
         <?php endif; ?>
   </form>
   </div>
   <!--</div>-->
</div>
<script type="text/javascript">
   //< ![CDATA[
   var customForm = new VarienForm('settings_supplier_profile');
   //]]>

	Validation.add('validate-upload', 'Please upload valid file Like (.jpg, .bmp, .png, .gif, .jpeg)', function(v) {
		return Validation.get('IsEmpty').test(v) || /^(([a-zA-Z]:)|(\\{2}\w+)\$?)(\\(\w[\w].*))(.jpg|.JPG|.gif|.GIF|.jpeg|.JPEG|.bmp|.BMP|.png|.PNG)$/i.test(v)
	});
	Validation.add('validate-upload-banner', 'Please upload valid file Like (.jpg, .bmp, .png, .gif, .jpeg)', function(v) {
		return Validation.get('IsEmpty').test(v) || /^(([a-zA-Z]:)|(\\{2}\w+)\$?)(\\(\w[\w].*))(.jpg|.JPG|.gif|.GIF|.jpeg|.JPEG|.bmp|.BMP|.png|.PNG)$/i.test(v)
	});
	Validation.add('validate-cname', 'Please use letters only (a-z or A-Z) in this field.', function(sn) {
		return Validation.get('IsEmpty').test(sn) || /^[a-zA-Z\s]+$/i.test(sn)
	});
	Validation.add('validate-phn', 'Please enter valid Contact no.', function(vs) {
		return Validation.get('IsEmpty').test(vs) || /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/i.test(vs)
	});
   jQuery(document).ready(function(){
       jQuery('.datepicker').datepicker();
   
       CKEDITOR.replace( 'description' );

         jQuery(window).keydown(function(event){
          if(event.keyCode == 13) {
            event.preventDefault();
            return false;
          }
      });

   });

	/*jQuery('#store_name').bind('keypress blur', function(e) {

		jQuery('#store_url').val(jQuery('#store_name').val());
		
		if(!((e.which >= 65 && e.which <= 90 ) || (e.which >= 97 && e.which <= 122 ) || e.which == 8)) {
        e.preventDefault();
        return false;
    }*/
	
	jQuery('#store_name').on('input', function(){
		 var store_name = jQuery('#store_name').val().replace(/[^A-Z0-9]/ig, "");
		// alert(store_name);
		jQuery('#store_url').val(store_name);
		
	});
/*
   jQuery("#contact_number").removeClass('maximum-length-50');
   jQuery("#country_code").change(function(){

      var country  = jQuery(this).val();
      if(country=="+971"){
         jQuery("#contact_number").removeClass('minimum-length-8');
         jQuery("#contact_number").removeClass('maximum-length-8');
         jQuery("#contact_number").addClass('maximum-length-9');
         jQuery("#contact_number").addClass('minimum-length-9')
      }
      if(country=="+968"){
         jQuery("#contact_number").removeClass('minimum-length-9');
         jQuery("#contact_number").removeClass('maximum-length-9');
         jQuery("#contact_number").addClass('maximum-length-8');
         jQuery("#contact_number").addClass('minimum-length-8')
      }

   });      */
   function isNumbers(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
        
    }		
</script>