<?php if(Mage::getSingleton('customer/session')->isLoggedIn()) {
    $customerData = Mage::getModel('customer/customer')->load(Mage::getSingleton('customer/session')->getId());
} else {
    $customerData = new Varien_Object();
}
?>
<?php $customFields = $this->getCustomFields(); ?>
<?php $customFieldsValues = unserialize($customerData->getCustomFieldsValues());?>
<?php $newCustomFieldsValues = unserialize($customerData->getNewCustomFieldsValues());?>
<?php //echo "<pre>";
//print_r($customerData->getData()); ?>
<div class="col-md-10 pull-right main-container vendor-container">
    <!-- <h1 class="text-center e-title">
    <?php echo Mage::helper('marketplace')->__('Manage Profile Info'); ?></h1> -->
    <!--<div class="col-md-12">-->
        <form name="settings_supplier_profile" id="settings_supplier_profile" action="
            <?php echo Mage::getUrl('marketplace/settings/profileSave') ?>" method="post" enctype="multipart/form-data">
            <!-- <div class="row"> -->
            <div class="col-md-10 col-md-offset-1">
                <h1 class="text-center e-title">
                    <?php echo Mage::helper('marketplace')->__('Manage Profile Info'); ?>
                </h1>
                <?php if($this->helper('marketplace')->canUploadLogos()): ?>
                <div class="form-group col-md-6 p-l-0">
                    <div class="logo">
                        <?php if(Mage::helper('marketplace')->getSupplierLogo()): ?>
                        <img src="
                            <?php echo Mage::helper('marketplace')->getSupplierLogo(); ?>" alt="" class="avatar img-thumbnail profile-img"/>
                            <?php endif; ?>
                        </div>
                        <div class="clearfix"></div>
                        <label for="logo" class="control-label">
                            <?php echo $this->__('Logo'); ?>
                        </label>
                        <input type="file" id="logo" name="logo" class="text-center center-block well well-sm profile-file"/>
                        <p class="img-size">Logo Size : 240px X 240px</p>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="remove_logo" />
                                <?php echo $this->__('Remove logo'); ?>
                            </label>
                        </div>
                    </div>
                    <?php endif; ?>
                     <?php if($this->helper('marketplace')->canUploadBanner()): ?>
                    <div class="form-group col-md-6 p-r-0">
                        <div class="banner" >
                            <?php if(Mage::helper('marketplace')->getSupplierBanner()): ?>
                            <img src="
                                <?php echo Mage::helper('marketplace')->getSupplierBanner(); ?>" alt="" class="avatar img-thumbnail profile-img"/>
                                <?php endif; ?>
                            </div>
                            <div class="clearfix"></div>
                            <label for="banner" class="control-label">
                                <?php echo $this->__('Banner'); ?>
                            </label>
                            <input type="file" id="banner" name="banner" class="text-center center-block well well-sm profile-file"/>
                            <p class="img-size">Banner Size : 1280px X 500px</p>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="remove_banner" />
                                    <?php echo $this->__('Remove Banner'); ?>
                                </label>
                            </div>
                        </div>
                         <?php endif; ?>
                         <div class="clearfix"></div>
                        <div class="form-group col-md-6 p-l-0">
                            <label for="name" class="required control-label">
                                <?php echo $this->__('Name'); ?>
                                <em>*</em>
                            </label>
                            <div class="input-container">
                                <input type="text" id="name" name="name" class="input-text required-entry form-control validate-length maximum-length-60" value="<?php echo $customerData->getSupplierName(); ?>" />
                                </div>
                            </div>
                            
                            <div class="form-group col-md-6 p-r-0">
                            <label for="name" class="required control-label">
                                <?php echo $this->__('Store Url'); ?>
                                <em>*</em>
                            </label>
                            <div class="input-container">
                                <input type="text" id="url" name="url" class="input-text required-entry form-control validate-length maximum-length-60" value="<?php echo $customerData->getSupplierUrl(); ?>" />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-6 p-l-0">
                                <label for="company_name" class="required control-label">
                                    Company Name
                                    <em>*</em>
                                </label>
                                <div class="input-container">
                                    <input type="text" id="company_name" name="company_name" placeholder="Company Name" class="input-text required-entry form-control" value="<?php echo $customerData->getCompanyName(); ?>"/>
                                </div>
                            </div>
                            <div class="form-group col-md-6 p-r-0">
                                <label for="auth_representative" class="required control-label">
                                    Authorized Representative
                                    <em>*</em>
                                </label>
                                <div class="input-container">
                                    <input type="text" id="auth_representative" name="auth_representative" placeholder="Authorized Representative" class="input-text required-entry form-control" value="<?php echo $customerData->getAuthRepresentative(); ?>"/>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-6 p-l-0">
                                <label for="email" class="required control-label">
                                    Email ID
                                    <em>*</em>
                                </label>
                                <div class="input-container">
                                    <input type="text" id="email" name="email" placeholder="Email ID" class="input-text required-entry form-control" value="<?php echo $customerData->getEmail(); ?>"/>
                                </div>
                            </div>
                             <div class="form-group col-md-6 p-r-0">
                                <label for="contact_number" class="required control-label">
                                    Contact Number
                                    <em>*</em>
                                </label>
                                <div class="input-container">
                                     <input type="text" id="contact_number" name="contact_number" placeholder="Contact Number" class="input-text required-entry form-control" value="<?php echo $customerData->getContactNumber(); ?>"/>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            
                            <!-- New field add by rinkal 7-4-2017 start -->
                            
                            <div class="form-group col-md-6 p-l-0">
                                <label for="bank_name" class="required control-label">
                                    Bank Name
                                    <em>*</em>
                                </label>
                                <div class="input-container">
                                     <input type="text" id="bank_name" name="bank_name" placeholder="Bank Name" class="input-text required-entry form-control" value="<?php echo $customerData->getBankName(); ?>"/>
                                </div>
                            </div>
                            <div class="form-group col-md-6 p-r-0">
                                <label for="account_no" class="required control-label">
                                    Account No.
                                    <em>*</em>
                                </label>
                                <div class="input-container">
                                     <input type="text" id="account_no" name="account_no" placeholder="Account No." class="input-text required-entry form-control" value="<?php echo $customerData->getAccountNo(); ?>"/>
                                </div>
                            </div>
                            <div class="form-group col-md-6 p-l-0">
                                <label for="ifsc_code" class="required control-label">
                                    IFSC Code
                                    <em>*</em>
                                </label>
                                <div class="input-container">
                                     <input type="text" id="ifsc_code" name="ifsc_code" placeholder="IFSC Code" class="input-text required-entry form-control" value="<?php echo $customerData->getIfscCode();?>"/>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label for="address" class="required control-label">
                                    Address
                                    <em>*</em>
                                </label>
                                <div class="input-container">
                                     <textarea name="company_locality" id="address" rows="14" class="input-text form-control wysiwyg"><?php echo $customerData->getCompanyLocality(); ?>
                                     </textarea>
                                </div>
                            </div>
                           <div class="form-group">
                                <label for="name" class="required control-label">
                                    <?php echo $this->__('Description'); ?>
                                    <em>*</em>
                                </label>
                                <div class="input-container">
                                    <textarea name="description" id="description" rows="14" class="input-text form-control wysiwyg">
                                        <?php echo $customerData->getSupplierDescription(); ?>
                                    </textarea>
                                </div>
                            </div>
                            
                            <?php if($customFields): ?>
                            <?php foreach($customFields AS $field): ?>
                            <div class="form-group">
                                <div class="label-container">
                                    <label for="
                                        <?php echo $this->escapeHtml($field->getName()); ?>" 
                                        <?php echo $field->getIsRequired() ? 'class="required control-label"' : 'class="control-label"'; ?>>
                                        <?php echo $this->escapeHtml($field->getLabel()); ?>
                                        <em>
                                            <?php echo $field->getIsRequired() ? '*' : ''; ?>
                                        </em>
                                    </label>
                                </div>
                                <div class="input-container">
                                    <?php echo $this->getCustomField($field, $customFieldsValues); ?>
                                </div>
                            </div>
                            <?php endforeach; ?>
                            <?php endif; ?>
                            <div class="clearfix"></div>
                            <div class="checkbox profile-checkbox">
                                <label>
                                    <input type="checkbox" name="profile_enabled" 
                                        <?php echo $customerData->getSupplierProfileVisible() ? ' checked="checked"' : ''; ?>/>
                                        <?php echo $this->__('Profile Page Enabled'); ?>
                                    </label>
                                </div>
                                <div class="col-md-4 nopadding">
                                    <input type="submit" name="submit" class="btn btn-primary" value="
                                        <?php echo $this->__('Save') ?>"/>
                                </div>
                            </div>
                                        <div class="review-section col-md-10 col-md-offset-1 ">
                                <?php if($customerData->getSupplierNameNew() || $customerData->getNewCustomFieldsValues()) : ?>
                                <div class="clearfix"></div>
                                <h3 class="text-left review-title">
                                    <?php echo $this->__('Waiting For Review by Admin'); ?>
                                </h3>
                                <?php if($customerData->getSupplierNameNew()): ?>
                                <div class="col-md-12">
                                        <h4>
                                            <b>
                                                <?php echo $this->__("Name"); ?> :
                                            </b>
                                        </h4>
                                        <p>
                                            <?php echo $this->escapeHtml($customerData->getSupplierNameNew()); ?>
                                        </p>
                                </div>
                                <?php endif; ?>
                               
                                    <?php if($customerData->getSupplierUrlNew()): ?>
                                     <div class="col-md-12">
                                        
                                                <h4><b><?php echo $this->__("Store Url"); ?> :</b></h4>

                                                <p><?php echo $this->escapeHtml($customerData->getSupplierUrlNew()); ?></p>
                                        </div>
                                    <?php endif; ?>
                               
                                <?php if($customerData->getSupplierDescriptionNew()): ?>
                                <div class="col-md-12">
                                        <h4>
                                            <b>
                                                <?php echo $this->__("Description"); ?> :
                                            </b>
                                        </h4>
                                        <p>
                                            <?php echo $this->escapeHtml($customerData->getSupplierDescriptionNew()); ?>
                                        </p>
                                </div>
                                <?php endif; ?>
                                <?php if(!is_array($newCustomFieldsValues)) $newCustomFieldsValues = array(); ?>
                                <?php foreach($newCustomFieldsValues AS $newCustomValue) : ?>
                                <div class="col-md-12">
                                        <h4>
                                            <b>
                                                <?php echo $this->escapeHtml($newCustomValue['name']); ?> :
                                            </b>
                                        </h4>
                                        <p>
                                            <?php echo $this->escapeHtml($newCustomValue['value']); ?>
                                        </p>
                                </div>
                                <?php endforeach; ?>
                                <!-- </div> -->
                                
                                        <div class="col-md-4 col-sm-4">
                                            <input type="submit" name="clear" class="btn btn-primary" value="<?php echo $this->__('Clear text') ?>"/>
                                            </div>
                                            <?php endif; ?>
                                        </form>
                                    </div>
                                <!--</div>-->
                            </div>
                                <script type="text/javascript">
    //< ![CDATA[
    var customForm = new VarienForm('settings_supplier_profile');
    //]]>

    jQuery(document).ready(function(){
        jQuery('.datepicker').datepicker();

        CKEDITOR.replace( 'description' );
    });

                                </script>
