/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_PriceCount
 * @version     0.1.4
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2014 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */
 .timer-grid{float: left;width: 100%;padding: 3px 0 0 0;color: #000000;font-size: 18px;font-family: arial; font-weight: bold;}
 .timer-list{float: left;width: 100%;padding: 0;color: #000000;font-size: 18px;font-family: arial; font-weight: bold;}
 .timer-view{float: left;width: 100%;padding:2px 0 0 0px;color: #000000;font-size: 40px; font-family:arial;font-weight: bold;}
 .timer-view .day{margin:1px 1px}
 .timer-view .hour{margin:1px 1px}
 .timer-view .min{margin:1px 1px}
 .timer-view .sec{margin:1px 1px}
 .timer-compare{float: left;width: 100%;padding: 0;color: #000000;font-size: 22px;font-family: arial; font-weight: bold;}
 .timerspec{float: left;width: 100%;color: #1E7EC8;font-size: 13px;}
 .timerdate{float: left;width: 100%;padding:0 0 3px 0;color: #1E7EC8;font-size: 12px;}
 .timerdate .day{margin:1px 1px; width:20px; text-align: center;}
 .timerdate .hour{margin:1px 1px;width:20px; text-align: center;}
 .timerdate .min{margin:1px 1px; width:20px; text-align: center;}
 .timerdate .sec{margin:1px 1px; width:20px; text-align: center;}
 .products-grid .actions{position:relative !important;bottom:0;}
div.amshopby-column {

    float: left;

    width: 105px;

    overflow: hidden;

}



select.amshopby-select {

    width:170px;

}



.amshopby-logo{

padding: 0pt 10px 10px 0pt; float: left;

}



.amshopby-featured {

    padding: 5px 5px 5px 5px; 

}



.amshopby-link{

    float:left;

    padding-left:5px; 

    padding-top:5px;

}



.amshopby-clearer {

	display:block; 

	clear:both; 

	overflow: hidden;

}

div.block-layered-nav dd a {padding:0px 5px 0px 0px; display:block; float: left;}  

div.block-layered-nav dd a.amshopby-attr, div.block-layered-nav dd a.amshopby-attr:hover {color:#000;padding-left:15px; background-image:url(http://dev.searchnative.com/mv/skin/frontend/base/default/images/amshopby-cb1.gif); background-repeat: no-repeat; background-position: left center;}

div.block-layered-nav dd a.amshopby-attr::before, div.block-layered-nav dd a.amshopby-attr-selected::before {border-style: none !important;}

div.block-layered-nav dd a.amshopby-attr-selected {color:#000;padding-left:15px; background-image:url(http://dev.searchnative.com/mv/skin/frontend/base/default/images/amshopby-cb2.gif); background-repeat: no-repeat; background-position: left center;}

div.block-layered-nav dd a.amshopby-attr-inactive {pointer-events: none; color: #666666}

div.block-layered-nav dd a img {/* padding: 0px 4px 5px;*/ float:left;}



div.block-layered-nav dd li.amshopby-cat-level-2 {padding-left:10px;}

div.block-layered-nav dd li.amshopby-cat-level-3 {padding-left:20px;}



div.block-layered-nav dd a.amshopby-cat-selected {font-weight: bold;

color:black; text-decoration: none; cursor:text;}



div.block-layered-nav li.amshopby-cat-multi a {

    padding-left:15px;

    background-image:url(http://dev.searchnative.com/mv/skin/frontend/base/default/images/amshopby-cb1.gif); background-repeat: no-repeat; background-position: left center;

}



div.block-layered-nav li.amshopby-cat-multiselected a {

    font-weight: bold;

    background-image:url(http://dev.searchnative.com/mv/skin/frontend/base/default/images/amshopby-cb2.gif); background-repeat: no-repeat; background-position: left center;

}



div.block-layered-nav dd li span.amshopby-plusminus {float:left;

display:block; width:15px; height:15px; cursor:pointer;

background:transparent url(http://dev.searchnative.com/mv/skin/frontend/base/default/images/amshopby-plus.gif)  no-repeat;}

div.block-layered-nav dd li span.minus {background:transparent

url(http://dev.searchnative.com/mv/skin/frontend/base/default/images/amshopby-minus.gif) no-repeat;}

div.block-layered-nav dd li:after {display:block; content:".";

clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }







div.block-layered-nav.amshopby-collapse-enabled dl dt {

     cursor:pointer;

     padding:10px;

     background:url(http://dev.searchnative.com/mv/skin/frontend/base/default/images/arrow-up.png) 95% center scroll no-repeat;
         border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;

}

div.block-layered-nav.amshopby-collapse-enabled dl dt::after {

    border-style: none !important;

}

div.block-layered-nav.amshopby-collapse-enabled dl dt.amshopby-collapsed {background:url(http://dev.searchnative.com/mv/skin/frontend/base/default/images/arrow.png) 95% center scroll  no-repeat;}

.col-main .col-left div.block-layered-nav.amshopby-collapse-enabled dl dt{background:url(http://dev.searchnative.com/mv/skin/frontend/base/default/images/arrow-up.png) 95% center scroll no-repeat;}



div.block-layered-nav div.amshopby-slider {

	 position:relative; margin:10px 4px 5px 4px; z-index:9; height:18px;  background: url(http://dev.searchnative.com/mv/skin/frontend/base/default/images/amshopby-slider-bg.gif) repeat-x 0 50%; cursor:pointer;

}

div.block-layered-nav div.amshopby-slider div.handle {margin-left:-4px; width:8px; top:3px; height:14px; background: transparent url(http://dev.searchnative.com/mv/skin/frontend/base/default/images/amshopby-hadle.png) no-repeat; position: absolute; cursor:move; z-index: 2;}



/*

 * Slider labels

 */

.amshopby-slider-price {

	color: #798794;

}

.amshopby-slider-price-from {

	float: left;

    

}

.amshopby-slider-price-to {

	float: right;

}



.amshopby-slider-handle-right {

	position: absolute;

	top: 14px;

	right: 0px;

}



.amshopby-slider-handle-left {

	position: absolute;

	top: 14px;

	left: 0px;

}



.amshopby-tooltip {

    padding:2px 5px;

    background:#FEC;

    border:1px solid #FAA819;

    color:#1F5070;

    text-align:left;

    width:200px;

    position:absolute;

}



.amshopby-slider-price-range 

{

	text-align: center;

	font-size: 0.9em;

}



.amshopby-tooltip-img {

    cursor:help;

    display: inline;

}



div.block-layered-nav, div.amshopby-page-container, div.amshopby-filters-top {

    position: relative;

}

div.amshopby-overlay {

    background-color: #FFFFFF;

    height: 100%;

    left: 0;

    opacity: 0.5;

    filter: alpha(opacity = 50);

    position: absolute;

    top: 0;

    width: 100%;

    z-index: 555;

}

div.amshopby-overlay img {

    top: 100px;

    left: 45%;

    display: block;

    position: absolute;

}



div.amshopby-overlay div {

    margin: 0 auto;

    display: block;

	width: 300px;

	height: 200px;

	background:  url('http://dev.searchnative.com/mv/skin/frontend/base/default/images/amshopby-overlay.gif') 50% 50% no-repeat;

}



/*

 * Advanced Categories

 */

.amshopby-advanced li {

	clear: both;

}

.amshopby-advanced li.level1 {

	padding-left: 20px;

}

.amshopby-advanced li.level2 {

	padding-left: 30px;

}

.amshopby-advanced li.level3 {

	padding-left: 40px;

}

.amshopby-advanced li.level4 {

	padding-left: 50px;

}





.amshopby-advanced li.active > a {

	/*font-weight: bold;*/

}



/*

 * Slider Bar

 */

.amshopby-slider-bar {

	position:absolute; 

	background: #999; 

	height: 6px; 

	top: 6px; 

	z-index: 1;  

}



/*

 * Subcategories block

 */

.amshopby-subcategory-image {

	overflow: auto; 

}



.btn-remove-inline { background-image: url('http://dev.searchnative.com/mv/skin/frontend/base/default/images/close.png'); background-repeat: no-repeat; width: 12px;
    height: 12px;
    margin-left: 4px;
    position: absolute;
    right: 10px;
    vertical-align: middle;
    top: 30%; }

.btn-remove-inline:hover { /* background-position: center bottom; */ }

.amshopby-hightlighted { background: yellow;}



.btn-remove-inline img {display: inline;}



div.block-layered-nav div.amshopby-slider div.handle.active { z-index: 3; }



.amshopby-slider-ui { background: url(http://dev.searchnative.com/mv/skin/frontend/base/default/images/amshopby-slider-bg.gif) repeat-x 0 50%; margin: 10px .4em; }

.amshopby-slider-ui .ui-slider-handle { background-color: #f18200; border: 1px solid #de5400; box-sizing: border-box; outline: none; }

.amshopby-slider-ui .ui-slider-range { background-color: #999999; }



.ui-widget-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }

.ui-slider { cursor: pointer; position: relative; text-align: left; }

.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 0.8em; height: 1.2em; cursor: pointer; -ms-touch-action: none; touch-action: none; }

.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }



/* support: IE8 - See #6727 */

.ui-slider.ui-state-disabled .ui-slider-handle,

.ui-slider.ui-state-disabled .ui-slider-range { filter: inherit; }



.ui-slider-horizontal { height: .8em; }

.ui-slider-horizontal .ui-slider-handle { top: -.2em; margin-left: -.4em; }

.ui-slider-horizontal .ui-slider-range { top: 0.2em; height: 8px; }

.ui-slider-horizontal .ui-slider-range-min { left: 0; }

.ui-slider-horizontal .ui-slider-range-max { right: 0; }



.ui-slider-vertical { width: .8em; height: 100px; }

.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }

.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }

.ui-slider-vertical .ui-slider-range-min { bottom: 0; }

.ui-slider-vertical .ui-slider-range-max { top: 0; }



.amshopby-narrow-by-list table td { vertical-align: top; }



input[name^="amshopby"][id$="from"].input-text, input[name^="amshopby"][id$="to"].input-text{

    width: auto;

}



.amshopby-item-top{

    max-width: 225px;

    min-width: 180px;

    display: inline-block;

    vertical-align: top;

    height: 100%;

}



.amshopby-filters-top .block-content ol{

    max-width: 250px;

}



.amshopby-item-top div.amshopby-column {

    width: auto;

}



.no-display-current, .no-display{

    display: none;

}



.current .no-display-current, dd.current td.no-display{

    display: block;

}



@media only screen and (max-width: 770px) {

    dl#narrow-by-list,

    dl#narrow-by-list2 {

        padding: 0px;

    }

}
#extabs span#tb4 {
	width: 100px;
}
div#noticeevents {
	border: 1px solid #999;
	background-color: #FFF;
	height: 100px;
	overflow: auto;
}
div#noticeevents div {
	border-bottom: 1px dotted #DDD;
	padding: 3px;
	margin: 0px;
}
.runner {
	-moz-border-radius: 	5px;
	-webkit-border-radius:	5px;
	float: right;
	font-size: .8em;
	background-color: #333;
	color: #FFF;
	padding: 2px 10px 5px 10px;
	cursor: pointer;
}


/** Growler Notice Custom Styling **/
div.Growler-notice {
	background-color: 		#000;
	color: 					#fff;
	opacity: 				.85;
	filter: 				alpha(opacity = 85);
	zoom: 					1;
	width: 					235px;
	padding: 				10px;
	margin-top: 			5px;
	margin-bottom: 			5px;
	margin-left: 			auto;
	margin-right: 			auto;
	font-family: 			Tahoma, Arial, Helvetica, sans-serif;
	font-size: 				12px;
	text-align: 			left;
	display: 				none;
	-moz-border-radius: 	5px;
	-webkit-border-radius:	5px;
	min-height: 			40px;
    z-index:                10000;
}

div.Growler-notice-head {
	font-weight: 			bold;
	font-size:				10px;
}

div.Growler-notice-exit {
	float: 					right;
	font-weight: 			bold;
	font-size: 				12px;
	cursor:					pointer;
}

/** Plain Theme **/
div.plain {
	color: 					#000;
	width: 					253px;
	margin-top: 			5px;
	margin-bottom: 			5px;
	text-align: 			left;
	display: 				none;
	min-height: 			40px;
	background-color: 		#EDEDED;
	border: 				1px solid #777;
}

div.plain div.Growler-notice-head {
	font-weight: 			bold;
	font-size:				10px;
	padding: 				2px 10px;
}

div.plain div.Growler-notice-exit {
	float: 					right;
	cursor:					pointer;
	margin: 				0px;
	padding: 				0px 0px 2px 2px;
	width: 					10px;
	height: 				10px;
	color: 					#BFBFBF;
}
div.plain div.Growler-notice-body {
	padding: 5px;
}


/** Mac OS X Theme **/
div.macosx {
	color: 					#000;
	width: 					253px;
	margin-top: 			5px;
	margin-bottom: 			5px;
	text-align: 			left;
	display: 				none;
	min-height: 			40px;
	background: #d7d7d7 url(http://dev.searchnative.com/mv/skin/frontend/searchnative/default/images/macosx.jpg) repeat-y 0;
	border: 				1px solid #C9C9C9;
}

div.macosx div.Growler-notice-head {
	font-weight: 			bold;
	font-size:				10px;
	padding: 				5px 10px;
}

div.macosx div.Growler-notice-exit {
	width: 					15px;
	height: 				15px;
	float: 					left;
	cursor:					pointer;
	margin: 				4px;
	margin-left: 			1px;
	font-size: 				0em;
	color: 					transparent;
	background: transparent url(http://dev.searchnative.com/mv/skin/frontend/searchnative/default/images/macosx_exit.png) no-repeat left 0;
}
div.macosx div.Growler-notice-exit:hover {
	background: transparent url(http://dev.searchnative.com/mv/skin/frontend/searchnative/default/images/macosx_exit_over.png) no-repeat left 0;
}
div.macosx div.Growler-notice-body {
	padding: 2px 0 10px 25px;
}

/** Candybars Theme **/
div.candybar {
	color: 					#000;
	width: 					253px;
	margin-top: 			5px;
	margin-bottom: 			5px;
	text-align: 			left;
	display: 				none;
	min-height: 			40px;
	background-color: 		#F5F7FA;
	border: 				1px solid #19304B;
}

div.candybar div.Growler-notice-head {
	font-weight: 			bold;
	font-size:				10px;
	background: 			url(http://dev.searchnative.com/mv/skin/frontend/searchnative/default/images/candybars.jpg) repeat-x;
	padding: 				5px 10px;
}

div.candybar div.Growler-notice-exit {
	float: 					right;
	cursor:					pointer;
	margin: 				3px;
}
div.candybar div.Growler-notice-body {
	border-top: 1px solid #999;
	padding: 10px;
}

/** Construction Theme **/
div.atwork {
	color: 					#FFF;
	width: 					253px;
	margin-top: 			5px;
	margin-bottom: 			5px;
	text-align: 			left;
	display: 				none;
	min-height: 			40px;
	background: 			#4d4d4d url(http://dev.searchnative.com/mv/skin/frontend/searchnative/default/images/atwork.png) repeat-y 0;
	border: 				1px solid #222;
}

div.atwork div.Growler-notice-head {
	font-weight: 			bold;
	font-size:				12px;
	padding: 				5px 20px;
	color: 					#efca23;
	
}

div.atwork div.Growler-notice-exit {
	float: 					right;
	cursor:					pointer;
	margin: 				3px;
}
div.atwork div.Growler-notice-body {
	padding: 2px 0 10px 25px;
}


#MB_overlay {
	position: absolute;
	margin: auto;
	top: 0;	left: 0;
	width: 100%; height: 100%;
	z-index: 9999;
	border: 0;
	background-color: #000!important;
}
#MB_overlay[id] { position: fixed; }

#MB_window {
	position: absolute;
	top: 0;
	border: 0 solid;
	text-align: left;
	z-index: 10000;
}
#MB_window[id] { position: fixed!important; }

#MB_frame {
	position: relative;
	background-color: #EFEFEF;
	height: 100%;
}

#MB_header {
	margin: 0;
	padding: 0;
}

#MB_content {
	position: relative;
	padding: 6px .75em;
	overflow: auto;
}

#MB_caption {
	font: bold 100% "Lucida Grande", Arial, sans-serif;
	text-shadow: #FFF 0 1px 0;
	padding: .5em 2em .5em .75em;
	margin: 0;
	text-align: left;
}

#MB_close {
	display: block;
	position: absolute;
	right: 5px; top: 4px;
	padding: 2px 3px;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
}
#MB_close:hover {
	background: transparent;
}

#MB_loading {
	padding: 1.5em;
	text-indent: -10000px;
	background: transparent url(http://dev.searchnative.com/mv/skin/frontend/searchnative/default/ajaxcart/spinner.gif) 50% 0 no-repeat;
}

/* Color scheme */
#MB_window {
	background-color: #EFEFEF;
	color: #000;
	
	-webkit-box-shadow: 0 0 64px #000; 
	-moz-box-shadow: #000 0 0 64px; 
	box-shadow: 0 0 64px #000;
}
	#MB_frame {
		padding-bottom: 4px;
		
		-webkit-border-bottom-left-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;

		-moz-border-radius-bottomleft: 4px;
		-moz-border-radius-bottomright: 4px;

		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	
	#MB_content { border-top: 1px solid #F9F9F9; }

	#MB_header {
	  background-color: #DDD;
	  border-bottom: 1px solid #CCC;
	}
		#MB_caption { color: #000 }
		#MB_close { color: #777 }
		#MB_close:hover { color: #000 }


/* Alert message */
.MB_alert {
	margin: 10px 0;
	text-align: center;
}
/* Video Gallery CSS */
.video-gallery-links li a.video-thumb span{opacity:0.8;background: url("http://dev.searchnative.com/mv/skin/frontend/base/default/iceberg/videogallery/images/video_play.png") no-repeat scroll 0 0 transparent; background-size:33px 66px; display:block;height:33px;margin:10px 0 0 22px;position:absolute;width:33px;}
.video-gallery-links li a.video-thumb:hover span{opacity:1;background-position:0 -33px}

/* Style 01 */
#vg-style-01 {position:relative}

/* Style 02 - Media tabbed 1 */
#vg-style-02 {position:relative}
#vg-style-02 ul.media-tabs{list-style: none; height:29px; border-bottom:1px solid #ccc; margin-bottom:7px}
#vg-style-02 .media-tabs li{float:left;margin:0;border:1px solid #ccc;background-color:#ccc;height:28px}
#vg-style-02 .media-tabs li.last{border-right:1px solid #ccc}
#vg-style-02 .media-tabs li.active {font-weight:bold; background-color:#fff;border-width:1px 1px 0px 1px;height:29px}
#vg-style-02 .media-tabs a {text-decoration: none; color: #333333;padding:4px 10px;display:block}
#vg-style-02 .media-tabs .active a {color: #000000;}
#vg-style-02 .more-views h2 {display:none}		 

/* Media tabbed 2 */
#vg-style-03 {position:relative}
#vg-style-03 ul.media_tabs{list-style: none; height:29px; border-bottom:1px solid #ccc;}
#vg-style-03 .media_tabs li{float:left;margin:0;border:1px solid #ccc;background-color:#ccc;height:28px}
#vg-style-03 .media_tabs li.last{border-right:1px solid #ccc}
#vg-style-03 .media_tabs li.active {font-weight:bold; background-color:#fff;border-width:1px 1px 0px 1px;height:29px}
#vg-style-03 .media_tabs a {text-decoration: none; color: #333333;display:block;padding:4px 10px 5px 10px;}
#vg-style-03 .media_tabs .active a {color: #000000;}
#vg-style-03 .media_box {padding:10px 0; clear:both;}
#vg-style-03 .video-description{padding-bottom:5px}


#custommenu {
    position: relative;
    font-size: 12px;
    /*padding: 0px 0px 0px 0px;*/
	 padding: 20px 10px;
    width: 100%;
    border-radius: 2px;
    height: auto;
    margin: 0 auto;
}
/*IE7 fix*/
*:first-child+html #custommenu {
    z-index: 998;
}
div.menu {
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
	border-bottom: 1px solid rgba(188,188,188,0.5);
}
div.menu a:link, div.menu a:visited {
    display: block;
   /* height: 40px;*/
    padding-left: 8px;
    padding-right: 15px;
}
div.menu a span {
    display: block;
   /* height: 28px;*/
    padding-right: 0px;
   /* padding-top: 12px;*/
   font-size:13px;
   color:#ffffff;
}
div.menu a span:hover {
    cursor: pointer;
}
div.wp-custom-menu-popup {
    position: absolute;
    z-index: 1000;
    display: none;
    text-align: left;
    padding: 0px 0px 10px 0px;
    border-top: 0;
    /*width: 100%;*/
	width: 700px;
    height: 350px;
	overflow-y:auto;
    /*margin-top: -1px;*/
	}
div.menu a, div.wp-custom-menu-popup a {
    text-decoration: none;
    display:block;
    cursor: pointer;
    _height: 0;
    height: auto;
    line-height:13px;
}
div.level1 {
    margin-bottom: 5px;
}
div.level2 {
    margin-bottom: 5px;
}
div.level3 {
    margin-bottom: 5px;
    padding: 5px;
}
div.block2 {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}
a.level1:link, a.level1:visited {
   /* margin-top: 10px;
    margin-bottom: 10px;*/
    padding: 5px 10px;
    border-radius: 2px;
}
a.level2:link, a.level2:visited {
    padding: 3px 10px;
    border-radius: 2px;
}
/* Clearfix */
div.block2:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] div.block2 {
    display: block;
}
* html div.block2 {
    height: 1%;
}
div.block2 p {
    margin-bottom: 3px;
    line-height: 120%;
    color: #000;
    font-size: 11px;
}
div.block2 p a {
    display: inline;
}
div.block2 a img {
    opacity: .9;
    filter: alpha(opacity=90);
}
div.block2 a:hover img {
    opacity: 1;
    filter: alpha(opacity=100);
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-ms-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}
div.block2 .brand a:hover img {
    -webkit-transition: all 0;
    -moz-transition: all 0;
    -ms-transition: all 0;
    transition: all 0;
}
div.wp-custom-menu-popup hr {
    margin: 0px 0px 10px 0px;
}
/******************************************* COLUMN WIDTH ***************************** */
div.column {
    /*width: 25%;*/
    float: left;
   /* width: 100%;  for 5 columns*/
    padding: 0px 1%;
    margin: 0px 0px 0px 0px;
}
/*end COLUMN WIDTH  */

div.itemSubMenu {
    margin-left: 0px;
}
.clearBoth {
    clear:both;
    height: 0;
    overflow: hidden;
}
div.level1 {
    margin-bottom: 0px;
}
/*BG*/
#custommenu {
}
div.wp-custom-menu-popup {
        background: rgba(0,0,2,0.7);
}
div.menu a:link, div.menu a:visited, div.menu a:hover {
color: #f26a38 !important;
}

div.menu a, div.wp-custom-menu-popup a {
 -webkit-transition: all .1s linear;
-moz-transition: all .1s linear;
-ms-transition: all .1s linear;
transition: all .1s linear;
}
div.menu .brand a, div.wp-custom-menu-popup .brand a {
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -ms-transition: all 0s linear;
    transition: all 0s linear;
}
div.menu.active a {
    color: #f26a38 !important;
}
div.level3 {
    background: #fff;
}
/*FONTS*/
div.menu {
        font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'RockoFLF';
        padding-top: 9px;
    padding-bottom: 9px;
}
a.level1:link, a.level1:visited {
    text-transform: none;
    font-weight: normal;
}
a.level2:link, a.level2:visited {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}
a.level3:link, a.level3:visited {
    font-size: 11px;
    font-weight: normal;
    line-height: 100%;
    margin-bottom: 0px;
}
/*COLOR
div.menu a:link, div.menu a:visited {
    color: #fff;
}*/
div.menu a:hover, div.menu.active a {
    color: #f26a38;
}
a.level3:link, a.level3:visited {
    color: #333333;
}
a.level3:hover {
    color: #b43f74;
}
a.level2:link, a.level2:visited {
    color: #000;
}
/*a.level1:hover {
    background: #d3d3d3;
}*/
/*a.level2:hover {
    color: #000;
    background: #d3d3d3;
}*/
.block2 table.brand {
    float: left;
}
.block2 .single_menu_product {
    float: left;
    position: relative;
    max-width: 150px;
    overflow: hidden;
    margin-right: 20px;
    margin-left: 0px;
}
/*MOBILE MENU STYLES*/
#menu-button, .parentMenu {
    display: inline-block;
}
html[xmlns] #menu-button, html[xmlns] .parentMenu {
    display: block;
}
* html #menu-button, * html .parentMenu {
    height: 1%;
}
/*#menu-button:after, .parentMenu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}*/
#custommenu-mobile {
    position:relative;
    margin: 0 auto;
    padding: 0;
    z-index: 999;
}
#menu-button {
    float: none;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
}
#menu-button a:link, #menu-button a:visited {
    color: #000;
    display: block;
    float: left;
    /*margin-left: 45%;*/
    position: relative;
    padding: 0px 10px;
}
#menu-button a span:after {
    display: block;
    position: relative;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    border-top: 4px solid #000;
    margin: 8px 0px 0px 5px;
    float: right;
    opacity: 0.7;
}
#menu-button:hover {
    cursor: pointer;
}
#menu-button:hover a:after {
    opacity: 1;
}
.menu-mobile div.column {
    float:none;
    padding:5px;
    background: #fff;
}
.menu-mobile a.itemMenuName {
    display: block;
    text-align: left;
}
.menu-mobile div.menu-button, .menu-mobile div.menu-mobile {
    float: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    border-bottom: 1px solid #fff;
}
.menu-mobile div.column {
    float: none;
    width: 100%;
    padding: 0px 0;
    margin: 0px 0px 0px 0px;
}
.menu-mobile a.level1:link, .menu-mobile a.level1:visited {
    margin-top: 0px;
    margin-bottom: 0;
    padding: 10px 10px;
    border-radius: 2px;
    color: #000;
}
.menu-mobile a.level2:link, .menu-mobile a.level2:visited {
    padding: 10px 10px;
    border-radius: 2px;
}
.menu-mobile a.level1:link, .menu-mobile a.level1:visited {
    color: #555;
}
.menu-mobile a.level1:hover {
    background-color: #f1f1f1;
}
.menu-mobile .parent {
    background-color: #fff;
}
/*buttons level 01*/
.menu-mobile .parentMenu {
    padding: 0px 0px;
    display: block;
    text-align: left;
    border-bottom: 1px solid #dadada;
}
.menu-mobile .parentMenu a:link, .menu-mobile .parentMenu a:visited {
    padding: 10px 0px 10px 10px;
    margin-right: 80px;
    color: #000;
    display: block;
}
.menu-mobile .parentMenu:hover {
    cursor: pointer;
}
.parentMenu {
    position: relative;
}
.parentMenu a {
    display: block;
}
#menu-button {
    cursor: pointer;
}
.menu-mobile div.level2 {
    margin-bottom: 0;
}
#custommenu-mobile .button {
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 0px;
    display: block;
    width: 80px;
    height: 38px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJxJREFUeNpi/P//PwM66O3tBVF1UNwEwsXFxRjqmBhwg3wgZobSWAE+zcxoNEmaCQKKNDP29PTgkvsAxPxA/BGIBXDZ3A7Ef4D4Pxrmh6rhxyL3E4gbQZqL8AUKDsAG0gfS3AfEf0nU/AuIJ4I0VwIxC8j/aPgjVOFHLHLsQFzDiCeFoQQYqSmMtvGMT/NfNJokzQug9HRcCgACDAC34CnSSWx3zwAAAABJRU5ErkJggg==);
}
#custommenu-mobile .button.open {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE5JREFUeNpi/P//PwO5gImBAjBENbP09vZSZHM7EP8B4v8k4J9A3AjSXATEzCRaygbSB9LcB8R/SdT8C4gnsgCJSigmGTCOpjDSAECAAQBI6RqpQRaDFgAAAABJRU5ErkJggg==);
}
#custommenu-mobile .level1 .button {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIxJREFUeNpi/P//PwO5gAWbYG9vL4ZYcXExhhgTAwUAn+YJQAzyUxcuBYwwP2Nx6k8gZgPid0AsjM0L+Gxmg9LMxDob5lTkKOBHEuvCpzmZQBgl4NNcD8SvcWgEiTfhi+c+KGZAcvpHIBbAG9pYEglKaJOaSCqB+BrUK8QnTyxeYCDa2dRIngQBQIABAGG6KfxEmzSnAAAAAElFTkSuQmCC);
}
#custommenu-mobile .level1 .button.open {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpi/P//PwO5gImBAjBwmllgjN7eXqI1FRcXU9/ZE4D4Px7chU9zMgHLEvBprgfi1zg0gsSbsAYYFPRBMVGAcQSmMIo0AwQYAIYUFeQ3G04OAAAAAElFTkSuQmCC);
}
/*BG*/
#custommenu-mobile  .parentMenu:hover a:link, #custommenu-mobile  .parentMenu:hover a:visited, #custommenu-mobile  .parentMenu:hover {
    background-color: #fff;
}
#custommenu-mobile .level0 {
    background-color: #f1f1f1;
}
#custommenu-mobile .level1 {
    background-color: #e4e4e4;
}
#custommenu-mobile .level2 {
    background-color: #f1f1f1;
}
/*24-3-2017 rinkal css*/
.itemMenuName {color:#ffffff;}
.itemMenuName:hover,.itemMenuName:active,.itemMenuName:visited {color:#f26a38;}
/*17-4-2017 rinkal css */
.topparent .parentMenu a span::after {
    color: #fff;
    content: "";
    display: inline-block;
    font: 12px/1 FontAwesome;
    position: absolute;
    right: 0px;
}
.topparent .parentMenu {
    display: block;
}
.menu-mobile .itemMenuName.level1 > span {
    color: #282b2c;
    font-weight: normal;
    letter-spacing: 0.8px;
    margin-left: 20px;
	font-size:13px;
}
.menu-mobile .itemMenuName.level2 > span {
    color: #282b2c;
    font-weight: normal;
    letter-spacing: 0.8px;
    margin-left: 30px;
	font-size:12px;
}

/*
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @category   design
 * @package    base_default
 * @created    1st Dec, 2014 12:10pm
 * @author     Clarion magento team<magento@clariontechnologies.co.in>
 * @purpose    Manage one step checkout css
 * @copyright  Copyright (c) 2014 Magento Inc. (http://www.magentocommerce.com)
 * @license    http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */

.h1_opc{text-transform:uppercase;font-size:22px;color:#000;    margin-left: 15px;}

.onestepcheckout_loginarea { margin: 10px 15px 20px; }
.op_login_area{width:200px;padding:10px;border:1px solid #ccc;margin-bottom:15px;}
.op_login_area sup{color:#767676;font-size:100%;line-height:0;margin-left:3px;position:relative;top:6px;}
.op_login_area .buttons-set{margin-top:10px;}
.op_login_area .buttons-set a{color:#767676;}
.op_login_area .page-title{margin-bottom:10px;}
.close_la{position:relative;margin-bottom:-16px;top:-16px;right:-16px;cursor:pointer;float:right;width:16px;height:16px;
background:url("http://dev.searchnative.com/mv/skin/frontend/base/default/images/onestepcheckout/cancelonestepcheckout.png") no-repeat scroll 0 0 transparent;}
.op_login_area button.button{border:1px solid #ccc;
background:url("http://dev.searchnative.com/mv/skin/frontend/base/default/images/onestepcheckout/buttononestepcheckoutbgsmall.gif") repeat-x scroll 0 0 #00A7D1;
-moz-box-shadow: 3px 3px 5px #ccc;-webkit-box-shadow: 3px 3px 5px #ccc;box-shadow: 3px 3px 5px #ccc;}
.op_login_area button.button span{background:none no-repeat scroll 0 0 transparent;border:0 none;
color:#FFFFFF;font:bold 12px/20px Arial,Helvetica,sans-serif;height:20px !important;padding:0 0 0 5px;text-transform:uppercase;}
.op_login_area button.button span span {background-position:100% 0;padding:0 5px 0 0;}

.onestepcheckout-index-index .onepagetitle { margin-bottom: 10px; }
.onestepcheckout-index-index .page-title { border-bottom:1px solid #ededed;margin:0;}
.ptdivline{width:100%;height:1px;margin:-1px 0 0;-moz-box-shadow: 0 2px 2px #999;-webkit-box-shadow: 0 2px 2px #999;box-shadow: 0 2px 2px #999;}

#onestepcheckout_orderform .col3-set .col-1{    width: 48%;
    margin-left: 1%;}
#onestepcheckout_orderform .col3-set .col-2{    width: 48%;
    margin-right: 1%;
    margin-left: 2%;}

#onestepcheckout_orderform #register-customer-password{margin-bottom:5px;}
.#onestepcheckout_orderform #ship_address_block{margin-top:25px;}

.onestepcheckout_datafields #name{text-transform: capitalize;
    color: #f26a38;
    font-size: 18px;
    font-weight: bold;
    /* border-bottom: 1px solid #f26a38; */
    margin: 10px 0 20px;}
.onestepcheckout_datafields #shipping{text-transform: capitalize;
    color: #f26a38;
    font-size: 18px;
    font-weight: bold;
    /* border-bottom: 1px solid #f26a38; */
    margin: 10px 0 20px;}
.onestepcheckout_datafields #payment{text-transform: capitalize;
    color: #f26a38;
    font-size: 18px;
    font-weight: bold;
    /* border-bottom: 1px solid #f26a38; */
    margin: 10px 0 20px;}
.onestepcheckout_datafields #review{text-transform: capitalize;
    color: #f26a38;
    font-size: 18px;
    font-weight: bold;
    /* border-bottom: 1px solid #f26a38; */
    margin: 10px 0 20px;}

.onestepcheckout_datafields .col-1 .form_fields .short {width:50%; float:left; }
.onestepcheckout_datafields .col-1 .form_fields div.two_fields .data_area { width: 99%; }
.onestepcheckout_datafields .col-1 .form_fields div.two_fields .short { margin-bottom:15px; }
.onestepcheckout_datafields .col-1 .form_fields input.t1 { width: 99%; padding:2px; background:none repeat scroll 0 0 #FFFFFF;border:1px solid #B6B6B6;border-radius:2px;}
.onestepcheckout_datafields .col-1 .form_fields select { width: 99%; }
.onestepcheckout_datafields .col-1 .form_fields div.full { margin:0 0 15px; }
.onestepcheckout_datafields .col-1 .form_fields div.full .data_area { width: 100%; }
.onestepcheckout_datafields .col-1 .form_fields div.full input.t1 { width: 99%; padding:2px; background:none repeat scroll 0 0 #FFFFFF;border:1px solid #B6B6B6;}
.onestepcheckout_datafields .col-1 .form_fields div.full select { width: 99%; }

.onestepcheckout_datafields .col-2 .form_fields div.full .data_area { width: 275px; }
.onestepcheckout_datafields .col-2 .form_fields div.full textarea { width: 254px; height: 85px; }
.onestepcheckout_datafields .col-2 .form-list li.wide .input-box { width: 275px; }
.onestepcheckout_datafields .col-2 .form-list li.wide textarea { width: 449px; height: 85px; }

.onestepcheckout_datafields .col-3 .form_fields div.full .data_area { width: 275px; }
.onestepcheckout_datafields .col-3 .form_fields div.full textarea { width: 280px; height: 60px; }
.onestepcheckout_datafields .col-3 .form-list li.wide .input-box { width: 275px; }
.onestepcheckout_datafields .col-3 .form-list li.wide textarea { width: 280px; height: 60px; }

.onestepcheckout_datafields #comment-block { width: 100%; }
.onestepcheckout_datafields #comment-label { font-weight:normal; }
.onestepcheckout_datafields #comment-block #order-comment{ width: 100%; padding:0px;}

.form_fields label {color:#767676;float:left;font-weight:bold;position:relative;z-index:0;min-width:110px;}

.onestepcheckout_datafields .form_fields li {margin:5px 0 8px;}
.onestepcheckout_datafields .form_fields li.options input.radio,
.onestepcheckout_datafields .form_fields li.options input.checkbox {margin-right:3px;}
.onestepcheckout_datafields .form_fields li.options label {float:none;}
.onestepcheckout_datafields .form_fields li.options .input-box {clear:none;display:inline;width:auto;}
li.options label {color:#767676;}

input, select, textarea, button{color:#000;} 

#onestepcheckout_orderform .col3-set .col-2 , #onestepcheckout_orderform .col3-set .col-1  { min-height: 450px;}

.onestepcheckout_datafields .gift-messages-form .item .details .form-list .field,
.onestepcheckout_datafields .gift-messages-form .item .details .form-list .input-box,
/*.onestepcheckout_datafields .gift-messages-form .item .details .form-list li.wide .input-box { width:186px; }*/
.onestepcheckout_datafields .gift-messages-form .item .details .form-list input.input-text,
.onestepcheckout_datafields .gift-messages-form .item .details .form-list li.wide textarea { width:100%; }

.onestepcheckout_datafields .sp-methods { margin: 0; }
.onestepcheckout_datafields #checkout-review-submit { margin: 10px 0 0; }
.onestepcheckout_datafields .checkout-agreements li { margin: 0 0 30px 0; }

.onestepcheckout_datafields .loading { background: url(http://dev.searchnative.com/mv/skin/frontend/base/default/images/onestepcheckout/ajax-loader_onestepcheckout.gif) no-repeat 50% 50%; }

.onestepcheckout_datafields #checkout-shipping-method-load,
.onestepcheckout_datafields #checkout-payment-method-load,
.onestepcheckout_datafields #checkout-review-load { min-height: 50px; }

.onestepcheckout_datafields .newsletter { margin:0; padding:0px 0 10px 0; }
.onestepcheckout_datafields .buttons-set { margin: 5px 0 0; border:0;padding:2px 0 0;}
.onestepcheckout_datafields .checkout-agreements .last { margin: 0; }

.onestepcheckout_loginlink{	color:#767676;}

.onestepcheckout_datafields .discount .buttons-set button:first-child{margin-left:0} 
/*#onestepcheckout_orderform button.btn-checkout{border:0;margin-bottom:10px;padding:0 20px;
background:url("http://dev.searchnative.com/mv/skin/frontend/base/default/images/onestepcheckout/buttononestepcheckoutbg.gif") repeat-x scroll 0 0 #00A7D1;
color:#FFFFFF;font:bold 16px/32px Arial,Helvetica,sans-serif;height:32px !important;text-transform:uppercase;
box-shadow:0px 0px 8px #555;
-webkit-box-shadow: 0px 0px 8px #555;
-moz-box-shadow:0px 0px 8px #555;
filter: progid:DXImageTransform.Microsoft.dropShadow(color=#555, offX=0, offY=0, positive=true);
}*/

#onestepcheckout_orderform .form_fields sup {color:#ff0000;font-size:100%;line-height:0;margin-left:3px;position:relative;top:6px;}

#onestepcheckout_orderform .form-list label.required em{color:#ff0000; font-size:13px;}

#onestepcheckout_orderform .form-list label{text-align:left;}

/* CHECKOUT Review Your Order Table */
#checkout-review-table-wrapper{margin-top:-5px;}
.order-products-table { width:100%;color:#767676;    border-collapse: separate;}
.order-products-table .odd  { background:#fff; }
.order-products-table .even { background:#fff; }
.order-products-table td.last,
.order-products-table th.last { border-right:0; width:30%;}
.order-products-table th { padding:3px 8px; font-weight:bold; border-bottom:1px solid #BFBFBF;}
.order-products-table td { padding:5px;}

.order-products-table thead th{font-weight:bold;border-bottom:1px solid #848484;font-size:15px;padding:2px 0;color:#000;white-space:nowrap;vertical-align:middle;text-transform:capitalize;}
.order-products-table thead th.wrap { white-space:normal; }
.order-products-table thead th a,
.order-products-table thead th a:hover { color:#fff; }
.order-products-table thead th .tax-flag { font-size:11px; white-space:nowrap; }

.order-products-table tfoot { border:0;}
.order-products-table tfoot tr.first td{background-color:#ffffff;}
/*.order-products-table tfoot tr.last td{border:0 none !important;font-size:13px;text-transform:uppercase;color:#000;}*/
.order-products-table tfoot tr { background-color:#FFFFFF !important; }
.order-products-table tfoot td { border-bottom:1px solid #BFBFBF; }
.order-products-table tfoot strong { font-size:105%; }

.order-products-table tbody th,
.order-products-table tbody td { border:0; border-bottom:1px dotted #BFBFBF;}

.order-products-table tbody.odd tr { background:#f8f7f5 !important; }
.order-products-table tbody.even tr { background:#f6f6f6 !important; }
.order-products-table tbody.odd tr td,
.order-products-table tbody.even tr td { border-bottom:0; }
.order-products-table tbody.odd tr.border td,
.order-products-table tbody.even tr.border td { border-bottom:1px solid #d9dde3; }

.order-products-table tbody td .option-label { font-weight:bold; font-style:italic; }
.order-products-table tbody td .option-value { padding-left:10px; }

.clr{clear:both;}

p.agree a{color:#8E8D8B;}
p.newsletter label{color:#8E8D8B;}

.onestepcheckout-window { border: none; background: #fff; z-index: 999; position: absolute; text-align: left; }
.onestepcheckout-window .page-title span { color:#0A263C; font-size:20px; margin:0; }
.onestepcheckout-window .content { padding: 7px; overflow: auto; }
.onestepcheckout-window .close { position: absolute; top: -15px; right: -16px; width: 16px; height: 16px; background: url(http://dev.searchnative.com/mv/skin/frontend/base/default/images/onestepcheckout/cancel_round_onestepcheckout.png) no-repeat 50% 50%; }
.onestepcheckout-window .buttons-set { margin: 1em 0 0; }

.d-shadow { position: absolute; width: 30%; left: 20%; top: 10%; }
.d-shadow-wrap { position: relative; width: 100%; padding: 15px 21px 0 21px; margin: -15px -21px 0 -21px; overflow: hidden; }
.d-sh-cn { position: absolute; background: url(http://dev.searchnative.com/mv/skin/frontend/base/default/images/onestepcheckout/facilecheckout_medium_onestepcheckout.png) no-repeat; left: -25px; z-index: -1; }
.d-sh-tl,
.d-sh-tr { height: 500px; top: -28px; }
.d-sh-tl,
.d-sh-bl { width: 100%; }
.d-sh-tr,
.d-sh-br { width: 25px; margin-left: 100%; }
.d-sh-bl,
.d-sh-br { height: 28px; }
.d-sh-bl { left: -46px; padding-right: 42px; clip: rect(auto auto auto 25px); }
.d-sh-br { left: -4px; }

/* IE6 fix */
* html .onestepcheckout-hidden { visibility: hidden; }
* html .onestepcheckout-window { width: 500px; }
* html .d-sh-tl, * html .d-sh-tr { padding-right:42px; }
/* IE7 fix */
*:first-child+html .onestepcheckout-window { width: 500px; }

.onestepcheckout_datafields .discount .buttons-set #coupon-apply{bottom: 28px;}

.op_block_title > sup{
	color:#ff0000;
	font-size:13px;
	}
	
/*#shipping-method .op_block_title{
	margin:22px 0 30px;
	}*/	

.op_login_area{
background: none repeat scroll 0 0 #F5F5F5;
    border-radius: 10px 10px 10px 10px;
    left: 25%;
    margin: auto;
    padding: 20px;
    position: fixed;
    right: 25%;
    top: 40%;
    width: 400px;
    z-index: 10000;}
	
.op_login_area .page-title{ padding:10px 0 10px; font-size:24px;}
.boxcontent	 .full{ padding:20px 0 10px; font-size:14px;}
.boxcontent	 .full sup{ color:#ff0000;} 
.boxcontent	 p{ padding-top:10px;} 
.boxcontent #popup input {
    float: right;    	
	top:-20px;
}
p.title-description:first-letter{
	text-transform:uppercase;
	}
#onestepcheckout_orderform .giftwrap-header  h4 {
    font:bold 12px/1.55 Arial,Helvetica,sans-serif;
	
	color:#2F2F2F;
}
.hearedus{float:left; text-align:left !important;}	
/*2-5-2017 rinkal css start */
    .input-select{color: #606060;
    height: 30px;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid #ccc;

}
.onestepcheckout_datafields ul li.options {
    display: inline-flex;
    width: 100%;
}
.op_block_title {
    text-transform: capitalize;
    color: #f26a38;
    font-size: 15px;
    font-weight: bold;
    /* border-bottom: 1px solid #f26a38; */
    margin: 10px 0 10px;
}

.steps{ 
    background-color: #fff;
    border: 1px solid #ddd;
       padding: 10px 10px 10px 15px;
	margin-bottom:20px;}
	.gift-messages h3 {
    text-transform: capitalize;
    font-size: 18px;
    color: #282b2c;
}
p.control {
    display: inline-flex;
    width: 100%;
}
.inner-box h4 {
    font-size: 15px;
    text-transform: capitalize;
    color: #282b2c;
}
.inner-box p {
    display: inline-flex;
    width: 100%;
} 
.onestepcheckout_block #checkout-shipping-method-load .sp-methods dd label{background-color:#fff;background:none;}
.onestepcheckout_block #checkout-shipping-method-load .sp-methods dd label:hover{background:none;}
/*2-5-2017 rinkal css end */
/*3-5-2017 rinkal css start */
.onestepcheckout_datafields .col-1 .form_fields select.country-select{    width: 20%;
    height: 29px;}
.onestepcheckout_datafields .col-1 .form_fields input.t1.mobile-text{    width: 77%;}
.coupon-text{    padding: 2px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B6B6B6;
    height: 29px;}
	.aply-btn{margin-top:-2px;}
/*3-5-2017 rinkal css end */
