/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_PriceCount
 * @version     0.1.4
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2014 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */
 .timer-grid{float: left;width: 100%;padding: 3px 0 0 0;color: #000000;font-size: 18px;font-family: arial; font-weight: bold;}
 .timer-list{float: left;width: 100%;padding: 0;color: #000000;font-size: 18px;font-family: arial; font-weight: bold;}
 .timer-view{float: left;width: 100%;padding:2px 0 0 0px;color: #000000;font-size: 40px; font-family:arial;font-weight: bold;}
 .timer-view .day{margin:1px 1px}
 .timer-view .hour{margin:1px 1px}
 .timer-view .min{margin:1px 1px}
 .timer-view .sec{margin:1px 1px}
 .timer-compare{float: left;width: 100%;padding: 0;color: #000000;font-size: 22px;font-family: arial; font-weight: bold;}
 .timerspec{float: left;width: 100%;color: #1E7EC8;font-size: 13px;}
 .timerdate{float: left;width: 100%;padding:0 0 3px 0;color: #1E7EC8;font-size: 12px;}
 .timerdate .day{margin:1px 1px; width:20px; text-align: center;}
 .timerdate .hour{margin:1px 1px;width:20px; text-align: center;}
 .timerdate .min{margin:1px 1px; width:20px; text-align: center;}
 .timerdate .sec{margin:1px 1px; width:20px; text-align: center;}
 .products-grid .actions{position:relative !important;bottom:0;}
div.amshopby-column {

    float: left;

    width: 105px;

    overflow: hidden;

}



select.amshopby-select {

    width:170px;

}



.amshopby-logo{

padding: 0pt 10px 10px 0pt; float: left;

}



.amshopby-featured {

    padding: 5px 5px 5px 5px; 

}



.amshopby-link{

    float:left;

    padding-left:5px; 

    padding-top:5px;

}



.amshopby-clearer {

	display:block; 

	clear:both; 

	overflow: hidden;

}

div.block-layered-nav dd a {padding:0px 5px 0px 0px; display:block; float: left;}  

div.block-layered-nav dd a.amshopby-attr, div.block-layered-nav dd a.amshopby-attr:hover {color:#000;padding-left:15px; background-image:url(http://pr01009.searchnative.com/skin/frontend/base/default/images/amshopby-cb1.gif); background-repeat: no-repeat; background-position: left center;}

div.block-layered-nav dd a.amshopby-attr::before, div.block-layered-nav dd a.amshopby-attr-selected::before {border-style: none !important;}

div.block-layered-nav dd a.amshopby-attr-selected {color:#000;padding-left:15px; background-image:url(http://pr01009.searchnative.com/skin/frontend/base/default/images/amshopby-cb2.gif); background-repeat: no-repeat; background-position: left center;}

div.block-layered-nav dd a.amshopby-attr-inactive {pointer-events: none; color: #666666}

div.block-layered-nav dd a img {/* padding: 0px 4px 5px;*/ float:left;}



div.block-layered-nav dd li.amshopby-cat-level-2 {padding-left:10px;}

div.block-layered-nav dd li.amshopby-cat-level-3 {padding-left:20px;}



div.block-layered-nav dd a.amshopby-cat-selected {font-weight: bold;

color:black; text-decoration: none; cursor:text;}



div.block-layered-nav li.amshopby-cat-multi a {

    padding-left:15px;

    background-image:url(http://pr01009.searchnative.com/skin/frontend/base/default/images/amshopby-cb1.gif); background-repeat: no-repeat; background-position: left center;

}



div.block-layered-nav li.amshopby-cat-multiselected a {

    font-weight: bold;

    background-image:url(http://pr01009.searchnative.com/skin/frontend/base/default/images/amshopby-cb2.gif); background-repeat: no-repeat; background-position: left center;

}



div.block-layered-nav dd li span.amshopby-plusminus {float:left;

display:block; width:15px; height:15px; cursor:pointer;

background:transparent url(http://pr01009.searchnative.com/skin/frontend/base/default/images/amshopby-plus.gif)  no-repeat;}

div.block-layered-nav dd li span.minus {background:transparent

url(http://pr01009.searchnative.com/skin/frontend/base/default/images/amshopby-minus.gif) no-repeat;}

div.block-layered-nav dd li:after {display:block; content:".";

clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }







div.block-layered-nav.amshopby-collapse-enabled dl dt {

     cursor:pointer;

     padding:10px;

     background:url(http://pr01009.searchnative.com/skin/frontend/base/default/images/arrow-up.png) 95% center scroll no-repeat;
         border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;

}

div.block-layered-nav.amshopby-collapse-enabled dl dt::after {

    border-style: none !important;

}

div.block-layered-nav.amshopby-collapse-enabled dl dt.amshopby-collapsed {background:url(http://pr01009.searchnative.com/skin/frontend/base/default/images/arrow.png) 95% center scroll  no-repeat;}

.col-main .col-left div.block-layered-nav.amshopby-collapse-enabled dl dt{background:url(http://pr01009.searchnative.com/skin/frontend/base/default/images/arrow-up.png) 95% center scroll no-repeat;}



div.block-layered-nav div.amshopby-slider {

	 position:relative; margin:10px 4px 5px 4px; z-index:9; height:18px;  background: url(http://pr01009.searchnative.com/skin/frontend/base/default/images/amshopby-slider-bg.gif) repeat-x 0 50%; cursor:pointer;

}

div.block-layered-nav div.amshopby-slider div.handle {margin-left:-4px; width:8px; top:3px; height:14px; background: transparent url(http://pr01009.searchnative.com/skin/frontend/base/default/images/amshopby-hadle.png) no-repeat; position: absolute; cursor:move; z-index: 2;}



/*

 * Slider labels

 */

.amshopby-slider-price {

	color: #798794;

}

.amshopby-slider-price-from {

	float: left;

    

}

.amshopby-slider-price-to {

	float: right;

}



.amshopby-slider-handle-right {

	position: absolute;

	top: 14px;

	right: 0px;

}



.amshopby-slider-handle-left {

	position: absolute;

	top: 14px;

	left: 0px;

}



.amshopby-tooltip {

    padding:2px 5px;

    background:#FEC;

    border:1px solid #FAA819;

    color:#1F5070;

    text-align:left;

    width:200px;

    position:absolute;

}



.amshopby-slider-price-range 

{

	text-align: center;

	font-size: 0.9em;

}



.amshopby-tooltip-img {

    cursor:help;

    display: inline;

}



div.block-layered-nav, div.amshopby-page-container, div.amshopby-filters-top {

    position: relative;

}

div.amshopby-overlay {

    background-color: #FFFFFF;

    height: 100%;

    left: 0;

    opacity: 0.5;

    filter: alpha(opacity = 50);

    position: absolute;

    top: 0;

    width: 100%;

    z-index: 555;

}

div.amshopby-overlay img {

    top: 100px;

    left: 45%;

    display: block;

    position: absolute;

}



div.amshopby-overlay div {

    margin: 0 auto;

    display: block;

	width: 300px;

	height: 200px;

	background:  url('http://pr01009.searchnative.com/skin/frontend/base/default/images/amshopby-overlay.gif') 50% 50% no-repeat;

}



/*

 * Advanced Categories

 */

.amshopby-advanced li {

	clear: both;

}

.amshopby-advanced li.level1 {

	padding-left: 20px;

}

.amshopby-advanced li.level2 {

	padding-left: 30px;

}

.amshopby-advanced li.level3 {

	padding-left: 40px;

}

.amshopby-advanced li.level4 {

	padding-left: 50px;

}





.amshopby-advanced li.active > a {

	/*font-weight: bold;*/

}



/*

 * Slider Bar

 */

.amshopby-slider-bar {

	position:absolute; 

	background: #999; 

	height: 6px; 

	top: 6px; 

	z-index: 1;  

}



/*

 * Subcategories block

 */

.amshopby-subcategory-image {

	overflow: auto; 

}



.btn-remove-inline { background-image: url('http://pr01009.searchnative.com/skin/frontend/base/default/images/close.png'); background-repeat: no-repeat; width: 12px;
    height: 12px;
    margin-left: 4px;
    position: absolute;
    right: 10px;
    vertical-align: middle;
    top: 30%; }

.btn-remove-inline:hover { /* background-position: center bottom; */ }

.amshopby-hightlighted { background: yellow;}



.btn-remove-inline img {display: inline;}



div.block-layered-nav div.amshopby-slider div.handle.active { z-index: 3; }



.amshopby-slider-ui { background: url(http://pr01009.searchnative.com/skin/frontend/base/default/images/amshopby-slider-bg.gif) repeat-x 0 50%; margin: 10px .4em; }

.amshopby-slider-ui .ui-slider-handle { background-color: #f18200; border: 1px solid #de5400; box-sizing: border-box; outline: none; }

.amshopby-slider-ui .ui-slider-range { background-color: #999999; }



.ui-widget-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }

.ui-slider { cursor: pointer; position: relative; text-align: left; }

.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 0.8em; height: 1.2em; cursor: pointer; -ms-touch-action: none; touch-action: none; }

.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }



/* support: IE8 - See #6727 */

.ui-slider.ui-state-disabled .ui-slider-handle,

.ui-slider.ui-state-disabled .ui-slider-range { filter: inherit; }



.ui-slider-horizontal { height: .8em; }

.ui-slider-horizontal .ui-slider-handle { top: -.2em; margin-left: -.4em; }

.ui-slider-horizontal .ui-slider-range { top: 0.2em; height: 8px; }

.ui-slider-horizontal .ui-slider-range-min { left: 0; }

.ui-slider-horizontal .ui-slider-range-max { right: 0; }



.ui-slider-vertical { width: .8em; height: 100px; }

.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }

.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }

.ui-slider-vertical .ui-slider-range-min { bottom: 0; }

.ui-slider-vertical .ui-slider-range-max { top: 0; }



.amshopby-narrow-by-list table td { vertical-align: top; }



input[name^="amshopby"][id$="from"].input-text, input[name^="amshopby"][id$="to"].input-text{

    width: auto;

}



.amshopby-item-top{

    max-width: 225px;

    min-width: 180px;

    display: inline-block;

    vertical-align: top;

    height: 100%;

}



.amshopby-filters-top .block-content ol{

    max-width: 250px;

}



.amshopby-item-top div.amshopby-column {

    width: auto;

}

/*30-1-2018 rinkal css start for menu hide show*/
/*

.no-display-current, .no-display{

    display: none;

}
*/
/*30-1-2018 rinkal css end for menu hide show*/


.current .no-display-current, dd.current td.no-display{

    display: block;

}



@media only screen and (max-width: 770px) {

    dl#narrow-by-list,

    dl#narrow-by-list2 {

        padding: 0px;

    }

}
@media only screen and (max-width: 767px) {
/*30-1-2018 rinkal css start for menu hide show*/

.filter-sidebar .no-display-current, .no-display{

    display: none;

}
    /*30-1-2018 rinkal css start for menu hide show*/
.filter-sidebar .no-display {
  display: block !important;
}
/*30-1-2018 rinkal css end for menu hide show*/
}

#extabs span#tb4 {
	width: 100px;
}
div#noticeevents {
	border: 1px solid #999;
	background-color: #FFF;
	height: 100px;
	overflow: auto;
}
div#noticeevents div {
	border-bottom: 1px dotted #DDD;
	padding: 3px;
	margin: 0px;
}
.runner {
	-moz-border-radius: 	5px;
	-webkit-border-radius:	5px;
	float: right;
	font-size: .8em;
	background-color: #333;
	color: #FFF;
	padding: 2px 10px 5px 10px;
	cursor: pointer;
}


/** Growler Notice Custom Styling **/
div.Growler-notice {
	background-color: 		#000;
	color: 					#fff;
	opacity: 				.85;
	filter: 				alpha(opacity = 85);
	zoom: 					1;
	width: 					235px;
	padding: 				10px;
	margin-top: 			5px;
	margin-bottom: 			5px;
	margin-left: 			auto;
	margin-right: 			auto;
	font-family: 			Tahoma, Arial, Helvetica, sans-serif;
	font-size: 				12px;
	text-align: 			left;
	display: 				none;
	-moz-border-radius: 	5px;
	-webkit-border-radius:	5px;
	min-height: 			40px;
    z-index:                10000;
}

div.Growler-notice-head {
	font-weight: 			bold;
	font-size:				10px;
}

div.Growler-notice-exit {
	float: 					right;
	font-weight: 			bold;
	font-size: 				12px;
	cursor:					pointer;
}

/** Plain Theme **/
div.plain {
	color: 					#000;
	width: 					253px;
	margin-top: 			5px;
	margin-bottom: 			5px;
	text-align: 			left;
	display: 				none;
	min-height: 			40px;
	background-color: 		#EDEDED;
	border: 				1px solid #777;
}

div.plain div.Growler-notice-head {
	font-weight: 			bold;
	font-size:				10px;
	padding: 				2px 10px;
}

div.plain div.Growler-notice-exit {
	float: 					right;
	cursor:					pointer;
	margin: 				0px;
	padding: 				0px 0px 2px 2px;
	width: 					10px;
	height: 				10px;
	color: 					#BFBFBF;
}
div.plain div.Growler-notice-body {
	padding: 5px;
}


/** Mac OS X Theme **/
div.macosx {
	color: 					#000;
	width: 					253px;
	margin-top: 			5px;
	margin-bottom: 			5px;
	text-align: 			left;
	display: 				none;
	min-height: 			40px;
	background: #d7d7d7 url(http://pr01009.searchnative.com/skin/frontend/searchnative/default/images/macosx.jpg) repeat-y 0;
	border: 				1px solid #C9C9C9;
}

div.macosx div.Growler-notice-head {
	font-weight: 			bold;
	font-size:				10px;
	padding: 				5px 10px;
}

div.macosx div.Growler-notice-exit {
	width: 					15px;
	height: 				15px;
	float: 					left;
	cursor:					pointer;
	margin: 				4px;
	margin-left: 			1px;
	font-size: 				0em;
	color: 					transparent;
	background: transparent url(http://pr01009.searchnative.com/skin/frontend/searchnative/default/images/macosx_exit.png) no-repeat left 0;
}
div.macosx div.Growler-notice-exit:hover {
	background: transparent url(http://pr01009.searchnative.com/skin/frontend/searchnative/default/images/macosx_exit_over.png) no-repeat left 0;
}
div.macosx div.Growler-notice-body {
	padding: 2px 0 10px 25px;
}

/** Candybars Theme **/
div.candybar {
	color: 					#000;
	width: 					253px;
	margin-top: 			5px;
	margin-bottom: 			5px;
	text-align: 			left;
	display: 				none;
	min-height: 			40px;
	background-color: 		#F5F7FA;
	border: 				1px solid #19304B;
}

div.candybar div.Growler-notice-head {
	font-weight: 			bold;
	font-size:				10px;
	background: 			url(http://pr01009.searchnative.com/skin/frontend/searchnative/default/images/candybars.jpg) repeat-x;
	padding: 				5px 10px;
}

div.candybar div.Growler-notice-exit {
	float: 					right;
	cursor:					pointer;
	margin: 				3px;
}
div.candybar div.Growler-notice-body {
	border-top: 1px solid #999;
	padding: 10px;
}

/** Construction Theme **/
div.atwork {
	color: 					#FFF;
	width: 					253px;
	margin-top: 			5px;
	margin-bottom: 			5px;
	text-align: 			left;
	display: 				none;
	min-height: 			40px;
	background: 			#4d4d4d url(http://pr01009.searchnative.com/skin/frontend/searchnative/default/images/atwork.png) repeat-y 0;
	border: 				1px solid #222;
}

div.atwork div.Growler-notice-head {
	font-weight: 			bold;
	font-size:				12px;
	padding: 				5px 20px;
	color: 					#efca23;
	
}

div.atwork div.Growler-notice-exit {
	float: 					right;
	cursor:					pointer;
	margin: 				3px;
}
div.atwork div.Growler-notice-body {
	padding: 2px 0 10px 25px;
}


#MB_overlay {
	position: absolute;
	margin: auto;
	top: 0;	left: 0;
	width: 100%; height: 100%;
	z-index: 9999;
	border: 0;
	background-color: #000!important;
}
#MB_overlay[id] { position: fixed; }

#MB_window {
	position: absolute;
	top: 0;
	border: 0 solid;
	text-align: left;
	z-index: 10000;
}
#MB_window[id] { position: fixed!important; }

#MB_frame {
	position: relative;
	background-color: #EFEFEF;
	height: 100%;
}

#MB_header {
	margin: 0;
	padding: 0;
}

#MB_content {
	position: relative;
	padding: 6px .75em;
	overflow: auto;
}

#MB_caption {
	font: bold 100% "Lucida Grande", Arial, sans-serif;
	text-shadow: #FFF 0 1px 0;
	padding: .5em 2em .5em .75em;
	margin: 0;
	text-align: left;
}

#MB_close {
	display: block;
	position: absolute;
	right: 5px; top: 4px;
	padding: 2px 3px;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
}
#MB_close:hover {
	background: transparent;
}

#MB_loading {
	padding: 1.5em;
	text-indent: -10000px;
	background: transparent url(http://pr01009.searchnative.com/skin/frontend/searchnative/default/ajaxcart/spinner.gif) 50% 0 no-repeat;
}

/* Color scheme */
#MB_window {
	background-color: #EFEFEF;
	color: #000;
	
	-webkit-box-shadow: 0 0 64px #000; 
	-moz-box-shadow: #000 0 0 64px; 
	box-shadow: 0 0 64px #000;
}
	#MB_frame {
		padding-bottom: 4px;
		
		-webkit-border-bottom-left-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;

		-moz-border-radius-bottomleft: 4px;
		-moz-border-radius-bottomright: 4px;

		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	
	#MB_content { border-top: 1px solid #F9F9F9; }

	#MB_header {
	  background-color: #DDD;
	  border-bottom: 1px solid #CCC;
	}
		#MB_caption { color: #000 }
		#MB_close { color: #777 }
		#MB_close:hover { color: #000 }


/* Alert message */
.MB_alert {
	margin: 10px 0;
	text-align: center;
}
/* Video Gallery CSS */
.video-gallery-links li a.video-thumb span{opacity:0.8;background: url("http://pr01009.searchnative.com/skin/frontend/base/default/iceberg/videogallery/images/video_play.png") no-repeat scroll 0 0 transparent; background-size:33px 66px; display:block;height:33px;margin:10px 0 0 22px;position:absolute;width:33px;}
.video-gallery-links li a.video-thumb:hover span{opacity:1;background-position:0 -33px}

/* Style 01 */
#vg-style-01 {position:relative}

/* Style 02 - Media tabbed 1 */
#vg-style-02 {position:relative}
#vg-style-02 ul.media-tabs{list-style: none; height:29px; border-bottom:1px solid #ccc; margin-bottom:7px}
#vg-style-02 .media-tabs li{float:left;margin:0;border:1px solid #ccc;background-color:#ccc;height:28px}
#vg-style-02 .media-tabs li.last{border-right:1px solid #ccc}
#vg-style-02 .media-tabs li.active {font-weight:bold; background-color:#fff;border-width:1px 1px 0px 1px;height:29px}
#vg-style-02 .media-tabs a {text-decoration: none; color: #333333;padding:4px 10px;display:block}
#vg-style-02 .media-tabs .active a {color: #000000;}
#vg-style-02 .more-views h2 {display:none}		 

/* Media tabbed 2 */
#vg-style-03 {position:relative}
#vg-style-03 ul.media_tabs{list-style: none; height:29px; border-bottom:1px solid #ccc;}
#vg-style-03 .media_tabs li{float:left;margin:0;border:1px solid #ccc;background-color:#ccc;height:28px}
#vg-style-03 .media_tabs li.last{border-right:1px solid #ccc}
#vg-style-03 .media_tabs li.active {font-weight:bold; background-color:#fff;border-width:1px 1px 0px 1px;height:29px}
#vg-style-03 .media_tabs a {text-decoration: none; color: #333333;display:block;padding:4px 10px 5px 10px;}
#vg-style-03 .media_tabs .active a {color: #000000;}
#vg-style-03 .media_box {padding:10px 0; clear:both;}
#vg-style-03 .video-description{padding-bottom:5px}


#custommenu {
    position: relative;
    font-size: 12px;
    /*padding: 0px 0px 0px 0px;*/
	 padding: 20px 10px;
    width: 100%;
    border-radius: 2px;
    height: auto;
    margin: 0 auto;
}
/*IE7 fix*/
*:first-child+html #custommenu {
    z-index: 998;
}
div.menu {
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
	border-bottom: 1px solid rgba(188,188,188,0.5);
}
div.menu a:link, div.menu a:visited {
    display: block;
   /* height: 40px;*/
    padding-left: 8px;
    padding-right: 15px;
}
div.menu a span {
    display: block;
   /* height: 28px;*/
    padding-right: 0px;
   /* padding-top: 12px;*/
   font-size:13px;
   color:#ffffff;
}
div.menu a span:hover {
    cursor: pointer;
}
div.wp-custom-menu-popup {
    position: absolute;
    z-index: 1000;
    display: none;
    text-align: left;
    padding: 0px 0px 10px 0px;
    border-top: 0;
    /*width: 100%;*/
	width: 700px;
    height: 350px;
	overflow-y:auto;
    /*margin-top: -1px;*/
	}
div.menu a, div.wp-custom-menu-popup a {
    text-decoration: none;
    display:block;
    cursor: pointer;
    _height: 0;
    height: auto;
    line-height:13px;
}
div.level1 {
    margin-bottom: 5px;
}
div.level2 {
    margin-bottom: 5px;
}
div.level3 {
    margin-bottom: 5px;
    padding: 5px;
}
div.block2 {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}
a.level1:link, a.level1:visited {
   /* margin-top: 10px;
    margin-bottom: 10px;*/
    padding: 5px 10px;
    border-radius: 2px;
}
a.level2:link, a.level2:visited {
    padding: 3px 10px;
    border-radius: 2px;
}
/* Clearfix */
div.block2:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] div.block2 {
    display: block;
}
* html div.block2 {
    height: 1%;
}
div.block2 p {
    margin-bottom: 3px;
    line-height: 120%;
    color: #000;
    font-size: 11px;
}
div.block2 p a {
    display: inline;
}
div.block2 a img {
    opacity: .9;
    filter: alpha(opacity=90);
}
div.block2 a:hover img {
    opacity: 1;
    filter: alpha(opacity=100);
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-ms-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}
div.block2 .brand a:hover img {
    -webkit-transition: all 0;
    -moz-transition: all 0;
    -ms-transition: all 0;
    transition: all 0;
}
div.wp-custom-menu-popup hr {
    margin: 0px 0px 10px 0px;
}
/******************************************* COLUMN WIDTH ***************************** */
div.column {
    /*width: 25%;*/
    float: left;
   /* width: 100%;  for 5 columns*/
    padding: 0px 1%;
    margin: 0px 0px 0px 0px;
}
/*end COLUMN WIDTH  */

div.itemSubMenu {
    margin-left: 0px;
}
.clearBoth {
    clear:both;
    height: 0;
    overflow: hidden;
}
div.level1 {
    margin-bottom: 0px;
}
/*BG*/
#custommenu {
}
div.wp-custom-menu-popup {
        background: rgba(0,0,2,0.7);
}
div.menu a:link, div.menu a:visited, div.menu a:hover {
color: #f26a38 !important;
}

div.menu a, div.wp-custom-menu-popup a {
 -webkit-transition: all .1s linear;
-moz-transition: all .1s linear;
-ms-transition: all .1s linear;
transition: all .1s linear;
}
div.menu .brand a, div.wp-custom-menu-popup .brand a {
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -ms-transition: all 0s linear;
    transition: all 0s linear;
}
div.menu.active a {
    color: #f26a38 !important;
}
div.level3 {
    background: #fff;
}
/*FONTS*/
div.menu {
        font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'RockoFLF';
        padding-top: 9px;
    padding-bottom: 9px;
}
a.level1:link, a.level1:visited {
    text-transform: none;
    font-weight: normal;
}
a.level2:link, a.level2:visited {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}
a.level3:link, a.level3:visited {
    font-size: 11px;
    font-weight: normal;
    line-height: 100%;
    margin-bottom: 0px;
}
/*COLOR
div.menu a:link, div.menu a:visited {
    color: #fff;
}*/
div.menu a:hover, div.menu.active a {
    color: #f26a38;
}
a.level3:link, a.level3:visited {
    color: #333333;
}
a.level3:hover {
    color: #b43f74;
}
a.level2:link, a.level2:visited {
    color: #000;
}
/*a.level1:hover {
    background: #d3d3d3;
}*/
/*a.level2:hover {
    color: #000;
    background: #d3d3d3;
}*/
.block2 table.brand {
    float: left;
}
.block2 .single_menu_product {
    float: left;
    position: relative;
    max-width: 150px;
    overflow: hidden;
    margin-right: 20px;
    margin-left: 0px;
}
/*MOBILE MENU STYLES*/
#menu-button, .parentMenu {
    display: inline-block;
}
html[xmlns] #menu-button, html[xmlns] .parentMenu {
    display: block;
}
* html #menu-button, * html .parentMenu {
    height: 1%;
}
/*#menu-button:after, .parentMenu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}*/
#custommenu-mobile {
    position:relative;
    margin: 0 auto;
    padding: 0;
    z-index: 999;
}
#menu-button {
    float: none;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
}
#menu-button a:link, #menu-button a:visited {
    color: #000;
    display: block;
    float: left;
    /*margin-left: 45%;*/
    position: relative;
    padding: 0px 10px;
}
#menu-button a span:after {
    display: block;
    position: relative;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    border-top: 4px solid #000;
    margin: 8px 0px 0px 5px;
    float: right;
    opacity: 0.7;
}
#menu-button:hover {
    cursor: pointer;
}
#menu-button:hover a:after {
    opacity: 1;
}
.menu-mobile div.column {
    float:none;
    padding:5px;
    background: #fff;
}
.menu-mobile a.itemMenuName {
    display: block;
    text-align: left;
}
.menu-mobile div.menu-button, .menu-mobile div.menu-mobile {
    float: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    border-bottom: 1px solid #fff;
}
.menu-mobile div.column {
    float: none;
    width: 100%;
    padding: 0px 0;
    margin: 0px 0px 0px 0px;
}
.menu-mobile a.level1:link, .menu-mobile a.level1:visited {
    margin-top: 0px;
    margin-bottom: 0;
    padding: 10px 10px;
    border-radius: 2px;
    color: #000;
}
.menu-mobile a.level2:link, .menu-mobile a.level2:visited {
    padding: 10px 10px;
    border-radius: 2px;
}
.menu-mobile a.level1:link, .menu-mobile a.level1:visited {
    color: #555;
}
.menu-mobile a.level1:hover {
    background-color: #f1f1f1;
}
.menu-mobile .parent {
    background-color: #fff;
}
/*buttons level 01*/
.menu-mobile .parentMenu {
    padding: 0px 0px;
    display: block;
    text-align: left;
    border-bottom: 1px solid #dadada;
}
.menu-mobile .parentMenu a:link, .menu-mobile .parentMenu a:visited {
    padding: 10px 0px 10px 10px;
    margin-right: 80px;
    color: #000;
    display: block;
}
.menu-mobile .parentMenu:hover {
    cursor: pointer;
}
.parentMenu {
    position: relative;
}
.parentMenu a {
    display: block;
}
#menu-button {
    cursor: pointer;
}
.menu-mobile div.level2 {
    margin-bottom: 0;
}
#custommenu-mobile .button {
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 0px;
    display: block;
    width: 80px;
    height: 38px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJxJREFUeNpi/P//PwM66O3tBVF1UNwEwsXFxRjqmBhwg3wgZobSWAE+zcxoNEmaCQKKNDP29PTgkvsAxPxA/BGIBXDZ3A7Ef4D4Pxrmh6rhxyL3E4gbQZqL8AUKDsAG0gfS3AfEf0nU/AuIJ4I0VwIxC8j/aPgjVOFHLHLsQFzDiCeFoQQYqSmMtvGMT/NfNJokzQug9HRcCgACDAC34CnSSWx3zwAAAABJRU5ErkJggg==);
}
#custommenu-mobile .button.open {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE5JREFUeNpi/P//PwO5gImBAjBENbP09vZSZHM7EP8B4v8k4J9A3AjSXATEzCRaygbSB9LcB8R/SdT8C4gnsgCJSigmGTCOpjDSAECAAQBI6RqpQRaDFgAAAABJRU5ErkJggg==);
}
#custommenu-mobile .level1 .button {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIxJREFUeNpi/P//PwO5gAWbYG9vL4ZYcXExhhgTAwUAn+YJQAzyUxcuBYwwP2Nx6k8gZgPid0AsjM0L+Gxmg9LMxDob5lTkKOBHEuvCpzmZQBgl4NNcD8SvcWgEiTfhi+c+KGZAcvpHIBbAG9pYEglKaJOaSCqB+BrUK8QnTyxeYCDa2dRIngQBQIABAGG6KfxEmzSnAAAAAElFTkSuQmCC);
}
#custommenu-mobile .level1 .button.open {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpi/P//PwO5gImBAjBwmllgjN7eXqI1FRcXU9/ZE4D4Px7chU9zMgHLEvBprgfi1zg0gsSbsAYYFPRBMVGAcQSmMIo0AwQYAIYUFeQ3G04OAAAAAElFTkSuQmCC);
}
/*BG*/
#custommenu-mobile  .parentMenu:hover a:link, #custommenu-mobile  .parentMenu:hover a:visited, #custommenu-mobile  .parentMenu:hover {
    background-color: #fff;
}
#custommenu-mobile .level0 {
    background-color: #f1f1f1;
}
#custommenu-mobile .level1 {
    background-color: #e4e4e4;
}
#custommenu-mobile .level2 {
    background-color: #f1f1f1;
}
/*24-3-2017 rinkal css*/
.itemMenuName {color:#ffffff;}
.itemMenuName:hover,.itemMenuName:active,.itemMenuName:visited {color:#f26a38;}
/*17-4-2017 rinkal css */
.topparent .parentMenu a span::after {
    color: #fff;
    content: "";
    display: inline-block;
    font: 12px/1 FontAwesome;
    position: absolute;
    right: 0px;
}
.topparent .parentMenu {
    display: block;
}
.menu-mobile .itemMenuName.level1 > span {
    color: #282b2c;
    font-weight: normal;
    letter-spacing: 0.8px;
    margin-left: 20px;
	font-size:13px;
}
.menu-mobile .itemMenuName.level2 > span {
    color: #282b2c;
    font-weight: normal;
    letter-spacing: 0.8px;
    margin-left: 30px;
	font-size:12px;
}



.dailydeal-index-index h1{
    font-size: 44px;
    color: #0061B1;
    float: left;
}


#dailydeal_countdown{
       font-size: 20px;
    /* font-weight: normal; */
    background-color: #f26a38;
    color: #fff;
    padding: 6px 15px;
    /* -webkit-border-radius: 5px; */
    -moz-border-radius: 5px;
    /* border-radius: 5px; */
    display: block;
    margin: 0 auto;
    width: 310px;
    text-align: center;


/*
#dailydeal_countdown{
    font-size:22px;
    font-weight: bold;
    background-color:#0061B1;
    color: #fff;
    padding: 10px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
*/
}


#daily_deals_blurb{
    float: left;
    margin: 0 0 0 20px;
}

.bar{
    width: 100%;
    height: 20px;
    
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    
    
    background: #cedce7; /* Old browsers */
background: -moz-linear-gradient(top,  #cedce7 0%, #999999 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#999999)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cedce7 0%,#999999 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cedce7 0%,#999999 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cedce7 0%,#999999 100%); /* IE10+ */
background: linear-gradient(top,  #cedce7 0%,#999999 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#999999',GradientType=0 ); /* IE6-9 */



}

.bar .inner{
    height: 100%;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    
    
    
    
    
    
    
background: #b4ddb4; /* Old browsers */
background: -moz-linear-gradient(top,  #b4ddb4 0%, #83c783 0%, #52b152 16%, #008a00 43%, #005700 72%, #002400 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(0%,#83c783), color-stop(16%,#52b152), color-stop(43%,#008a00), color-stop(72%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b4ddb4 0%,#83c783 0%,#52b152 16%,#008a00 43%,#005700 72%,#002400 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b4ddb4 0%,#83c783 0%,#52b152 16%,#008a00 43%,#005700 72%,#002400 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b4ddb4 0%,#83c783 0%,#52b152 16%,#008a00 43%,#005700 72%,#002400 100%); /* IE10+ */
background: linear-gradient(top,  #b4ddb4 0%,#83c783 0%,#52b152 16%,#008a00 43%,#005700 72%,#002400 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */



}

.dailydeal-index-index ul.products-grid.columns_3 li.item{width:30%;}

.dailydeal-index-index ul.products-grid .product-image{display: block; margin: 0 auto; border: 1px solid #aeaeae;}
.dailydeal-index-index ul.products-grid .product-image img{display: block; margin: 0 auto;}

.stock_remaining{padding: 4px 0; text-align:center;display: none;}

.dailydeal-index-index ul.products-grid h4.product-name{
    text-decoration:underline;
    text-align: center;
    font-size: 14px;
}

.dailydeal-index-index ul.products-grid .actions{
    text-align: center;
}

.dailydeal-index-index ul.products-grid button.button.btn-cart{
    float: none;
}
.dailydeal-index-index ul.products-grid .prices{
    margin: 0 0 10px 0;
}
.dailydeal-index-index ul.products-grid .prices li{
    text-align: center;
}
.dailydeal-index-index .savings {
    color: green;
}
.dailydeal-index-index ul.products-grid .prices li.deal_price{
    font-size: 14px;
    font-weight: bold;
    color: red;
}
/*9-3-2018 daily deals css start rinkal */
.cms-deals .page-title{display: none;}
.cms-deals .category-title h1{display: none;}
.daily-deals-product img{margin: 0 auto;}
.daily-deals-category{padding: 30px 0px;}
.m-b-0{margin-bottom: 0px !important;}
.daily-deals-product .product-name{    padding: 5px 0px 0px 15px;
    font-size: 13px;
    text-transform: capitalize;
    min-height: 20px;
    overflow: auto;}
.daily-deals-product .prices{padding: 5px 0px 0px 15px;}
.price-box .savings, .price-box .old-price{width: 100%;padding: 5px 0px;margin: 0px;}
.item.daily-deals-product .item{margin-bottom: 30px;}
.price-box li{list-style: none;margin-left: 0px !important;}
/*9-3-2018 daily deals css end rinkal */
.product-questions-header
{
    margin-bottom: 15px;
    margin-top: 10px;
}

.questions
{
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

.answers
{
    padding-left:15px;
    background-color: #F3F3F3;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 50%;
}

.productquestions-form
{
    margin-top: 20px;
    margin-bottom: 40px;
}

#question-popup {
    margin: 20px;
}

#question-popup-button {
    margin-bottom: 15px;
}
/*Popup styles*/
.overlay_dialog {
    background-color: #666666;
    filter:alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

.overlay___invisible__ {
    background-color: #666666;
    filter:alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
}

.dialog_nw {
    width: 9px;
    height: 23px;
}

.dialog_n {
    height: 23px;
}

.dialog_ne {
    width: 9px;
    height: 23px;
}

.dialog_e {
    width: 2px;
}

.dialog_w {
    width: 2px;
}

.dialog_sw {
    width: 9px;
    height: 19px;
}

.dialog_s {
    height: 19px;
}

.dialog_se {
    width: 9px;
    height: 19px;
}

.dialog_sizer {
    width: 9px;
    height: 19px;
    cursor:se-resize;
}

.dialog_close {
    width: 14px;
    height: 14px;
    position: absolute;
    right: -20px;
    cursor: pointer;
    z-index: 2000;
    top: 17px;
}

.dialog_close:after {
    content : "X";
    font-size: 16px;
    color: white;
}

.dialog_minimize {
    width: 14px;
    height: 15px;
    position:absolute;
    top:5px;
    left:28px;
    cursor:pointer;
    z-index:2000;
}

.dialog_maximize {
    width: 14px;
    height: 15px;
    position:absolute;
    top:5px;
    left:49px;
    cursor:pointer;
    z-index:2000;
}

.dialog_title {
    float:left;
    height:14px;
    font-family: Tahoma, Arial, sans-serif;
    font-size:12px;
    text-align:center;
    width:100%;
    color:#000;
}

.dialog_content {
    overflow:auto;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 10px;
    background-color:#fff;
}

.top_draggable, .bottom_draggable {
    cursor:move;
}

.status_bar {
    font-size:12px;
}
.status_bar input{
    font-size:12px;
}

.wired_frame {
    display: block;
    position: absolute;
    border: 1px #000 dashed;
}

/* DO NOT CHANGE THESE VALUES*/
.dialog {
    display: block;
    position: absolute;
}

.dialog table.table_window  {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0px;
    padding:0px;
}

.dialog table.table_window td , .dialog table.table_window th {
    padding: 0;
}

.dialog .title_window {
    -moz-user-select:none;
}

.transfer-cart-popup {
    margin: 40px;
}
#qtyswitcher-oneless{
    border:none;
    width:15px; 
    height:20px;
    cursor:pointer;
}
#qtyswitcher-onemore{
    border:none;
  
    width:15px; 
    height:20px;
    cursor:pointer;
}
.qtyswitcher-qty .clone-qty{
    background:none repeat scroll 0 0 transparent;
    border:medium none;
    color:#000000;
    font-size:16px;
    font-weight:bold;
    text-align:center;
    width:50px;
    height: auto;
}
/*
#qtyswitcher-btn-picto{
    float:right;
    margin-top:5px;
}*/
#qtyswitcher-form-btn-products{
    cursor:pointer;
    margin:10px 0 0;
    border:none;
    padding:0;
}
#qtyswitcher-qty-box LABEL{
    color:#000000;
    display:block;
    float:left;
    font-weight:bold;
    margin-right:10px;
    margin-top:3px;
}
.qtyswitcher-add-to-cart-box {
    float:left;
    margin:0;
    width: 100%
}

.qtyswitcher-qty {
    -float:right;
   /* margin:0 7px 0 0;*/
}
.option-grouped{

    background-color:#FFEAB0!important;
}
.option-grouped *{
    display:inline;
}
.option-grouped dl{
    display:block
}
.option-grouped dt{
    float:left
}
.option-grouped dd{
    float:right
}
.qtyswitcher-add-to-cart-box  .qty-sub{
 border: 1px solid #636363;
    display: inline-block;
    padding: 0 5px;
border-radius: 5px;
}
