<?php
    $_dealCollection = $this->getDealCollection();
    $_helper = $this->helper('dailydeal');
?>

<?php if(!$_dealCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no current deals.') ?></p>
<?php else: ?>


<div class="category-products daily-deals-category col-sm-12 col-md-12 col-xl-12 col-lg-12 col-xs-12">
<div class="row">
<?php $_collectionSize = $_dealCollection->count() ?>
    <?php $_columnCount = $this->getColumnCount(); ?>
    <?php $i = 0; foreach ($_dealCollection as $_deal): ?>
    
    <?php $_helper->getCurrentDealForProduct($_deal->getProduct());  ?>
        <?php if($i++%$_columnCount==0): ?>
        <div class="item daily-deals-product columns_<?php echo $_columnCount ?>">
        <?php endif; ?>
           <div class=" col-sm-4 col-md-3 col-xl-2 col-lg-3 col-xs-12 item<?php if(($i - 1) % $_columnCount === 0): ?> first<?php elseif($i % $_columnCount === 0): ?> last<?php endif; ?>">
               
               <div class="stock_remaining">
                   <strong>stock remaining:</strong>
                   <div class="bar"><div class="inner" style="width: <?php echo $_deal->getPercentageRemaining() ?>%;"></div></div>
               </div>
               
                <a href="<?php echo $_deal->getProduct()->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_deal->getProduct(), 'small_image'), null, true) ?>" class="product-image">
                    <img src="<?php echo $this->helper('catalog/image')->init($_deal->getProduct(), 'image')->resize(280, 260); ?>" width="280" height="260" alt="<?php echo $this->stripTags($this->getImageLabel($_deal->getProduct(), 'image'), null, true) ?>" />
                </a>
                <h4 class="product-name"><a href="<?php echo $_deal->getProduct()->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_deal->getProduct()->getName()) ?>"><?php echo $this->htmlEscape($_deal->getProduct()->getName()) ?></a></h4>

                <ul class="prices price-box">
                    <li class="deal_price"><?php echo $this->__('Deal Price:') ?> <?php echo Mage::app()->getStore()->formatPrice($_deal->getDealPrice()) ?></li>
                    <li class="regular_price">
                       <span class="old-price">
                        <?php echo $this->__('Regular Price:') ?> <?php echo Mage::app()->getStore()->formatPrice($_deal->getProduct()->getPrice()) ?></span>
                        <span class="savings">Save <?php echo Mage::app()->getStore()->formatPrice($_deal->getSavings()) ?>!</span>
                    </li>
                </ul>
                
                <div class="actions">
                    <?php if($_deal->getProduct()->isSaleable() && $_deal->isAvailable()): 
                 

                    ?>
                        <button type="button btn-cart" title="<?php echo $this->__('Buy Now') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_deal) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Ran out!') ?></span></p>
                    <?php endif; ?>
                </div>
            </div>
        <?php if($i % $_columnCount == 0 || $i == $_collectionSize): ?>
        </div>
        <?php endif ?>
    <?php endforeach ?>
    <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
</div>
</div>
<?php endif; ?>
