<?php $_items = $this->getItems(); 
$current = Mage::app()->getStore()->getCurrentCurrencyCode();
$baseCode = Mage::app()->getBaseCurrencyCode();      
$allowedCurrencies = Mage::getModel('directory/currency')->getConfigAllowCurrencies(); 
$rates = Mage::getModel('directory/currency')->getCurrencyRates($baseCode, array_values($allowedCurrencies));
//$baseCurrency = Mage::app()->getStore()->getBaseCurrencyCode();
?>
<div class="col-md-10 pull-right container-fluid main-container vendor-container">
    <h1 class="e-title text-center"><?php echo $this->__('Ordered Items') ?></h1>
    <div class="col-md-12">
        <form name="report_filter" id="report_filter" action="<?php echo Mage::getUrl('*/*/*') ?>" method="post" enctype="multipart/form-data">
            <!--<div class="row">-->
                <div class="col-md-3">
                    <input type="text" placeholder="From" class="form-control datepicker input-text input-text required-entry validate-date  required-entry" name="from" value="<?php echo $this->escapeHtml($this->getRequest()->getPost('from', '')); ?>"/>
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="To" class="form-control datepicker input-text required-entry validate-date input-text required-entry" name="to" value="<?php echo $this->escapeHtml($this->getRequest()->getPost('to', '')); ?>"/>
                </div>
                <div class="col-md-2">
                    <input type="submit" name="submit" class="btn btn-sm btn-primary" value="<?php echo $this->__('Show Report') ?>" />
                </div>
            <!--</div>-->
        </form>
    
        <table class="table table-striped e-order-table">
            <thead>
            <th><?php echo $this->__('No') ?></th>
            <!-- <th><?php echo $this->__('Order No') ?></th> -->
            <th><?php echo $this->__('Product Price') ?></th>
            <th></th>
            <th><?php echo $this->__('Name') ?></th>
            <th><?php echo $this->__('Product SKU') ?></th>
            <th><?php echo $this->__('Quantity Sold') ?></th>
            <th><?php echo $this->__('Subtotal') ?></th>
            </thead>
            <tbody>
            <?php $i= 1; ?>
            <?php if($_items->count()): ?>
                <?php foreach($_items AS $_item): ?>
                    <?php $item = Mage::getModel('catalog/product')->load($_item->getProductId()); ?>
                    <?php $order  = Mage::getResourceModel('sales/order')->getIncrementId( $_item->getOrderId()); ?>
                    <?php $sub_total = intval($_item->getItemCount()) * $_item->getPrice(); 
                    //echo $sub_total;
                    ?>
                    <tr class="item">
                        <td><?php echo $i; ?></td>
                        <!-- <td><?php echo $order; ?></td> -->
                        <td><?php echo Mage::helper('core')->currency($_item->getPrice()); ?></td>
                        <td>
                            <a href="<?php echo $item->getProductUrl() ?>">
                            <img
                                src="<?php echo $this->helper('catalog/image')->init($item, 'small_image')->resize(135); ?>"
                                alt=""/>
                            </a>
                        </td>
                        <td>
                            <a href="<?php echo $item->getProductUrl() ?>"><?php echo $item->getName(); ?>
                            </a>
                        </td>
                        <td><?php echo $item->getSKU(); ?></td>
                        <td><?php echo intval($_item->getItemCount()); ?></td>
                        <td><?php 
                        if($current == 'AED'){                    
                                              
                             $sub_total = number_format(round($sub_total * $rates['AED'],2),3);
                             echo $current.' '.$sub_total;
                             
                            
                          //echo  Mage::helper('core')->currency($sub_total);
                        } else {
                                              
                            $vincom = number_format(round($sub_total,2),3);
                            echo $current.' '.$vincom;
                                              
                        }
                         /* $base = Mage::helper('directory')->currencyConvert($sub_total, $baseCurrency, $current);  
                          if($current == 'AED'){                    
                           echo Mage::helper('core')->currency(round($base,2));
                          } else {
                           echo Mage::helper('core')->currency(round($sub_total,2));
                          }*/
                          // echo Mage::helper('core')->currency($sub_total);
                          // echo Mage::helper('core')->currency(round($sub_total,2)); 
                          // echo number_format(round($sub_total,2),3);
                            //echo bcadd($sub_total, 0, 2);
                           // echo Mage::helper('core')->currency($sub_total);
                            ?></td>
                    </tr>
                <?php $i++; endforeach; ?>
            <?php else: ?>
                <td colspan="7"><?php echo $this->__('No results')?></td>
            <?php endif; ?>
            </tbody>
            <tfoot>
                <th><?php echo $this->__('No') ?></th>
                <th><?php echo $this->__('Order No') ?></th>
                <th></th>
                <th><?php echo $this->__('Name') ?></th>
                <th><?php echo $this->__('Product SKU') ?></th>
                <th><?php echo $this->__('Quantity Sold') ?></th>
                <th><?php echo $this->__('Subtotal') ?></th>
            </tfoot>
        </table>
        <?php
        echo $this->getLayout()->createBlock('core/template')
            ->setTemplate('supplierfrontendproductuploader/product/list/pagination.phtml')
            ->setCollection($_items)
            ->toHtml() ?>
</div>
</div>
<script type="text/javascript">
    //< ![CDATA[
    var customForm = new VarienForm('report_filter');
    //]]>
    
    jQuery(document).ready(function($){
        jQuery('.datepicker').datepicker();
    });
</script>
