<!--@subject {{var store.getFrontendName()}}: RMA # {{var rma.autoincrement_id}} update @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status",
"store url=\"customer/account/\"":"Customer Account Url",
"var comment":"Order Comment",
"var store.getFrontendName()":"Store Name"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="order-details">
            <h3>New RMA request <span class="no-link">#{{var rma.autoincrement_id}}</span> contains your products.</h3>
            <p>Order <span class="no-link">#{{var order.increment_id}}</span></p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer"}}
