<?php
$category = Mage::getSingleton('catalog/layer')->getCurrentCategory();
$categories = $category->getCollection()
        ->addAttributeToSelect(array('name', 'thumbnail'))
        ->addAttributeToFilter('is_active', 1)
        ->addIdFilter($category->getChildren())
?>
<div class="row home shop-by-category">
    <div class="col-xs-12 col-lg-12 p-0 detail">
          <?php foreach ($categories as $category): ?>
        <div class="col-sm-3 col-md-3 col-xl-2 col-lg-3 shopbycategory subcategories main-class">
            <div class="sub-child">
                <?php    if($category->getThumbnail()=="")
                                {
                                    $img=$this->getSkinUrl('images/Image_Not_Available.jpg');
                                }
                                else
                                {
                                    $img = Mage::getBaseUrl('media') . 'catalog' . DS . 'category' . DS . $category->getThumbnail();
                        } 
             
                             ?>
                    <a href="<?php echo $category->getUrl() ?>"><img src="<?php echo $img; ?>" alt="<?php echo $this->htmlEscape($category->getName()) ?>" />
                        <span><?php echo $category->getName() ?></span></a> 
               
            </div>
        </div>
         <?php endforeach; ?>
    </div>
</div>
