<div class="filter-sidebar">
<?php 
$supplierdata = Mage::getModel('customer/customer')->getCollection();
 $supplierdata->addAttributeToSelect('*');
$supplierdata->addAttributeToFilter('group_id','7');
$supplierdata->setOrder(array('supplier_name'), 'ASC');
?>
	<div class="block filter-sidebar block-layered-nav amshopby-collapse-enabled amshopby-filters-left block-layered-nav amshopby-collapse-enabled amshopby-filters-left--no-filters "> 
		<div class="block-title">
			<strong><span><?php echo $this->__('Filters')?></span></strong>
		</div>
			<div id="check" class="block-content toggle-content"> 
			
				<dl id="narrow-by-list">
					<dt class="last even amshopby-collapsed current"><?php echo $this->__('Store')?></dt>
						<dd class="last even current">
							<ol  id="reso_dispaly_cat" class="amsopby-flag-clickfirst no-display">
								<?php 
									foreach ($supplierdata as $supplierdatachild) { ?>
										<li><a class="filter-link" href="<?php echo Mage::helper('marketplace')->getSupplierRawPageUrl($supplierdatachild->getEntityId());?>"><?php echo $supplierdatachild->getSupplierName();?></a></li>
								<?php } ?>
								<ul class="filter-link-list"><li><a href="<?php echo Mage::getBaseUrl().'all-stores';?>"><?php echo $this->__('view more') ?></a></li></ul>
							</ol>							
						</dd>
					</dl>
				<script type="text/javascript">decorateDataList('narrow-by-list')</script>
				</div>
            <div class="block-content toggle-content "> 
					<dl id="narrow-by-list2">
						<dt class="last even amshopby-collapsed current"><?php echo $this->__('Categories')?></dt>
							<dd class="last even current">
								<ol id="reso_dispaly" class="amsopby-flag-clickfirst no-display">
									<?php 
										$children1 = Mage::getsingleton('catalog/category')->getCategories(43);
											foreach ($children1 as $_category) { ?>
											 <li><a><?php echo $_category->getName(); ?></a>
											<?php $categoryChildren = $_category->getChildren(); ?>
											<?php if($categoryChildren->count()) : ?>
												<ul class="filter-sub-link">
							 
													<?php foreach($categoryChildren as $_categoryChild) : ?>
														<?php $_categoryChildModel = Mage::getModel('catalog/category')->load($_categoryChild->getId());?>
														<?php $categoryGrandchildren=$_categoryChild->getChildren(); ?>
														<li>
															<?php
																$currentCategoryId===$_categoryChild->getId() ? $bold="style=\"font-weight:bold\"" : $bold='';
																echo '&emsp;' . '<a href="' . $_categoryChildModel->getUrl() . '"' . $bold . '>' .  $_categoryChild->getName() . '(' . $_categoryChildModel->getProductCollection()->count() . ')</a>';
															?>
															<?php if($categoryGrandchildren->count()) : ?>
																<ul class="filter-sub-link">
							 
															<?php foreach($categoryGrandchildren as $_categoryGrandchild) : ?>
																<?php $_categoryGrandchildModel = Mage::getModel('catalog/category')->load($_categoryGrandchild->getId());?>
																<li>
																	<?php
																		$currentCategoryId===$_categoryChild->getId() ? $bold="style=\"font-weight:bold\"" : $bold='';
																		echo '&emsp;&emsp;' . '<a href="' . $_categoryGrandchildModel->getUrl() . '"' . $bold . '>' .  $_categoryGrandchild->getName() . '(' . $_categoryGrandchildModel->getProductCount() . ')</a>';
																	?>
																</li>
															<?php endforeach; ?>
															</ul>
														<?php endif; ?>
														</li>
														
													<?php endforeach; ?>
												</ul>
											<?php endif; ?>
										</li>
									<?php } ?>
									<ul class="filter-link-list"><li><a href="<?php echo Mage::getBaseUrl().'all-category';?>"><?php echo $this->__('view more') ?></a></li></ul>
								</ol>								
							</dd>
						</dl>
					<script type="text/javascript">decorateDataList('narrow-by-list2')</script>
			</div>
			<div style="display:none" class="amshopby-overlay"></div>
		</div>
		
</div>
<script>
/*if (jQuery(window).width() > 767) {
    jQuery('#reso_dispaly').addClass('no-display');
} else {
    jQuery('#reso_dispaly').removeClass('no-display');
}*/

/*jQuery(window).resize(function() {
	
    if (jQuery(window).width()  < 767) {
		
		jQuery('#check').removeClass('no-display');
        jQuery('#reso_dispaly_cat').removeClass('no-display');
        jQuery('#reso_dispaly').removeClass('no-display');
        //jQuery('#respons').addClass('active');
		 
    } else if(jQuery(window).width()  == 768) {
		alert('fdg');
		 jQuery('#check').addClass('no-display');
		 jQuery('#reso_dispaly_cat').addClass('no-display');
         jQuery('#reso_dispaly').addClass('no-display');
		
       
    }else {
		jQuery('#reso_dispaly_cat').addClass('no-display');
        jQuery('#reso_dispaly').addClass('no-display');
	}
}).resize();*/
</script>