<div class="filter-sidebar">
<?php 
$supplierdata = Mage::getModel('customer/customer')->getCollection();
$supplierdata->addAttributeToSelect('*');
$supplierdata->addAttributeToFilter('group_id','7');
$supplierdata->setOrder(array('supplier_name'), 'ASC');
?>
	<div class="block filter-sidebar block-layered-nav amshopby-collapse-enabled amshopby-filters-left block-layered-nav amshopby-collapse-enabled amshopby-filters-left--no-filters "> 
		<div class="block-title">
			<strong><span><?php echo $this->__('Filters')?></span></strong>
		</div>
			<div class="block-content toggle-content "> 
				<dl id="narrow-by-list">
					<dt class="last even amshopby-collapsed current"><?php echo $this->__('Store')?></dt>
						<dd class="last even current">
							<ol class="amsopby-flag-clickfirst no-display">
								<?php 
									foreach ($supplierdata as $supplierdatachild) { ?>
										<li><a class="filter-link" href="<?php echo Mage::helper('marketplace')->getSupplierRawPageUrl($supplierdatachild->getEntityId());?>"><?php echo $supplierdatachild->getSupplierName();?></a></li>
									<?php } ?>
									<ul class="filter-link-list"><li><a href="<?php echo Mage::getBaseUrl().'all-stores';?>"><?php echo $this->__('view more') ?></a></li></ul>
							</ol>								
						</dd>
					</dl>
				<script type="text/javascript">decorateDataList('narrow-by-list')</script>
				</div>
            <div class="block-content toggle-content "> 
				<dl id="narrow-by-list2">
					<dt class="last even amshopby-collapsed current"><?php echo $this->__('Brand')?></dt>
						<dd class="last even current">
							<ol class="amsopby-flag-clickfirst no-display">
								<?php
								$children = Mage::getsingleton('catalog/category')->getCategories(42);
								foreach ($children as $category) { ?>
									<li><a class="filter-link" href="<?php echo mage::getBaseUrl().$category->getRequestPath();?>"><?php echo $category->getName();?></a></li>
								<?php } ?>
								<ul class="filter-link-list"><li><a href="<?php echo Mage::getBaseUrl().'all-category';?>"><?php echo $this->__('view more') ?></a></li></ul>
							</ol>							
						</dd>
					</dl>
				<script type="text/javascript">decorateDataList('narrow-by-list2')</script>
				</div>
		<div style="display:none" class="amshopby-overlay"></div>
	</div>

	
</div>