<?php //echo "Hello"; ?>
<?php //echo $this->getContent(); ?>
<?php /*?><?php $detail = $this->getDetail(); 
echo "<pre>"; print_r($detail);
foreach($detail as $a)
{
	echo $a->getTestId();
}?>
<?php 
echo "<br/>";
$model = Mage::getModel('test/test');
$model->loadbyfield('title','Saurabh');
echo $model->getTestId();?>
<?php */?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/jquery-1.5.1.min.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/jquery.orbit-1.2.3.min.js');?>"></script>
<link rel="stylesheet" href="<?php echo $this->getSkinUrl('css/orbit-1.2.3.css');?>" /> 
<?php
$data = Mage::getModel('customcategory/customcategory')->getCollection();
//echo "<pre>"; print_r($data->getData());

?>

<script type="text/javascript">
var jQuery = jQuery.noConflict();
			jQuery(window).load(function() {
				jQuery('#featured').orbit({
              bullets: true
         });
			});
</script>
      
<div id="featured">   
<?php foreach($data->getData() as $i):?>
<?php //echo $i['customcategoryimage'];?>
<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'/Customcategory/images/'.$i['customcategoryimage'];?>"  width="940" height="450" />
<?php endforeach;?>
</div>