<?php
$catID = Mage::registry('current_category')->getId();
$parent = Mage::getModel('catalog/category')->load($catID);
?>
<div class="manufacturer-page-profile">
    <div class="brand-inner-left">
        <div class="col-left-first">
            <div class="main">
                <div class="block block-account">
                    <img src="<?php echo $parent->getImageUrl(); ?>" alt="<?php echo $parent->getName(); ?>">
                </div>
            </div>
        </div>
	</div>
</div>