<?php
/**
 * @var $this IWD_BraintreePayments_Block_Creditcard_Form
 */
?>
<?php
$code = $this->getMethodCode();
$model = Mage::getModel('braintree_payments/creditcard');
$loggedIn = Mage::getSingleton('customer/session')->isLoggedIn();
$storedCards = $this->getStoredCards();
$useVault = $loggedIn && $model->useVault() && count($storedCards);
$isQuoteRecurrent = $this->helper('iwd_opc')->isRecurringPaymentsEnabled()
    && $this->helper('iwd_recurringpayments/quote')
        ->isSubscriptionItemsInQuote(Mage::getSingleton('checkout/session')->getQuote());
?>
<div id="payment_form_<?php echo $code ?>">
    <input type="hidden" name="payment[cc_last4]" id="<?php echo $code ?>_cc_last4" value=""/>

    <?php if ($useVault) { ?>
        <div id="iwd_braintree_saved_cards">
            <?php
            foreach ($storedCards as $card) {
                ?>
                <div class="iwd_opc_universal_wrapper">
                    <label class="iwd_opc_radio_label"
                           title="<?php echo $card->maskedNumber . ' - ' . $card->cardType; ?>"
                           for="<?php echo $card->token; ?>">
                        <input type="radio"
                               class="iwd_opc_radio iwd_opc_field iwd_braintree_saved_card"
                               name="payment[cc_token]"
                               id="<?php echo $card->token; ?>"
                               value="<?php echo $card->token; ?>"
                               <?php if ($card->default){ ?>checked="checked" <?php } ?>
                        />
                        <span class="iwd_opc_radio_label_value">
                        <img src="<?php echo $this->getSkinUrl(
                            'css/iwd/opc/images/' . IWD_Opc_Helper_Data::getCardIcon($card->cardType)
                        ) ?>"/>
                        xxxx - xxxx - xxxx - <?php echo $card->last4; ?>
                            <br/>
                            <em><?php echo $this->__('Expires:'); ?></em>
                            <?php echo $card->expirationMonth; ?>/<?php echo $card->expirationYear; ?>
                    </span>
                    </label>
                </div>
                <?php
            } ?>
            <div class="iwd_opc_universal_wrapper">
                <label class="iwd_opc_radio_label"
                       title="<?php echo $this->__('Add new card'); ?>"
                       for="iwd_braintree_new_card">
                    <input type="radio"
                           class="iwd_opc_radio iwd_opc_field iwd_braintree_saved_card"
                           name="payment[cc_token]"
                           id="iwd_braintree_new_card"
                           value="0"/>
                    <span class="iwd_opc_radio_label_value">
                    <?php echo $this->__('Add new card'); ?>
            </span>
                </label>
            </div>
        </div>
    <?php } ?>
    <div
        <?php if ($useVault){ ?>style="display:none"<?php } ?>
        id="iwd_braintree_new_card_form">
        <div class="iwd_opc_universal_wrapper iwd_opc_cc_wrapper"
             data-https="<?php echo Mage::app()->getStore()->isCurrentlySecure() ? 1 : 0; ?>">
            <input type="text"
                   id="<?php echo $this->escapeHtml($code); ?>_iwd_opc_cc_number"
                   name="payment[iwd_opc_cc_number]"
                   data-braintree-name="number"
                   title="<?php echo $this->escapeHtml($this->__('Credit Card Number')); ?>"
                   placeholder="<?php echo $this->escapeHtml($this->__('Credit Card Number')); ?>"
                   maxlength="23"
                   class="required-entry iwd_opc_field iwd_opc_input validate-iwd-opc-cc-number validate-iwd-opc-cc-type"
                   value=""/>
            <input type="hidden"
                   id="<?php echo $this->escapeHtml($code); ?>_cc_number"
                   value=""
                   name="payment[cc_number]"/>
            <?php if (Mage::app()->getStore()->isCurrentlySecure()) { ?>
                <span data-type="cc_on_https" data-icon="&#xf023" class="iwd_opc_payment_tooltip"
                      data-content="<?php echo $this->escapeHtml(
                          $this->__('Rest easy. Your credit card information is safely secured.')
                      ); ?>">
        </span>
            <?php } ?>
            <select id="<?php echo $this->escapeHtml($code); ?>_cc_type"
                    name="payment[cc_type]"
                    style="display: none;"
                    class="iwd_opc_select iwd_opc_field"
            >
                <option value=""></option>
                <?php foreach ($this->getCcAvailableTypes() as $typeCode => $typeName) { ?>
                    <option value="<?php echo $this->escapeHtml($typeCode); ?>">
                        <?php echo $this->escapeHtml($typeName); ?>
                    </option>
                <?php } ?>
            </select>
            <input type="hidden" name="payment[hidden][cc_type]" id="<?php echo $code ?>_cc_type_hidden"/>
            <?php if ($this->getCcAvailableTypes()) { ?>
                <div class="iwd_opc_cc_types" style="display: none;">
                    <?php $i = 0;
                    foreach ($this->getCcAvailableTypes() as $typeCode => $typeName) {
                        if ($i == 3) {
                            break;
                        }
                        ?>
                        <div class="iwd_opc_cc_wrapper"
                             title="<?php echo $this->escapeHtml($typeName); ?>"
                             data-cc-type="<?php echo $this->escapeHtml($typeCode); ?>"></div>
                        <?php $i++;
                    } ?>
                    <?php if (count($this->getCcAvailableTypes()) > 3) { ?>
                        <div class="iwd_opc_cc_wrapper iwd_opc_more_cc_types">
                    <span data-type="cc_type" data-icon="&#xf055" class="iwd_opc_payment_tooltip">
                        <span class="iwd_opc_tooltip_content_fixed">
                            <?php foreach ($this->getCcAvailableTypes() as $typeCode => $typeName) { ?>
                                <div class="iwd_opc_cc_wrapper"
                                     title="<?php echo $this->escapeHtml($typeName); ?>"
                                     data-cc-type="<?php echo $this->escapeHtml($typeCode); ?>"></div>
                            <?php } ?>
                        </span>
                    </span>
                        </div>
                    <?php } ?>
                </div>
            <?php } ?>
        </div>
        <?php if ($this->hasVerification()){ ?>
        <div class="iwd_opc_short_fields">
            <?php } ?>
            <div class="iwd_opc_universal_wrapper">
                <?php
                $expCardValue = '';
                if ($this->getInfoData('cc_exp_month') && $this->getInfoData('cc_exp_year')) {
                    $expCardValue = $this->getInfoData('cc_exp_month') . '/' . $this->getInfoData('cc_exp_year');
                }
                ?>
                <input type="text"
                       id="<?php echo $this->escapeHtml($code); ?>_expiration_mon_yr"
                       name="payment[iwd_opc_cc_exp]"
                       maxlength="7"
                       title="<?php echo $this->escapeHtml($this->__('MM/YYYY')); ?>"
                       placeholder="<?php echo $this->escapeHtml($this->__('MM/YYYY')); ?>"
                       class="iwd_opc_field iwd_opc_input required-entry validate-iwd-opc-cc-exp"
                       value="<?php echo $this->escapeHtml($expCardValue); ?>"/>
                <input type="hidden"
                       id="<?php echo $this->escapeHtml($code); ?>_expiration"
                       data-braintree-name="expiration_month"
                       value="<?php echo $this->escapeHtml($this->getInfoData('cc_exp_month')); ?>"
                       name="payment[cc_exp_month]"/>
                <input type="hidden"
                       data-braintree-name="expiration_year"
                       id="<?php echo $this->escapeHtml($code); ?>_expiration_yr"
                       value="<?php echo $this->escapeHtml($this->getInfoData('cc_exp_year')); ?>"
                       name="payment[cc_exp_year]"/>
            </div>
            <?php echo $this->getChildHtml(); ?>
            <?php if ($this->hasVerification()) { ?>
                <div class="iwd_opc_universal_wrapper">
                    <input type="text"
                           title="<?php echo $this->escapeHtml($this->__('CVV')); ?>"
                           placeholder="<?php echo $this->escapeHtml($this->__('CVV')); ?>"
                           class="iwd_opc_field iwd_opc_input required-entry validate-iwd-opc-cvv"
                           id="<?php echo $this->escapeHtml($code); ?>_cc_cid"
                           maxlength="4"
                           data-braintree-name="cvv"
                           name="payment[cc_cid]"
                           value=""/>
                    <span data-type="cvv" data-icon="&#xf059" class="iwd_opc_payment_tooltip"
                          data-content="<?php echo $this->escapeHtml(
                              $this->__('A 3 or 4-digit security code on the back or front of your card.')
                          ); ?>">
            </span>
                </div>
            <?php } ?>
            <?php if ($this->hasVerification()){ ?>
        </div>
        <div class="iwd_opc_clear"></div>
    <?php } ?>
        <?php if ($this->canSaveCard() || $isQuoteRecurrent) { ?>
            <div class="iwd_opc_universal_wrapper"
                <?php if ($isQuoteRecurrent) { ?>
                    style="display: none;"
                <?php } ?>
            >
                <label title="<?php echo $this->escapeHtml(
                    $this->__('Save this card for future use')
                ); ?>"
                       class="iwd_opc_checkbox_label"
                       for="<?php echo $this->escapeHtml($code); ?>_store_in_vault">
                    <input type="checkbox"
                           id="<?php echo $this->escapeHtml($code); ?>_store_in_vault"
                           value="1"
                        <?php if ($isQuoteRecurrent) { ?>
                            checked="checked"
                        <?php } ?>
                           name="payment[store_in_vault]"
                           class="iwd_opc_checkbox iwd_opc_field"/>
                    <span class="iwd_opc_checkbox_label_value">
                <?php echo $this->escapeHtml(
                    $this->__('Save this card for future use')
                ); ?>
            </span>
                </label>
            </div>
        <?php } ?>
    </div>
</div>
