<?php
$items = $this->getFirstLevelMenuItems();
$full_action_name = Mage::app()->getFrontController()->getAction()->getFullActionName();
?>
<script type="text/javascript">
    var $j = jQuery.noConflict();
</script>
<div class="col-md-2 p-0">
<div class="navbar navbar-inverse navbar-fixed-top vendor-container navbar-default " role="navigation">
        
        <div class="navbar-header">
         <?php 
 $store_id = Mage::app()->getStore()->getStoreId();
 $logo_src =   Mage::getStoreConfig('design/header/logo_src', $store_id);
  $logo_alt =   Mage::getStoreConfig('design/header/logo_alt', $store_id);
 ?>
        <a class="logo " href="<?php echo $this->getUrl('') ?>">
            <img src="<?php echo Mage::getDesign()->getSkinUrl().$logo_src; ?>" alt="<?php echo $logo_alt ?>" class="large img-responsive" />
               
        </a>    
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nopadding" style="padding: 0 70px"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <?php foreach($items as $key => $item): ?>
                    <?php $childrens = $this->getChildsMenuItems($key); ?>
                    <?php $str = preg_replace('/[^A-Za-z0-9\. -]/', '_', Mage::helper('supplierfrontendproductuploader')->__($item['label']));?>
                    <li class="<?php echo $str; if(count($childrens)>0){ echo " parent";}?><?php if(isset($item['action_names']) && in_array($full_action_name,$item['action_names'])) echo ' active'; ?>" 
                        <?php if(count($childrens)>0){?> data-toggle="collapse" data-target="#<?php echo Mage::helper('supplierfrontendproductuploader')->__($item['label']); ?>"<?php } ?> >
                        <?php if(count($childrens)>0): ?>
                            <a href="javascript:void(0);">
                                <?php echo Mage::helper('supplierfrontendproductuploader')->__($item['label']); ?>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu collapse" id="<?php echo Mage::helper('supplierfrontendproductuploader')->__($item['label']); ?>">
                                <?php foreach($childrens as $child): ?>
                                    <li

                                       
                                        class="<?php if(isset($child['action_names']) && in_array($full_action_name,$child['action_names'])) echo ' active'; ?>"
                                    >
                                        <?php if(!isset($child['fix_label']) or $child['fix_label'] == false): ?>
                                            <a href="<?php echo Mage::getUrl($child['url']) ?>">
                                            <?php if(isset($child['fix_label_children']) and $child['fix_label_children'] == true):?>
                                                <b> - </b>
                                            <?php endif; ?>
                                            <?php echo Mage::helper('supplierfrontendproductuploader')->__($child['label']); ?></a>
                                        <?php else: ?>
                                        <a href="javascript:void(0)">
                                            <?php echo Mage::helper('supplierfrontendproductuploader')->__($child['label']); ?>
                                        </a>
                                        <?php endif; ?>
                                    </li>
                                <?php endforeach;?>
                                    
                            </ul>
                        <?php else: ?>
                            <a href="
                                <?php if(strpos($item['url'],'http') === 0): ?>
                                    <?php echo $item['url'] ?>
                                <?php else: ?>
                                    <?php echo Mage::getUrl($item['url']) ?>
                                <?php endif; ?>
                            ">
                                <?php echo Mage::helper('supplierfrontendproductuploader')->__($item['label']); ?>
                                <?php if($key == 'PRODUCT_LIST'): ?>
                                    <?php if($this->hasMarkedProducts()): ?><span class="badge pull-right badge-important"><?php echo $this->getMarkedProductCount(); ?></span><?php endif; ?>
                                <?php endif; ?>
                            </a>
                        <?php endif;?>

                    </li>
                <?php endforeach;?>
                    <div class="nav-bottom-show">
    <?php if(Mage::getSingleton('customer/session')->isLoggedIn()) {
                    $customerData = Mage::getModel('customer/customer')->load(Mage::getSingleton('customer/session')->getId());
                } else {
                    $customerData = new Varien_Object();
                }
            ?>
            
<div class="vendor-main-show">
                <?php if(Mage::helper('marketplace')->getSupplierLogo()){ ?>
                <img src="<?php echo Mage::helper('marketplace')->getSupplierLogo(); ?>" alt="" class="large img-thumbnail img-responsive vendor-logo"  />
                <?php  }else{?>
                <img src="<?php echo Mage::getDesign()->getSkinUrl().$logo_src; ?>" alt="<?php echo $logo_alt ?>"  class="large img-responsive vendor-logo" />

                <?php }?>
                 <div class="supplier-logout">
                <span><?php echo $customerData->getSupplierName(); ?></span>
                <a class="logout-link" href="<?php echo mage::getBaseUrl().'supplier/settings/logout' ?>">Logout</a>
                 </div>
            </div>
            </div>
            </ul>
            
        </div>
    
</div>
<div class="nav-bottom">
    <?php if(Mage::getSingleton('customer/session')->isLoggedIn()) {
                    $customerData = Mage::getModel('customer/customer')->load(Mage::getSingleton('customer/session')->getId());
                } else {
                    $customerData = new Varien_Object();
                }
            ?>
            
<div class="vendor-main">
                <?php if(Mage::helper('marketplace')->getSupplierLogo()){ ?>
                <img src="<?php echo Mage::helper('marketplace')->getSupplierLogo(); ?>" alt="" class="large img-thumbnail img-responsive vendor-logo"  />
                <?php  }else{?>
                <img src="<?php echo Mage::getDesign()->getSkinUrl().$logo_src; ?>" alt="<?php echo $logo_alt ?>"  class="large img-responsive vendor-logo" />

                <?php }?>
                <div class="supplier-logout">
                <span><?php echo $customerData->getSupplierName(); ?></span>
                <a class="logout-link" href="<?php echo mage::getBaseUrl().'supplier/settings/logout' ?>">Logout</a>
                </div>
            </div>
            </div>
</div>
