<?php
$_product = $this->getProduct();
$count = 1;
$collections = Mage::getModel('catalog/product')->getCollection(); 
$_products=$collections->addAttributeToSelect('*')
->addFieldToFilter('creator_id', array('eq' => Mage::getSingleton('core/session')->getvendorname()))
    ->addFieldToFilter('visibility',4)
    ->addAttributeToFilter('status', array('eq' => Mage_Catalog_Model_Product_Status::STATUS_ENABLED))
    ;
    
//->addAttributeToSelect('*')->addFieldToFilter('is_deal', array('eq' => '1'));
 ?>


<div class="home row">
<div class="col-xs-12 title no-padding more-product-head">
    <!-- <h3>More Products From this Store</h3> -->
	<h3><?php echo $this->__('More Products From')?> <?php echo $_product->getAttributeText('creator_id');                   
                    Mage::getSingleton('core/session')->setvendorname($_product->getData("creator_id"));?> </h3>
<!--    <h2>Daily deals </h2>-->
</div>
<div class="col-xs-12 no-padding">
    <?php if (($_products) && $_products->getSize()): ?>
    
                <div class="most_viewed">
                    <?php $_collectionSize = 5;//count($_products->getItems()); echo $_collectionSize; ?>
                    <div class="products-grid col-md-12 p-0" id="products-grid-table">
                        <?php $j=1; ?>
                        <?php $i=1; foreach ($_products as $_product): ?>
                               
                            <div class="item col-sm-12 col-md-4 col-lg-2 col-xs-12">
                                <div class="thumbnail1">  
                                   
                                <?php // Discount percents output start
                              
                                        $_finalPrice=$_product->getFinalPrice(); 
                                        
                                         $_price=$_product->getprice();
                                        
                                        ?>
                                     <div class="offer-section">   
                                            <?php if($_finalPrice < $_price): ?>
                                            <?php $_savePercent = 100 - round(($_finalPrice / $_price)*100); ?>
                                        <div class="discount-cover">
                                            <?php echo $_savePercent."%"; ?>
                                        </div>
                                            <?php endif; ?>
                                         <?php $date1 = new Zend_Date(now());
            $date2 = new Zend_Date($_product->news_to_date);
            if ($date2->compareDay($date1)  <= 0) {?>
              <div class="new_img_main"><img class="new_img" alt="New" src="<?php echo $this->getSkinUrl('images/new.png'); ?>" /></div>
        <?php }?>
                                     </div>
                                        <?php // Discount percent output end ?>
                                        <div class="pimage">      
                                    <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>">
                                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(240,300); ?>" width="240" height="300" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
                                    </a>
                                       
    </div>                  

                                        <?php if($_product->isSaleable()): ?>
                                            <div class="custom-action">
                                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><i class="fa fa-heart" aria-hidden="true"></i>
                                                <?php echo $this->__('Wishlist') ?></a>
                                                <?php endif; ?>
                                                 <?php
                                   
                                             

                                             $customerGroupId = Mage::getSingleton('customer/session')->getCustomerGroupId();
                                             if($customerGroupId != 7){ ?>
                                                |
                                                <button onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                <?php echo $this->__('Cart') ?></button>
                                                <?php } ?>
                                            </div>
                                            <div class="clear"></div>
                                        <?php else: ?>
                                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <div class="custom-action"><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><i class="fa fa-heart" aria-hidden="true">
                                            </i>
                                                <?php echo $this->__('Wishlist') ?></a>
                                                <?php endif; ?>
                                                |
                                                <button class="outofstock"><?php echo $this->__('Out of stock') ?></button>
                                            </div>
                                            <div class="clear "></div>
                                        <?php endif; ?>
                                            <h3 class="product-name">
                                                <div class="product_detail">
                                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></div>
                                            </h3>
                                            <div class="action">
                                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                                     <a href="<?php echo $_product->getProductUrl() ?>" class="pull-right"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            </div>
                                    
                                </div>

                                        <?php if($j==12)
                                    {   

                                       break;
                                    }
                                    $j++;
                                     ?>
                            </div>

                        <?php endforeach;?>

                    </div>
                 
                </div>
                <?php if(count($_products)>12)
                    {?>
                         <div class="view-more col-xs-12">
                       <a href="<?php echo Mage::helper('marketplace')->getSupplierRawPageUrl(Mage::getSingleton('core/session')->getvendorname());?>"><button class="button"><span><span><?php echo $this->__('view more') ?>
                </span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></button></a>
                    </div>
                    <?php }

                ?>

<?php endif; ?>
</div>
</div>

