<?php

$_product    = $this->getProduct();
$_helper     = $this->helper('catalog/output');
$imagesBlock = $this->getLayout()->createBlock('catalog/product_view_media');
$isMobile = $this->isMobile();
$arr = array();

foreach ($imagesBlock->getGalleryImages() as $imgObj)
{

    $key = (int)$imgObj->getPositionDefault();
    if (!isset($arr[$key]))
    {

        $arr[$key] = array();
    }
    $arr[$key][] = $imgObj;
}
foreach ($this->getVideoGallery() as $vidArr)
{

    $key = (int)$vidArr['position_default'];
    if (!isset($arr[$key]))
    {

        $arr[$key] = array();

    }

    $arr[$key][] = $vidArr;
}
ksort($arr);
$mediaArr = array();

foreach ($arr as $a)

{

    foreach ($a as $b)

    {

        $mediaArr[] = $b;

    }

}
?>
<?php
$width_thumb  = 700;
$height_thumb = 520;
$width_regular  = 700;
$height_regular = 520;
$width_full  = 700;
$height_full = 520;
//$c = floor(($width_thumb - 33) / 2);
//$w = ($width_thumb+14) * count($mediaArr);
?>
<style>
.product-view .product-img-box .more-views ul{margin:0}
.product-view .product-img-box .more-views li a{width:<?php echo $width_thumb?>px;height:<?php echo $height_thumb?>px}
.video-gallery-links li a.video-thumb span{margin:22px 0 0 22px;}
.video-gallery-links li a.video-thumb span{margin:<?php echo $c?>px 0 0 <?php echo $c?>px}
/*
.video-gallery-links {margin:0; width:<?php echo $w?>px;}
.video-gallery-links-container{width:265px; height:100px; overflow:hidden;position:relative}
*/
</style>
<?php  /* Main Image */
if(count($mediaArr)==0)
{
?>
<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
<p class="product-image ">
    <a href="<?php echo $this->helper('catalog/image')->init($_product, 'image')->keepFrame(false)->resize($width_full,$height_full); ?>" title="<?php echo $this->htmlEscape($imagesBlock->getImageLabel()) ?>">

    <?php

        $_img = '<img id="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize($width_regular, $height_regular).'" alt="'.$this->htmlEscape($imagesBlock->getImageLabel()).'" title="'.$this->htmlEscape($imagesBlock->getImageLabel()).'" />';

        echo $_helper->productAttribute($_product, $_img, 'image');

    ?>
   </a>
</p>
<?php else: ?>
<p class="product-image">
    <a href="<?php echo $this->helper('catalog/image')->init($_product, 'image')->keepFrame(false)->resize($width_full,$height_full); ?>"  title="<?php echo $this->htmlEscape($imagesBlock->getImageLabel()) ?>">

    <?php

        $_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->resize($width_regular, $height_regular).'" alt="'.$this->htmlEscape($imagesBlock->getImageLabel()).'" title="'.$this->htmlEscape($imagesBlock->getImageLabel()).'" />';

        echo $_helper->productAttribute($_product, $_img, 'image');

    ?>
    </a>
</p>
<?php endif;  ?>
<?php }else{  /* Gallery */  ?>
<div  class="owl-carousel owl-theme">
<?php foreach ($mediaArr as $item) : ?>
<?php if (is_object($item)) :?>
        <div>
            <?php

            $marginLeft = 0;
            $marginTop  = 0;
            $imagehelper = $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $item->getFile());
            $imagehelper->__toString(); // Hack to load img dimensions
            $resize_width = 400;
            $resize_height = 400;
            $aspect = $width / $height;
            $width  = $imagehelper->getOriginalWidth();
            $height = $imagehelper->getOriginalHeight();
            if($width > $height)
            {
                $resize_width = $resize_height = ceil($resize_height * $width / $height);
                $marginLeft = -1 * floor(($resize_width-$width_thumb)/2.0);
            }
           elseif ($width < $height)
            {

                $resize_width = $resize_height = ceil($resize_width * $height / $width);
                $marginTop = -1 * floor(($resize_height-$height_thumb)/2.0);
            }
            ?>
            <!-- <a href="<?php echo $this->helper('catalog/image')->init($_product, 'image', $item->getFile())->keepFrame(false)->resize($width_full,$height_full); ?>" title="<?php echo $this->htmlEscape($item->getLabel()) ?>"> -->
           <?php  $_imageUrl = $imagehelper->keepAspectRatio(true)->constrainOnly(false)->keepFrame(false)->resize($resize_width,$resize_width); ?>

            <img  src="<?php echo $_imageUrl;?>" alt="<?php echo $this->htmlEscape($item->getLabel()) ?>" class="item"/>

            <!-- </a> -->

        </div>
    <?php else: ?>
<div class="item-video" >
            <?php
            $marginLeft = 0;
            $marginTop  = 0;
            $imagehelper = $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $item['file']);
            $imagehelper->__toString(); // Hack to load img dimensions
            //$resize_width = $width_thumb;
            //$resize_height = $height_thumb;
             $resize_width = 400;
            $resize_height = 400;
            $aspect = $width / $height;
            $width  = $imagehelper->getOriginalWidth();
            $height = $imagehelper->getOriginalHeight();
            if($width > $height)
            {

                $resize_width = $resize_height = ceil($resize_height * $width / $height);

                $marginLeft = -1 * floor(($resize_width-$width_thumb)/2.0);

            }

            elseif ($width < $height)

            {

                $resize_width = $resize_height = ceil($resize_width * $height / $width);

                $marginTop = -1 * floor(($resize_height-$height_thumb)/2.0);

            }

            $_imageUrl = $imagehelper->keepAspectRatio(true)->constrainOnly(false)->keepFrame(false)->resize($resize_width,$resize_width);

            ?>

        

            <?php if ($isMobile): ?>

        <div class="item-video" >

                <div class="m-video-thumb"><?php echo $this->getMobileEmbed($item, $width_thumb,$height_thumb); ?></div>

                </div>



            <?php else: ?>

                

                

                <a class="owl-video" href="<?php echo $this->getVideoGalleryUrl1($item); ?>">
                  
                    
                <img src="<?php echo $_imageUrl?>" alt="<?php echo $this->htmlEscape($item['label']) ?>" 
                title="<?php echo $item['label'] . ($item['label'] && $item['description']? ' - ' : '')  .$this->htmlEscape($item['description']) ?>"/>

                

                </a>

                

            <?php endif; ?>

        </div>

    <?php endif; ?>

    

<?php endforeach; ?>

</div>

<?php } ?>





