<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2015 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
?>
<?php $host ='http://'.$_SERVER['HTTP_HOST'].$_SERVER['REDIRECT_URL']; $link=''; ?>
<?php $_filters = $this->getActiveFilters() ?>
<?php $_removeTxt = Mage::helper('catalog')->__('Remove This Item') ?>
<?php if (!empty($_filters)): ?>
    <p class="block-subtitle"><?php echo Mage::helper('catalog')->__('Currently Shopping by') ?></p>
    <div class="currently">
        <ol>
            <?php foreach ($_filters as $_filter):?>
                <li>
                    <!-- <span class="label"><?php echo Mage::helper('catalog')->__($_filter->getName()) ?>:</span> -->
                    <?php if ($_filter->hasData('children')): ?>
                        <?php foreach ($_filter->getData('children') as $child):?>
                            <span class="multiselect-child">
                                <?php echo $child['label']  ?>
                                <a href="<?php echo $child['url'] ?>" class="btn-remove-inline">
                                    <img src="<?php echo Mage::getDesign()->getSkinUrl('images/spacer.gif') ?>" width="13" height="12" alt="<?php echo $_removeTxt ?>" />
                                </a>
                            </span>
                        <?php endforeach ?>
                    <?php else: ?> 
                     <span class="multiselect-child">
                        <?php 
                            $path = explode("?", $_filter->getRemoveUrl()); // splitting the path
                            //print_r($path[1]);
                            $last = end($path); // get the value of the last element 
                            if (filter_var($last, FILTER_VALIDATE_URL) === FALSE){
                                    $link = $host.'?'.$last;
                            }
                            else{
                                    $link = $host;
                            }
                            ?>
                        <a href="<?php echo $link//$_filter->getRemoveUrl() ?>" class="btn-remove-inline" title="<?php echo $_removeTxt ?>"><?php //echo $_removeTxt ?></a>

                        <?php echo $_filter->getLabel() ?>
                        </span>
                    <?php endif ?>
                </li>
            <?php endforeach; ?>
        </ol>
    </div>
<?php endif; ?> 
