<?php $Category=Mage::getModel('catalog/category')->load(43);?>
<div class="row home shop-by-category">
	<div class="col-xs-12 col-lg-12 title">
	    <h2><?php echo $this->__('All Categories')?><?php //echo $Category->getName();?>
	    <img src="<?php echo $this->getSkinUrl('images/Title_Underline.png');?>" class="img-responsive"></h2>
	</div>
	<div class="col-xs-12 col-lg-12 detail">
	<?php $childrencategory = $Category->getChildrenCategories();
	$j=1;
	foreach ($childrencategory as $category1)
	{?>
	<?php 
	$img= Mage::getModel('catalog/category')->load($category1->getId())->getThumbnailImageUrl();
	if($img=="")
		{
			$img=$this->getSkinUrl('images/Image_Not_Available.jpg');
		}
	?>
			<div class="col-sm-3 col-xl-2 col-md-3 shopbycategory main-class">
				<div class="sub-child">
					<a href="<?php echo $category1->getUrl();?>"><img src="<?php echo $img;?>" class="img-responsive"/>
					<span ><?php echo $category1->getName();?></span>
					</a>
				</div>
			</div>
	<?php /*if($j==4)
	{   

	   break;
	}
	$j++;*/
	}
			

			?>
			<?php if(count($childrencategory)==0)
{ ?>
  
    <h3 class="no-product-title"><?php echo $this->__('No Category available') ?> </h3>

<?php }
?>
	</div>
</div>