<?php

$current_date  = Mage::app()->getLocale()->date()->toString(Varien_Date::DATETIME_INTERNAL_FORMAT);
$todayDate = date('m/d/y');
$tomorrow = mktime(0, 0, 0, date('m'), date('d'), date('y'));
$tomorrowDate = date('m/d/y', $tomorrow);

$count = 1;
$collections = Mage::getModel('catalog/product')->getCollection(); 

$_products=$collections->addAttributeToSelect('*')
    ->addFieldToFilter('visibility',4)
    ->addFieldToFilter('is_deal', array('eq' => '1'))
    ->addFieldToFilter('special_from_date', array('neq' => ''))
    ->addFieldToFilter('special_to_date', array('neq' => ''))
    ->addAttributeToFilter('status', array('eq' => Mage_Catalog_Model_Product_Status::STATUS_ENABLED));

//I put the clear() thing there and BUM!, and load() after to ;)
$_products->clear()->setOrder('entity_id','DESC')->setPageSize(4)->addAttributeToFilter('special_from_date', array('date' => true, 'to' => $todayDate))->addAttributeToFilter('special_to_date', array('or' => array(
    0 => array('date' => true, 'from' => $tomorrowDate),
    1 => array('is' => new Zend_Db_Expr('null')))
), 'left')->load();
    
//->addAttributeToSelect('*')->addFieldToFilter('is_deal', array('eq' => '1'));
 ?>


<div class="home row">
<div class="col-xs-12  col-lg-12 title no-padding">
    <h2><?php echo $this->__('Daily deals') ?>
    <img src="<?php echo $this->getSkinUrl('images/Title_Underline.png');?>" class="img-responsive"></h2>
</div>
<div class="col-xs-12  col-lg-12 no-padding">
    <?php if (($_products) && $_products->getSize()): ?>
    
                <div class=" most_viewed">
                    <?php $_collectionSize = 5;//count($_products->getItems()); echo $_collectionSize; ?>
                    <div class="products-grid col-md-12 p-0" id="products-grid-table">
                        <?php $j=1; ?>
                        <?php $i=1; foreach ($_products as $_product): ?>
                               
                            <div class="item col-sm-3 col-md-3 col-xl-2 col-xs-12">
                                <div class="thumbnail1">  
                                   
                                <?php // Discount percents output start
                              
                                        $_finalPrice=$_product->getFinalPrice(); 
                                        
                                         $_price=$_product->getprice();
                                        
                                        ?>
                                     <div class="offer-section">   
                                            <?php if($_finalPrice < $_price): ?>
                                            <?php $_savePercent = 100 - round(($_finalPrice / $_price)*100); ?>
                                        <div class="discount-cover">
                                            <?php echo $_savePercent."%"; ?>
                                        </div>
                                            <?php endif; ?>
                                         <?php $date1 = new Zend_Date(now());
            $date2 = new Zend_Date($_product->news_to_date);
            if ($date2->compareDay($date1)  <= 0) {?>
              <div class="new_img_main"><img class="new_img" alt="New" src="<?php echo $this->getSkinUrl('images/new.png'); ?>" /></div>
        <?php }?>
                                     </div>
                                        <?php // Discount percent output end ?>
                                        <div class="pimage">      
                                    <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>">
                                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(240,300); ?>" width="240" height="300" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
                                    </a>
                                       
    </div>
                                    <!--Condition for Timer Controllers goes here-->
                                <?php  $s = Mage::app()->getLayout()->getBlockSingleton('customprice/list');?>

                            <?php if($s->getPriceCountDown($_product)) :?>
                                
                                <div id="countbox_<?php echo $count; ?>" class="timer-list"></div>
                                
                                    <div class='clear'></div>
                                    <div class='timerdate' id="caption<?php echo $count; ?>">
                                       
                                    </div>
                                

                            <?php endif; ?>

                            <?php if($s->getPriceCountDown($_product)) :
                            
                            ?>
                            <?php $toDate = $_product->getSpecialTODate();?>
                            <script type="text/javascript">
                                var dthen<?php echo $count; ?> = new Date("<?php echo Date("m/d/y", strtotime($toDate)).' 11:59:00 PM'; ?>");
                                start = "<?php echo Date("m/d/y h:i:s A", strtotime(Mage_Core_Model_Locale::date(null, null, "en_US", true))); ?>";
                                start_date = Date.parse(start);
                                var dnow<?php echo $count; ?> = new Date(start_date);
                                if(CountStepper>0)
                                ddiff= new Date((dnow<?php echo $count; ?>)-(dthen<?php echo $count; ?>));
                                else
                                ddiff = new Date((dthen<?php echo $count; ?>)-(dnow<?php echo $count; ?>));
                                gsecs<?php echo $count; ?> = Math.floor(ddiff.valueOf()/1000);
                                var iid<?php echo $count; ?> = "countbox_<?php echo $count; ?>";
                                CountBack(gsecs<?php echo $count; ?>,"countbox_"+timer, timer);
                                timer++;
                            </script>
                            <?php $count = $count + 1; ?>
                            <?php endif;?>

                                       <?php if (!$_product->canConfigure() && $_product->isSaleable()): ?>
                                    <div class="custom-action">
                                     <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><i class="fa fa-heart" aria-hidden="true"></i><?php echo $this->__('Wishlist') ?></a>
                                            <?php endif; ?>
                                            <?php
                                        $customerGroupId = Mage::getSingleton('customer/session')->getCustomerGroupId();
                                        if($customerGroupId != 7){ ?>
                                        |
                                        <button onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <?php echo $this->__('Cart') ?></button>
                                    <?php } ?>
                                    </div>
                                    <div class="clear"></div>
                                    <?php elseif ($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>

                                    <div class="custom-action">
                                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><i class="fa fa-heart" aria-hidden="true"></i>
                                                <?php echo $this->__('Wishlist') ?></a>
                                            <?php endif; ?>
                                        |
                                        <button onclick="setLocation('<?php echo $_product->getProductUrl() ?>')"><i class="fa fa-eye" aria-hidden="true"></i>
                                    <?php echo $this->__('View') ?></button>
                                    </div>
                                    <div class="clear"></div>

                                    <?php else: ?>

                                    <div class="custom-action">
                                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><i class="fa fa-heart" aria-hidden="true"></i>
                                            <?php echo $this->__('Wishlist') ?></a>
                                        <?php endif; ?>
                                        |
                                        <button ><?php echo $this->__('Out of stock') ?></button>
                                    </div>
                                    <div class="clear"></div>
                                <?php endif; ?>
                                            <h3 class="product-name">
                                                <div class="product_detail">
                                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a>
                                            <div class="product_brand">
                                        <a href=""><?php echo $_product->getData("brand");?></a>
                                        <label>Sold by</label>
                                        <a href=""><?php echo $_product->getAttributeText('creator_id');?></a>
                                    </div></div>
                                            </h3>
                                            <div class="action">
                                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                                     <a href="<?php echo $_product->getProductUrl() ?>" class="pull-right"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            </div>
                                    
                                </div>

                                        <?php if($j==12)
                                    {   

                                       break;
                                    }
                                    $j++;
                                     ?>
                            </div>

                        <?php endforeach;?>

                    </div>
                 
                </div>
                <?php if(count($_products)>12)
                    {?>
                         <div class="view-more col-xs-12">
                        <a href="<?php echo $Category->getURL();?>"><button class="button"><span><span><?php echo $this->__('view more') ?> 
                </span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></button></a>
                    </div>
                    <?php }

                ?>
<?php else: ?>
   <h3 class="no-product-title"><?php echo $this->__('No Deals available') ?> </h3>
<?php endif; ?>
</div>
</div>

