<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<div class="most_viewed clearfix">
<div class="products-grid" id="products-grid-table">
<?php $j=1; ?>
<?php $i=1; foreach ($_products as $_product): ?>
    
    <div class="item col-sm-4 col-md-3 col-xl-2 col-xs-12">
        <div class="thumbnail1">        
            <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>">
                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(240,300); ?>" width="240" height="300" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
            </a>
           

            <?php if (!$_product->canConfigure() && $_product->isSaleable()): ?>
                                    <div class="custom-action">
                                     <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><i class="fa fa-heart" aria-hidden="true"></i><?php echo $this->__('Wishlist') ?></a>
                                            <?php endif; ?>
                                        |
                                        <button onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <?php echo $this->__('Cart') ?></button>
                                    </div>
                                    <div class="clear"></div>
                                    <?php elseif ($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>

                                    <div class="custom-action">
                                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><i class="fa fa-heart" aria-hidden="true"></i>
                                                <?php echo $this->__('Wishlist') ?></a>
                                            <?php endif; ?>
                                        |
                                        <button onclick="setLocation('<?php echo $_product->getProductUrl() ?>')"><i class="fa fa-eye" aria-hidden="true"></i>
                                    <?php echo $this->__('View') ?></button>
                                    </div>
                                    <div class="clear"></div>

                                    <?php else: ?>

                                    <div class="custom-action">
                                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><i class="fa fa-heart" aria-hidden="true"></i>
                                            <?php echo $this->__('Wishlist') ?></a>
                                        <?php endif; ?>
                                        |
                                        <button ><?php echo $this->__('Out of stock') ?></button>
                                    </div>
                                    <div class="clear"></div>
                                <?php endif; ?>
                 <h3 class="product-name">
                <div class="product_detail">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a>

                </div>

            </h3>
                    <div class="action">
                            <?php echo $this->getPriceHtml($_product, true) ?>
                             <a href="<?php echo $_product->getProductUrl() ?>" class="pull-right"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </div>
            
        </div>

    <?php if($j==5)
{   

   break;
}
$j++;
 ?>
    </div>

<?php endforeach;?>

</div>
</div>
<?php endif; ?>