<div class="row main-offer">
    <div class="col-md-12 p-0">
    <div class="col-sm-4">
    	<div class="offer one">
                <span><i class="fa fa-gift" aria-hidden="true"></i> <?php echo $this->__('Get 20% off Everything')?></span>
        </div>	
    </div>
    <div class="col-sm-4">
    	<div class="offer two">
    	   <span> <i class="fa fa-truck" aria-hidden="true"></i>
                    <?php echo $this->__('Free Next Day Delivery Over OMR 45')?></span>
    	</div>
    </div>
    <div class="col-sm-4">
    	<div class="offer three">
                	<span><i class="fa fa-usd" aria-hidden="true"></i>
             <?php echo $this->__('Free Return For 10 Days')?></span>
    	</div>
    </div>
    </div>
</div>