<?php $Category=Mage::getModel('catalog/category')->load(44);?>
<div class="row home">
<div class="col-xs-12 col-lg-12 title">
    <h2><?php echo $this->__('popular items') ?>
    <img src="<?php echo $this->getSkinUrl('images/Title_Underline.png');?>" class="img-responsive"></h2>
</div>
<div class="col-xs-12 col-lg-12">
	<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
	<?php 
	
      
	?>
<div class=" most_viewed">
<?php $_collectionSize = 5;//count($_products->getItems()); echo $_collectionSize; ?>
<div class="products-grid" id="products-grid-table">
<?php $j=1; ?>
<?php $i=1; foreach ($_products as $_product): ?>
	
    <div class="item col-sm-4 col-md-2 col-xl-2 col-xs-12">
        <div class="thumbnail1">        
            <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>">
                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(240,300); ?>" width="240" height="300" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
            </a>
           

            <?php if (!$_product->canConfigure() && $_product->isSaleable()): ?>
                                    <div class="custom-action">
                                     <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><i class="fa fa-heart" aria-hidden="true"></i><?php echo $this->__('Wishlist') ?></a>
                                            <?php endif; ?>
                                            <?php
                                        $customerGroupId = Mage::getSingleton('customer/session')->getCustomerGroupId();
                                        if($customerGroupId != 7){ ?>
                                        |
                                        <button onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <?php echo $this->__('Cart') ?></button>
                                    <?php } ?>
                                    </div>
                                    <div class="clear"></div>
                                    <?php elseif ($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>

                                    <div class="custom-action">
                                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><i class="fa fa-heart" aria-hidden="true"></i>
                                                <?php echo $this->__('Wishlist') ?></a>
                                            <?php endif; ?>
                                        |
                                        <button onclick="setLocation('<?php echo $_product->getProductUrl() ?>')"><i class="fa fa-eye" aria-hidden="true"></i>
                                    <?php echo $this->__('View') ?></button>
                                    </div>
                                    <div class="clear"></div>

                                    <?php else: ?>

                                    <div class="custom-action">
                                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><i class="fa fa-heart" aria-hidden="true"></i>
                                            <?php echo $this->__('Wishlist') ?></a>
                                        <?php endif; ?>
                                        |
                                        <button ><?php echo $this->__('Out of stock') ?></button>
                                    </div>
                                    <div class="clear"></div>
                                <?php endif; ?>
                 <h3 class="product-name">
                <div class="product_detail">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a>
                <div class="product_brand">
                                        <a href=""><?php echo $_product->getData("brand");?></a>
                                        <label>Sold by</label>
                                        <a href=""><?php echo $_product->getAttributeText('creator_id');?></a>
                                    </div>

                </div>

            </h3>
                    <div class="action">
                            <?php echo $this->getPriceHtml($_product, true) ?>
                             <a href="<?php echo $_product->getProductUrl() ?>" class="pull-right"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </div>
            
        </div>

    <?php if($j==5)
{   

   break;
}
$j++;
 ?>
    </div>

<?php endforeach;?>
 <div class="col-sm-4 col-md-2 col-xl-2 col-xs-12">
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('popular_product_ads')->toHtml(); ?>
	</div>
</div>

        </div>
        <?php if(count($_products)>5)
            {?>
                 <div class="view-more col-xs-12">
                <a href="<?php echo Mage::getBaseUrl().'popular-items'?>">
				<button class="button">
					<span><span><?php echo $this->__('view more') ?></span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
				</button></a>
            </div>
            <?php }

        ?>
</div>
<?php else: ?>
    <h3 class="no-product-title"><?php echo $this->__('No Deals available') ?> </h3>
<?php endif; ?>
</div>
</div>