<div class="home col-sm-10">
<div class="col-xs-12 col-lg-12 title no-padding">
    <h2><?php echo $this->__('More Products') ?>
    <img src="<?php echo $this->getSkinUrl('images/Title_Underline.png');?>" class="img-responsive"></h2>
</div>
<div class="col-xs-12 col-lg-12 no-padding">
	<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
	
                <div class=" most_viewed">
                    <?php $_collectionSize = 5;//count($_products->getItems()); echo $_collectionSize; ?>
                    <div class="products-grid" id="products-grid-table">
                        <?php $j=1; ?>
                        <?php $i=1; foreach ($_products as $_product): ?>
                        	
                            <div class="item col-sm-4 col-md-3 col-xl-2 col-xs-12">
                                <div class="thumbnail1">
                                <?php
                            // Discount percents output start

                            $_finalPrice = $_product->getFinalPrice();

                            $_price = $_product->getprice();
                            ?>
                             <div class="offer-section">   
                            <?php if ($_finalPrice < $_price): ?>
                            <?php $_savePercent = 100 - round(($_finalPrice / $_price) * 100); ?>
                           
                                    <div class="discount-cover">
                                            <?php echo $_savePercent . "%"; ?>
                                    </div>
                              
                            
                             <?php endif; ?>
              <!--<div class="newimage">-->
                                    <?php
                                    $date1 = new Zend_Date(now());
                                    $date2 = new Zend_Date($_product->news_to_date);
                                    if ($date2->compareDay($date1) <= 0) {
                                        ?>
                                        <div class="new_img_main"><img class="new_img" alt="New" src="<?php echo $this->getSkinUrl('images/new.png'); ?>" /></div>
                                <?php } ?>
                                <!--</div>-->
            </div>
            <?php // Discount percent output end  ?>            
                                    <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>">
                                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(240,300); ?>" width="240" height="300" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
                                    </a>
                                   

                                       <?php if (!$_product->canConfigure() && $_product->isSaleable()): ?>
                                    <div class="custom-action">
                                     <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><i class="fa fa-heart" aria-hidden="true"></i><?php echo $this->__('Wishlist') ?></a>
                                            <?php endif; ?>
                                        |
                                        <button onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <?php echo $this->__('Cart') ?></button>
                                    </div>
                                    <div class="clear"></div>
                                    <?php elseif ($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>

                                    <div class="custom-action">
                                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><i class="fa fa-heart" aria-hidden="true"></i>
                                                <?php echo $this->__('Wishlist') ?></a>
                                            <?php endif; ?>
                                        |
                                        <button onclick="setLocation('<?php echo $_product->getProductUrl() ?>')"><i class="fa fa-eye" aria-hidden="true"></i>
                                    <?php echo $this->__('View') ?></button>
                                    </div>
                                    <div class="clear"></div>

                                    <?php else: ?>

                                    <div class="custom-action">
                                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><i class="fa fa-heart" aria-hidden="true"></i>
                                            <?php echo $this->__('Wishlist') ?></a>
                                        <?php endif; ?>
                                        |
                                        <button ><?php echo $this->__('Out of stock') ?></button>
                                    </div>
                                    <div class="clear"></div>
                                <?php endif; ?>
                                            <h3 class="product-name">
                                                <div class="product_detail">
                                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></div>
                                            </h3>
                                            <div class="action">
                                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                                     <a href="<?php echo $_product->getProductUrl() ?>" class="pull-right"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            </div>
                                    
                                </div>

                                        <?php if($j==8)
                                    {   

                                       break;
                                    }
                                    $j++;
                                     ?>
                            </div>

                        <?php endforeach;?>

                    </div>
                 
                </div>
                <?php if(count($_products)>8)
                    {?>
                         <div class="view-more col-xs-12">
                        <button class="button"><span><span><?php echo $this->__('view more') ?> 
                </span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></button>
                    </div>
                    <?php }

                ?>

<?php else: ?>
    <h3 class="no-product-title"><?php echo $this->__('No Deals available') ?> </h3>
<?php endif; ?>
</div>
</div>
<div class="home col-sm-2">
    </div>
</div>