<?php $Category=Mage::getModel('catalog/category')->load(42);?>
<div class="row home shop-by-brand inner-brand">
	<div class="col-xs-12 col-lg-12 title">
	    <h2><?php echo $Category->getName();?>
			<img src="<?php echo $this->getSkinUrl('images/Title_Underline.png');?>" class="img-responsive">
	    </h2>
	</div>
<div class="col-xs-12 col-lg-12 detail p-0">
<?php $childrencategory = $Category->getChildrenCategories();
$j=1;

foreach ($childrencategory as $category1)
{?>

<?php 

	$img= Mage::getModel('catalog/category')->load($category1->getId())->getThumbnailImageUrl();
	if($img=="")
  {
   $img=$this->getSkinUrl('images/Image_Not_Available.jpg');
  }
?>
<div class="col-sm-3 col-xl-2 col-lg-3 main-class">
	<div class="sub-child">
<a href="<?php echo $category1->getUrl();?>"><img src="<?php echo $img;?>" class="img-responsive"/></a>
</div>
</div>
<?php if($j==8)
{
	break;
}
$j++;
 }

if(count($childrencategory)>8)
    {?>
         <div class="view-more col-xs-12 p-0">
        <a href="<?php echo Mage::getBaseUrl().'all-brands';?>"><button class="button"><span><span><?php echo $this->__('view more') ?> 
</span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></button></a>
    </div>
    <?php }

 if(count($childrencategory)==0)
{ ?>
  
    <h3 class="no-product-title"><?php echo $this->__('No Brand available') ?> </h3>

<?php }
?>
</div>
</div>