<?php 
$supplierdata=mage::getModel('customer/customer')->getCollection() ->addAttributeToSelect('*')
        ->addFieldToFilter('group_id', array('eq' => '7'));?>
<div class="row home shop-by-store">
	<div class="col-xs-12 col-lg-12 title">
	    <h2><?php echo $this->__('Shop By Store') ?>
	    <img src="<?php echo $this->getSkinUrl('images/Title_Underline.png');?>" class="img-responsive"></h2>
	</div>
<div class="col-xs-12 col-lg-12 detail">
	<?php 
	$j=1;
	foreach ($supplierdata as $category1)
	{

		$customer = Mage::getModel('customer/customer')->load($category1->getEntityId());
		 if($customer->getSupplierProfileVisible()) {
	?>
	
	<?php 

		$img = Mage::helper('marketplace')->getSupplierLogo($category1->getEntityId());
		if($img=="")
		{
			$img=$this->getSkinUrl('images/Image_Not_Available.jpg');
		}
			?>
			<div class="col-sm-3 col-md-3 col-xl-2 col-lg-3 main-class">
				<div class="sub-child">
						<a href="<?php echo Mage::helper('marketplace')->getSupplierRawPageUrl($category1->getEntityId());?>"><img src="<?php echo $img;?>" class="img-responsive"/></a>
			</div>
			</div>
		<?php 
					if($j==4)
					{   

					   break;
					}
		$j++;
		}
}	
 if(count($supplierdata)>4)
    {?>
         <div class="view-more col-xs-12">
        <a href="<?php echo Mage::getBaseUrl().'shop-by-store';?>"><button class="button"><span><span><?php echo $this->__('view more') ?> 
</span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></button></a>
    </div>
    <?php }

?>
</div>
</div>
<div class="clearfix"></div>