<?php //$Category=Mage::getModel('catalog/category')->load(43);

?>
 <?php $obj = new Mage_Catalog_Block_Navigation();
 $current_cat= Mage::getModel('catalog/category')->load(43);
 $currentCatId = (is_object($current_cat) ? $current_cat->getId() : '');
 $currentPage = (int) $this->getRequest()->getParam('p', 1);
 $pageSize = 8;
 $collection = Mage::getModel('catalog/category')->getCollection()->addAttributeToFilter('parent_id', 43)
 ->addAttributeToSelect('name')
 ->addAttributeToSelect('url')
 ->setLoadProductCount(1)
 ->setOrder('name', 'asc')
 ->setPage($currentPage, $pageSize);
 $totCat = $collection->getSize();
 $store_cats = $collection->load();
 $pageTot = ceil( $totCat / $pageSize );?>


<div class="row home shop-by-category ">
	<div class="col-xs-12 col-lg-12 title">
	    <h2><?php echo $this->__('Shop By Category') ?>
	    <img src="<?php echo $this->getSkinUrl('images/Title_Underline.png');?>" class="img-responsive"></h2>
	</div>
	<div class="col-xs-12 col-lg-12 p-0 detail category-products">
	<?php //$childrencategory = $Category->getChildrenCategories();
	$j=1;
	
      
	foreach ($store_cats as $category1)
	{?>
		<?php 
		$img= Mage::getModel('catalog/category')->load($category1->getId())->getThumbnailImageUrl();
		if($img=="")
	    {
	        $img=$this->getSkinUrl('images/Image_Not_Available.jpg');
	    }
	    ?>
			<div class="col-sm-3 col-md-3 col-xl-2 col-lg-3 shopbycategory main-class item">
				<div class="sub-child">
					<a href="<?php echo $category1->getUrl();?>"><img src="<?php echo $img;?>" class="img-responsive"/>
					<span ><?php echo $category1->getName();?></span>
					</a>
				</div>
			</div>
	<?php
	if($j==4)
{   

   break;
} 
	$j++;
	}
			 

			 if(count($store_cats)==0)
{ ?>
  
    <h3 class="no-product-title"><?php echo $this->__('No Category available') ?> </h3>

<?php }
?>
				          <?php if(count($store_cats)>4)
			    {?>
				         <div class="view-more col-xs-12">
				        <a href="<?php echo Mage::getBaseUrl().'all-category';?>"><button class="button"><span><span><?php echo $this->__('view more') ?> 
				</span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></button></a>
				    </div>
			    <?php }
?>
			  
	</div>
</div>

