<?php

if (Mage::getSingleton('core/session')->getStoredata())
{
    // Value exists, do stuff
    $supplierdata=Mage::getSingleton('core/session')->getStoredata();
    
}
else
{
    // Value does not exists, do other stuff
    
    $supplierdata=mage::getModel('customer/customer')->getCollection() ->addAttributeToSelect('*')
      ->addFieldToFilter('group_id', array('eq' => '7'));
}

?>
<div id="shop-by-store" class="row home shop-by-store inner-brand">
	<div class="col-xs-12 title">
	    <h2>Shop By Store
	    <img src="<?php echo $this->getSkinUrl('images/Title_Underline.png');?>" class="img-responsive"></h2>
	</div>
<div class="col-xs-12 detail p-0">
	<?php 
	$j=1;
	
	foreach ($supplierdata as $category1)
	{?>
	<?php 

		$img = Mage::helper('marketplace')->getSupplierLogo($category1);
		if($img=="")
		{
			$img=$this->getSkinUrl('images/Image_Not_Available.jpg');
		}
	?>
	<div class="col-sm-3 main-class">
		<div class="sub-child">
				<a href="<?php echo Mage::helper('marketplace')->getSupplierRawPageUrl($category1);?>"><img src="<?php echo $img;?>" class="img-responsive"/></a>
	</div>
	</div>
<?php if($j==12)
{   

   break;
}
$j++;
}
 if(count($supplierdata)>12)
    {?>
         <div class="view-more col-xs-12">
        <a href="<?php //echo $Category->getURL();?>"><button class="button"><span><span>view more 
</span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></button></a>
    </div>
    <?php }

?>
</div>
</div>