<?php
    $_products= Mage::getModel('catalog/product')->getCollection()->addAttributeToSelect('*')
    ->addFieldToFilter('visibility',4)
    ->addAttributeToFilter('status', array('eq' => Mage_Catalog_Model_Product_Status::STATUS_ENABLED))
    ->addFieldToFilter('sponsored_product',array('eq' => '1'))
    ->setPageSize(5);;
    
    
?>

<div class="home row">
<div class="col-xs-12 col-lg-12 no-padding">
    <?php if (($_products)): ?>
    
                <div class=" most_viewed">
                    <?php $_collectionSize = 5;//count($_products->getItems()); echo $_collectionSize; ?>
                    <div class="products-grid col-md-12 p-0 sponsor-product" id="products-grid-table">
                        <div class="sponsor-title"><?php echo $this->__('Sponsored Products') ?></div>
                        <?php $j=1; ?>
                        <?php $i=1; foreach ($_products as $_product): ?>
                               
                            <div class="col-xs-12 col-lg-12 p-0">
                                <div class="thumbnail1">  
                               
                                    <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>">
                                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(240,300); ?>" width="240" height="300" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
                                    </a>
                                    <!--Condition for Timer Controllers goes here-->
                                <?php  $s = Mage::app()->getLayout()->getBlockSingleton('customprice/list');?>

                            <?php /*if($s->getPriceCountDown($_product)) :?>
                                
                                <div id="countbox_<?php echo $count; ?>" class="timer-list"></div>
                                
                                    <div class='clear'></div>
                                    <div class='timerdate' id="caption<?php echo $count; ?>">
                                       
                                    </div>
                                

                            <?php endif;*/ ?>

                            <?php /*if($s->getPriceCountDown($_product)) :
                            
                            ?>
                            <?php $toDate = $_product->getSpecialTODate();?>
                            <script type="text/javascript">
                                var dthen<?php echo $count; ?> = new Date("<?php echo Date("m/d/y", strtotime($toDate)).' 11:59:00 PM'; ?>");
                                start = "<?php echo Date("m/d/y h:i:s A", strtotime(Mage_Core_Model_Locale::date(null, null, "en_US", true))); ?>";
                                start_date = Date.parse(start);
                                var dnow<?php echo $count; ?> = new Date(start_date);
                                if(CountStepper>0)
                                ddiff= new Date((dnow<?php echo $count; ?>)-(dthen<?php echo $count; ?>));
                                else
                                ddiff = new Date((dthen<?php echo $count; ?>)-(dnow<?php echo $count; ?>));
                                gsecs<?php echo $count; ?> = Math.floor(ddiff.valueOf()/1000);
                                var iid<?php echo $count; ?> = "countbox_<?php echo $count; ?>";
                                CountBack(gsecs<?php echo $count; ?>,"countbox_"+timer, timer);
                                timer++;
                            </script>
                            <?php $count = $count + 1; ?>
                            <?php endif;*/?>

                                        <?php if (!$_product->canConfigure() && $_product->isSaleable()): ?>
                                    <div class="custom-action">
                                     <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><i class="fa fa-heart" aria-hidden="true"></i><?php echo $this->__('Wishlist') ?></a>
                                            <?php endif; ?>
                                             <?php $customerGroupId = Mage::getSingleton('customer/session')->getCustomerGroupId();
            if($customerGroupId != 7){ ?>
                                        |
                                        <button onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <?php echo $this->__('Cart') ?></button>
                                    <?php } ?>
                                    </div>
                                    <div class="clear"></div>
                                    <?php elseif ($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>

                                    <div class="custom-action">
                                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><i class="fa fa-heart" aria-hidden="true"></i>
                                                <?php echo $this->__('Wishlist') ?></a>
                                            <?php endif; ?>
                                        |
                                        <button onclick="setLocation('<?php echo $_product->getProductUrl() ?>')"><i class="fa fa-eye" aria-hidden="true"></i>
                                    <?php echo $this->__('View') ?></button>
                                    </div>
                                    <div class="clear"></div>

                                    <?php else: ?>

                                    <div class="custom-action">
                                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><i class="fa fa-heart" aria-hidden="true"></i>
                                            <?php echo $this->__('Wishlist') ?></a>
                                        <?php endif; ?>
                                        |
                                        <button ><?php echo $this->__('Out of stock') ?></button>
                                    </div>
                                    <div class="clear"></div>
                                <?php endif; ?>
                                            <h3 class="product-name">
                                                <div class="product_detail">
                                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></div>
                                            </h3>
                                            <div class="action">
                                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                                     <a href="<?php echo $_product->getProductUrl() ?>" class="pull-right"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="line"></div>
                                    
                                </div>

                                        <?php if($j==12)
                                    {   

                                       break;
                                    }
                                    $j++;
                                     ?>
                            </div>

                        <?php endforeach;?>

                    </div>
                 
                </div>
                
<?php else: ?>
    <h3 class="no-product-title"><?php echo $this->__('No Sponser available')?> </h3>
<?php endif; ?>
</div>
</div>