<?php
$loggedUser = Mage::getSingleton('customer/session', array('name' => 'frontend'));
?>
<div class="col-md-10 pull-right main-container vendor-container">
    <h1 class="text-center e-title"><?php echo $this->__('Request for Category'); ?></h1>
    <!-- <div class="row"> -->
    <div class="col-md-8 col-md-offset-2 form-container">
        <form name="settings_shipping_methods" id="category_form" action="<?php echo Mage::getUrl('*/*/saveCategory') ?>" method="post" enctype="multipart/form-data">
            <div class="form-group col-md-9 p-l-0">
                <label for="category" class="required control-label">
                    <?php echo $this->__('Category Name'); ?>
                    <em>*</em>
                </label>
                <div class="input-container">
                    <input type="text" id="category" name="category" class="input-text required-entry form-control"/>
                </div>
            </div>
            <div class="form-group col-md-3 p-r-0 m-t-25">
                <!-- <label></label> -->
                <!-- <div class="col-md-12 col-sm-4 save-button nopadding"> -->
                <input type="submit" name="submit" class="btn btn-primary" value="<?php echo $this->__('Save') ?>" />
                <!-- </div> -->
            </div>
        </form>
    </div>
    <!-- </div> -->
    <div class="clearfix"></div>
    <div class="col-md-8 col-md-offset-2 form-container">

        <?php
        $customer = Mage::getModel('customcategory/customcategory')->getCollection()
                ->addFieldToFilter('supplier_id', $loggedUser->getCustomer()->getEntityId())
                ->getData();

        if (!empty($customer)) { ?>
            <h2 class="text-center e-sub-title">Category List</h2>
            <div class="table-responsive col-md-12">
                <table class="table table-striped e-order-table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Category Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>

                        <?php
                        $count = 1;
                        foreach ($customer as $key => $value) {
                            # code...
                            ?><tr class="item <?php 

                                    if($value['status']==0)
                                    {
                                        echo "Pending";
                                    }elseif($value['status']==1)
                                    {
                                        echo "success";
                                    }
                                    else
                                    {
                                        echo "danger";
                                    }?>"><td> <?php echo $count; ?></td><td>
                                <?php echo $value['category_name']; ?> </td><td>
                                    <?php 

                                    if($value['status']==0)
                                    {
                                        echo "Pending";
                                    }elseif($value['status']==1)
                                    {
                                        echo "Accepted";
                                    }
                                    else
                                    {
                                        echo "Rejected";
                                    }
                                    $count++; ?>
                                </td></tr>
                                    <?php  } ?>
                            </tbody>
                </table>
            </div>
             <?php  } ?>
        </div>
    
</div>
<script type="text/javascript">
    //<![CDATA[
        var dataForm = new VarienForm('category_form', true);
       
    //]]>
    </script>