<?php
    $loggedUser = Mage::getSingleton( 'customer/session', array('name' => 'frontend') );
    
?>
<div class="col-md-10 pull-right main-container vendor-container">
    <h1 class="text-center e-title"><?php echo $this->__('Add Store'); ?></h1>
    <!-- <div class="row"> -->
         <div class="col-md-8 col-md-offset-2 form-container">
            <form name="settings_shipping_methods" id="addstore_form" action="<?php echo Mage::getUrl('*/*/saveStore') ?>" method="post" enctype="multipart/form-data">
                <div class="form-group col-md-6 p-l-0">
                    <label for="auth_representative" class="required control-label">
                        Authorized Name
                        <em>*</em>
                    </label>
                    <div class="input-container">
                        <input type="text" id="auth_representative" name="authorized_representative" placeholder="Authorized Representative" class="auth_representative input-text required-entry form-control" value=""/>
                    </div>
                </div>
                <div class="form-group col-md-6 p-r-0">
                    <label for="contact_number" class="required control-label">
                        Contact Number
                        <em>*</em>
                    </label>
                    <div class="input-container">
                        <input type="text" id="contact_number" name="contact_number" placeholder="Contact Number" class="input-text required-entry validate-phn form-control" value=""/>
                    </div>
                </div>
                <div class="clearfix"></div>
            <div class="form-group col-md-6 p-l-0">
               <label for="address" class="required control-label">
               Address Line 1
               <em>*</em>
               </label>
               <div class="input-container">
                  <input type="text" name="address"  id="addressline1" placeholder="Address Line 1" class="input-text required-entry form-control" value=""/>
               </div>
            </div>
            <div class="form-group col-md-6 p-r-0">
               <label for="city" class="required control-label">
               City
               <em>*</em>
               </label>
               <div class="input-container">
                  <input type="text"  id="addressline2" placeholder="City" name="city" class="input-text required-entry form-control" value=""/>
               </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-md-6 p-l-0">
               <label for="state" class="required control-label">
               State
               <em>*</em>
               </label>
               <div class="input-container">
                  <input type="text" name="state" id="state" placeholder="State" class="input-text required-entry form-control" value=""/>
               </div>
            </div>
            <div class="form-group col-md-6 p-r-0">
               <label for="country" class="required control-label">
               Country
               <em>*</em>
               </label>
               <div class="input-container">
                  <?php $countries = Mage::getModel('directory/country')->getResourceCollection()
                                                  ->loadByStore()
                                                  ->toOptionArray(true); ?>
                  <?php if (count($countries) > 0): ?>
                      <select name="country" id="country" class="required-entry">
                          <option value="">-- Please Select --</option>
                           <?php foreach($countries as $country):
                              if($country['value']!=""){ ?>
                              <option value="<?php echo $country['value'] ?>" <?php if($country['value']=='') echo 'selected="selected"'; ?> >
                                  <?php echo $country['label'] ?>
                              </option>
                          <?php } endforeach; ?>
                      </select>
                  <?php endif; ?>
               </div>
            </div>
          
           
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="form-group col-md-3 col-md-offset-4 p-r-0 m-t-25">
                    <!-- <label></label> -->
                <!-- <div class="col-md-12 col-sm-4 save-button nopadding"> -->
				    <input type="hidden" name="addstoreID" id="addstoreID" value=""/>
                    <input type="submit" name="submit" class="btn btn-primary" value="<?php echo $this->__('Save') ?>" />
                <!-- </div> -->
            </div>
                </div>
            </form>
        </div>
    <!-- </div> -->
    <div class="clearfix"></div>
    <div class="col-md-8 col-md-offset-2 form-container">
    <?php 

    $customer =  Mage::getModel('addstore/addstore')->getCollection()->addFieldToFilter( 'supplier_id', $loggedUser->getCustomer()->getEntityId())->getData();
    
    if(!empty($customer))
    {?>
        <h2 class="text-center e-sub-title">Store List</h2>
        <div class="table-responsive col-md-12">
        <table class="table table-striped e-order-table">
        <thead>
            <tr>
            <th>Id</th>
            <th>Authorized Name</th>
           
            <th>Address</th>
            <th>Contact No.</th>
            <th>Status</th>
            <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            
       <?php  
       $count=1;
       foreach ($customer as $key => $value) {
		   
		   //echo "<pre/>";
		  // print_r($value);
        # code...
           ?>
            <tr class="item <?php if($value['status']==0)
            {
                echo "Pending";
            }elseif($value['status']==1)
            {
                echo "success";
            }
            else
            {
                echo "danger";
            } ?>"><td>
          <?php echo $count;  
            ?></td><td><?php echo $value['authorized_representative'];?></td>
            <td><?php echo $value['address'];?><br><?php echo $value['city'];?>,<?php echo $value['state'];?><br><?php echo $value['country'];?></td>
            <td><?php echo $value['contact_number'];?></td>
            <td>
                <?php 

            if($value['status']==0)
            {
                echo "Pending";
            }elseif($value['status']==1)
            {
                echo "Accepted";
            }
            else
            {
                echo "Rejected";
            }
            $count++;
            ?></td>
			<td><a href="javascript:;" id="special_<?php echo $value['addstore_id'];?>" >Edit</a></td>
            <!--<td></td>-->
            </tr>
			<script>
			jQuery('#special_<?php echo $value['addstore_id'];?>').on('click', function()
			{
			  jQuery("#auth_representative").val('<?php echo $value['authorized_representative'];?>');			 
			  jQuery("#addstoreID").val('<?php echo $value['addstore_id'];?>');			 
			  jQuery("#contact_number").val('<?php echo $value['contact_number'];?>');
			  jQuery("#addressline1").val('<?php echo $value['address'];?>');
			  jQuery("#addressline2").val('<?php echo $value['city'];?>');
			  jQuery("#state").val('<?php echo $value['state'];?>');
			  jQuery("#country").val('<?php echo $value['country'];?>');
			});
			</script>
        <?php }
    }
     ?>
        </tbody></table>
        </div>
</div>
</div>
<script type="text/javascript">
    //<![CDATA[
        var dataForm = new VarienForm('addstore_form', true);
		 Validation.add('validate-phn', 'Please enter valid Contact no.', function(vs) {
			return Validation.get('IsEmpty').test(vs) || /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/i.test(vs)
		});
    //]]>	
</script>