<?php $_items = $this->getOrder()->getInvoiceCollection();
$current = Mage::app()->getStore()->getCurrentCurrencyCode(); 
$baseCode = Mage::app()->getBaseCurrencyCode();      

$allowedCurrencies = Mage::getModel('directory/currency')->getConfigAllowCurrencies(); 
$rates = Mage::getModel('directory/currency')->getCurrencyRates($baseCode, array_values($allowedCurrencies));
$otherSupplierInvoices = $this->getSupplierItems($_items, 'sales/order_invoice_item');
?>
<div class="col-md-12">
<!-- <div class=""> -->
    <h3 class="text-center e-sub-title"><?php echo $this->__("Invoices"); ?></h3>
    <div class="table-responsive">
        <table class="table table-striped e-order-table">
            <thead>
            <tr>
                <th><?php echo $this->__('Invoice Number'); ?></th>
                <th><?php echo $this->__('Date'); ?></th>
                <th><?php echo $this->__('Amount'); ?></th>
                <th><?php echo $this->__('Action'); ?></th>
            </tr>
            </thead>
            <tbody>
            <?php if($_items->getSize() && count($_items->getData()) > 0): ?>
                <?php
                 $_items_product = $this->getItems();
                 $count = count($_items_product);

                 $count_p = 0;
                 foreach($_items AS $_item) :
                    $storecode = $_item->getOrderCurrencyCode(); 
                    ?>
                    <?php if($_item->getData('parent_item_id') || in_array($_item->getId(), $otherSupplierInvoices)) continue; ?>
                    <tr>
                        <td><?php echo $_item->getIncrementId(); ?></td>
                        <td><?php echo $_item->getCreatedAtDate(); ?></td>
                        <td><?php 
                       
 $connection = Mage::getSingleton('core/resource')->getConnection('core_read');
                        
                

           
              foreach ($_items_product as $_item_p) {
                  # code...
              
                
             $pid = $_item_p->getProductId();
            $Qnt = $_item_p->getQty();
            $_productsss = Mage::getModel('catalog/product')->load($pid);
            $method = $_productsss->getShippingMethod();          


            $sql  = "SELECT * FROM `marketplace_supplier_shipping_methods` WHERE `supplier_id`= '".$_productsss->getCreatorId()."'  AND `name` = '".$method."'";
                $rowssss = $connection->fetchAll($sql);
                

                if(count($rowssss) > 0){
                if($rowssss[0]['flat_rate_available'] == true){
                    $shipping_price[$pid] = $rowssss[0]['flat_rate_fee'] * $Qnt[1];
                    $shipping_baseprice[$pid] = $rowssss[0]['flat_rate_fee'];
                }
                if($rowssss[0]['table_rate_available'] == true){
                    $shipping_price[$pid] = $rowssss[0]['table_rate_fee'] * $Qnt[1];
                    $shipping_baseprice[$pid] = $rowssss[0]['table_rate_fee'];
                }
                }else{
                    $shipping_price[$pid] = '';
                    $shipping_baseprice[$pid] = '';
                }
                if($count > 1){
                 $shipprice += $shipping_baseprice[$pid];

                }else{

                    $shipprice = $shipping_baseprice[$pid];
                }
                
                 
 }
               

               //  var_dump($_item->getShippingAmount());



                        if($current == 'OMR'){  
                             if($storecode == 'AED'){
  
                 
                 
                                $subtotal = ($_item->getSubtotal() / $rates['AED']);
                                
                                $shipprice = ($shipprice / $rates['AED']);

                                
                                $total = ($subtotal + $shipprice);
                               // $finalsubprice = round($total / $rates['AED'],3);
                                $finalsubprice = number_format(round(($total),2),3);
                                echo $current.$finalsubprice;
                             }
                             else{
                               $total = ($_item->getSubtotal() + $shipprice);
                                //echo $current.round($total,3);
                                echo $current.'&nbsp;'.number_format(round($total,2),3);
                                //echo Mage::helper('core')->currency($_item->getGrandTotal()); 
                             }
                        }
                        else{

                             if($storecode == 'OMR'){
                                /*echo $_item->getSubtotal();
                                echo "<br>";
                                echo $shipprice;
                                echo "<br>";
                                echo $rates['AED'];
                                echo "<br>";*/

                                $total = ($_item->getSubtotal() + $shipprice);
                                //$finalsubprice = round($total * $rates['AED'],3);

                                //echo Mage::helper('core')->currency($total, true, false);

                                $finalsubprice = number_format(round(($total * $rates['AED']),2),3);
                                echo $current.$finalsubprice;
                             }
                             else{

                                $total = ($_item->getSubtotal() + $shipprice);
                               // echo $current.round($total,3);
                                
                                 echo $current.'&nbsp;'.number_format(round($total,2),3);
                                //echo Mage::helper('core')->currency($_item->getGrandTotal()); 
                             } 

                        }     
                       /* if($current == $storecode){
                            echo $current.($_item->getSubtotal() + $_item->getShippingAmount());
                            //$_item->getGrandTotal()
                        }
                        else{
                        echo Mage::helper('core')->currency($_item->getGrandTotal(), true, false);
                        }*/
                        ?>    
                        </td>
                        <td><a class="btn btn-primary btn-sm" href="<?php echo Mage::getUrl('marketplace/invoice/print', array('id' => $_item->getId()));?>"><?php echo $this->__('Print'); ?></a></td>
                    </tr>
                <?php endforeach; ?>
                <?php if($this->canCreateInvoice($this->getOrder()->getAllItems())): ?>
                    <td colspan="3"><?php echo $this->__("No Invoices"); ?></td>
                    <td><a href="<?php echo Mage::getUrl('marketplace/invoice/create/', array('id' => $this->getOrder()->getId())) ?>" class="btn btn-primary btn-sm"><?php echo $this->__('Create'); ?></a></td>
                <?php endif; ?>
            <?php else: ?>
                <td colspan="3"><?php echo $this->__("No Invoices"); ?></td>
                <td><a href="<?php echo Mage::getUrl('marketplace/invoice/create/', array('id' => $this->getOrder()->getId())) ?>" class="btn btn-primary btn-sm"><?php echo $this->__('Create'); ?></a></td>
            <?php endif; ?>
            </tbody>
        </table>
    </div>
<!-- </div> -->
</div>