<?php $_items = $this->getOrder()->getInvoiceCollection();
$current = Mage::app()->getStore()->getCurrentCurrencyCode(); 
$baseCode = Mage::app()->getBaseCurrencyCode();      

$allowedCurrencies = Mage::getModel('directory/currency')->getConfigAllowCurrencies(); 
$rates = Mage::getModel('directory/currency')->getCurrencyRates($baseCode, array_values($allowedCurrencies));
$otherSupplierInvoices = $this->getSupplierItems($_items, 'sales/order_invoice_item');
?>
<div class="col-md-12">
<!-- <div class=""> -->
    <h3 class="text-center e-sub-title"><?php echo $this->__("Invoices"); ?></h3>
    <div class="table-responsive">
        <table class="table table-striped e-order-table">
            <thead>
            <tr>
                <th><?php echo $this->__('Invoice Number'); ?></th>
                <th><?php echo $this->__('Date'); ?></th>
                <th><?php echo $this->__('Amount'); ?></th>
                <th><?php echo $this->__('Action'); ?></th>
            </tr>
            </thead>
            <tbody>
            <?php if($_items->getSize() && count($_items->getData()) > 0): ?>
                <?php foreach($_items AS $_item) :
                    $storecode = $_item->getOrderCurrencyCode(); 
                    ?>
                    <?php if($_item->getData('parent_item_id') || in_array($_item->getId(), $otherSupplierInvoices)) continue; ?>
                    <tr>
                        <td><?php echo $_item->getIncrementId(); ?></td>
                        <td><?php echo $_item->getCreatedAtDate(); ?></td>
                        <td><?php 


                        if($current == 'OMR'){  
                             if($storecode == 'AED'){
                                $total = ($_item->getSubtotal() + $_item->getShippingAmount());
                                $finalsubprice = round($total / $rates['AED'],3);
                                echo $current.$finalsubprice;
                             }
                             else{
                                $total = ($_item->getSubtotal() + $_item->getShippingAmount());
                                echo $current.round($total,3);
                                //echo Mage::helper('core')->currency($_item->getGrandTotal()); 
                             }
                        }
                        else{

                             if($storecode == 'OMR'){
                                $total = ($_item->getSubtotal() + $_item->getShippingAmount());
                                $finalsubprice = round($total * $rates['AED'],3);
                                echo $current.$finalsubprice;
                             }
                             else{
                                $total = ($_item->getSubtotal() + $_item->getShippingAmount());
                                echo $current.round($total,3);
                                //echo Mage::helper('core')->currency($_item->getGrandTotal()); 
                             } 

                        }     

                       /* if($current == $storecode){
                            echo $current.($_item->getSubtotal() + $_item->getShippingAmount());
                            //$_item->getGrandTotal()
                        }
                        else{
                        echo Mage::helper('core')->currency($_item->getGrandTotal(), true, false);
                        }*/
                        ?>    
                        </td>
                        <td><a class="btn btn-primary btn-sm" href="<?php echo Mage::getUrl('marketplace/invoice/print', array('id' => $_item->getId()));?>"><?php echo $this->__('Print'); ?></a></td>
                    </tr>
                <?php endforeach; ?>
                <?php if($this->canCreateInvoice($this->getOrder()->getAllItems())): ?>
                    <td colspan="3"><?php echo $this->__("No Invoices"); ?></td>
                    <td><a href="<?php echo Mage::getUrl('marketplace/invoice/create/', array('id' => $this->getOrder()->getId())) ?>" class="btn btn-primary btn-sm"><?php echo $this->__('Create'); ?></a></td>
                <?php endif; ?>
            <?php else: ?>
                <td colspan="3"><?php echo $this->__("No Invoices"); ?></td>
                <td><a href="<?php echo Mage::getUrl('marketplace/invoice/create/', array('id' => $this->getOrder()->getId())) ?>" class="btn btn-primary btn-sm"><?php echo $this->__('Create'); ?></a></td>
            <?php endif; ?>
            </tbody>
        </table>
    </div>
<!-- </div> -->
</div>