<?php $_order = $this->getOrder();
 $orderStore = $_order->getOrderCurrencyCode();
 $current = Mage::app()->getStore()->getCurrentCurrencyCode();  

$baseCode = Mage::app()->getBaseCurrencyCode();      

$allowedCurrencies = Mage::getModel('directory/currency')->getConfigAllowCurrencies(); 
$rates = Mage::getModel('directory/currency')->getCurrencyRates($baseCode, array_values($allowedCurrencies));

?>
<?php $_items = $this->getItems(); ?>
<?php $_shippingAddress = $this->getOrder()->getShippingAddress(); ?>
<?php $_billingAddress = $this->getOrder()->getBillingAddress(); ?>
<?php $_giftModel = Mage::getModel('giftmessage/message')->getCollection()->getData();?>

<div class='order-page'>
    <div class="col-md-8 col-sm-12">
        <h3 class="e-sub-title"><?php echo $this->__("Billing Address"); ?></h3>
        <p><?php echo $this->escapeHtml($_billingAddress->getFirstname()); ?> <?php echo $this->escapeHtml($_billingAddress->getLastname()); ?></p>
        <p><?php echo $this->escapeHtml(join(' ', $_billingAddress->getStreet())); ?></p>
        <p><?php echo $this->escapeHtml($_billingAddress->getCity()); ?> <?php echo $this->escapeHtml($_billingAddress->getRegion()); ?>, <?php echo $this->escapeHtml($_billingAddress->getPostcode()); ?></p>
        <?php $countryCode = $this->escapeHtml($_billingAddress->getCountry()); ?>
        <?php $country = Mage::getModel('directory/country')->loadByCode($countryCode); ?>
        <p><?php echo $this->escapeHtml($country->getName()); ?></p>
    </div>
    <?php if($_shippingAddress) : ?>
    <div class="col-md-4 col-sm-12">
        <h3 class="e-sub-title"><?php echo $this->__("Shipping Address"); ?></h3>
        <p><?php echo $this->escapeHtml($_shippingAddress->getFirstname()); ?> <?php echo $this->escapeHtml($_shippingAddress->getLastname()); ?></p>
        <p><?php echo $this->escapeHtml(join(' ', $_shippingAddress->getStreet())); ?></p>
        <p><?php echo $this->escapeHtml($_shippingAddress->getCity()); ?> <?php echo $this->escapeHtml($_shippingAddress->getRegion()); ?>, <?php echo $this->escapeHtml($_shippingAddress->getPostcode()); ?></p>
        <?php $countryCode = $this->escapeHtml($_shippingAddress->getCountry()); ?>
        <?php $country = Mage::getModel('directory/country')->loadByCode($countryCode); ?>
        <p><?php echo $this->escapeHtml($country->getName()); ?></p>
    </div>
    <?php endif ;?>

</div>

<div class=''>
    <div class='col-md-12'>
        <h3 class="text-center e-sub-title"><?php echo $this->__("Ordered Items"); ?></h3>
        <div class="table-responsive">
            <table class="table table-striped e-order-table">
                <thead>
                <tr>
                    <th><?php echo $this->__('Product'); ?></th>
                    <th><?php echo $this->__('Item Status'); ?></th>
                    <th><?php echo $this->__('Price'); ?></th>
                    <th><?php echo $this->__('Qty'); ?></th>
                    <th><?php echo $this->__('Row Total'); ?></th>
                </tr>
                </thead>
                <tbody>
                <?php $sumPrice = 0; $sumQty = 0; $sumRowTotal = 0;?>
                <?php foreach($_items AS $_item) : ?>
                    <?php if($_item->getData('parent_item_id')) continue; ?>
                    <tr>
                        <td>
                            <?php echo $this->escapeHtml($_item->getName()); ?>
                            <?php $data = unserialize($_item->getData('product_options')); ?>
                            <?php if(isset($data['attributes_info'])): ?>
                                <dl>
                                    <?php foreach($data['attributes_info'] AS $attribute): ?>
                                        <dt><?php echo $attribute['label']; ?></dt>
                                        <dd><?php echo $attribute['value']; ?></dd>
                                    <?php endforeach; ?>

                                </dl>
                            <?php endif;?>
                            <?php if($_item->getData('gift_message_id')!==NULL):?>
                                <dl>
                                <?php foreach($_giftModel as $giftData):
                                    if($giftData['gift_message_id']==$_item->getData('gift_message_id')):;?>
                                        <dt><?php echo $this->__("Item Gift Details:"); ?></dt>
                                        <dd><strong>Sender: </strong><?php echo $this->escapeHtml($giftData['sender']); ?></dd>
                                        <dd><strong>Recipient: </strong><?php echo $this->escapeHtml($giftData['recipient']); ?></dd>
                                        <dd><strong>Gift Message: </strong><?php echo $this->escapeHtml($giftData['message']); ?></dd>
                                    <?php endif;?>
                                <?php endforeach;?>
                                </dl>
                            <?php endif;?>
                        </td>
                        <td><?php echo $_item->getStatus(); ?></td>
                        <td><?php 
                            /*$_orderS = Mage::getModel('sales/order')->load($_order->getId());
                            $_shippingAddress = $_orderS->getShippingAddress();
                            $items = $_orderS->getAllItems();
                            $itemcount=count($items);
                            $sumsss = 0; $sumgrand = 0;
                            $current = Mage::app()->getStore()->getCurrentCurrencyCode();
                            $baseCurrency = Mage::app()->getStore()->getBaseCurrencyCode();
                            foreach ($items as $itemId => $item)
                            {
                                $sumsss += $_item->getPrice();
                                $sumgrand += $_item->getRowTotal();     
                            }
                            if($_shippingAddress->getCountry_id() == 'AED'){
                               
                                $base = Mage::helper('directory')->currencyConvert($sumsss, $baseCurrency, $current);
                                $sumgrandbase = Mage::helper('directory')->currencyConvert($sumsss, $baseCurrency, $current);
                                $wallate = number_format($base,3);
                                $wallategrand = number_format($sumgrandbase,3);
                               
                            } else {                   
                                $wallate = number_format($sumsss, 3);
                                $wallategrand = number_format($sumgrand,3);
                               
                            }  */  
                        if($current == 'OMR'){

                             if($orderStore == 'AED'){
                                //$sumPriceS = $sumPrice + $_item->getPrice();

                                //$finalprice = round($_item->getPrice() / $rates['AED'],3);
                                $finalprice = number_format(round(($_item->getPrice() / $rates['AED']),2),3);
                                echo $current.$finalprice;
                             }
                             else{
                              //echo $current.$_item->getPrice();
                                echo $current.number_format(round($_item->getPrice(),2),3);
                                //echo Mage::helper('core')->currency($_item->getPrice()); 
                             }   

                           /* if($current == $orderStore){ 
                                $sumPriceS = $sumPrice + $_item->getPrice();
                                echo $current.$sumPriceS;
                            }
                            else{
                                echo Mage::helper('core')->currency($_item->getPrice()); 
                            }   */ 
                        }
                        else{

                             if($orderStore == 'OMR'){
                                //$sumPriceS = $sumPrice + $_item->getPrice();

                               // $finalprice = round($_item->getPrice() * $rates['AED'],3);
                                $finalprice = number_format(round(($_item->getPrice() * $rates['AED']),2),3);
                                echo $current.$finalprice;
                             }
                             else{
                                //echo $current.round($_item->getPrice(),3);
                                echo $current.number_format(round($_item->getPrice(),2),3);
                                //echo Mage::helper('core')->currency($_item->getPrice());
                             } 

                        }    
                        //$sumPriceS = $sumPrice + $_item->getPrice(); 
                       //echo Mage::helper('core')->currency($_item->getPrice()); 
                       // echo  $wallate; ?></td>
                        <td>
                            <?php 
                                $sumQty = $sumQty + $_item->getQtyOrdered(); 
                                echo $_item->getQtyOrdered();
                            ?>                                
                        </td>
                        <td><?php 

                        if($current == 'OMR'){

                             if($orderStore == 'AED'){
                                //$finalprice = round($_item->getRowTotal() / $rates['AED'],3);
                                $finalprice = number_format(round(($_item->getRowTotal() / $rates['AED']),2),3);
                                $grandtotal +=round($_item->getRowTotal() / $rates['AED'],2);
                                echo $current." ".$finalprice;
                             }
                             else{
                                //echo $current.round($_item->getRowTotal(),3);
                                echo $current." ".number_format(round($_item->getRowTotal(),2),3);
                                //echo Mage::helper('core')->currency($_item->getRowTotal());
                                $grandtotal = $grandtotal + $_item->getRowTotal();
                             }   
                           /* if($current == $orderStore){ 
                                $sumPriceS = $sumPrice + $_item->getPrice();
                                echo $current.$sumPriceS;
                            }
                            else{
                                echo Mage::helper('core')->currency($_item->getPrice()); 
                            }   */ 
                        }
                        else{

                             if($orderStore == 'OMR'){
                                //$finalprice = round($_item->getRowTotal() * $rates['AED'],3);
                                $finalprice = number_format(round(($_item->getRowTotal() * $rates['AED']),2),3);
                                 $grandtotal += round($_item->getRowTotal() * $rates['AED'],2);
                                 echo $current." ".$finalprice;
                             }
                             else{
                               // echo $current.round($_item->getRowTotal(),3);
                                 echo $current." ".number_format(round($_item->getRowTotal(),2),3);
                                //echo Mage::helper('core')->currency($_item->getRowTotal()); 
                                $grandtotal = $grandtotal + $_item->getRowTotal();
                             } 

                        } 

                       /* if($current == $orderStore){
                            $sumRowTotal = $sumPrice + $_item->getRowTotal();
                            echo $current.$sumRowTotal;
                            $grandtotal += $sumRowTotal;
                        }
                        else{
                            echo Mage::helper('core')->currency($_item->getRowTotal());
                            $grandtotal = $grandtotal + $_item->getRowTotal();
                            //$grandtotal += $sumRowTotal; 
                        }  */ 
                        //echo $sumRowTotal;
                       /*  $sumRowTotal = $sumRowTotal + $_item->getRowTotal();
                          echo Mage::helper('core')->currency($_item->getRowTotal());  */
                        //echo $wallategrand; ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
                <tfoot>
                <th colspan="3"></th>
                <th><?php echo $sumQty; ?></th>
                <th><?php   echo $current." ".number_format(round($grandtotal,2),3);
               /* if($current == 'OMR'){
                     if($orderStore == 'AED'){ 
                        echo $current.round($grandtotal,3);
                     }
                     else{
                       echo $current.round($grandtotal,3);
                     } 
                }
                else{
                     if($orderStore == 'OMR'){
                        echo $current.round($grandtotal,3);
                     }
                     else{
                       echo $current.round($grandtotal,3);
                     } 
                }*/
                //echo Mage::helper('core')->currency($grandtotal); ?></th>
                </tfoot>
            </table>
        </div>
    </div>
</div>
