



<?php $_product = $this->getProduct() ?>
<?php
					
					$stocklevel = (int)Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product)->getQty();
					//echo "<pre/>";
					//print_r($stocklevel);
				?>

<input type="hidden" id="get_url" value="<?php echo $this->getBaseUrl();?>">

<?php if($_product->isSaleable()): ?>

    <fieldset class="qtyswitcher-add-to-cart-box ">

		<div class="qtyswitcher-qty">

	        <?php if(!$_product->isGrouped()): ?>

	        <span id="qtyswitcher-qty-box"><label for="qty"><?php echo $this->__('QUANTITY') ?></label></span>

	        <div class="qty-sub">

		     	<input type='button' id="qtyswitcher-oneless" class='qtyswitcher.btn' onclick="qtyswitcher.removeOne('qtyswitcher-qty','qtyswitcher-clone-qty')"/>

			   

			   <?php if(!is_numeric($this->getMinimalQty($_product))) : $qty= 1; ?>

			   <?php else : $qty=$this->getMinimalQty($_product);?>

			   <?php endif; ?>

				

				
				<input type="text" class="input-text clone-qty" id="qtyswitcher-clone-qty" maxlength="12" value="<?php echo $qty;?>" onkeypress="return isNumber(event)" />

				<input type="hidden"  name="qty" id="qtyswitcher-qty" value="<?php echo $qty;?>"/>

				<input type='button' id="qtyswitcher-onemore" class='qtyswitcher.btn' onclick="qtyswitcher.addOne('qtyswitcher-qty','qtyswitcher-clone-qty');"/>

			</div>

		</div>

		<?php else :?>



			<script language="javascript">qtyswitcher.groupedInit("<?php echo $this->__('QUANTITY'); ?>")</script>

		<?php endif; ?>

		

		<?php echo $this->getTierPriceHtml(); ?>

		 <div id="SCPcustomOptionsDiv"></div>	

		 <div style="clear:both"></div>

		  <div class="price-info totalpricemain">

    		<div class="price-box totalprice" style="display:block">

    				<span class="label">

    					<span class="total_price">TOTAL PRICE:</span>

    				</span>

                    <span class="regular-price" >

                        <span class="price">	<?php $_producte = Mage::getModel('catalog/product')->load($_product->getId());

					  $formattedPrice = Mage::helper('core')->currency($_producte->getFinalPrice(),true,false);

				echo $formattedPrice;





		 	 ?></span>

                    </span>

                        

        	</div>



                                        

        </div>
                  <?php if (!$this->hasOptions()):?>
                    <div class="add-to-box">
                        <?php if($_product->isSaleable()): ?>
                            <?php echo $this->getChildHtml('addtocart') ?>
                            
                            <?php /*if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                                <span class="or"><?php echo $this->__('OR') ?></span>
                            <?php endif;*/ ?>
                        <?php endif; ?>
                        <?php //echo $this->getChildHtml('addto') ?>
                       
                    </div>
                    <?php echo $this->getChildHtml('extra_buttons') ?>
                <?php elseif (!$_product->isSaleable()): ?>
                    <div class="add-to-box">
                        <?php //echo $this->getChildHtml('addto') ?>
                        <?php //echo $this->getChildHtml('sharing') ?>
                    </div>
                <?php endif; ?>
                <?php 
                    $statusVisible = $_product->isVisibleInSiteVisibility();
                    $productStatus = $_product->getFrontendproductProductStatus();
                ?>        

		<div id="qtyswitcher-btn-picto"><button onclick="productAddToCartForm.submit(this)" class="button btn-cart" title="Add to Cart" type="button" id="addToCartButton" <?php echo(!$statusVisible || $productStatus == 0) ? "disabled=true" : ''; ?>><span><?php echo $this->__('Add to Cart')  ?></span></button></div>
		<div id="buynow-btn-picto">
			<button onclick="productBuyNowForm.submit(this)" class="button btn-cart" title="Add to Cart" type="button" id="addToCartButton" <?php echo(!$statusVisible || $productStatus == 0) ? "disabled=true" : ''; ?>><span><?php echo $this->__('Buy Now')  ?></span></button></div>

    </fieldset>

<?php endif; ?>
<script type="text/javascript">
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;	
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}


</script>