<?php $_product = $this->getProduct();
$_coreHelper = $this->helper('core');
?>
<?php
					
			$stocklevel = (int)Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product)->getQty();
			//echo "<pre/>";
			//print_r($stocklevel);
		?>

<input type="hidden" id="get_url" value="<?php echo $this->getBaseUrl();?>">

<?php if($_product->isSaleable()): ?>

    <fieldset class="qtyswitcher-add-to-cart-box ">

		<div class="qtyswitcher-qty col-md-6">

	        <?php if(!$_product->isGrouped()): ?>

	        <span id="qtyswitcher-qty-box"><label for="qty"><?php echo $this->__('QUANTITY') ?></label></span>

	        <div class="qty-sub">

		     	<input type='button' id="qtyswitcher-oneless" class='qtyswitcher.btn' onclick="qtyswitcher.removeOne('qtyswitcher-qty','qtyswitcher-clone-qty')"/>

			   

			   <?php if(!is_numeric($this->getMinimalQty($_product))) : $qty= 1; ?>

			   <?php else : $qty=$this->getMinimalQty($_product);?>

			   <?php endif; ?>
               <input type="hidden" name="availstocklimit" id="availstocklimit" value="<?php echo $stocklevel; ?>">
               
				<input type="text" class="input-text clone-qty" id="qtyswitcher-clone-qty" maxlength="12" value="<?php echo $qty;?>" onkeypress="return isNumber(event)"  <?php if($_product->getTypeId() != 'configurable') { ?> onblur="checkQuantity(this.value)" onkeyup="checkQuantity1(this.value)" <?php } ?>>
                <!-- onkeypress="return isNumber(event)" / -->
				<input type="hidden"  name="qty" id="qtyswitcher-qty" value="<?php echo $qty;?>"/>

				<input type='button' id="qtyswitcher-onemore" class='qtyswitcher.btn' onclick="qtyswitcher.addOne('qtyswitcher-qty','qtyswitcher-clone-qty');"/>

			</div>
            <span class="qloader" style="display:none"></span>
		</div>

		<?php else :?>



			<script language="javascript">qtyswitcher.groupedInit("<?php echo $this->__('QUANTITY'); ?>")</script>

		<?php endif; ?>

		

		<?php echo $this->getTierPriceHtml(); ?>

		 <div id="SCPcustomOptionsDiv"></div>	

		 <div style="clear:both"></div>

		  <div class="price-info totalpricemain">

    		<div class="price-box totalprice" style="display:block">

    				<span class="label">

    					<span class="total_price"><?php echo $this->__('TOTAL PRICE'); ?>:</span>

    				</span>

                    <span class="regular-price" >

                        <span class="price">	
						<?php 
						$_producte = Mage::getModel('catalog/product')->load($_product->getId());
						 $current = Mage::app()->getStore()->getCurrentCurrencyCode(); 
						$baseCurrencyrate =  Mage::app()->getStore()->getCurrentCurrencyRate();
						
						 if($current == 'AED'){  	
							$orignalprice =  $_producte->getFinalPrice()  *  $baseCurrencyrate;
								$_price = round($orignalprice,3);
								$a = number_format(round($_price,2),3);
								echo  $_coreHelper->formatPrice($a, true);							
						 } else {
							// echo Mage::helper('core')->currency($_producte->getFinalPrice(),true,false);
							$orignalprice = $_producte->getFinalPrice() ;
							echo $current .number_format(round($orignalprice,2),3);
						 }	 
					/*$finalprice = number_format(round($_producte->getFinalPrice(),2),3);
					  $formattedPrice = Mage::helper('core')->currency($finalprice,true,false);					
				        echo $formattedPrice;*/


		 	 ?></span>
                    </span>
        	</div> 
        </div>
                  <?php if (!$this->hasOptions()):?>
                    <div class="add-to-box">
                        <?php if($_product->isSaleable()): ?>
                            <?php echo $this->getChildHtml('addtocart') ?>
                            
                            <?php /*if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                                <span class="or"><?php echo $this->__('OR') ?></span>
                            <?php endif;*/ ?>
                        <?php endif; ?>
                        <?php //echo $this->getChildHtml('addto') ?>
                       
                    </div>
                    <?php echo $this->getChildHtml('extra_buttons') ?>
                <?php elseif (!$_product->isSaleable()): ?>
                    <div class="add-to-box">
                        <?php //echo $this->getChildHtml('addto') ?>
                        <?php //echo $this->getChildHtml('sharing') ?>
                    </div>
                <?php endif; ?>
                <?php 
                    $statusVisible = $_product->isVisibleInSiteVisibility();
                    $productStatus = $_product->getFrontendproductProductStatus();
                ?>        
             <?php
                $customerGroupId = Mage::getSingleton('customer/session')->getCustomerGroupId();
                if($customerGroupId != 7){ ?>
            
		          <div id="qtyswitcher-btn-picto"><button onclick="productAddToCartForm.submit(this)" class="button btn-cart" title="Add to Cart" type="button" id="addToCartButton" <?php echo(!$statusVisible || $productStatus == 0) ? "disabled=true" : ''; ?>><span><?php echo $this->__('Add to Cart')  ?></span></button></div>

    		  <div id="buynow-btn-picto">
    			<button onclick="productBuyNowForm.submit(this)" class="button btn-cart buynow" title="Add to Cart" type="button" id="addToCartButton" <?php echo(!$statusVisible || $productStatus == 0) ? "disabled=true" : ''; ?>><span><?php echo $this->__('Buy Now')  ?></span></button></div>
            <?php } ?>
    </fieldset>

<?php endif; ?>
<script type="text/javascript">
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;	
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}

function checkQuantity(val){
    //alert(val);
    var availstock = "<?php echo $stocklevel; ?>";
   // alert(availstock)
    if(val > parseInt(availstock)){
        document.getElementsByClassName("buynow")[0].disabled = true;
        alert('* Error: Enter quantity is greater than available stock.');
        return false;
    }
    else{
        document.getElementsByClassName("buynow")[0].disabled = false;
    }
}

function checkQuantity1(val){
    if(val == 0){
        jQuery("#qtyswitcher-clone-qty").val(1);
    }
    jQuery("#qtyswitcher-qty").val(val);
}


</script>