<?php
$currentPage = (int) $this->getRequest()->getParam('p', 1);

$pageSize = 20;

$collection = $this->getCollection();
/*echo "<pre>";
print_r($collection);
echo "</pre>";*/

$totCat = $collection->getSize();
$store_cats = $collection->load();

$pageTot = ceil( $totCat / $pageSize );

?>

<ul class="pagination">
    <?php if($pageTot > 1) : ?>
        <?php for ( $i=1; $i<=$pageTot; $i++ ) : ?>
            <?php if ( $i == $currentPage ) : ?>
                <li class="current">
                    <a href="<?php echo Mage::getUrl('marketplace/rma_supplier/list/', array('p' => $i)); ?>"><?php echo $i ?></a>
                </li>
            <?php else : ?>
                <li>
                    <a href="<?php echo Mage::getUrl('marketplace/rma_supplier/list/', array('p' => $i)); ?>"><?php echo $i ?></a>
                </li>
            <?php endif; ?>
        <?php endfor; ?>
    <?php endif; ?>
</ul>
