<?php //echo "Hello"; ?>
<?php //echo $this->getContent(); ?>
<?php /*?><?php $detail = $this->getDetail(); 
echo "<pre>"; print_r($detail);
foreach($detail as $a)
{
	echo $a->getTestId();
}?>
<?php 
echo "<br/>";
$model = Mage::getModel('test/test');
$model->loadbyfield('title','Saurabh');
echo $model->getTestId();?>
<?php */?>

<?php
$data = Mage::getModel('shippinginfo/shippinginfo')->getCollection();
$data->getSelect()->where("`status` = 1");
//echo "<pre>"; print_r($data->getData());

?>

      
<div id="featured" class="shipping-list" style="display: none;">   
    <label><?php echo $this->__('Shipping')?></label>
	<select id="shippinginfo">
		<option value=""><?php echo $this->__('Please select')?></option>
<?php foreach($data->getData() as $i):?>

<option value="<?php echo $i['state'];?>"><?php echo $i['state'];?></option>
<?php endforeach;?>
</select>
    <button type="button" class="btn btn-large btn-shipping" id="shippinginfo_btn">Show</button>
    <p class="shipping-text"></p>
</div>

<script type="text/javascript">
jQuery(document).ready(function (){
jQuery('#shippinginfo_btn').on('click', function() {
	var vid=jQuery('#shippinginfo').val();
jQuery.ajax({
               type: "POST",
               url: '<?php echo $this->getBaseUrl()?>shippinginfo/index/info',
               data:{"vid":vid},
               dataType: "json",
               success: function (result) {
               	
                   if (result.status) {
                      
                       jQuery(".shipping-text").html('<?php echo $this->__('Estimated Delivery Price')?> <b>'+result.message+' for '+result.state+'</b>');
                   } else {
                    
                    jQuery(".shipping-text").html('Something went wrong please try again later..!!');
                   }
               },

               
               });
           });

});
</script>