body {
    /*padding-top: 50px;*/
}
.cminds .page .main-container{
    padding: 0px !important;max-width:100%
}
.container-fluid.main-container {
    padding: 40px 15px;
    text-align: center;
}

.nav>li {
    display: block!important;
    width: 100%;
}
.navbar-fixed-top {
    background-color: #000;
}
.form-container {
    margin: 0 auto;
    float:none;
}

.label-container {
    text-align: left;
    clear: both;
}
.input-container {
    text-align: left;
    clear: both;
}

ul.messages {
    padding: 8px 35px 8px 14px;
    margin: 10px 0 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    list-style-type: none;
    color: #b94a48;
    background-color: rgba(242, 106, 56, 0.19);
    border-color: rgba(242, 106, 56, 0.19);
}
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
}


.photo.container li{
    display: inline-block;
    list-style: none;
    position: relative;
    width: 171px;
    height: 171px;
}

.photo.container li .remove {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

[class^="icon-"], [class*=" icon-"] {
    background-image : url("../../images/glyphicons-halflings.png")
}

.photo-content {
    clear: both;
    margin-left: 0px;
}

.sidebar {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 15px;
}
ul.category-list {
    clear: both;
    list-style: none;
    width: 90%;
    margin: 0 auto 0 15px!important;
}
.thumbnail .remove {
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
}
.thumbnail .default {
    position: absolute;
    top: 0;
    right: 26px;
    cursor: pointer;
}

ul li {
    position: relative;
}
li.thumbnail {
    margin-bottom: 20px;
    background-color: #fff;
}
li.thumbnail.main {
    border: 1px solid #5cb85c;
    width: auto !important;
    min-height: 0px !important;
}

.thumbnail>img {
    padding : 5px 0;
}
div.span3.photos {
    margin-left: 0;
    float: none;
}

div.span3.photos > ul{
    margin-left: 0px;
    margin-top: 40px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-body {
    padding: 15px;
}


div#file_upload-button {
    /* display: inline-block; */
    padding: 0px 0px;
    width: 165px !important;
    /* margin-bottom: 0; */
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top,#08c,#04c);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
    background-image: -webkit-linear-gradient(top,#08c,#04c);
    background-image: -o-linear-gradient(top,#08c,#04c);
    background-image: linear-gradient(to bottom,#08c,#04c);
    background-repeat: repeat-x;
    border-color: #04c #04c #002a80;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
    margin-left: 20px;
}
object#SWFUpload_0 {
    height: 32px;
    margin-left: -41px;
    width: 168px;
}
h1 {
    margin-bottom: 70px;
}

.pagination>li {
    display: inline;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #428bca;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

div.login-form {
    text-align: center;
}
input.validation-failed, textarea.validation-failed {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

input.validation-failed:focus, textarea.validation-failed:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}

div.validation-advice {
    color: #a94442;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 20px;
}

.navbar-right {
    float: right!important;
}

body.supplierfrontendproductuploader-body {
    padding-top: 0px;
}

body.supplierfrontendproductuploader-body .container {
}

body.supplierfrontendproductuploader-body .col3-layout .col-wrapper {
    width:100%;
}

body.supplierfrontendproductuploader-body .col3-layout .col-wrapper .col-main {
    width: 100%;
}

body.supplierfrontendproductuploader-body .main-container {
}

body.supplierfrontendproductuploader-body .span12 {
    width: 930px;
}

body.supplierfrontendproductuploader-body .span9 {
    width: 100%;
}

body.supplierfrontendproductuploader-body .container-fluid {
    padding-left: 0px;
}

body.supplierfrontendproductuploader-body .label-container {
    text-align:center;
}

body.supplierfrontendproductuploader-body.supplierfrontendproductuploader-with-default-header .navbar-fixed-top{
    position: relative;
}

body.supplierfrontendproductuploader-body.supplierfrontendproductuploader-with-default-header .navbar-static-top .container, body.supplierfrontendproductuploader-body.supplierfrontendproductuploader-with-default-header .navbar-fixed-top .container,body.supplierfrontendproductuploader-body.supplierfrontendproductuploader-with-default-header .navbar-fixed-bottom .container {
    width: 100%;
}

.category-list li {
    text-align: left;
}

input, select, textarea {
    width: 100%;
}
/*input[type=file],input[type=radio],input[type=checkbox]{width:auto;}*/
span.badge.pull-right {
    margin-left: 10px;
}

.table-striped tbody>tr.item.marked > td  {
    background-color: #fcf8e3 !important;
}

.alerts {
    margin: 20px;
}

.alerts p {
    /* quick and dirty hack added by me, you may remove it if not needed */
    margin: 0; padding: 0;
}

.alert-message.danger, .alert-message.danger:hover, .alert-message.error, .alert-message.error:hover, .alert-message.success, .alert-message.success:hover, .alert-message.info, .alert-message.info:hover {
    color: #ffffff;
}
.alert-message .close {
    font-family: Arial, sans-serif;
    line-height: 18px;
}
.alert-message.danger, .alert-message.error {
    background-color: #c43c35;
    background-repeat: repeat-x;

    background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #c43c35 #c43c35 #882a25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.alert-message.success {
    background-color: #57a957;
    background-repeat: repeat-x;

    background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -ms-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(top, #62c462, #57a957);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #57a957 #57a957 #3d773d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.alert-message.info {
    background-color: #339bb9;
    background-repeat: repeat-x;

    background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
    background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
    background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
    background-image: linear-gradient(top, #5bc0de, #339bb9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #339bb9 #339bb9 #22697d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

:root .alert-message {
    border-radius: 0 \0;
}
.close {
    float: right;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    line-height: 13.5px;
    text-shadow: 0 1px 0 #ffffff;
    filter: alpha(opacity=25);
    -khtml-opacity: 0.25;
    -moz-opacity: 0.25;
    opacity: 0.25;
}
.close:hover {
    color: #000000;
    text-decoration: none;
    filter: alpha(opacity=40);
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
}
.alert-message {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-align: left;
    position: relative;
    padding: 7px 15px;
    margin-bottom: 18px;
    color: #404040;

    background-color: #eedc94;
    background-repeat: repeat-x;

    background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
    background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
    background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
    background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
    background-image: -o-linear-gradient(top, #fceec1, #eedc94);
    background-image: linear-gradient(top, #fceec1, #eedc94);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #eedc94 #eedc94 #e4c652;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-style: solid;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.alert-message .close {
    margin-top: 0;
}
.alert-message a {
    font-weight: bold;
    color: #404040;
    text-decoration: none;
}
.alert-message.danger p a, .alert-message.error p a, .alert-message.success p a, .alert-message.info p a {
    text-align: left;
    color: #ffffff;
}
.alert-message p a:hover {
    text-decoration: underline;
}
.alert-message p {
    margin-bottom: 0;
}

.table tbody tr.marked>td {
    background-color: #f0ad4e !important;
}

.chart {
    height: 300px;
}
.vendor-container label {
    text-align:left !important;
    font-size: 16px;
    font-family: 'RockoFLF-bold';
    letter-spacing: 1px;
	width:100%;
}

.vendor-container ul, ol {
    padding: 0;
  /*  margin: 0 0 10px 25px;*/
  margin: 0px !important;
  width: 100%;
}

.span12.container-fluid.form-container h5 {
    text-align: left;
}




.jumbotron {
    padding: 10px 10px 0 10px !important;
    margin-bottom: 30px !important;
    background-color: none !important;
}

.jumbotron li a {
    font-size: 18px;
}

ul.filtration li a.active {
    color: #000;
}

#file_upload {
    position: absolute;
    margin-left: 0px;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    cursor: pointer;
    width: 157px;
    margin-top: -30px;
    height: 29px;
}

.header-container label {
    display: inline;
}
.header-container select {
    width: auto;
}
.header-container .header {
    border:none;
}

.footer-container {
}

.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 199;
}

div.vendor-container {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;
}
div.vendor-container select, div.vendor-container textarea, div.vendor-container input[type="text"], div.vendor-container input[type="password"], div.vendor-container input[type="datetime"], div.vendor-container input[type="datetime-local"], div.vendor-container input[type="date"], div.vendor-container input[type="month"], div.vendor-container input[type="time"], div.vendor-container input[type="week"], div.vendor-container input[type="number"], div.vendor-container input[type="email"], div.vendor-container input[type="url"], div.vendor-container input[type="search"], div.vendor-container input[type="tel"], div.vendor-container input[type="color"], div.vendor-container .uneditable-input {
    display: inline-block;
    padding: 4px 6px;
   /* margin-bottom: 10px;*/
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family:'RockoFLF';
text-align: left;
}

div.vendor-container select {
    color: #606060;
    padding: 4px 6px;
    height: 35px;
    font-size: 16px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    border: 1px solid #ccc;
}
div.vendor-container textarea {
    height: 100px;
}
div.vendor-container.main-container {
    background: none;
    padding-bottom: 50px;
}
div.col-right.sidebar{
    background: none;
}

.header .links a {
    text-decoration: underline;
}

body.supplierfrontendproductuploader-body .col-left.sidebar {
    display: none;
    background: none;
}

@media screen and (max-width: 767px) {
    .chart canvas{
        width: 100%;
    }
    .form-group iframe {
        width: 100%!important;
    }
    .jumbotron {
        padding: 10px 10px 10px 10px !important;
    }
    .margin-bottom-mobile {
        margin-bottom: 20px;
    }

    .margin-left-mobile {
        margin-left: 0!important;
    }

    .file_upload_span, #file_upload {
        width: 100%;
    }
    .btn-save-fix {
        padding: 0 30px;
    }
}

/*.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    left: 20px;
    width: 20px;
}*/

.photos {
    padding: 0;
    margin-top: 10px;
}

.photos .photo {
    margin: 0;
}

.nav-tabs>li>a {
    display: block!important;
}

.marginBottom-0 {margin-bottom:0;}
@media only screen and (min-width: 991px) and (max-width: 1024px){
.navbar.navbar-inverse.navbar-fixed-top.vendor-container.navbar-default{
width: 180px !important;}
div.collapse.navbar-collapse{width: 182px !important;}
.nav-bottom{
width: 180px !important;}
}
@media screen and (min-width: 768px) {

    .dropdown-submenu{position:relative;}
    .dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
    .dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
    .dropdown-submenu:hover>a:after{border-left-color:#555;}
    .dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
    li.dropdown-submenu:hover > ul.dropdown-menu {
        display: block;
    }
}

@media screen and (max-width: 768px) {
.nav-bottom{display:none;}
    .nestedMenu {
        display: block;
        margin: 0;
    }
}
#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
    margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
    text-align: center;
    display: block;
}

.fix-dropdown {
    padding: 3px 20px;
    color: #b9b9b9;
}

.fix-dropdown-children b {
    color: #b9b9b9;
    font-weight: normal;
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        display: block;
    }
    .fix-dropdown {
        padding: 5px 15px 5px 25px;
        color: #fff;
    }
}

input[type=checkbox] {
    width: auto!important;
    margin-right: 7px !important;
}

.navbar-nav>li>.dropdown-menu {
    margin: 10px 0 0 10px!important;
}
/* 15-3-2017 css */
div.vendor-container h3.shipping-name small {
    float: right;
    cursor: pointer;
    margin-left: 10px;
  /*  font-size: 50%;
    margin-top: 24px;*/
        font-size: 14px;
        font-family: 'RockoFLF';
            letter-spacing: 0.6px;
}
/* 15-3-2017 css */

.super-attributes {
    text-align: left;
}

.super-attribute-data {
    margin-left: 20px;
}

td, th{
    text-align: left;
}

.save-button {
    margin-top: 10px;
}

.btn-group {
    display: inline-block !important;
}

.control-group {
    text-align: left;
}

.showInstructions {
    cursor: pointer;
}

.nopadding {
    padding: 0 !important;
}

.text-left {
    text-align: left;
}

.category-sublist {
    list-style: none;
        margin-left: 20px;
}

.category-sublist > a {
    font-family: 'RockoFLF';
    font-size: 14px;
    line-height: 20px;
    color: #333;
    /*margin-left: 10px;*/
}

.category-sublist > i {
        margin-left: 7px;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    color: #676767;
}

.category-sublist input[type='checkbox'] {
    margin-right: 5px;
}

.indicator .plus:before {
    content:"\f196";
    font-family: FontAwesome;
    font-size: 24px;
    color:black;
    float: right;
    padding-right: 15px;
    text-decoration: none;
    cursor:pointer;
}
div#use-product-code {
    margin-top: 30px;
}

.information-codes {
    margin-bottom: 20px;
}
/* 14-3-2017 rinkal css start */
.e-title{font-size: 28px;font-weight: normal;margin-bottom: 20px;font-family: 'RockoFLF';}
.e-panel .panel-default>.panel-heading {
    color: #fff;
    background-color: #515556;
    border-color: #515556;
    border-radius: 0px;

}
.e-panel .panel-default{background-color: #ededed;border: none;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.32);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.32);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.32);
}
.navbar.navbar-inverse.navbar-fixed-top.vendor-container.navbar-default.col-md-2{padding: 0px;position: fixed;height: 100%;}
.navbar-inverse .navbar-nav>li>a{font-size: 14px;color: #fffffff;    font-family: 'RockoFLF';letter-spacing: 1px;}
.navbar-inverse .navbar-nav .active>a, .navbar-inverse .navbar-nav .active>a:focus, .navbar-inverse .navbar-nav .active>a:hover{background-color: #f26a38 !important;}
.e-panel .list-unstyled li{padding: 4px 0px;}
.logo img{padding: 20px;}
.navbar-brand{height: auto !important;}
.page .main-container{ background-color: #ffffff !important;}
.main-container{padding: 0px !important;}
.navbar-nav{border-top: 1px solid #000;margin: 0px !important;    overflow-y: auto;
    height: 485px;}
.e-filter{    margin-top: 4px;}
.e-select{min-height: 35px;}
.export-to-csv{width: 100%;}
.e-order-table>tbody>tr>td{    vertical-align: middle !important;    padding: 5px !important;border: none !important;text-align: center;}
.e-order-table>tfoot{border-top: 1px solid #ddd;}
.e-order-table>thead{border-bottom: 1px solid #ddd !important;text-align: center;}
.e-order-table>thead>tr>th{text-align: center !important;border-bottom: 1px solid #ddd !important;}
.e-order-table>tfoot>tr>th{text-align: center !important;}
.sub-menu li a {
    display: block;
    padding: 10px 15px;
    color: #9d9d9d;
    padding-left: 50px;
        font-family: 'RockoFLF';
        letter-spacing: 1px;
}
.sub-menu li.active a{color: #ffffff;}
.sub-menu li a:before, .sub-menu li a:after{display: none;}
/*.nav .sub-menu{padding-left: 40px;}*/
li.Home a:before {
    content: url(../../images/icons/Dashboard_icon.png);
    margin-right: 10px;
}
li.Product a:before {
    content: url(../../images/icons/Products_icon.png);
    margin-right: 10px;
}
li.Product a:after {
    content: url(../../images/icons/Plus_icon.png);
    right: 20px;
    position: absolute;
	top:44%;
}
li.Orders a:before {
    content: url(../../images/icons/Orders_icon.png);
    margin-right: 17px;
}
li.Settings a:before {
    content: url(../../images/icons/Setting_icon.png);
    margin-right: 10px;
}
li.Reports a:before {
    content: url(../../images/icons/Reports_icon.png);
    margin-right: 10px;
}
li.Shop a:before {
    content: url(../../images/icons/Shop_view.png);
    margin-right: 10px;
}
li.Q_A a:before {
    content: url(../../images/icons/Q&A.png);
    margin-right: 10px;
}
/* 14-3-2017 rinkal css end */
/* 15-3-2017 rinkal css start */

.sub-menu li a.active{background-color: #f26a38 !important;}
.vendor-logo{float: left;width: 35%;margin-right: 15px;vertical-align: middle;}
.vendor-main{padding: 20px;color: #ffffff;}
li.Orders a:after {
    content: url(../../images/icons/Plus_icon.png);
    right: 20px;
    position: absolute;
	top:44%;
}
li.Settings a:after {
    content: url(../../images/icons/Plus_icon.png);
    right: 20px;
    position: absolute;
	top:44%;
}
li.Reports a:after {
    content: url(../../images/icons/Plus_icon.png);
    right: 20px;
    position: absolute;
	top:44%;
}
li.parent.minus-icon a:after {
    content: url(../../images/icons/Minus_icon.png);
    right: 20px;
    position: absolute;
	    top: 15px;
}
.p-l-0{padding-left: 0px !important;}
.p-r-0{padding-right: 0px !important;}
.navbar.navbar-inverse.navbar-fixed-top.vendor-container.navbar-default{overflow: hidden;
    transition: transform 0.3s, width 0.3s;
    width: 235px;height: 100%;}
	div.collapse.navbar-collapse {
    overflow-y: scroll;
    width: 252px;
    height: 100%;
}
.review-section{margin-top: 30px;}
.review-title{padding-bottom: 10px;border-bottom: 1px solid #b9b9b9;margin-top: 0px;}
.add-new-shipping-method{width: 100%;}
.shipping-name {
    padding: 15px 0px;
    text-transform: capitalize;
    font-size: 18px;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid #c5c5c5;
    margin: 20px 0px;
    font-family: 'RockoFLF-Bold';
}
.expand p:before {
    content: url(../../images/icons/arrows_icon.png);
    margin-right: 5px;
}
.remove p:before {
    content: url(../../images/icons/delete_icon.png);
    margin-right: 5px;
}
.checkbox label, .radio label{font-weight: normal;font-size: 16px;font-family: 'RockoFLF';color:#606060;}
.input-container {
    /*margin-bottom: 10px;*/
}
/* 15-3-2017 rinkal css end */
/* 16-3-2017 rinkal css start */
/*
input[type='radio'] {
    -webkit-appearance:none;
    width:15px;
    height:15px;
    border:1px solid #515556;
    border-radius:50%;
    outline:none;
}

input[type='radio']:before {
    content:'';
    display:block;
    width: 58%;
    height: 58%;
    margin: 21% 22% auto;   
    border-radius:50%;    
}
input[type='radio']:checked:before {
    background:#f26a38;
}
*/
.shipping-method .form-group:last-child{margin-bottom: 0px;}
/*::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
::-moz-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: rgba(112, 128, 144, 0.35);
  border-radius: 50px;
}

::-moz-scrollbar-thumb {
  background: rgba(112, 128, 144, 0.35);
  border-radius: 50px;
}

/*::-webkit-scrollbar-track {
  background: #b8c0c8;
}*/

body {
  scrollbar-face-color: rgba(112, 128, 144, 0.35);
  scrollbar-track-color: #b8c0c8;

}
@-moz-document url-prefix(http://),url-prefix(https://) {
scrollbar {
   -moz-appearance: none !important;
   background: rgba(112, 128, 144, 0.35); !important;
}
thumb,scrollbarbutton {
   -moz-appearance: none !important;
   background-color: rgba(112, 128, 144, 0.35); !important;
}
 
thumb:hover,scrollbarbutton:hover {
   -moz-appearance: none !important;
   background-color: rgba(112, 128, 144, 0.35); !important;
}
 
scrollbarbutton {
   display: none !important;
}
 
scrollbar[orient="vertical"] {
  min-width: 15px !important;
}
}*/
input[type=file] {
    display: block;
    font-family: 'RockoFLF';
    color: #606060;
    font-size: 16px;
    /* padding-right: 10px; */
}
.inputfile{
        background: #ffffff;
    color: #000000;
    border-radius: 4px;
    height: 35px;
    font-family: 'RockoFLF';
    font-size: 16px;
    color: #606060;
    width: 100%;
}
::-ms-browse{
    background: #ffffff;
  color: #000000;
  border: 1px solid #515556;
  border-radius: 4px;
  height: 31px;
  font-family: 'RockoFLF';
  font-size: 16px;
  color: #606060;
  padding: 4px 8px;
}
::-webkit-file-upload-button {
  background: #ffffff;
  color: #000000;
  border: 1px solid #515556;
  border-radius: 4px;
  height: 31px;
  font-family: 'RockoFLF';
  font-size: 16px;
  color: #606060;
  padding: 4px 8px;
}
::-moz-file-upload-button {
  background: #ffffff;
  color: #000000;
  border: 1px solid #515556;
  border-radius: 4px;
  height: 31px;
  font-family: 'RockoFLF';
  font-size: 16px;
  color: #606060;
  padding: 4px 8px;
}
.btn{
    font-family: 'RockoFLF';
    font-size: 14px;
    letter-spacing: 0.6px;
    vertical-align: middle;
}
.sidebar{border: 1px solid #f0f0f0;}
.col-md-12.photo-content{padding: 0px;}
.photo li.thumbnail:first-child {
    width: 100%;
}
.photo .thumbnail{    width: 45.3%;
    display: inline-flex;
    border-radius: 0px;
    margin-right: 11px;}
.thumbnail .remove {
    position: absolute;
    right: -7px;
    top: -10px;
    cursor: pointer;
    background: #cbcbcb;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    line-height: 22px;
}
/*23-6-2017 rinkal css start*/
.super-attributes li {
    list-style: none;
    width: 100%;
}
/*23-6-2017 rinkal css start*/
 .action_class{margin-top: 6px;}
 .add_clone_add, .add_clone_edit{    font-size: 20px !important;
    padding: 1px 14px !important;}

.action_class  a,
.action_class  a{    background-color: #286090;
        padding: 5px 14px;
    color: #FFF;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    font-size: 12px;
    vertical-align: top;
	    margin-right: 5px;}
    .action_class a:hover{color: #ffffff;}
/* 16-3-2017 rinkal css end */
/* 17-3-2017 rinkal css start */
.col-md-12.photos {
    padding: 0px;
}
li.thumbnail:nth-last-child(3) {
    margin-right: 10px;
}
/*
input[type="checkbox"]::before
{
        content: "";
    border: solid 1px #a8a8a8;
    text-align: center;
    background: #ffffff;
    padding: 8px;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
}
 
input[type="checkbox"]:checked::before
{
    color: #666;
}
 
input[type="checkbox"]:disabled
{
    cursor: default;
     
    -moz-opacity: .4;
    -webkit-opacity: .4;
    opacity: .4;
}

input[type="checkbox"]:checked::before
{
    content: "\2714";
        font-size: 12px;
    padding: 0px 3px !important;

}
*/
.e-sub-title{    font-weight: normal;
    margin-top: 10px;
    font-family: 'RockoFLF';
	font-size:24px;}
   
ul.view-acc {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.view-acc li {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
        margin-bottom: -2px !important;
        list-style: none;
}

.view-acc li.active {
    background-color: #f26a38;
}
.view-acc>li.active>a {
    border: none !important;
    color: #fff !important;
    background-color: #f26a38 !important;
    text-decoration: none;
}
/* Style the tab content */
.tab-content {
    /*display: none;*/
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.view-acc li a{ font-family: 'rockoFLF' !important;font-size: 15px;color: #000;border: none;}
/* 17-3-2017 rinkal css end */
/* 20-3-2017 rinkal css start */
.main-tab{margin-bottom: 20px;}
.m-t-50{margin-top: 50px;}
.p-0{padding:0px !important;}
/* 20-3-2017 rinkal css end */
.dropdown-menu>li>a{    padding: 3px 5px !Important;    font-size: 12px;}
/* 22-6-2017 rinkal css start */
.round #tawkchat-status-icon:before {
    font-size: 20px;
    font-weight: normal;
    font-family: 'icomoon';
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: center;
    line-height: 44px;
}
.round #tawkchat-status-icon.offline:before {
    font-size: 25px;
    line-height: 44px;
    content: "\e904";
}
/*23-6-2017 rinkal css start */
.super-attributes input.sizeattrs{width:auto; 
    margin-left: 21px;
    margin-right: 7px;}
	.super-attributes li label {
    width: 90%;
}
.super-attributes label.sizeattrs.lbl {
    font-size: 14px;
}
/*23-6-2017 rinkal css end */