.product-questions-header
{
    margin-bottom: 15px;
    margin-top: 10px;
}

.questions
{
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

.answers
{
    padding-left:15px;
    background-color: #F3F3F3;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 50%;
}

.productquestions-form
{
    margin-top: 20px;
    margin-bottom: 40px;
}

#question-popup {
    margin: 20px;
}

#question-popup-button {
    margin-bottom: 15px;
}
/*Popup styles*/
.overlay_dialog {
    background-color: #666666;
    filter:alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

.overlay___invisible__ {
    background-color: #666666;
    filter:alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
}

.dialog_nw {
    width: 9px;
    height: 23px;
}

.dialog_n {
    height: 23px;
}

.dialog_ne {
    width: 9px;
    height: 23px;
}

.dialog_e {
    width: 2px;
}

.dialog_w {
    width: 2px;
}

.dialog_sw {
    width: 9px;
    height: 19px;
}

.dialog_s {
    height: 19px;
}

.dialog_se {
    width: 9px;
    height: 19px;
}

.dialog_sizer {
    width: 9px;
    height: 19px;
    cursor:se-resize;
}

.dialog_close {
    width: 14px;
    height: 14px;
    position: absolute;
    right: -20px;
    cursor: pointer;
    z-index: 2000;
    top: 17px;
}

.dialog_close:after {
    content : "X";
    font-size: 16px;
    color: white;
}

.dialog_minimize {
    width: 14px;
    height: 15px;
    position:absolute;
    top:5px;
    left:28px;
    cursor:pointer;
    z-index:2000;
}

.dialog_maximize {
    width: 14px;
    height: 15px;
    position:absolute;
    top:5px;
    left:49px;
    cursor:pointer;
    z-index:2000;
}

.dialog_title {
    float:left;
    height:14px;
    font-family: Tahoma, Arial, sans-serif;
    font-size:12px;
    text-align:center;
    width:100%;
    color:#000;
}

.dialog_content {
    overflow:auto;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 10px;
    background-color:#fff;
}

.top_draggable, .bottom_draggable {
    cursor:move;
}

.status_bar {
    font-size:12px;
}
.status_bar input{
    font-size:12px;
}

.wired_frame {
    display: block;
    position: absolute;
    border: 1px #000 dashed;
}

/* DO NOT CHANGE THESE VALUES*/
.dialog {
    display: block;
    position: absolute;
}

.dialog table.table_window  {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0px;
    padding:0px;
}

.dialog table.table_window td , .dialog table.table_window th {
    padding: 0;
}

.dialog .title_window {
    -moz-user-select:none;
}

.transfer-cart-popup {
    margin: 40px;
}