<?php $categories = $this->getCategories(); ?>
<?php $attributes = $this->getAttributes(); ?>
<?php $product = $this->getProductObject(); ?>
<?php $data = Mage::getSingleton("supplierfrontendproductuploader/session")->getProductData(); ?>
<?php Mage::getSingleton("supplierfrontendproductuploader/session")->clear(); ?>
<?php $this->setProduct($product); ?>
<?php $selectedCategories = isset($data['category']) ? $data['category'] : array(); ?>
<?php $this->setSelectedCategories($selectedCategories); ?>
<?php $mediaGallery = (isset($data['image'])) ? $data['image'] : array(); ?>
<?php $method = $this->getLayout()->createBlock('marketplace/shipping_methods');?>
<?php $methods = $method->getSavedMethods(); ?>
<?php //$countrySel = Mage::getSingleton('customer/session')->getCustomer(); ?>
<div class="col-md-10 pull-right main-container vendor-container">
    <h1 class="text-center e-title"><?php echo $this->__('Add Product'); ?></h1>

    <!-- <div class="row"> -->
        <div class="col-md-12 form-container">
            <form name="product_create_form" id="product_create_form"
                  action="<?php echo Mage::getUrl('supplier/product/save') ?>" method="post"
                  enctype="multipart/form-data">
                <input type="hidden" name="attribute_set_id" value="<?php echo $this->getAttributeSetId() ?>"/>
                <input type="hidden" name="type" value="<?php echo $this->getProductTypeId(); ?>"/>


                <!-- <div class="row"> -->
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class="label-container">
                                <label for="name">
                                    <?php echo $this->getLabel('name', 'Name', false); ?>
                                    <span class="required">*</span>:
                                </label>
                            </div>
                            <div class="input-container">
                                <input type="text" id="name" name="name" class="input-text form-control required-entry"
                                       value="<?php echo(isset($data['name']) ? $data['name'] : ''); ?>"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label-container">
                                <label for="short_description">
                                    <?php echo $this->getLabel('short_description', __('Short Description'), false); ?>
                                    <span class="required">*</span>:
                                </label>
                            </div>
                            <div class="input-container">
                                <textarea id="short_description" name="short_description"
                                          class="input-text form-control required-entry form-control wysiwyg"
                                          rows="15"><?php echo(isset($data['short_description']) ? $data['short_description'] : ''); ?></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label-container">
                                <label for="description">
                                    <?php echo $this->getLabel('description', __('Detailed Description '), false); ?>
                                    <span class="required">*</span>:
                                </label>
                            </div>
                            <div class="input-container">
                                <textarea id="description" name="description"
                                          class="input-text form-control required-entry wysiwyg"
                                          rows="15"><?php echo(isset($data['description']) ? $data['description'] : ''); ?></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label-container">
                                <label for="price">
                                    <?php echo $this->getLabel('price', __('Price'), false); ?>
                                    <span class="required">*</span>:
                                </label>
                            </div>
                            <div class="input-container">
                                <input type="text" id="price" name="price"
                                       value="<?php echo(isset($data['price']) ? $data['price'] : ''); ?>"
                                       class="input-text form-control required-entry validate-number validate-greater-than-zero"/>
                               <?php //echo "fgd".Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
                                echo Mage::app()->getStore()->getCurrentCurrencyCode();
                              ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label-container">
                                <label for="special_price">
                                    <?php echo $this->getLabel('special_price', __('Special Price'), false); ?>:
                                </label>
                            </div>
                            <div class="input-container">
                                <input type="text" id="special_price" name="special_price" value="<?php if(!empty($data['special_price']) && $data['special_price'] !="0.000") { echo str_replace(",","",$data['special_price']); }?>" class="input-text form-control validate-number validate-special-price"/>
                                <?php //echo "fgd".Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
                                echo Mage::app()->getStore()->getCurrentCurrencyCode();
                              ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label-container">
                                <label for="special_price_from_date">
                                    <?php echo $this->getLabel('special_price_from_date', __('Special Price From'), false); ?>
                                    :
                                </label>
                            </div>
                            <div class="input-container">
                                <input type="text" id="special_price_from_date" name="special_price_from_date"
                                       value="<?php echo(isset($data['special_price_from_date']) ? $data['special_price_from_date'] : ''); ?>"
                                       class="input-text form-control datepicker"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label-container">
                                <label for="special_price_to_date">
                                    <?php echo $this->getLabel('special_price_to_date', __('Special Price To'), false); ?>
                                    :
                                </label>
                            </div>
                            <div class="input-container">
                                <input type="text" id="special_price_to_date" name="special_price_to_date"
                                       value="<?php echo(isset($data['special_price_to_date']) ? $data['special_price_to_date'] : ''); ?>"
                                       class="input-text form-control datepicker"/>
                            </div>
                        </div>
                       
                        <div class="form-group tire_price_main">
                            <div class="label-container">
                                <label for="tier_price_qty">
                                    <?php echo $this->getLabel('tier_price', __('Tier Price :'), false); ?>
                                </label>

                            </div>
                            <div>
                                 <input type="hidden" name="tier_price[0][website_id]" value="0"/>
                            <input type="hidden" name="tier_price[0][cust_group]" value="32000"/>
                             <div class="col-md-5 form-group">

                                 <input type="text" id="qty" name="tier_price[0][price_qty]" class="input-text form-control validate-number validate-qnt validate-greater-than-zero" placeholder="QTY"/>
                              
                            </div>
                            <div class="col-md-5 form-group">
                                <input type="text" id="tier_price" name="tier_price[0][price]" value=""  class="input-text form-control validate-number validate-price validate-greater-than-zero validate-special-price" placeholder="Price"/>
                                <?php echo Mage::app()->getStore()->getCurrentCurrencyCode();?>
                            </div>
                           
                           
                            <div class="col-md-2 action_class nopadding">
                                <a href="javascript:void(0);" id="add_0" data-id="0" class="add_clone_add">+</a>
                               <!--<a href="javascript:void(0);" class="remove_clone_add">X</a>-->
                                

                            </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="label-container">
                                <label for="qty">
                                    <?php echo $this->getLabel('qty', __('QTY Available'), false); ?>
                                    <span class="required">*</span>:
                                </label>
                            </div>
                            <div class="input-container">
                                <input type="text" id="tqty" name="qty"
                                       value="<?php echo(isset($data['qty']) ? $data['qty'] : ''); ?>"
                                       class="input-text form-control required-entry validate-number validate-qnt validate-greater-than-zero"/>
                            </div>
                        </div>
                        <?php if ($this->canAddSku()): ?>
                            <div class="form-group">
                                <div class="label-container">
                                    <label for="sku">
                                        <?php echo $this->getLabel('sku', 'SKU', false); ?>
                                        <span class="required">*</span>:
                                    </label>
                                </div>
                                <div class="input-container">
                                    <input type="text" id="sku" name="sku"
                                           value="<?php echo(isset($data['sku']) ? $data['sku'] : ''); ?>"
                                           class="input-text form-control  required-entry"/>
                                </div>
                            </div>
                        <?php endif; ?>
                        <?php $typeId = $this->getRequest()->getParams();
                        if ($typeId['type'] == 'simple' || $typeId['type'] == 'configurable' || $typeId['type'] == 'bundle') { ?>
                            <div class="form-group">
                                <div class="label-container">
                                    <label for="weight">
                                        <?php echo $this->getLabel('weight', __('Product Weight'), false); ?>
                                        <span class="required">*</span>:
                                    </label>
                                </div>
                                
                                <div class="input-container">
                                <div class="col-md-9 form-group">
                                    <input type="text" id="weight" name="weight"
                                           value="<?php echo(isset($data['weight']) ? $data['weight'] : ''); ?>"
                                           class="input-text form-control required-entry validate-number"/>
                                           </div>
                                           <div class="col-md-3 form-group">                                           
                                    <select  class="form-control required-entry" name="weight_unit">
                                    <option value="">Select</option>
                                    <option value="Grams">Grams</option>
                                    <option value="Kgs">Kgs</option>
                                        
                                    </select>       </div>
                                </div>
                            </div>
                        <?php } ?>
                        <div class="form-group">
                            <div class="label-container">
                                <label for="weight">
                                    <?php echo $this->getLabel('brand', 'Brand', false); ?>
                                    <span class="required">*</span>:
                                </label>
                            </div>
                            <div class="input-container">
                                    <select class="form-control required-entry" name="brand">
                                <?php 
                                
                                    $category = Mage::getModel('catalog/category')->load(42);
                                    $subcategories = $category->getChildrenCategories();
                                    if (count($subcategories) > 0){
                                        ?>
                                        <option value="">Please select</option>
                                        <?php foreach($subcategories as $subcategory){
                                            ?><option value="<?php echo $subcategory->getName(); ?>" <?php if($subcategory->getName() == $product->getData("brand")) echo "selected"; ?>><?php echo $subcategory->getName(); ?></option>
                                        <?php }
                                    }

                                ?>  
                                </select>   
                                <p class="m-t-10">If you do not find your Brand <a href="<?php echo Mage::getBaseUrl().'supplier/settings/addbrand/' ?>" target="_blank">Click Here</a></p>
                            </div>
                        </div>
                        <?php if($this->getProductTypeId() == 'simple' || $this->getProductTypeId() == 'configurable'): ?>
						<div class="form-group">
                            <div class="label-container">
                                <label for="color">
                                    <?php echo $this->getLabel('color', 'Color', false); ?>&nbsp;:
                                </label>
                            </div>
                            <!-- color picker HTML -->
                            <div class="input-container">
                                 <?php
                                    $colors = array();
                                    $atributeCode = 'color';
                                    $attribute = Mage::getModel('eav/config')->getAttribute('catalog_product',$atributeCode);
                                    $options = $attribute->getSource()->getAllOptions();
                                    foreach($options as $key => $value){
                                        if($value['label'] != ''){
                                            $fruitList .= $prefix . '"' . $value['label'] . '"';
                                            $prefix = ', ';
                                        }
                                    }
                                    /*$_product = Mage::getModel('catalog/product');
                                    $attr = $_product->getResource()->getAttribute($atributeCode);
                                    if ($attr->usesSource()) {
                                         $new = "rgb(0, 0, 255)";
                                         $color_id = $attr->getSource()->getOptionId($new);
                                    } echo $color_id;*/
                                    ?>   
                                <input type='hidden' name='color' value="<?php echo $color_id; ?>" id="color-pick" class="color-pick"/>
                            </div>
                        </div> 
                        <?php endif; ?>   
                        <!-- color picker HTML -->
                        <?php foreach ($attributes AS $attribute): ?>
                            <?php $attributeObj = Mage::getSingleton('eav/config')->getAttribute(Mage_Catalog_Model_Product::ENTITY, $attribute['code']); ?>
                            <?php if ($attributeObj->getData('available_for_supplier') == 0) {
                                continue;
                            } ?>
							<?php $product_type=explode(',', $attributeObj->getData('apply_to')); ?>
                            <?php 
                            if(in_array($this->getProductTypeId(),$product_type))
                            {
                                if($this->getLabel($attributeObj)!="Weight Unit")
                                {
									if($this->getLabel($attributeObj)!="Color")
                                    {
                            ?>
									<div class="form-group">
										<div class="label-container">
											<label for="product_name">
												<?php echo $this->getLabel($attributeObj); ?>
												<?php if ($isRequired == 1): ?><span class="required">*</span> <?php endif; ?>:
											</label>
										</div>
										<div class="input-container">
											<?php echo $this->getAttributeHtml($attributeObj, $data); ?>
										</div>
									</div>
                            <?php 	}
								}
							} ?>
                        <?php endforeach; ?>
						<?php if($this->getProductTypeId() == 'simple' || $this->getProductTypeId() == 'configurable'): ?>
						<div class="form-group">
							<div class="col-md-12 label-container">
								<label for="product_name">
									Shiping Method                                        :
								</label>
							</div>
							<div class="form-group">
								<select name="shipping_method" id="shipping_method" class="form-control required-entry">
									<option value="">----------</option>
									<?php foreach($methods AS $smethods):?>
										<?php ; ?>
										<option value="<?php echo $smethods->getName(); ?>"><?php echo $smethods->getName(); ?></option>
									<?php endforeach;?>
								</select>
							</div>
						</div>
					<?php endif; ?>
                    </div>
                    <div class="col-md-3 p-l-0  ">
                    <div class="sidebar">
                        <!-- <div class="form-group"> -->
                            <div class="col-md-12 photo-content">
                                <label class="cm-product-images-title" data-remaining="<?php echo $this->getMaxImagesCount() ?>">
                                    <?php echo $this->__('Product Images <span>(%d)</span> Remaining', $this->getMaxImagesCount()); ?>
                                </label>
                                <span
                                    class="file_upload_span btn btn-primary"><?php echo $this->__('Select and Upload Image') ?></span>
                                <input type="file" name="file_upload" id="file_upload" multiupload/>
                                <input type="hidden" class="image hidden" name="main_photo" id="main_photo"
                                       value="<?php echo isset($data['main_photo']) ? $data['main_photo'] : ''; ?>"/>

                                <div class="col-md-12 photos">
                                    <ul class="photo panel-body">
                                        <?php foreach ($mediaGallery AS $img) : ?>
                                            <li class="thumbnail<?php echo (isset($data['main_photo']) && $data['main_photo'] == $img) ? ' main' : '' ?>">
                                                <img
                                                    src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>upload/resized<?php echo $img; ?>"
                                                    alt="" data-name="<?php echo $img; ?>"/>
                                                <span class="remove">X</span>
                                                <!-- <span class="default"><i class="glyphicon glyphicon-home"></i></span> -->
                                                <input type="hidden" class="image hidden" name="image[]"
                                                       value="<?php echo $img; ?>"/></li>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                            </div>
                            
                        <!-- </div> -->
                        <div class="form-group">
                            <div class="col-md-12 photo-content">
                               
                                <label class=""><?php echo $this->__('Video URL') ?></label>
                                <input class="input-text form-control" type="text" value="" name="video_gallery[0][url]">
								 <span class="note">Supported Platforms: Vimeo, Youtube</span>
                                 <label class=""><?php echo $this->__('Video Label') ?></label>
                                <input class="input-text form-control" value="" name="video_gallery[0][label]" type="text">
                                
                                <div class="col-md-8 photos">
                                   
                                </div>
                            </div>
                        </div>

                        <ul class="category-list">
                            <label><?php echo $this->__('Product Categories'); ?></label>
                            <?php echo $this->getChildHtml('cminds_supplierfrontendproductuploader.product_create_categories', false); ?>
                            <p class="m-t-10">If you do not find your Category <a href="<?php echo Mage::getBaseUrl().'supplier/settings/addcategory/' ?>" target="_blank">Click Here</a></p>
                        </ul>
                     
                 <ul class="list-unstyled">
                          
                            <?php $types = $this->getRequest()->getParams();

                            if ($types['type'] == 'downloadable'): ?>
                              <h5><?php echo $this->__("File"); ?></h5>
                            <li>
                                <input type="file" name="downloadable_upload" id="downloadable_upload" />
                            </li>
                            <li><?php echo $this->__("Or"); ?></li>
                            <li>
                                <input type="text" id="sku" name="file_url" class="input-text form-control "/>
                            </li>
                            <?php endif; ?>
                    </ul> 
					<div class="clearfix"></div>
                    </div>
                        <!--  ****************************************************  -->

                        
                    </div>
                    
                </div>

        <!-- </div> -->
        <!-- <div class="row"> -->
            <div class="col-md-3 col-sm-4 col-sm-offset-4 col-md-offset-3 btn-save-fix">
                <input type="submit" name="submit" id="create_product" class="btn btn-primary"
                       value="<?php echo $this->__('Save Product') ?>"/>
            </div>
        <!-- </div> -->
        </form>
    </div>
<!-- </div> -->
</div>


<script type="text/javascript">
    //< ![CDATA[
    var customForm = new VarienForm('product_create_form');
    //]]>
	Validation.add('validate-qnt', 'Please enter a valid Qnt', function(v) {
		return Validation.get('IsEmpty').test(v) || /^\d+$/i.test(v)
	});
	 Validation.add('validate-price', 'Please enter a valid price', function(v) {
		return Validation.get('IsEmpty').test(v) || /^0$|^[1-9][0-9]*$/i.test(v)
	});	
    jQuery(document).ready(function ($) {
      jQuery('.datepicker').datepicker({ 
            dateFormat: "yy-mm-dd",
            showButtonPanel: true,
            closeText: 'Clear', // Text to show for "close" button
            onClose: function () {
                var event = arguments.callee.caller.caller.arguments[0];
                // If "Clear" gets clicked, then really clear it
                if ($(event.delegateTarget).hasClass('ui-datepicker-close')) {
                    $(this).val('');
                }
            }
        });
		jQuery("#special_price_from_date").keypress(function(event) {event.preventDefault();});
        jQuery("#special_price_to_date").keypress(function(event) {event.preventDefault();});
		
		/************* Regular-Price validation***************/
		jQuery("#price").on("keyup", function(){
            var val = $(this).val();

            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        });
		/************* Special-Price validation***************/
		jQuery("#special_price").on("keyup", function(){
            var val = $(this).val();

            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        });
		jQuery("#tier_price").on("keyup", function(){
            var val = $(this).val();

            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        });
		
		/************* Qnt validation***************/
		jQuery("#tqty").on("keyup", function(){
            var val = $(this).val();

            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>10) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        });
		jQuery("#qty").on("keyup", function(){
            var val = $(this).val();

            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>10) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        });
		/***********************************************/
		
		
        jQuery('#file_upload').fileupload({
                url: '<?php echo Mage::getUrl('supplier/product/upload') ?>',
                dataType: 'json',
                done: function (e, data) {
                    if (data.result.success) {
                        $('.photo.panel-body').append('<li class="thumbnail"><img src="' + data.result.url + '" alt="" data-name="' + data.result.name + '"/><span class="remove">X</span><span class="default"><i class="glyphicon glyphicon-home" title="<?php echo $this->__("Set As Main Picture"); ?>"></i></span><input type="hidden" class="image hidden" name="image[]" value="' + data.result.name + '" /></li>');
                    } else {
                        alert(data.result.message);
                    }
                }
            })
            .prop('disabled', !jQuery.support.fileInput)
            .parent().addClass(jQuery.support.fileInput ? undefined : 'disabled')
            .on('fileuploadadd', function (e, data) {
                var limit = <?php echo $this->getMaxImagesCount() ?>;

                if (jQuery('.thumbnail:visible').length >= limit) {
                    alert('The upload limit has been reached');
                    return false;
                }
            });

        jQuery(document).on('click', 'li span.remove', function ($) {
            var img = jQuery(this).prev();
            var imgName = jQuery(img).attr('data-name');

            $j('input.image.hidden').each(function (el) {
                if ($j(this).val() == imgName) {
                    $j(this).val('');
                }
            });
            $j(this).parent().fadeOut();

        });

        CKEDITOR.replace( 'description' );
        CKEDITOR.replace( 'short_description' );

        jQuery(document).on('click', 'li span.default', function ($) {
            var img = jQuery(this).prev().prev();
            var imgName = jQuery(img).attr('data-name');
            var mainPhotoInput = jQuery('#main_photo');
            mainPhotoInput.val(imgName);

            if (jQuery('li.thumbnail.main').length) {
                jQuery('li.thumbnail.main').removeClass('main');
            }

            img.parent().addClass('main');
        });

    });
</script>
<!-- color picker script -->

<script type="text/javascript">
var colortext='';      
jQuery("#color-pick").spectrum({
    showPaletteOnly: true,
    showPalette: true,
    allowEmpty:true,
    chooseText: "Alright",
    cancelText: "Close",
    showButtons: true,
    showSelectionPalette: false,
    showInput: true,
    togglePaletteOnly: true,
    togglePaletteMoreText: false,       
    change: function(color) {
         // #ff0000
        jQuery('#color-pick').val(color.toName());
    },
    palette: [
        [<?php echo $fruitList; ?>]
    ]
});
</script>
