<div class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">

<h5><?php echo $this->__('Store Address') ?></h5>
<?php 
//$data = '';
$data = array();
$items = Mage::getSingleton('checkout/session')->getQuote()->getAllItems(); 
$suppliers = array();  
foreach($items as $item) {

    $_product = Mage::getModel('catalog/product')->load($item->getProductId());

    $creator_id = $_product->getData('creator_id');

    $customerData = Mage::getModel('customer/customer')->load($creator_id);     
    $data[$creator_id][] = $item->getName(); 
    
   /* $data.="<strong>".$item->getName()."</strong><br/>";

    $data.=$customerData->getcompanyAddress();
    $data.="<br>";
    $data.=$customerData->getCompanyCity();        
    $data.="<br>";
    $data.=$customerData->getCompanyState();
    $data.="<br>";
    $data.=$customerData->getCompanyCountry(); 
    if(next($items))
    $data.="<br>";
    $data.="<hr>";
    //$data.="<hr>";*/
}
//echo $data;
?>
<style>
/* Hide all steps by default: */
.tab {
  display: none;
}
#prevBtn {
  background-color: #bbbbbb;
}
/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.step.active {
  opacity: 1;
}
/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
span.noaddress{ display: inline-block !important; text-align: center; padding: 15px; background-color: #999; color: #000; width: 100%; }
</style>
<?php 
$address = '';  
$stores = ''; 
?>
  <!-- One "tab" for each step in the form: -->
  <?php $count= 0; foreach ($data as $key => $product) { ?>
  <div class="tab <?php echo $key; ?>"><?php //echo $key; ?>
  <?php 
    $customer =  Mage::getModel('addstore/addstore')->getCollection()->addFieldToFilter( 'supplier_id', $key)->getData();
    //echo '<pre>';print_r($product);
    if(!empty($product)){
      foreach ($product as $key2 => $value) {
        $products = "<p>".$value."</p>";
        echo "<strong>" .$products."</strong>";
          if(count($customer) > 0){
            // echo $products;
             foreach ($customer as $key1 => $value1) {
               $_product = Mage::getModel('catalog/product')->loadByAttribute('name', $value);
                echo '<span class="checkout-address-list">
                        <input type="radio" name="storeaddress['.$_product->getEntityId().']" id="storeaddress" class="storeaddress" value="'.$value1['addstore_id'].'"><label class="checkout-storename">'.$value1['address'].'</lable>
                      </span>';
                echo '<input type="hidden" name="suppliers['.$_product->getEntityId().']" id="storeaddress" value="'.$value1['supplier_id'].'">';
                echo '<input type="hidden" name="addressids['.$_product->getEntityId().']" id="storeaddress" value="'.$value1['addstore_id'].'">';
                $count++;      
             }
          }
          else{
            ?>
          <span class='noaddress'><?php echo $this->__('No address available') ?>.</span>
          <?php 
          }
        }
      }
    else{
      ?>
        <span class='noaddress'><?php echo $this->__('No address available') ?>.</span>
        <?php 
    }
  ?>
  </div>
  <?php
  $text.='<span class="step"></span>';
  $text.="\n";
  ?>
<?php } ?>
<div style="text-align:center;margin-top:40px;">
<?php echo $text; ?>
</div>
<div style="overflow:auto;">
  <div style="float:right;">
    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
  </div>
</div>
<script>
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the crurrent tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
      document.getElementById("nextBtn").style.display = "none";
      //document.getElementById("prevBtn").style.display = "inline";
     //document.getElementById("nextBtn").innerHTML = "Next";
     document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").style.display = "inline";
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("onestepcheckout_orderform").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}

jQuery(".storeaddress").click(function(){

  var values = jQuery(this).val();
 
});

</script>
  <!-- <div style="display:none;">
    <label><?php  echo $this->__('Custom Field One') ?>*</label>
    <span>
      <input type="text" title="<?php echo $this->__('Custom Field One') ?>" name="payment[custom_field_one]" value="1" />
    </span>
  </div>
  <div  style="display:none;">
    <label><?php echo $this->__('Custom Field Two') ?>*</label>
    <span>
      <input type="text" title="<?php echo $this->__('Custom Field Two') ?>" name="payment[custom_field_two]" value="1" />
    </span>
  </div> -->
</div>
<div>
    <?php echo $this->getMethod()->getConfigData('message');?>
</div>