<div class="account-create col-md-4 col-md-offset-2 login-main">
    <div class="col-main">
        <ul class="messages">
            <?php $messages = Mage::getSingleton('customer/session')->getMessages(true); ?>
            <?php foreach ($messages->getItems('error') AS $msg): ?>
                <li class="error-msg">
                    <ul>
                        <li><span><?php echo $msg->getCode(); ?></span></li>
                    </ul>
                </li>
            <?php endforeach; ?>
        </ul>
        <div class="page-title">
            <h1><?php echo $this->__("Book your store"); ?></h1>
        </div>
        <?php 
        $attribute = Mage::getModel('eav/config')->getAttribute('customer','bussiness_type');
        $options = $attribute->getSource()->getAllOptions();
        ?>
        <form action="<?php echo Mage::getUrl('supplier/register/createpost') ?>" method="post"
              class="form-horizontal scaffold-form" id="registerForm" accept-charset="utf-8">
            <div class="form-list">
             <div class="field">

                    
                    <div class="input-box">                      
                        <input name="company_name" placeholder="<?php echo $this->__('Company name')?>" type="text" value="" id="company_name" class="validate-length maximum-length-30 input-text required-entry">
                    </div>
                </div>
                <div class="field">
<!--                    <label for="firstname" class="control-label required">
                        <?php // echo $this->__('First Name'); ?><em>*</em>
                    </label>-->
                    <div class="input-box">
                        <input name="group_id" type="hidden"
                               value="<?php echo Mage::getStoreConfig('supplierfrontendproductuploader_catalog/login/register_customer_group') ?>"
                               id="group_id" class="input-text required-entry">
                        <input name="firstname" placeholder="<?php echo $this->__('Enter First Name')?>" type="text" value="" id="firstname" class="validate-alpha input-text required-entry">
                    </div>
                </div>

                <div class="field">
<!--                    <label for="lastname" class="control-label required">
                        <?php // echo $this->__('Last Name'); ?><em class="text-error">*</em>
                    </label>-->
                    <div class="input-box"><input placeholder="<?php echo $this->__('Enter Last Name')?>" name="lastname" type="text" value="" id="lastname"
                                                  class="validate-alpha input-text required-entry">
                    </div>
                </div>

                <div class="field">
<!--                    <label for="email" class="control-label required">
                        <?php // echo $this->__('Email Address'); ?><em class="text-error">*</em>
                    </label>-->
                    <div class="input-box"><input name="email" type="text" value="" placeholder="<?php echo $this->__('Enter Email ID')?>" id="email"
                                                  class="input-text validate-email required-entry validate-length maximum-length-50"></div>
                </div>

                <div class="field">
<!--                    <label for="city" class="control-label required">
                        <?php // echo $this->__('Password'); ?><em class="text-error">*</em>
                    </label>-->
                    <div class="input-box"><input name="password" type="password" placeholder="<?php echo $this->__('Enter Password')?>" value="password" id="password"
                                                  class="input-text required-entry validate-password"></div>
                </div>

                <div class="field">
<!--                    <label for="country" class="control-label required">
                        <?php // echo $this->__('Retype Password'); ?><em class="text-error">*</em>
                    </label>-->
                    <div class="input-box"><input name="confirmation" placeholder="<?php echo $this->__('Confirm Password')?>" type="password" value="" id="confirmation"
                                                  class="input-text required-entry required-entry validate-cpassword">
                    </div>
                </div>
                 <div class="field">
                        <select class="form-control  validate-select" id="bussiness_type" name="bussiness_type">
                        <?php foreach($options as $option): ?>
                        <?php if(empty($option['label'])): ?>
                         <option value=""><?php echo $this->__('Select Business Type')?></option>   
                        <?php else : ?>
                        <option value="<?php echo $option['value'] ?>"><?php echo $option['label'] ?></option>
                        <?php endif; ?>
                        <?php endforeach; ?>
                        </select>
                </div>
                    <div class="field">
                        <div class="input-box">                      
                        <input name="designation" placeholder="<?php echo $this->__('Designation')?>" type="text" value="" id="designation" class="validate-length maximum-length-50 input-text required-entry">
                        </div>
                                  
                    </div>

                    <div class="field">
                        <select name="company_country" id="country" class="required-entry form-control">
                          <option value=""><?php echo $this->__('-- Please Select --')?></option>
                          <option value="OM">Oman</option>
                          <option value="AE" >United Arab Emirates</option>
                        </select>
                    </div>

                    <div class="field">
                    <div class="input-box">                      
                    <div class="col-md-4">
                        <select name="country_code" class="form-control" id="country_code">
                  
                            <option value="+971">(+971)</option>
                            <option value="+968">(+968)</option>
                        </select>
                    </div>
               
               
                  <div class="col-md-8">   
                  
                  <input id="contact_number" name="contact_number" placeholder="<?php echo $this->__('Contact Number')?>" onkeypress="return isNumbers(event);" class="input-text required-entry validate-length-country maximum-length-20" value="" type="text"></div>
                    </div>
                    </div>
  <div class="field">

                    
                    <div class="input-box">                      
                        <input name="web_url" placeholder="<?php echo $this->__('Website Url')?>" type="text" value="" id="web_url" class="validate-url input-text">
                    </div>
                </div>
                <div class="field">

                    
                    <div class="input-box">                      
                        <input name="supplier_name" placeholder="<?php echo $this->__('Book your store name')?>" type="text" value="" id="supplier_name" class="validate-length maximum-length-50 input-text required-entry">
                    </div>
                </div>
                 <div class="field">

                    
                    <div class="input-box">                      
                        <textarea name="supplier_description" placeholder="<?php echo $this->__('Message')?>"  id="supplier_description" class="validate-length input-text maximum-length-50 required-entry"></textarea>
                    </div>
                </div>

                <div class="login-btn buttons-set">
                    <button type="submit"
                            class="btn btn-sm btn-primary"><span><span><?php echo $this->__('Submit'); ?></span></span></button>
                    <!--<p class="required"><?php // echo $this->__('* Required Fields'); ?></p>-->
                </div>
            </div>
        </form>
    </div> <!-- .span8 -->
</div>

<script type="text/javascript">
    //< ![CDATA[
    var customForm = new VarienForm('registerForm');
    //]]>

    function isNumbers(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
        
    }
    
    jQuery("#country").on('change',function(){
        var code = jQuery(this).val();
        if(code == 'OM'){
            jQuery("#country_code option:nth-child(1)").removeAttr('selected');
            jQuery("#country_code option:nth-child(2)").attr('selected', 'selected');
        }
        else if(code == 'AE'){
            jQuery("#country_code option:nth-child(2)").removeAttr('selected');
            jQuery("#country_code option:nth-child(1)").attr('selected', 'selected');
        }
        else{
            jQuery("#country_code option:nth-child(1)").removeAttr('selected');
            jQuery("#country_code option:nth-child(2)").removeAttr('selected');
        }
    })
    
</script>