<?php $rma = $this->getRma();  
$current = Mage::app()->getStore()->getCurrentCurrencyCode();   
$baseCode = Mage::app()->getBaseCurrencyCode();      
$currentcustomer = Mage::getSingleton('customer/session')->getId();
$allowedCurrencies = Mage::getModel('directory/currency')->getConfigAllowCurrencies(); 
$rates = Mage::getModel('directory/currency')->getCurrencyRates($baseCode, array_values($allowedCurrencies));
$sum = 0;
?>
<div class="col-md-12">
    <h3 class="text-center e-sub-title"><?php echo $this->__("Ordered Items"); ?></h3>
    <div class="table-responsive">
        <table class="table table-striped e-order-table">
            <thead>
            <tr>
                <th><?php echo $this->__('Product'); ?></th>
                <th><?php echo $this->__('SKU'); ?></th>
                <th><?php echo $this->__('Price'); ?></th>
                <th><?php echo $this->__('Qty'); ?></th>
                <th><?php echo $this->__('Subtotal'); ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($rma->getAllItems() AS $_item) : ?>
                <?php $item = $_item->getOrderItem(); 

                      $product = Mage::getModel('catalog/product')->load($item->getProductId()); 

                      $ordersupplier = $product->getCreatorId(); 

                      $order = Mage::getModel('sales/order')->load($item->getOrderId());
                      $storecode = $order->getOrderCurrencyCode();
                if($currentcustomer == $ordersupplier):            
                ?>
                <tr>
                    <td><?php echo $this->escapeHtml($item->getName()); ?></td>
                    <td><?php echo $item->getSku(); ?></td>
                    <td>
                    <?php
                    if($current == 'OMR'){

                         if($storecode == 'AED'){
                            $finalprice = round($item->getPrice() / $rates['AED'],3);
                            echo $current.$finalprice;
                         }
                         else{
                            echo Mage::helper('core')->currency($item->getPrice()); 
                         }   

                       /* if($current == $orderStore){ 
                            $sumPriceS = $sumPrice + $_item->getPrice();
                            echo $current.$sumPriceS;
                        }
                        else{
                            echo Mage::helper('core')->currency($_item->getPrice()); 
                        }   */ 
                    }
                    else{
                         if($storecode == 'OMR'){
                            $finalprice = round($item->getPrice() * $rates['AED'],3);
                            echo $current.$finalprice;
                         }
                         else{
                            echo $current.round($item->getPrice(),3);
                            //echo Mage::helper('core')->currency($item->getPrice()); 
                         } 

                    }  
                    /*if($current == $storecode){
                        echo $current.$item->getPrice();
                    }
                    else{
                    echo Mage::helper('core')->currency($item->getPrice(), true, false); 
                    }*/ 
                    ?></td>
                    <td><span class="nobr"><?php echo $this->__("Ordered"); ?>: <strong><?php echo number_format($item->getQtyOrdered()); ?></strong><br></span>
                        <?php $qty = $item->getQtyOrdered();  ?>
                        <span class="nobr"><?php echo $this->__("Refunding"); ?>: <strong><?php echo number_format($_item->getQty()); ?></strong><br></span></td>
                    <td>
                    <?php

                    if($current == 'OMR'){

                         if($storecode == 'AED'){
                            $finalrowprice = round($item->getRowTotal() / $rates['AED'],3);
                            echo $current.$finalrowprice;
                            $sum = $sum + $finalrowprice;
                         }
                         else{
                            echo Mage::helper('core')->currency($item->getRowTotal(), true, false);
                            $sum = $sum + Mage::helper('core')->currency($item->getRowTotal(), true, false);  
                         }   

                       /* if($current == $orderStore){ 
                            $sumPriceS = $sumPrice + $_item->getPrice();
                            echo $current.$sumPriceS;
                        }
                        else{
                            echo Mage::helper('core')->currency($_item->getPrice()); 
                        }   */ 
                    }
                    else{

                         if($storecode == 'OMR'){
                            $finalrowprice = round($item->getRowTotal() * $rates['AED'],3);
                            echo $current.$finalrowprice;
                            $sum = $sum + $finalrowprice;
                         }
                         else{
                            echo $current.round($item->getRowTotal(),3);
                            $sum = $sum + round($item->getRowTotal(),3); 
                            //echo Mage::helper('core')->currency($item->getRowTotal(), true, false);
                         } 

                    }
                   // echo Mage::getSingleton('core/session')->getOrderQuantity();
                    /*if($current == $storecode){
                        echo $current.$item->getRowTotal();
                    }
                    else{
                        echo Mage::helper('core')->currency($item->getRowTotal(), true, false); 
                    }*/
                    ?>    
                    </td>
                </tr>
            <?php endif;endforeach; 
             Mage::getSingleton('core/session')->setWalletAmount($sum);
             Mage::getSingleton('core/session')->setOrderQuantity($qty);
            ?>
            </tbody>
        </table>
    </div>
</div>