.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.row.home {
    width: 100%;
}

.home .detail .sub-child {
    background: #FFF;
}

.home .detail .sub-child a {
    height: 100%;
    /*vertical-align: middle;*/
    display: inline-block;
    position: relative;
}

.home .detail .sub-child a img {
    vertical-align: middle;
}

.home .detail .main-class {
    margin-bottom: 30px;
}

h2,
.h2 {
    font-family: RockoFLF;
    font-size: 40px;
}

a:hover {
    text-decoration: none;
}

ol,
ul {
    margin: 0px;
}

.no-padding {
    padding: 0px !important;
}

img {
    max-width: 100%;
}

.noleftpadding {
    padding-left: 0px !important;
}

.norightpadding {
    padding-right: 0px !important;
}

.main-offer {
    display: inline-block;
    margin-top: 30px;
    width: 100%;
}

.row.home {
    display: inline-block;
    margin-bottom: 40px;
}

.title h2 img {
    margin: 10px auto 0;
    max-width: 274px !important;
    text-align: center;
    width: 100%;
}

.page-header {
    margin: 0 auto;
    /*max-width: 1580px;*/
    padding: 13px 20px;
    display: inline-block;
    width: 100%;
}

.main-offer .offer {
    border: 1px solid;
    padding: 5px;
    text-align: center;
}

.main-offer .offer span {
    font-size: 16px;
    font-weight: bold;
}

.page .main-container {
    max-width: 1580px;
    padding: 20px 10px;
    /* padding: 20px 20px 20px 20px;*/
    background: #ECECEC;
}

.main-offer .offer span i {
    font-size: 30px;
    line-height: 40px;
    margin-right: 5px;
}

.the-slideshow .control-nav.control-paging {
    display: none;
}

.main-offer .offer:hover {
    background: #F26A38;
    border: 1px solid #F26A38;
    color: #FFF;
}

.home .title {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.view-more {
    text-align: center;
    /*margin: 0 auto;*/
    margin: 10px 0px;
}

.view-more button {
    border-radius: 50px;
    padding: 10px 50px;
    background: #f26a38;
}

.view-more button span {
    font-size: 15px;
    vertical-align: middle;
}

.view-more button i {
    font-size: 24px;
    padding-left: 11px;
    vertical-align: middle;
}

.shopbycategory a {
    position: relative;
    display: inline-block;
}

.shopbycategory span {
    bottom: 0px;
    background: rgba(142, 142, 142, 0.8);
    display: inline-block;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
    color: #FFF;
    font-size: 25px;
    text-transform: capitalize;
    font-family: "RockoFLF";
}

.shopbystore span {
    bottom: 0px;
    background: rgba(142, 142, 142, 0.8);
    display: inline-block;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
    color: #FFF;
    font-size: 20px;
    text-transform: capitalize;
    font-family: "RockoFLF";
}


.shopbycategory a:hover {
    background-color: #ffffff;
    opacity: 0.7;
}

.notdisplay-xs .store-language-container {
    float: right;
}

.notdisplay-xs .store-language-container #select-language {
    color: #898989;
    background: none;
    border: none;
}

.notdisplay-xs .links {
    float: right;
    color: #898989;
}

/*.notdisplay-xs .links a {
  color: #555555;
}

.notdisplay-xs .links a:hover {
  color: #0199FE;
}*/

/**/

.menu-left i {
    font-size: 34px;
    color: #FFF;
}

.menu-left {
    display: inline-block;
    padding-top: 23px;
}

.custom-action {
    background: #8e8e8e none repeat scroll 0 0;
    color: #fff;
    display: none;
    margin-top: -40px;
    padding: 10px 5px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.custom-action a {
    color: #FFF;
    padding: 0 5px;
    font-size: 14px;
}

.custom-action:hover {
    background: #272B2C;
}

.custom-action button:hover,

.custom-action a:hover {
    color: #f26a38;
}

.custom-action button i,

.custom-action a i {
    padding: 0px 5px;
}

.custom-action button {
    background: none;
    border: none;
    padding: 0 5px;
    font-size: 14px;
}

.custom-action button.outofstock {
    color: #F00;
}

.custom-action button:hover button.outofstock {
    color: #F00;
}

.product_detail {
    padding: 5px 0px 0px 5px;
    font-size: 13px;
    text-transform: capitalize;
    min-height: 20px;
    overflow: auto;
    /* height: 85px;*/
}

.product_detail > a {
    display: inline-block;
    position: relative;
    width: 100%;
}

.thumbnail1 {
    display: inline-block;
    position: relative;
    width: 100%;
}

.thumbnail1 .action a:hover i {
    font-size: 20px;
    color: #f26a38;
}

.thumbnail1 .action a i {
    font-size: 20px;
    color: #8E8E8E;
}

.thumbnail1 .action {
    display: inline-block;
    width: 100%;
    position: relative;
    bottom: 0px;
}

.thumbnail1 .action .price-box {
    float: left;
}

.footer .block-title strong {
    width: 100%;
    display: inline-block;
}

.footer .block-title strong {
    font-size: 23px;
}

.underline {
    width: 50px;
    border: 1px solid #F26A38;
    display: inline-block;
}

.follow-us span {
    color: #5E2828;
    font-size: 22px;
}

.follow-us a {
    margin: 0px 5px;
}

.follow-us a i {
    font-size: 28px;
    color: #656565;
}

.follow-us a i:hover {
    color: #F26A36;
}

.email span {
    margin-left: 25px;
    color: #F26A36;
    font-size: 14px;
}

.phone span {
    margin-left: 25px;
    font-size: 14px;
}

.footer-logo {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}

.footer-text a {
    color: #F26A36;
    clear: both;
    margin-top: 15px;
    display: inline-block;
}

.footer-text {
    text-align: justify;
}

/*.products-grid .product-name, .products-list .product-name{height: 20%;}*/

.Payments img {
    text-align: center;
    margin: 0 auto;
}

.product-image {
    background: #FFF;
}

.subcategories li {
    margin-bottom: 20px;
}

.view-more .pages {
    display: none;
}

.owl-carousel .owl-item img {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.owl-carousel {
    background: #FFF;
}

.owl-nav .owl-prev {
    left: 0px;
}

.owl-nav .owl-next {
    right: 0px;
}

.owl-nav .owl-prev i,

.owl-nav .owl-next i {
    font-size: 60px;
}

.product-img-box {
    position: relative;
}

.product-img-box .add-to-box {
    float: right;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 9999;
}

.totalpricemain {
    display: inline-block;
    text-align: left;
    width: 100%;
}

.totalprice {
    display: inline-block;
    width: 100%;
}

.qtyswitcher-btn-picto {
    display: inline-block;
    width: 100%;
}

.price-box .label {
    color: #333;
    padding: 0px;
}

/*
@media only screen and (min-width: 1500px) {
.home .detail .main-class .sub-child a img {

    padding: 20px;
	position:relative;
}
.home .detail .main-class  .sub-child {
    height: auto;
    position: relative;
    vertical-align: middle;
}
}*/

@media only screen and (min-width: 1171px) {

    /*17-4-2017 rinkal css */
    div.wp-custom-menu-popup {
        left: 259px !important;
    }
    /*12-4-2017 rinkal css */
    .nav-bottom-show {
        display: none;
    }
    .display-lg {
        display: block;
    }

    .skip-content.notdisplay-xs {
        display: block;
    }

    .notdisplay-lg {
        display: none;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1170px) {


    /*12-4-2017 rinkal css */
    .nav-bottom-show {
        display: none;
    }


    .display-md {
        display: block;
    }

    .notdisplay-md {
        display: none;
    }

    .skip-content.notdisplay-xs {
        display: block;
    }

    canvas {
        width: 99% !important;
        position: absolute;
        margin: 0 auto;
    }

    .btn {
        font-size: 12px;
    }

    .add_clone_add {
        padding: 1px 12px !important;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1024px) {
    /*18-4-2017 rinkal css start */
    .custom-action {
        padding: 0px;
    }
    .shipping-list select {
        width: 174px !important;
    }
    .form-button {
        max-width: 70px;
        min-width: 70px !important;
        width: 70px;
    }
    /*18-4-2017 rinkal css end */
    /*17-4-2017 rinkal css start */
    .sidenav .closebtn {
        right: 0px;
    }
    .sidenav-sub .menu-left {
        padding-left: 0px;
    }
    .orders tr .view {
        position: relative;
        right: 15px;
    }
    .my-account .edit-ad-section2 {
        margin-left: 0px;
    }
    .actions .btn-cart {
        margin-left: 0px !important;
        margin-bottom: 5px;
    }
    .sidenav .sidenav-sub .closebtn {
        right: -40px;
    }
    .sidenav-sub a.closebtn img {
        padding: 5px;
    }
    .sidenav-sub {
        width: 160px !important;
    }
    div.wp-custom-menu-popup {
        left: 160px !important;
    }

    /*17-4-2017 rinkal css end */
    /* 22-3-2017 rinkal css start */
    .logo {
        width: 50%;
    }

    .menu-left {
        padding-left: 20px;
        width: 25%;
    }

    .menu-left img {
        width: 74%;
    }

    .nav-primary a.level0 {
        font-size: 13px;
        padding: 0 5px;
    }

    .skip-search i {
        color: #f16b36;
        font-size: 17px !important;
        margin-top: 7px !important;
        margin-right: 0px !important;
    }

    #header-nav {
        display: block;
        float: left;
        width: 97%;
    }

    .home .detail .sub-child {
        height: 250px !important;
        min-height: 250px !important;
    }

    .main-offer .offer span {
        font-size: 13px;
    }

    h2,
    .h2 {
        font-size: 20px;
    }

    .shopbycategory span {
        font-size: 15px;
    }

    .view-more button {
        padding: 5px 15px;
    }

    .view-more button span {
        font-size: 13px;
    }

    .product-name {
        font-size: 12px !important;
        height: auto;
    }

    /* .price-box .price {
    font-size: 12px !important;
  }*/
    .footer {
        padding: 40px 5px;
    }

    .footer-text {
        text-align: justify;
    }

    .footer .block-title strong {
        font-size: 14px;
    }

    .footer .links a {
        color: #636363;
        font-size: 10px;
    }

    .footer .links.col-sm-4 > div {
        font-size: 11px;
    }

    .footer-logo {
        margin-bottom: 17px;
        width: 50%;
    }

    .follow-us a i {
        font-size: 18px;
    }

    .follow-us span {
        font-size: 16px;
    }

    .Payments {
        margin-top: 10px;
    }
    /* 22-3-2017 rinkal css end */
    ;
    /*23-3-2017 rinkal*/
    .product-name .h1,
    .totalprice .total_price {
        font-size: 14px !important;
    }

    #qtyswitcher-btn-picto button,
    #buynow-btn-picto button {
        padding: 10px !important;
    }

    /*#qtyswitcher-onemore, #qtyswitcher-oneless {
    height: 20px !important;
  }*/
    .col-left.sidebar.col-md-2.no-padding,
    .col-main.col-md-10.no-padding {
        padding: 0px 10px !important;
    }
    /*12-4-2017 rinkal css */
    .nav-bottom-show {
        display: none;
    }
    .btn-shipping {
        padding: 8px 18px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /*4-5-2017 rinkal css start */
    .custom_header .links li {
        padding-left: 3px !Important;
    }
    .page-header-container .store-language-container {
        margin: 10px 0 !important;
    }
    .links li {
        margin: 10px 5px !important;
    }
    .login-form .form-list,
    #login-form .registered-users {
        width: 450px;
        margin: 0 auto;
    }
    .login-main .page-title {
        width: 450px;
        margin: 0 auto;
    }
    .account-create .col-main,
    .account-create #form-validate {
        width: 450px;
        margin: 0 auto;
    }
    /*4-5-2017 rinkal css start */
    /*24-4-2017 rinkal css start */
    .nav_contact {
        display: none;
    }
    /*24-4-2017 rinkal css end*/
    /* 20-4-2017 rinkal css start */
    #sizeModal .cat-title,
    .size-chart-modal .cat-title {
        height: auto !important;
    }
    /* 20-4-2017 rinkal css end */
    /*17-4-2017 rinkal css start */
    /*.sidenav .closebtn{right:0px;}*/
    .sidenav-sub .menu-left {
        padding-left: 0px;
    }
    #custommenu-mobile #menu-button {
        display: none;
    }
    #custommenu-mobile #menu-content {
        display: block !Important;
    }
    .col-left.sidebar.col-left-first.col-md-2 {
        width: 100%;
    }
    .orders tr .view {
        position: relative;
        right: 15px;
    }
    .my-account .edit-ad-section2 {
        margin-left: 0px;
    }
    #wishlist-table.clean-table td textarea {
        height: 50px;
    }
    #wishlist-table.clean-table td.customer-wishlist-item-cart {
        min-width: 150px;
    }
    .sidenav .sidenav-sub .closebtn {
        right: -36px;
    }
    .sidenav-sub a.closebtn img {
        padding: 5px;
    }
    .sidenav-sub {
        width: 145px !important;
    }
    .timer-list {
        font-size: 13px;
        left: 0px;
        right: 0px;
        position: absolute;
        text-align: center;
    }
    /*17-4-2017 rinkal css end */
    .navbar.navbar-inverse.navbar-fixed-top.vendor-container.navbar-default {
        width: 100%;
    }
    div.collapse.navbar-collapse {
        width: 100%;
    }
    .btn-shipping {
        padding: 8px 18px !important;
    }
    .vendor-logo {
        width: 8%;
    }
    .display-sm {
        display: block;
    }

    .notdisplay-sm {
        display: none;
    }

    .skip-content.notdisplay-xs {
        display: block;
    }

    .navbar.navbar-inverse.navbar-fixed-top.vendor-container.navbar-default {
        height: auto;
        position: relative;
        margin-top: -1px;
    }

    .vendor-container {
        width: 100%;
        float: none !important;
    }

    canvas {
        width: 99%;
        position: absolute;
        margin: 0 auto;
    }

    .btn {
        font-size: 12px;
    }

    .navbar.navbar-inverse.navbar-fixed-top.vendor-container.navbar-default {
        margin-top: -1px;
    }
    /* 22-3-2017 rinkal css start */
    .logo {
        width: 50%;
    }

    .menu-left {
        padding-left: 20px;
        width: 25%;
    }

    .menu-left img {
        width: 74%;
    }

    .nav-primary a.level0 {
        font-size: 13px;
        padding: 0 2px;
    }

    .skip-search i {
        color: #f16b36;
        font-size: 17px !important;
        margin-top: 7px !important;
        margin-right: 0px !important;
    }

    #header-nav {
        display: block;
        float: left;
        width: 96%;
    }

    .home .detail .sub-child {
        height: 170px !important;
        min-height: 170px !important;
    }

    .main-offer .offer span {
        font-size: 13px;
    }

    h2,
    .h2 {
        font-size: 20px;
    }

    .shopbycategory span {
        font-size: 15px;
    }

    .view-more button {
        padding: 5px 15px;
    }

    .view-more button span {
        font-size: 13px;
    }

    .product-name {
        font-size: 12px !important;
        height: auto;
    }

    .price-box .price {
        font-size: 14px;
    }

    .footer {
        padding: 40px 5px;
    }

    .footer-text {
        text-align: justify;
    }

    .footer .block-title strong {
        font-size: 14px;
    }

    .footer .links a {
        color: #636363;
        font-size: 10px;
    }

    .footer .links.col-sm-4 > div {
        font-size: 11px;
    }

    .footer-logo {
        margin-bottom: 17px;
        width: 50%;
    }

    .follow-us a i {
        font-size: 18px;
    }

    .follow-us span {
        font-size: 16px;
    }

    .Payments {
        margin-top: 10px;
    }
    /* 22-3-2017 rinkal css end */
    /* 23-3-2017 rinkal css start */
    .product-name .h1,
    .totalprice .total_price {
        font-size: 14px !important;
    }

    #qtyswitcher-btn-picto button,
    #buynow-btn-picto button {
        padding: 10px !important;
    }

    /*#qtyswitcher-onemore, #qtyswitcher-oneless {
    height: auto !important;
  }*/
    /* 23-3-2017 rinkal css end */
    ;
    /* 29-3-2017 rinkal css start */
    .table-caption {
        font-size: 15px;
    }

    .col-left.sidebar.col-md-2.no-padding,
    .col-main.col-md-10.no-padding {
        padding: 0px 10px !important;
    }
    /* 29-3-2017 rinkal css end */
    ;
}

@media only screen and (min-width: 768px) {

    #search_mini_form .input-box {
        display: inline-block;
        float: left;
        position: absolute;
        right: 0;
        width: 250px;
    }

    /*#search_mini_form .input-box{display: none;}*/
    .custom_header .skip-search {
        display: none;
    }

    .skip-search > div {
        float: right;
    }

    /*.skip-search > i {
    color: #f16b36;
    font-size: 25px;
    margin-right: 23px;
  }
*/
    .links li {
        float: left;
        margin: 10px;
    }

    .footer .links li {
        float: left;
        margin: 5px;
    }

    #header-search {
        float: right;
        position: relative;
        right: 0;
        width: 5%;
        top: 50px;
        height: auto;
        z-index: 150;
        padding-left: 5px;
    }

    .skip-search {
        display: block;
        float: right;
        width: auto;
    }

    .skip-link.skip-cart {
        background: none;
    }
}

@media only screen and (max-width: 767px) {
    /*2-5-2017 rinkal css start */
    #onestepcheckout_orderform .col3-set .col-1,
    #onestepcheckout_orderform .col3-set .col-2 {
        width: 100%;
    }
    /*2-5-2017 rinkal css end */
    /*24-4-2017 rinkal css start */
    .nav_contact {
        display: none;
    }
    /*24-4-2017 rinkal css end*/
    /*20-4-2017 rinkal css start */
    .product-options .swatch-attr.size-att .size-chart {
        display: none;
    }
    /*20-4-2017 rinkal css end */
    .navbar.navbar-inverse.navbar-fixed-top.vendor-container.navbar-default {
        width: 100%;
    }
    div.collapse.navbar-collapse {
        width: 100%;
    }
    .custom-search {
        display: none;
    }

    h2,
    .h2 {
        font-size: 34px;
    }

    .display-xs {
        display: block;
    }

    .notdisplay-xs {
        display: none;
    }

    .skip-link {
        border: 1px solid #FFF;
    }

    .skip-link:hover:not(.skip-active) {
        background: #272b2c;
    }

    .skip-link.skip-active {
        background: #272b2c;
    }

    .skip-account:active .icon {
        background-position: -46px -44px;
    }

    .noleftpadding {
        padding-left: 10px !important;
    }

    .norightpadding {
        padding-right: 10px !important;
    }

    .main-offer > div {
        margin-bottom: 5px;
    }

    .logo {
        display: inline-block;
        width: 100%;
    }

    .shop-by-brand .detail > div,

    .shop-by-category .detail > div,

    .shop-by-store .detail > div {
        margin-bottom: 5px;
    }

    .logo img {
        margin: 0 auto;
    }

    /* 20-3-2017 rinkal responsive css start */
    .navbar.navbar-inverse.navbar-fixed-top.vendor-container.navbar-default {
        height: auto;
        position: relative;
        margin-top: -1px;
    }

    .charts {
        display: none;
    }

    .vendor-container {
        float: none;
        width: 100%;
    }

    .navbar-toggle {
        margin-top: 22px;
        margin-right: 0px;
    }

    /*.logo {
    width: auto;
    float: left;
  }*/
    div.vendor-container {
        margin-bottom: 20px;
    }

    .e-title {
        font-size: 20px;
    }

    .e-sub-title {
        font-size: 16px;
    }

    #report_filter .btn {
        margin-bottom: 10px;
    }

    .order-page .col-sm-12 {
        text-align: left !important;
        float: left !important;
    }

    hr {
        display: none;
    }
    /* 20-3-2017 rinkal responsive css end */
    ;
    /* 29-3-2017 rinkal css start */
    .table-caption {
        font-size: 15px;
    }

    .col-left.sidebar.col-md-2.no-padding,
    .col-main.col-md-10.no-padding {
        padding: 0px 10px !important;
    }
    /* 29-3-2017 rinkal css end */
    ;
}

@media only screen and (max-width: 991px) {



    .main-offer .offer span i {
        display: inline-block;
        width: 100%;
    }
}





/***********************************/

body {
    font-family: "Lato", sans-serif;
}

#main1 {
    transition: 0.1s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 60px;
}

.sidenav #nav li {
    width: 100%;
    display: inline-block;
}

/*
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}*/

/*.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}*/

.sidenav .closebtn {
    position: absolute;
    /*top: 28px;*/
    right: -60px;
    font-size: 36px;
    margin-left: 0px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {

    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 13px;
    }
}

/**************************** view more CSS *********************************/

.ias_loader,
.ias_trigger {
    text-align: center;
    margin: 30px 0 40px;
}

.ias_trigger a:link,

.ias_trigger a:visited {
    padding: 4px 50px;
    background-color: #f9f9f9;
    border: solid 1px #ddd;
    border-radius: 2px;
    font: bold 12px Arial, sans-serif;
    color: #555;
    text-decoration: none;
}

.ias_trigger a:hover,

.ias_trigger a:active {
    border-color: #ccc;
}



/***************** Tooltips**********************/

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
    opacity: 1;
    /*width: 100%;*/
    font-size: 14px;
    font-family: 'RockoFLF';
    z-index: 1;
}



/* Tooltip text */

/*.tooltip .tooltiptext {

    visibility: hidden;

    width: 120px;

    background-color: #555;

    color: #fff;

    text-align: center;

    padding: 5px 0;

    border-radius: 6px;

    position: absolute;

    z-index: 1;

    bottom: 125%;

    left: 50%;

    margin-left: -60px;

    opacity: 0;

    transition: opacity 1s;

}*/

/* Tooltip arrow */

/*.tooltip .tooltiptext::after {

    content: "";

    position: absolute;

    top: 100%;

    left: 50%;

    margin-left: -5px;

    border-width: 5px;

    border-style: solid;

    border-color: #555 transparent transparent transparent;

}*/

.tooltip-bottom::after {
    border-color: transparent transparent #555;
    border-style: solid;
    border-width: 5px;
    bottom: 100%;
    content: "";
    left: 4px;
    /*margin-left: -5px;*/
    position: absolute;
}

.tooltip .tooltiptext {
    background-color: #555;
    border-radius: 6px;
    color: #fff;
    opacity: 0;
    padding: 10px 30px;
    position: absolute;
    text-align: center;
    transition: opacity 1s ease 0s;
    visibility: hidden;
    width: auto;
    /* width: 100%;*/
    z-index: 1;
}

.tooltip-bottom {
    left: 0%;
    /* margin-left: -60px;
  top: 135%;*/
    top: 95%;
}



/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}



/******************** vendor nav***************************/

.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    color: #e1ffff;
}

.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
    ;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}

.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}

.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}

.nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

@media (max-width: 767px) {
    .vendor-logo {
        width: 18%;
    }
    .buttons-set {
        display: inline-grid;
    }

    .buttons-set .btn {
        margin-top: 10px;
    }

    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }

    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
    /* 22-3-2017 poojan css */
    #topline {
        height: 37px;
        padding: 0;
    }

    #topline {
        background: #182d55 none repeat scroll 0 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.27);
        line-height: 18px;
        padding: 10px 0;
        position: relative;
        text-transform: uppercase;
        width: 100%;
        z-index: 9999;
    }

    .mobile-toplinks .toprow-1 {
        background-color: #ffffff;
        border-bottom: 2px solid #282b2c;
        display: block;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    .swipe-control {
        display: block;
        float: left;
        height: 37px;
        position: relative;
        text-align: center;
        width: 50px;
        z-index: 100;
    }

    .swipe-control i {
        color: #282b2c;
        font-size: 18px;
        line-height: 37px;
    }

    .top-search {
        display: inline-block;
        float: left;
        height: 38px;
        line-height: 39px;
        padding: 0 0 0 5px;
        position: relative;
        z-index: 101;
    }

    .top-search i {
        color: #282b2c;
        font-size: 18px;
        line-height: 37px;
    }

    .cart-position {
        min-width: 83px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 100;
        float: right;
        margin: 0;
    }

    .swipe {
        background-color: #f9f9f9;
        color: #3e454c;
        left: 0;
        overflow: hidden;
        position: fixed;
        top: 40px;
        width: 250px;
        z-index: 9999999;
        border-right: 2px solid #282b2c;
        border-bottom: 2px solid #282b2c;
    }

    .swipe .swipe-menu {
        background-color: #fff;
        overflow: scroll;
    }

    .swipe .swipe-menu ul {
        text-align: left;
    }

    .swipe .swipe-menu > ul li a {
        border-bottom: 1px solid #f0f0f0;
        color: #282b2c;
        display: block;
        font-family: "RockoFLF";
        font-size: 12px;
        line-height: 26px;
        padding: 5px 10px;
        position: relative;
    }

    #topline .mobile-toplinks {
        display: block;
    }

    #cart .heading span.link_a {
        color: #75808c;
        cursor: pointer;
        display: block;
        font-size: 12px;
        height: 38px;
        line-height: 46px;
        text-decoration: none;
        text-transform: uppercase;
    }

    #cart .heading span.link_a i.fa-shopping-cart {
        display: inline-block;
        float: left;
        font-size: 18px;
        line-height: 37px;
        padding: 0 11px;
    }

    #cart .heading span.link_a {
        color: #282b2c;
        cursor: pointer;
        font-size: 12px;
        line-height: 46px;
        text-transform: uppercase;
    }

    .cart-position #cart .heading span.link_a #cart-total2 {
        background: rgba(0, 0, 0, 0) url("../images/cart-total.png") no-repeat scroll left top;
        color: #ffffff;
        display: block;
        height: 25px;
        left: 44px;
        line-height: 19px;
        overflow: hidden;
        position: absolute;
        text-align: center;
        top: 9px;
        width: 30px;
    }
    /* 22-3-2017 poojan css */
    /*.page .main-container {
    padding: 0px;
  }*/
    .main-offer .offer {
        margin-bottom: 5px;
    }

    .skip-link {
        border: none;
    }

    .skip-account {
        display: block;
        float: left;
        height: 37px;
        position: relative;
        text-align: center;
        width: 50px;
        z-index: 100;
    }

    .skip-account i {
        color: #282b2c;
        font-size: 18px;
        line-height: 37px;
    }

    .skip-link:hover:not(.skip-active) {
        background: none;
    }

    .skip-content {
        float: left;
        left: 0;
        position: absolute;
        width: 320px;
        padding: 0px;
        z-index: 999;
    }

    .top-search .skip-link {
        border: none !important;
    }

    .skip-link.skip-active {
        background: none;
    }

    .page .page-header {
        padding: 0px;
        margin: 0px;
    }

    #header-account {
        padding: 0px;
    }

    .skip-content .links ul li a {
        background: #fff none repeat scroll 0 0;
        border-bottom: 1px solid #f0f0f0;
        color: #282b2c;
        line-height: 30px;
        padding: 0 15px 0 25px;
        text-align: left;
        text-transform: capitalize;
    }

    .product-view [class*=' col-'] {
        padding-left: 10px;
        padding-right: 10px;
    }

    #qtyswitcher-btn-picto button,
    #buynow-btn-picto button {
        padding: 10px !important;
    }

    #qtyswitcher-oneless,
    #qtyswitcher-onemore {
        height: auto;
    }

    .product-collateral {
        padding: 0px 10px;
    }

    .product-name h1,
    .totalprice .total_price {
        font-size: 14px;
    }
    /*23-3-2017rinkal css*/
    ;
    /*12-4-2017 rinkal css start */
    .price-box .price {
        font-size: 18px !important;
    }
    /* #qtyswitcher-oneless, #qtyswitcher-onemore{height:auto;}*/
    .logo {
        float: left;
        width: 80%;
    }
    /*12-4-2017 rinkal css end */
    /*12-4-2017 rinkal css */
    .nav-bottom-show {
        display: block;
    }
    .nav-bottom {
        display: none;
    }
}

.skip-content .links {
    border-bottom: 1px solid #282b2c;
    border-right: 1px solid #282b2c;
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

body {
    margin: 0px;
    padding: 0px;
}

/******************** vendor nav***************************/

/* 21-3-2017 frond end design rinkal css start */

.skip-cart {
    padding: 0px;
    text-transform: capitalize;
    color: #337ab7;
}

.custom_header .links li {
    border-left: 1px solid #555555;
    padding-left: 20px;
}

.main-offer .offer span i {
    vertical-align: middle;
}

.h2,
h2 {
    margin: 0px;
}

.most_viewed {
    margin-bottom: 30px;
}

.row {
    margin: 0 auto;
}

.home .detail .sub-child {
    min-height: 370px;
    vertical-align: middle;
    position: relative;
    height: 370px;
}

/*    .home.shop-by-store .detail .sub-child a img {
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left:0;
    right: 0;
}*/

.home .detail .sub-child a {
    display: inline-block;
    height: inherit;
    min-height: inherit;
    position: relative;
    width: 100%;
}

.home .detail .sub-child a img {
    vertical-align: middle;
    margin: auto;
    top: 0;
    bottom: 0;
    position: absolute;
}

.sidenav {
    background: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%;*/
    padding: 0px;
    position: fixed;
    height: 100%;
    transition: width 0.5s linear 0.2s;
    -webkit-transition: width 0.5s linear 0.2s;
    /* For Safari 3.1 to 6.0 */
}

.sidenav-sub {
    width: 260px;
    height: 100vh;
    background: url(../images/menu-bg.png);
    position: absolute;
    background-size: cover;
}

.nav-container {
    width: 100%;
    display: inline-block;
}


/* 21-3-2017 frond end design rinkal css end
 */

/* 22-3-2017 css rinkal start */

.breadcrumbs span .fa {
    font-size: 15px;
}

.breadcrumbs li {
    text-transform: capitalize;
}

.page-header-container .store-language-container {
    margin: 10px;
    padding: 0px;
}

.p-0 {
    padding: 0px;
}

.inner-brand .detail .sub-child {
    height: 307px;
    vertical-align: middle;
    position: relative;
    min-height: 307px;
}

.inner-brand .detail .sub-child a img {
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.inner-brand .detail .sub-child a {
    display: inline-block;
    height: inherit;
    min-height: inherit;
    position: relative;
    width: 100%;
}

.home .detail .sub-child a img {
    vertical-align: middle;
    margin: auto;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.brand-inner-left .block,
.my-account {
    border: 1px solid #c4c4c4;
    padding: 40px 20px;
    background: #ffffff;
}

.brand-inner-left .block,
.my-account {
    border: 1px solid #c4c4c4;
    padding: 10px;
    background: #ffffff;
}

.brand-inner-left .block,
.my-account p {
    margin: 0px;
}

.products-grid .title {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.p-l-0 {
    padding-left: 0px;
}

.product-view .product-shop .product-name .h1 {
    float: left;
    margin-bottom: 5px;
    font-size: 22px;
    margin-top: 0px;
    font-family: 'RockoFLF-bold';
}

.skip-search > i {
    color: #f16b36;
    font-size: 25px;
    margin-right: 23px;
}

/* 22-3-2017 css rinkal end */

/*22-3-2017 poojan css start */

#swipemobile,
.mobile-toplinks,
legend {
    display: none;
}

/*22-3-2017 poojan css end */

/* 23-3-2017 rinkal caa start*/

.soldby label {
    color: #797979;
}

.soldby {
    color: #0270ce;
    font-family: 'RockoFLF';
    font-size: 13px;
    display: inline-block;
}

.totalprice .regular-price .price {
    font-size: 18px !important;
    color: #282b2c !important;
    /* margin-left: 15px; */
    ;
}

.totalprice .total_price {
    font-size: 18px;
    margin-right: 10px;
    font-family: 'RockoFLF-bold';
}

.label span.configurable-price-from-label {
    font-family: 'RockoFLF-bold';
    font-size: 11px;
    display: none;
}

#qtyswitcher-qty-box label {
    color: #282b2c;
    font-size: 14px;
}

#qtyswitcher-oneless {
    background: transparent url('../images/minus.png') no-repeat;
    height: 6px;
    vertical-align: middle;
}

#qtyswitcher-onemore {
    background: transparent url('../images/plus.png') no-repeat;
    height: 13px;
    vertical-align: middle;
}

.product-options dt {
    margin: 3px 0 3px;
    font-weight: normal;
    float: left;
    min-width: 65px;

}

.product-options p.required {
    display: none;
}

.product-view .product-options .swatch-attr label,
.product-view .product-options .swatch-attr .select-label {
    font-size: 14px;
    font-family: 'RockoFLF';
    color: #282b2c;
    font-weight: normal;
}

.product-options {
    padding: 10px 0px;
}

.qtyswitcher-qty .clone-qty {
    color: #626364;
}

.product-view .product-shop .price-info {
    text-align: left;
    padding: 10px 0px;
    margin-bottom: 0px;
}

.product-view .product-shop .ratings {
    margin: 0px;
}

dl {
    margin-bottom: 0px;
}

.qtyswitcher-qty {
    padding: 10px 0px 15px;
}

.swatch-link {
    height: 27px !important;
    width: 30px !important;
}

.swatch-label {
    height: 28px !important;
    min-width: 28px !important;
    line-height: 24px !important;
}

.swatch-link img {
    border-radius: 2px;
    width: 32px;
    height: 25px;
}

/*.action_class a {
  padding: 10px;
}*/

.p-r-0 {
    padding-right: 0px;
}

.title-desc {
    font-family: 'RockoFLF-bold';
    font-size: 18px;
    color: #282b2c;
}

.product-view .sharing-links {
    float: left;
    padding: 10px 0px;
    width: 100%;
}

.short-description .std {
    padding: 10px 0px;
    font-family: 'RockoFLF';
    font-size: 14px;
}

.owl-carousel,
.owl-carousel .owl-item {
    max-height: 500px;
}

.product-view .add-to-cart-wrapper,
.product-view .block-related {
    width: 100%;
    padding-left: 0px;
}

#qtyswitcher-btn-picto {
    float: left;
    margin-right: 15px;
}

#qtyswitcher-btn-picto button,
#buynow-btn-picto button {
    background: none;
    display: inline-block;
    padding: 10px 53px;
    border: 1px solid #f26a38;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    font-family: RockoFLF;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 5px;
    color: #f26a38;
    min-width: 32%;
}

#qtyswitcher-btn-picto button,
#buynow-btn-picto button:hover {
    background-color: #f26a38;
    color: #ffffff;
}

.sidenav .logo {
    padding: 34px 20px;
    width: 100%;
}

/* 24-3-2017 css start */

.cust-dashboard {
    border: 1px solid #c4c4c4;
    padding: 10px;
    background: #ffffff;
}

.dashboard .page-title h1 {
    font-family: 'RockoFLF';
    font-weight: normal;
    margin-top: 0px;
}

.block.block-reorder {
    border: 1px solid #c4c4c4;
    padding: 10px;
    background: #ffffff;
}

.block.block-reorder .block-title {
    padding: 0px;
}

.cart-sidebar-reorder .item input {
    display: inline-block;
}

.actions .btn-cart {
    margin-left: 10px;
}

.my-account .page-title h1 {
    font-family: 'RockoFLF';
    font-weight: normal;
    margin-top: 0px;
}

.buttons-set .btn {
    min-width: 150px;
}

.dash-title {
    display: inline-block;
    float: left;
}

.cust-dashboard .block .block-title strong {
    font-size: 24px;
    color: #636363;
}

.dashboard .welcome-msg {
    margin-bottom: 20px;
}

/*.products-grid .item:nth-child(4):after{clear:both;}*/

.minicart-wrapper .block-subtitle {
    text-align: center;
}

/* 28-3-2017 rinkal css start */

.pager.pager-no-toolbar {
    margin: 0px;
}

.table-caption {
    font-size: 20px;
}

tfoot tr.grand_total {
    background-color: #337ab7;
    color: #fff;
}

.sub-title {
    font-size: 20px;
    font-family: 'RockoFLF';
}

.profile-edit-section {
    float: left;
}

.change-pwd-section {
    float: left;
    margin-left: 20px;
    margin-top: 11px;
}

.change-pwd-section input#change_password {
    margin-left: 0px;
}

.change-pwd-section .control label,
.change-pwd-section .control label:hover {
    background: none;
}

.change-pwd-section .fieldset {
    margin-top: 50px !important;
}

.col-1.addresses-primary {
    padding: 0px;
}

.edit-ad-section,
.edit-ad-section2 {
    float: left;
}

.edit-ad-section2 {
    margin-left: 30px;
}

.order-history h1 {
    float: left;
}

.shipping-list select {
    width: 230px;
    max-width: 100%;
    height: 36px;
    padding: 0px 4px;
    /* border-radius: 2px; */
    border: 1px solid #C0C0C0;
    background: none;
    font-size: 15px;
    /* margin-top: 38px; */
    margin-right: -5px;
}

.shipping-list label {
    width: 100%;
    text-transform: uppercase;
}

.btn-shipping {
    border-radius: 0px;
    /* margin-top: -15px; */
    padding: 7px 18px;
    vertical-align: top;
    background-color: #f26a38;
    border: 1px solid #f26a38;
    color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

a.close.skip-link-close {
    background-color: #777;
    border-radius: 50px;
    color: #fff !important;
    padding: 0px 10px;
    opacity: 1;
    font-size: 30px;
    font-weight: normal;
    top: -7px;
    position: absolute;
    right: -5px;
    text-shadow: none;
}

a.close.skip-link-close:hover {
    color: #fff;
}

div#minicart-success-message {
    color: green;
    text-align: center;
}

div#minicart-error-message {
    color: red;
    text-align: center;
}

.minicart-wrapper .block-content {
    clear: both;
}

.qty-wrapper td .input-text {
    width: 70px;
    height: 33px;
    text-align: center;
}

.m-t-0 {
    margin-top: 0px !important;
}

.timer-list {
    position: absolute;
    right: 5px;
    top: 6px;
    color: #f26a38;
    /* left: 0%; */
    width: auto;
    font-weight: normal;
    text-shadow: rgba(119, 119, 119, 0.18) 2px 0px font-size: 18px;
}

.discount-cover {
    /* right: 5px; */
    top: 0px;
    color: #fff;
    left: 10px;
    width: auto;
    font-weight: normal;
    font-size: 18px;
    background-image: url(../images/dis-bg.png);
    font-size: 15px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: relative;
    width: 44px;
    /* height: 50px; */
    line-height: 47px;
    z-index: 100;
    float: left;
}

/* 28-3-2017 rinkal css end */

/* 29-3-2017 rinkal css start */

.product_detail a {
    font-size: 13px;
    text-transform: capitalize;
}

.sponsor-title {
    font-size: 18px;
    font-family: 'RockoFLF';
    text-align: center;
    padding: 20px 2px 20px 2px;
    background-color: #ececec;
}

.sponsor-product {
    border: 1px solid #959595;
    margin-top: 25px;
    background-color: #ffffff;
}

.sponsor-product .custom-action {
    margin-top: -21px;
    padding: 0px;
}

.sponsor-product .custom-action a {
    font-size: 10px;
}

.sponsor-product .custom-action button {
    padding: 0px;
    font-size: 10px;
}

.sponsor-product .thumbnail1 {
    padding: 20px 0px;
    /*border-bottom: 1px solid #959595;*/
    ;
}

.new_img {
    width: 50%;
}

.new_img_main {
    position: relative;
    left: 10px;
    float: left;
    z-index: 1;
    /*z-index: 99;*/
}

.offer-section {
    position: absolute;
}

.pimage {
    position: relative;
}

.line {
    border-bottom: 1px solid #959595;
    /* padding: 0 10px; */
    width: 94%;
    margin: 0 auto;
}

.sponsor-product .action {
    padding: 0px 6px;
}

.col-xs-12.p-0:last-child .line {
    display: none;
}

.sponsor-product .thumbnail1:first-child {
    padding-top: 0px;
}

/* 29-3-2017 rinkal css end */

/* 30-3-2017 rinkal css start */

.ship-loc {
    display: inline-block;
    margin-left: 30px;
    color: #797979;
    width: 60%;
}

.ship-loc .fa {
    color: #f26a38;
    font-size: 17px;
    margin-right: 3px;
    cursor: pointer;
}

/*.special-price .price{font-size: 28px;}*/

.shipping-text {
    margin-top: 10px;
    font-family: 'RockoFLF';
    color: #282b2c;
}

.price-info .price-box .old-price,
.price-info .price-box .special-price {
    width: 100%;
}

.bulk-info {
    width: 80%;
}

dt.swatch-attr.size-att label {
    display: inline-block;
    float: left;
    width: 50%;
}

.size-label a {
    color: #f26a38;
}

.upsell-title {
    font-family: 'RockoFLF-bold';
    font-size: 18px;
    border-bottom: 1px solid #cacaca;
    text-transform: capitalize;
    padding-bottom: 10px;
    margin: 40px 0px;
}

#qtyswitcher-btn-picto {
    margin-left: 0px;
}

/*.configurable-swatch-list .swatch-link:hover {
    border: none;
    background: none;
}*/

.login-main .page-title h1 {
    margin: 0px;
    margin-bottom: 10px;
}

.page-title .login-title {
    font-family: 'RockoFLF';
    text-transform: capitalize;
    text-align: center;
    margin: 0px;
}

.login-sub-title {
    font-size: 22px;
    font-family: 'RockoFLF';
    text-transform: capitalize;
}

.form-list label {
    font-weight: 300;
    text-transform: capitalize;
}

/*.login-form-list li{display: inline-flex;}*/

.login-btn {
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.login-btn button {
    margin-right: 10px;
    width: 100%;
    font-size: 15px;
}

/*.account-create .form-list > li {
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 48%;
}*/

.form-list {
    clear: both;
}

/*.account-create .form-list > li:nth-child(even){
  margin-left: 10px;
}*/

.register-btn {
    margin-right: 20px;
}

.btn {
    font-family: 'RockoFLF';
}

.mini-products-list .product-name a {
    font-family: 'RockoFLF-bold';
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    min-width: 70px;
    margin-top: -3px;
}

.minicart-actions .checkout-types li {
    border: none;
    /* margin: 0 auto; */
    text-align: center;
    /* padding-left: 0px; */
    ;
}

/* 30-3-2017 rinkal css end */

/* 31-3-2017 rinkal css start */

.custom_header .links a {
    color: #898989;
}

.custom_header .links a:hover,
.custom_header .links a:active {
    color: #009bff;
}

.store-language-container #select-language:hover {
    color: #009bff;
}

.minicart li .btn {
    color: #fff;
}

.minicart li .btn:hover {
    color: #fff;
}

.login-main {
    margin-top: 40px;
    margin-bottom: 40px;
}

.form-list .control .input-box .checkbox {
    margin-left: 0px;
}

.login-form-list .input-box input {
    width: 100%;
}

.login-form-list .input-box .checkbox {
    width: auto;
}

#menu-button a i {
    font-size: 18px;
    vertical-align: middle;
}

.logo-main {
    padding: 0 !important;
}

#menu-button {
    background-color: #fff;
    margin: 0;
    text-transform: uppercase;
    width: 100%;
}

#search_mini_form .input-box {
    background-color: #ffffff;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px;
    min-width: 280px;
}

#search {
    background-color: #ffffff;
    border-radius: 5px;
    height: 35px;
}

#search_mini_form .search-button:before {
    display: none;
}

/* 31-3-2017 rinkal css end */

/* 3-4-2017 rinkal css start */

/*.sidebar {
  padding: 0px;
}
*/

.filter-sidebar {
    background-color: #fff;
    /* padding-bottom: 10px;*/
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}

.filter-title {
    border-bottom: 1px solid #cccccc;
    width: 100%;
    padding: 10px;
    position: relative;
    border-top: 1px solid #cccccc;
}

.filter-title span {
    font-family: 'RockoFLF';
    font-size: 13px;
    text-transform: uppercase;
}

.filter-title:first-child {
    border-top: none;
}

.filter-main li {
    padding: 2px 20px;
    text-transform: capitalize;
    font-family: 'RockoFLF';
    font-size: 13px;
    letter-spacing: 1px;
}

.filter-check {
    margin-right: 5px !important;
}

.filter-title:after {
    content: '\f107';
    font-family: 'FontAwesome';
    font-size: 20px;
    right: 10px;
    bottom: 5px;
    position: absolute;
}

.filter-sidebar .block-title {
    padding: 10px;
    margin-bottom: 0px;
    border-bottom: 1px solid #ccc;
}

.filter-sidebar .block-content {
    margin-top: 0px;
}

.filter-cart {
    background-color: #cccccc;
}

.filter-list .block-subtitle {
    text-align: center;
    font-size: 15px;
}

.multiselect-child {
    display: block;
    background-color: #ddd;
    padding: 5px 10px;
    position: relative;
    margin-bottom: 3px;
    border-radius: 2px;
}

.filter-list .currently ol {
    padding: 0px;
    margin-bottom: 0px;
}

.filter-list .currently ol li {
    margin-bottom: 0px;
    padding: 0px 10px;
}

.filter-list .actions {
    background-color: #282b2c;
    padding: 5px;
    margin: 3px 10px 5px;
    color: #ffffff;
    border-radius: 2px;
    text-align: center;
}

.filter-list .actions a {
    color: #ffffff;
}

.even ol,
.odd ol {
    padding: 10px;
}

.even ol ol li ol,
.odd ol li ol {
    padding: 0px;
}

dd ol {
    padding: 10px;
}

.form-button {
    margin-top: 5px;
    min-width: 150px;
}

.product-name {
    margin-bottom: 0px;
}

/*    dd ol.amsopby-flag-clickfirst{padding: 10px;}
    .filter-sidebar .block-content > dl > dd{padding: 0px;}*/

/* 3-4-2017 rinkal css end */

/* 4-4-2017 rinkal css strat*/

.error-msg {
    color: #898989;
    clear: both;
}

.success-msg {
    color: #f26a38;
    clear: both;
}

.well {
    margin-bottom: 0px;
}

.img-size {
    font-family: 'RockoFLF';
    color: #282b2c;
    font-size: 12px;
}

.review-section {
    margin-bottom: 20px;
}

/* 4-4-2017 rinkal css end*/

/* 6-4-2017 rinkal css start*/

.btn-save-fix {
    margin-bottom: 20px;
}

#product_create_form .sidebar {
    padding: 15px;
}

.action_class {
    padding: 0px;
}

/* 6-4-2017 rinkal css end*/

/* 7-4-2017 rinkal css start */

.profile-img {
    max-height: 145px;
    min-height: 145px;
}

.profile-file {
    background: none;
    border: none;
    padding-left: 0px;
}

.form-inline {
    display: inline-block;
    min-width: 49%;
}

.form-inline input {
    width: 100% !important;
}

/* 7-4-2017 rinkal css end */

/*10-4-2017 rinkal css start */

.profile-legend {
    display: block;
    border-bottom: none;
    font-size: 17px;
    font-family: 'RockoFLF-bold';
    padding: 10px;
    letter-spacing: 0.6px;
    background-color: #e4e4e4;
    width: 100%;
    margin-bottom: 10px;

}

.profile-fieldset {
    padding: .35em .625em .75em;
    margin: 0 0px 15px;
    border-radius: 3px;
    border: 1px solid silver;
}

.vendor-main {
    width: 155px;
}

.nav-bottom {
    position: relative;
    border-top: 1px solid #000;
    padding: 0px;
    color: #ffffff;
    position: fixed;
    /* left: 20px; */
    bottom: 0px;
    z-index: 99999;
    width: 235px;
    background-color: #222222;
}

.banner-group {
    margin-bottom: 45px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-t-25 {
    margin-top: 25px;
}

.color-green {
    color: #40b525;
    margin-right: 3px;
}

.color-orange {
    color: #eb6727;
    margin-right: 3px;
}

.color-red {
    color: #ff0000;
    margin-right: 3px;
}

/*10-4-2017 rinkal css end */

/*11-4-2017 rinkal css start */

#countryship {
    height: 150px;
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
    background-color: #f1abab !important;
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
    background-color: #bef0a9 !important;
}

/*11-4-2017 rinkal css end */

.vendor-main-show span {
    color: #fff;
}

.logout-link {
    display: block;
    color: #fff;
}

.logout-link:hover {
    color: #f26a38;
}

.nav-bottom-show {
    border-top: 1px solid #000;
    padding-top: 10px;
}

/* 13-4-2017 rinkal css start */

.dashboard .ship-loc {
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
    z-index: 9;
}

a.closebtn img {
    background-color: rgb(39, 43, 44);
    padding: 13px;
    z-index: 99;
}

.itemMenu a.itemMenuName span {
    color: #fff;
    font-family: 'RockoFLF';
    font-size: 13px;
    text-transform: capitalize;
    font-weight: bold;
}

.itemSubMenu .itemMenu a.itemMenuName span {
    color: #fff;
    font-family: 'RockoFLF';
    font-size: 13px;
    text-transform: capitalize;
    font-weight: normal;
}

.wp-custom-menu-popup .block1 {
    width: 100%;
}

.itemMenu a.itemMenuName.level1 {
    padding: 12px 10px 15px 10px;
}

.product_brand {
    display: inline-block;
}

.product_brand a {
    color: #3399cc !important;
}

.product_brand label {
    font-weight: normal;
}

/* 13-4-2017 rinkal css end */

/* 14-4-2017 rinkal css start */

/*#custommenu .menu:nth-child(n+11){display:none;}*/

.custommenu .menu:last-child span {
    color: #f26a38;
}

.menu.see_all {
    border-bottom: none;
    text-transform: capitalize;
    color: #f26a38;
}

.see_all a span {
    color: #f26a38 !important;
}

.col-left.sidebar.col-md-2.col-sm-12 {
    margin-bottom: 10px;
}

.brand-inner-left {
    margin-bottom: 20px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */

.loader {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8) url('../images/loader.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */

body.loading {
    overflow: hidden;
}

/************************* Sachin 22-05-2017*********/

/* Anytime the body has the loading class, our
   modal element will be visible */

body.loading .loader {
    display: block;
}

.qloader {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8) url('../images/loader.gif') 50% 50% no-repeat;
}

/* Anytime the body has the loading class, our
 modal element will be visible */

body.loading .qloader {
    display: block;
}

/*************************** END*****************************/

/*18-4-2017 rinkal css start*/

ul.filter-main {
    max-height: 250px;
    overflow-y: auto;
}

.filter-sub-link li a {
    color: #282b2c;
    font-size: 12px;
    margin-left: 15px;
}

a.filter-link {
    color: #282b2c;
    font-size: 13px;
}

ul.filter-sub-link li {
    padding: 2px 0px 0px 10px;
    text-transform: capitalize;
}

.mini-products-list .info-wrapper th {
    padding-right: 10px;
}

.form-language .fa {
    font-size: 14px;
    color: #898989;
}

.nav_contact {
    font-size: 14px;
    font-family: 'RockoFLF';
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 0px 10px;
}

.nav_contact span {
    color: #636363;
    font-size: 13px;
    text-transform: capitalize;
    margin-right: 5px;
}

.nav_contact p {
    color: #959595;
    border-top: 1px solid rgba(188, 188, 188, 0.5);
    padding: 10px 5px 0px;
}

.nav_contact a {
    color: #f26a38;
    margin-left: 10px;
}

/*18-4-2017 rinkal css end*/

/* 21-4-2017 rinkal css start */

.m-b-20 {
    margin-bottom: 20px;
}

/*21-4-2017 rinkal css end */

/*24-4-2017 rinkal css start */

.btn-group ul.dropdown-menu {
    min-width: 120px;
}

.text-center {
    text-align: center;
}

.e-title {
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 20px;
    font-family: 'RockoFLF';
    text-transform: capitalize;
}

/*24-4-2017 rinkal css end */

/*25-4-2017 rinkal css start */

/* select with CSS avatar icons */

option.avatar {
    background-repeat: no-repeat !important;
    padding-left: 20px;
}

.avatar .ui-icon {
    background-position: left top;
}

/*25-4-2017 rinkal css end */

/*25-4-2017 rinkal changes notification color,bg in both custom & style*/

/*26-4-2017 rinkal css start */

.parentMenu a span:hover {
    color: #f26a38;
}

.parentMenu a.act span {
    color: #f26a38;
}

.itemSubMenu .itemMenu a.itemMenuName span:hover {
    color: #f26a38;
}

.itemSubMenu .itemMenu a.itemMenuName.act span {
    color: #f26a38;
}

/*26-4-2017 rinkal css end */

/*27-4-2017 rinkal css start */

.btn-primary {
    color: #fff;
    background-color: #f26a38;
    border-color: #f26a38;
}

.btn-primary:hover {
    color: #fff;
    background-color: rgba(242, 106, 56, 0.71);
    border-color: rgba(242, 106, 56, 0.71);
}

.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: #f26a38;
    border-color: #f26a38;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
    background-color: #f26a38;
    border-color: #f26a38;
}

.btn-primary.focus,
.btn-primary:focus {
    background-color: #f26a38;
    border-color: #f26a38;
}

button.quantity-button {
    min-width: 70px;
    margin-top: -3px;
}

/*27-4-2017 rinkal css end */

/*1-5-2017 rinkal css start */

.ship-loc.tooltip .tooltiptext {
    text-align: left;
    padding: 10px 20px;
}

.ship-loc .tooltiptext span {
    font-weight: bold;
    letter-spacing: 0.8px;
}

.footer li.curr1,
.footer li.curr2 {
    display: none;
}

.products-grid {
    display: table;
    width: 100%;
}

.products-grid .item {
    display: table-cell;
    margin-bottom: 30px;
}

.tooltiptext a {
    color: #fff;
}

/*1-5-2017 rinkal css end */

.shipping-method .radio input[type="radio"] {
    width: auto;
}

/* 4-5-2017 rinkal css start 
.amsopby-flag-clickfirst li {
    font-family: 'RockoFLF';
    font-size: 13px;
	padding: 2px 10px;
	color:#000;
}*/

.mobile-field .country-select {
    width: 20%;
    height: 29px;
}

.mobile-field .mobile-text {
    width: 77%;
}

.my-account p {
    clear: both;
}

/*5-5-2017 rinkal css start*/

.success-msg span {
    padding-left: 10px;
}

.error-msg span {
    /*padding-left: 10px;*/
    padding-left: 0px;
}

div.amshopby-overlay {
    background: none;
}

input[name^="amshopby"][id$="from"].input-text,
input[name^="amshopby"][id$="to"].input-text {
    width: 70px;
}

/*5-5-2017 rinkal css end*/

/*8-5-2017 rinkal css start */

.nav_contact a.tel_contact {
    margin-left: 3px;
}

h3.no-product-title {
    margin: 0px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(160, 160, 160, 0.78);
}

.inline-fld {
    display: inline-flex;
}

.inline-fld .btn {
    margin-right: 10px;
}

/*8-5-2017 rinkal css end */

/* 9-5-2017 rinkal css start */

.col-md-10.pull-right.vendor-container {
    padding-left: 20px !important;
}

.pagination-main {
    float: right;
    margin-right: 20px;
}

/* 9-5-2017 rinkal css end */

.category-image img {
    max-height: 370px;
    margin: 0 auto;
}

.table-responsive {
    overflow-x: visible;
}

/* rinkal css start 18-5-2017 */

.cart-totals #shopping-cart-totals-table {
    width: 100%;
}

button.button.btn-proceed-checkout.btn-checkout {
    text-transform: capitalize;
    border-radius: 3px;
}

.note {
    font-weight: bold;
    font-size: 11px;
    color: #f26a38;
}


/*
 .owl-stage-outer:hover {
    transform: scale(1.2);
    -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
      -ms-transition: all 2s ease;
          transition: all 2s ease;
          left:10%;
              margin-top: 5%;
              opacity: 1;
              


}
*/

/* Jignesh P.  */

/* color picker style  */

.col-md-2.p-l-0.color {
    width: 40px;
    margin-top: 15px;
}

input[type="checkbox"]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 15px;
    padding-top: 4px;
}

.col-md-2.p-l-0.color > label:before {
    width: 25px !important;
    height: 25px !important;
}

input[type="checkbox"]:checked + label#Yellow:before,
input[type="checkbox"]:checked + label#White:before {
    color: #000 !important;
}

/* 13-10-2017 rinkal css start */

.category-products .products-grid .item {
    min-height: 340px;
    max-height: 340px;
}

/* 16-10-2017 rinkal css start */

#onestep-checkout-shipping-method-additional-load input[type=checkbox],
input[type=radio] {
    width: 25px;
}

#bill_form li.options input[type=checkbox],
input[type=radio] {
    width: 25px;
}

.coupon-text {
    width: 25%;
}

button#nextBtn {
    background-color: #f26a38;
    color: #fff;
    padding: 5px 30px;
    border-radius: 3px;
    box-shadow: none;
    border: none;
}

button#prevBtn {
    background-color: #bbbbbb;
    color: #fff;
    padding: 5px 30px;
    border-radius: 3px;
    box-shadow: none;
    border: none;
}

.step.finish {
    background-color: #f26a38 !important;
}

span.checkout-address-list {
    display: block;
}

/* 17-10-2017 rinkal css start */

.sidenav {
    z-index: 9999;
}

.product-img-box .add-to-box {
    z-index: 1;
}

/*31-1-2018 rinkal css start */

/*
.filter-sidebar ol.amsopby-flag-clickfirst {
    max-height: 340px;
    overflow-y: auto;
}
*/
ul.filter-link-list {
    margin-left: 16px;
    margin-top: 5px;
}
ul.filter-link-list li a{
    text-transform: capitalize;
        letter-spacing: 0.9px;
    padding-bottom: 10px;
}
/*31-1-2018 rinkal css end */



/*** Jaydip Updates :: 28/2/18  ***/
@media only screen and (max-width: 991px) and (min-width: 768px)
.main-offer .offer span {
    font-size: 12px;
}
/*** Jaydip Updates :: 28/2/18 END ***/