/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
 /* margin-top: 10px;*/
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    
    /*font-size: 40px;*/
    margin: 10px;
    padding: 4px 7px;
    color: #9FA2A7;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; 
     position: absolute;
        top: 40%;
  }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #FFF;
      color: #9FA2A7;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
 /* text-align: center;
  -webkit-tap-highlight-color: transparent; */

bottom: 3%;
    position: absolute;
    right: 12%;
    text-align: center;
}
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      /*background: #D6D6D6;*/
      border: 1px solid #F26A38;

      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #F26A38; }
