#sizeModal,
.size-chart-modal {
    -webkit-text-size-adjust: 100%;
    max-width: none
}
#sizeModal .close-reveal-modal,
.size-chart-modal .close-reveal-modal {
    font-size: 1.7142857143rem;
    padding: .2857142857rem .7142857143rem .2142857143rem;
    height: auto
}
@media screen and (max-width: 64em) {
    #sizeModal .close-reveal-modal,
    .size-chart-modal .close-reveal-modal {
        padding: 0;
        border: 0;
        background-color: transparent
    }
}
#sizeModal .tabs-content,
.size-chart-modal .tabs-content {
    border: none
}
#sizeModal .tabs,
.size-chart-modal .tabs {
    float: none
}
#sizeModal .tabs a,
.size-chart-modal .tabs a {
    border-bottom: none;
	
}
#sizeModal .gender,
.size-chart-modal .gender {
    list-style-type: none;
    margin: 0
}
#sizeModal .gender li,
.size-chart-modal .gender li {
    text-align: center;
    margin: 0 auto .7142857143rem;
    padding: 0;
    background-color: #f0f0f0;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #f5f5f5
}
#sizeModal .gender li.active,
.size-chart-modal .gender li.active {
    background: #fff;
    box-shadow: none
}
#sizeModal .gender li a,
.size-chart-modal .gender li a {
    display: inline-block;
    line-height: 1;
    padding: 1.4285714286rem;
    border: .7142857143rem solid transparent;
    border-right: none;
    border-left: none
}
#sizeModal .gender li a>img:last-child,
#sizeModal .gender li.active a>img:first-child,
.size-chart-modal .gender li a>img:last-child,
.size-chart-modal .gender li.active a>img:first-child {
    display: none
}
#sizeModal .gender li.active a,
.size-chart-modal .gender li.active a {
    border-bottom-color: #f16b36;
    background:#fff;
}
#sizeModal .gender li.active a>img:last-child,
.size-chart-modal .gender li.active a>img:last-child {
    display: inline-block;
	max-height: 117px;
}
#sizeModal .gender li .gender-image,
.size-chart-modal .gender li .gender-image {
    max-height: 9.0714285714rem;
    margin: 0 auto
}
@media screen and (max-width: 64em) {
    #sizeModal .gender li a,
    .size-chart-modal .gender li a {
        padding: .3571428571rem
    }
    #sizeModal .gender li .gender-image,
    .size-chart-modal .gender li .gender-image {
        max-height: 5.7142857143rem
    }
}
#sizeModal .cat-title,
.size-chart-modal .cat-title {
    border-bottom: 4px solid #f0f0f0;
    height: 1.8571428571rem;
    margin-bottom: 2.1428571429rem
}
#sizeModal .cat-title span,
.size-chart-modal .cat-title span {
    padding-right: 2.1428571429rem;
    padding-left: 2.1428571429rem;
    font-size: 1.7142857143rem
}
#sizeModal .cat-nav,
.size-chart-modal .cat-nav {
    margin-left: 0;
    border: none
}
#sizeModal .cat-nav li,
.size-chart-modal .cat-nav li {
    margin-right: .3571428571rem;
    border: 1px solid #1E599D;
    border-bottom: 2px solid #1E599D;
    border-radius: 3px;
    background-color: #1E599D;
    padding: 2px 16px;
    /*rinkal 19-4-2017 */float: left;/*rinkal 19-4-2017 */
}
#sizeModal .cat-nav li.active,
.size-chart-modal .cat-nav li.active {
    border-bottom-color: #1E599D
}
#sizeModal .cat-nav li.active a,
.size-chart-modal .cat-nav li.active a {
   
    color: #fff;
}
#sizeModal .content,
.size-chart-modal .content {
    padding: 0
}
#sizeModal .cat-content>div:first-child,
.size-chart-modal .cat-content>div:first-child {
    padding-left: 0
}
#sizeModal .cat-content>div:last-child,
.size-chart-modal .cat-content>div:last-child {
    padding-right: 0
}
#sizeModal .cat-content .content-area,
.size-chart-modal .cat-content .content-area {
    margin-top: 1.4285714286rem
}
#sizeModal .cat-content .content-area>table,
.size-chart-modal .cat-content .content-area>table {
    width: 90%
}
@media screen and (max-width: 64em) {
    #sizeModal .cat-content>div:last-child,
    .size-chart-modal .cat-content>div:last-child {
        padding: 0;
        text-align: center
    }
    #sizeModal .cat-content .content-area>table,
    .size-chart-modal .cat-content .content-area>table {
        margin: 0 auto;
        width: 100%
    }
    #sizeModal .cat-content,
    .size-chart-modal .cat-content {
        margin-top: 0
    }
}
#sizeModal .cat-content .content-area .scrollable .responsive p,
#sizeModal .cat-content .content-area>table p,
.size-chart-modal .cat-content .content-area .scrollable .responsive p,
.size-chart-modal .cat-content .content-area>table p {
    margin: 0
}
#sizeModal .cat-content .content-area>table td,
#sizeModal .cat-content .content-area>table th,
.size-chart-modal .cat-content .content-area>table td,
.size-chart-modal .cat-content .content-area>table th {
    text-align: center;
    white-space: nowrap;
	padding:5px;
}
#sizeModal .cat-content .content-area .scrollable .responsive,
.size-chart-modal .cat-content .content-area .scrollable .responsive {
    width: 100%
}
#sizeModal .cat-content .content-area sub,
#sizeModal .cat-content .content-area sup,
.size-chart-modal .cat-content .content-area sub,
.size-chart-modal .cat-content .content-area sup {
    line-height: .8
}
#sizeModal .cat-content .content-area td,
#sizeModal .cat-content .content-area th,
.size-chart-modal .cat-content .content-area td,
.size-chart-modal .cat-content .content-area th {
    text-align: center
}
#sizeModal .cat-charts,
.size-chart-modal .cat-charts {
   /*display: table; */
    clear: both;
    padding: 0 1.4285714286rem;
    /* border: 1px solid #f0f0f0; */
    margin-top: 6.428571rem;
}
@media screen and (max-width: 64em) {
    #sizeModal .cat-charts,
    .size-chart-modal .cat-charts {
        padding: 0;
        border: 0;
        margin-top: 0
    }
}
@media screen and (max-width: 39.9375em) {
    #sizeModal .close-reveal-modal,
    .size-chart-modal .close-reveal-modal {
        top: 0
    }
    #sizeModal,
    .size-chart-modal {
        width: 90%;
        left: 5%;
        padding-right: 0;
        padding-left: 0;
        padding-top: 2.8571428571rem
    }
}
#sizeModal div.table-wrapper,
.size-chart-modal div.table-wrapper {
    border-bottom: none
}
#sizeModal div.table-wrapper .pinned tr:last-child,
#sizeModal div.table-wrapper .scrollable tr:last-child,
.size-chart-modal div.table-wrapper .pinned tr:last-child,
.size-chart-modal div.table-wrapper .scrollable tr:last-child {
    border-bottom: 1px solid #2e6da4
}
#sizeModal .pinned,
.size-chart-modal .pinned {
    overflow: hidden;
    left: 0;
    right: auto
}
#sizeModal .pinned table,
.size-chart-modal .pinned table {
    margin: 0
}
#sizeModal select,
.size-chart-modal select {
    font-size: 1.1428571429rem;
    height: auto
}

/* 13042017 */

.tabs.cat-nav.show-for-large li a{ background-color: #1E599D; color: #fff; }
/*.tabs.cat-nav.show-for-large li.tabs-title.active a{  background-color:#fff ; color: #1E599D;  }*/

/* 18042017 */
      #men-tab,
      #women-tab,
      #children-tab,
      #men-tops,
      #men-bottoms,
      #men-shoes,
      #men-accessories,
      #women-tops,
      #women-bottoms,
      #women-dresses,
      #women-shoes,
      #women-accessories,
      #women-lingerie,
      #children-girls,
      #children-boys,
      #children-shoes
      { display: none; }
      #men-tab.active,
      #women-tab.active,
      #children-tab.active,
      #men-tops.active,
      #men-bottoms.active,
      #men-tops.active,
      #men-bottoms.active,
      #men-shoes.active,
      #men-accessories.active,
      #women-tops.active,
      #women-bottoms.active,
      #women-dresses.active,
      #women-shoes.active,
      #women-accessories.active,
      #women-lingerie.active,
      #children-girls.active,
      #children-boys.active,
      #children-shoes.active
      { display: block; }


       #modalPage {
            display: none;
        }
        
        .csspopup-overlay {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .5);
            text-align: center;
            padding: 15px 0;
            z-index: 9999;
        }
        /* Added for IE<9 compatibility */
        
        .csspopup-overlay-ie {
            background: rgb(0, 0, 0);
            opacity: .5;
            filter: alpha(opacity=50);
        }
        
        .csspopup-overlay:after,
        .csspopup-valignfix {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            height: 100%;
            width: 0;
            vertical-align: middle;
            content: '';
        }
        
        .csspopup-popup {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            position: relative;
          width: 90%;
            padding: 15px 0;
            box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
            background: #FFF;
            vertical-align: middle;
            border-radius: 6px;
			
        }
        
        .csspopup-popup > .csspopup-close {
            display: block;
            position: absolute;
            top: -15px;
            right: -12px;
            width: 12px;
            height: 12px;
            padding: 4px;
            border: 4px solid #fff;
            border-radius: 50%;
            box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, .4);
            cursor: pointer;
            background: #555;
            color: #FFF;
            text-align: center;
            font-size: 12px;
            line-height: 12px;
            text-decoration: none;
            font-weight: bold;
            text-indent: -9999px;
        }
        
        .csspopup-close:hover {}
        
        .csspopup-content {
            text-align: left;
        }
.md {
  cursor: pointer;
 /* font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
  padding-top: 15%;
  text-align: center;
  width: 80%;*/
}
/*.md:hover{text-decoration: underline;}*/
.col-md-12 > .tabs-content > .tabs-panel.active > .col-md-12 {
  display: block;
  height: 70vh;
  margin-bottom: 30px;
  overflow: auto;
  padding-bottom: 30px;
}
/* rinkal 19-4-2017 css */
select.hide-for-large {
    display: none;
}
table.responsive tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}
table.responsive {
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    border-spacing: 0;
}
.tabs-panel h3 {
    text-transform: capitalize;
}
#sizeModal .gender li a img, .size-chart-modal .gender li a img {
    max-height: 117px;
}