/*26-3-2018 rinkal css for arabic store start*/
.custom-action{
    min-height: 60px;
        margin-top: -60px;
}
.sidenav .closebtn{
    left: -60px;
        right: auto;
}
div.wp-custom-menu-popup {
    right: 259px;
}
.new_img_main{left: 0;}
#search_mini_form .search-button{left: 10px;right: auto;}
#search_mini_form .input-box{left: 0;right: auto;}
.topparent .parentMenu a span::after{left: 0;    right: auto;
    transform: rotate(180deg);}
/*26-3-2018 rinkal css for arabic store end*/