<?php
/**
 * This is a modified version of the core catalog/product/view/media.phtml
 * Any changes you had made to the previous media file must be changed here as well for changes to take effect.
 * System > Configuration > Video Gallery > Display Style > Style 02
 */
?>

<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
?>

<div id="vg-style-02">
<div class="product-img-box small-12 medium-4 columns">
	<?php

$magicToolboxHelper = Mage::helper('magiczoomplus/settings');
$tool = $magicToolboxHelper->loadTool('product');

$magic360ClassName = Mage::registry('magic360ClassName');
if($magic360ClassName) {
    $templateFilename = Mage::getSingleton('core/design_package')->getTemplateFilename($magic360ClassName.'/media.phtml');
} else {
    $templateFilename = $magicToolboxHelper->getTemplateFilename('product.info.media');
}

if($tool->params->checkValue('enable-effect', 'No')) {
    require($templateFilename);
    return;
}

$_product = $this->getProduct();
$id = $_product->getId();
$_product_title = $title = $this->htmlEscape($_product->getName());
$main_image_file = $_product->getImage();
$main = '';
$scriptHTML = '';

if($main_image_file && $main_image_file != 'no_selection') {

    $output_helper = $this->helper('catalog/output');
    $description = $this->htmlEscape($output_helper->productAttribute($_product, $_product->getDescription(), 'description'));
    $shortDescription = $this->htmlEscape($output_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description'));
    $alt = $this->htmlEscape($_product->getImageLabel());
    if(empty($alt)) {
        $label = $title;
    } else {
        $label = $alt;
        if($tool->params->checkValue('use-individual-titles', 'Yes')) {
            $title = $alt;
        }
    }

    $img = $this->helper('catalog/image')->init($_product, 'image', $main_image_file)->__toString();
    $originalSizeArray = $this->helper('catalog/image')->getOriginalSizeArray();
    if($tool->params->checkValue('square-images', 'Yes')) {
        $big_image_size = ($originalSizeArray[0] > $originalSizeArray[1]) ? $originalSizeArray[0] : $originalSizeArray[1];
        $img = $this->helper('catalog/image')->watermark(null, null)->resize($big_image_size)->__toString();
    }
    list($w, $h) = $magicToolboxHelper->magicToolboxGetSizes('thumb', $originalSizeArray);
    $thumb = $this->helper('catalog/image')->watermark(null, null)->resize($w, $h)->__toString();

    $main = $tool->getMainTemplate(compact('id', 'alt', 'label', 'title', 'description', 'shortDescription', 'img', 'thumb'));

} else {
    $tool->params->setValue('enable-effect', 'No');
    require($templateFilename);
    return;
}

$mainProductImages = array();
$associatedProductImages = array();
$hiddenImages = array();
$moreViewsCaption = $this->__('More Views');
$mainImageSelectorExists = false;

if(!$this->_isGalleryDisabled) {
?>
<div class="more-views">
<?php
    $event = strtolower($tool->params->getValue('selectors-change'));

    $iCount = count($this->getGalleryImages()->getItems());
    if($iCount) {
        foreach($this->getGalleryImages() as $_image) {
            $_image_file = $_image->getFile();
            $_image_path  = $_image->getPath();
            if(!file_exists($_image_path)) continue;
            $originalSizeArray = getimagesize($_image_path);
            $img = $this->helper('catalog/image')->init($_product, 'image', $_image_file)->__toString();
            if($tool->params->checkValue('square-images', 'Yes')) {
                $big_image_size = ($originalSizeArray[0] > $originalSizeArray[1]) ? $originalSizeArray[0] : $originalSizeArray[1];
                $img = $this->helper('catalog/image')->watermark(null, null)->resize($big_image_size)->__toString();
            }
            list($w, $h) = $magicToolboxHelper->magicToolboxGetSizes('thumb', $originalSizeArray);
            $medium = $this->helper('catalog/image')->watermark(null, null)->resize($w, $h)->__toString();
            list($w, $h) = $magicToolboxHelper->magicToolboxGetSizes('selector', $originalSizeArray);
            $thumb = $this->helper('catalog/image')->init($_product, 'thumbnail', $_image_file)->resize($w, $h)->__toString();
            $alt = $this->htmlEscape($_image->getLabel());
            if($tool->params->checkValue('use-individual-titles', 'Yes')) {
                $title = empty($alt) ? $_product_title : $alt;
            }

            $a = $tool->getSelectorTemplate(compact('id', 'img', 'thumb', 'medium', 'title', 'alt'));
            $a = str_replace('<a ', '<a on'.$event.'="magicToolboxOnChangeSelector(this);" ', $a);
            if($_image_file == $main_image_file) {
                $mainImageSelectorExists = true;
                //$a = str_replace('<img ', '<img id="imageMain'.$id.'" ', $a);
            }
            if($tool->params->checkValue('ignore-magento-css', 'Yes')) {
                $a = str_replace('<a ', '<a class="ignore-magento-css" ', $a);
                $a = str_replace('<img ', '<img class="ignore-magento-css" ', $a);
            }
            $mainProductImages[] = $a;
        }
    }
    if($magic360ClassName) {
        $magic360Images = Mage::registry('magic360Images');
        if(count($magic360Images)) {
            $magic360Helper = Mage::helper($magic360ClassName.'/settings');
            $magic360Tool = $magic360Helper->loadTool('product');
            if(!$magic360Tool->params->checkValue('enable-effect', 'No')) {
                $magic360ImageHelper = Mage::helper($magic360ClassName.'/image');
                $baseDir = Mage::getBaseDir('media').DS.'magictoolbox'.DS.$magic360ClassName;
                $_magic360Images = array();
                $_magic360Selector = '';
                foreach($magic360Images as $magic360Image) {
                    if(!file_exists($baseDir.$magic360Image['file'])) continue;
                    $img = $magic360ImageHelper->init($magic360Image['file'])->__toString();
                    $originalSizeArray = $magic360ImageHelper->getOriginalSizeArray();
                    if($magic360Tool->params->checkValue('square-images', 'Yes')) {
                        $big_image_size = ($originalSizeArray[0] > $originalSizeArray[1]) ? $originalSizeArray[0] : $originalSizeArray[1];
                        $img = $magic360ImageHelper->setWatermarkFile(null)->resize($big_image_size)->__toString();
                    }
                    list($w, $h) = $magic360Helper->magicToolboxGetSizes('thumb', $originalSizeArray);
                    $medium = $magic360ImageHelper->setWatermarkFile(null)->resize($w, $h)->__toString();
                    $_magic360Images[] = compact('img', 'medium');
                    if(!$_magic360Selector) {
                        $_magic360Selector['file'] = $magic360Image['file'];
                        $_magic360Selector['size'] = $originalSizeArray;
                    }
                }
                if($_magic360Selector) {
                    //$magic360ImageHelper->init($_magic360Selector['file'])->setWatermarkFile(null);
                    //list($w, $h) = $magicToolboxHelper->magicToolboxGetSizes('selector', $_magic360Selector['size']);
                    //$watermark = $magic360Tool->params->getValue('watermark');
                    //if(!empty($watermark) && file_exists(BP.DS.$watermark)) {
                    //    $watermark_size = getimagesize(BP.DS.$watermark);
                    //    $thumb = $magic360ImageHelper->setWatermarkFile($watermark)
                    //        ->setWatermarkImageOpacity($magic360Tool->params->getValue('watermark-opacity'))
                    //        ->setWatermarkPosition('stretch')
                    //        ->setWatermarkSize(array('width' => $watermark_size[0], 'height' => $watermark_size[1]))
                    //        ->resize($w, $h)->__toString();
                    //} else {
                    //    $thumb = $magic360ImageHelper->setWatermarkFile(Mage::getStoreConfig("design/watermark/thumbnail_image"))
                    //        ->setWatermarkImageOpacity(Mage::getStoreConfig("design/watermark/thumbnail_imageOpacity"))
                    //        ->setWatermarkPosition(Mage::getStoreConfig("design/watermark/thumbnail_position"))
                    //        ->setWatermarkSize(Mage::getStoreConfig("design/watermark/thumbnail_size"))
                    //        ->resize($w, $h)->__toString();
                    //}
                    $icon = $magic360Tool->params->getValue('icon');
                    if(!empty($icon) && file_exists(BP.DS.$icon)) {
                        $_magic360Selector['file'] = $icon;
                        $_magic360Selector['size'] = getimagesize(BP.DS.$icon);
                    }
                    $magic360ImageHelper->init($_magic360Selector['file'])
                        ->setBaseDir(BP)
                        ->setWatermarkFile(Mage::getStoreConfig("design/watermark/thumbnail_image"))
                        ->setWatermarkImageOpacity(Mage::getStoreConfig("design/watermark/thumbnail_imageOpacity"))
                        ->setWatermarkPosition(Mage::getStoreConfig("design/watermark/thumbnail_position"))
                        ->setWatermarkSize(Mage::getStoreConfig("design/watermark/thumbnail_size"))
                        ->__toString();
                    if($magic360Tool->params->checkValue('square-images', 'Yes')) {
                        $big_image_size = ($_magic360Selector['size'][0] > $_magic360Selector['size'][1]) ? $_magic360Selector['size'][0] : $_magic360Selector['size'][1];
                        $magic360ImageHelper->setWatermarkFile(null)->resize($big_image_size)->__toString();
                    }
                    list($w, $h) = $magicToolboxHelper->magicToolboxGetSizes('selector', $_magic360Selector['size']);
                    $thumb = $magic360ImageHelper->resize($w, $h)->__toString();

                    $addClass = '';
                    if($tool->params->checkValue('ignore-magento-css', 'Yes')) {
                        $addClass = 'ignore-magento-css';
                    }
                    $_magic360Selector = '<a class="magic360selector '.$addClass.'" title="360" href="#" onclick="return false;"><img class="'.$addClass.'" src="'.$thumb.'" alt="360" /></a>';
                }
                if($magic360Tool->isEnabled(count($_magic360Images), $id)) {
                    $main = '<div>'.$main.'</div>';//NOTE: we need this div because of issue with MZP, which clones the parent node (an issue with the disappearance of main image container)
                    $main = '<div id="mainImageContainer" style="display: none;">'.$main.'</div>'.
                            '<div id="magic360Container">'.$magic360Tool->getMainTemplate($_magic360Images, array("id" => "productMagic360")).'</div>';
                    //$mainProductImages[] = $_magic360Selector;
                    array_unshift($mainProductImages, $_magic360Selector);
                }
            }
        }
    }
    if($_product->getTypeId() == 'configurable') {
        if($tool->params->checkValue('show-associated-product-images', 'Yes')) {
            $scriptHTML = 'var useAssociatedProductImages = true;';
            $selectorsVisibility = $tool->params->checkValue('load-associated-product-images', 'within a gallery');
            $scrollEnabled = $tool->params->checkValue('magicscroll', 'Yes');
            $associatedProducts = $_product->loadByAttribute('sku', $_product->getSku())->getTypeInstance()->getUsedProducts();
            foreach($associatedProducts as $associatedProduct) {
                $associatedProductId = $associatedProduct->getId();
                //NOTE: to get gallery
                //$_associatedProduct = Mage::getModel('catalog/product')->load($associatedProductId);
                if($associatedProduct->image && $associatedProduct->image != 'no_selection') {
                    $associatedImg = $this->helper('catalog/image')->init($associatedProduct, 'image', $associatedProduct->getImage())->__toString();
                    $originalSizeArray = $this->helper('catalog/image')->getOriginalSizeArray();
                    if($tool->params->checkValue('square-images', 'Yes')) {
                        $big_image_size = ($originalSizeArray[0] > $originalSizeArray[1]) ? $originalSizeArray[0] : $originalSizeArray[1];
                        $associatedImg = $this->helper('catalog/image')->watermark(null, null)->resize($big_image_size)->__toString();
                    }
                    list($w, $h) = $magicToolboxHelper->magicToolboxGetSizes('thumb', $originalSizeArray);
                    $associatedThumb = $this->helper('catalog/image')->watermark(null, null)->resize($w, $h)->__toString();
                    list($w, $h) = $magicToolboxHelper->magicToolboxGetSizes('selector', $originalSizeArray);
                    $associatedSelector = $this->helper('catalog/image')->init($associatedProduct, 'thumbnail', $associatedProduct->getImage())->resize($w, $h)->__toString();

                    $alt = $this->htmlEscape($associatedProduct->getImageLabel());
                    if($tool->params->checkValue('use-individual-titles', 'Yes')) {
                        $title = empty($alt) ? $_product_title : $alt;
                    }

                    $selector = $tool->getSelectorTemplate(array(
                        'id' => $id,
                        'img' => $associatedImg,
                        'thumb' => $associatedSelector,
                        'medium' => $associatedThumb,
                        'title' => $title,
                        'alt' => $alt
                    ));

                    $selector = str_replace('<a ', '<a data-id="'.$associatedProductId.'" on'.$event.'="magicToolboxOnChangeSelectorConfigurable(this);" ', $selector);
                    $selector = str_replace('<img ', '<img id="imageConfigurable'.$associatedProductId.'" ', $selector);

                    if(!$selectorsVisibility) {
                        $selector = str_replace('<a ', '<a class="hidden-selector" ', $selector);
                        if($scrollEnabled) {
                            $hiddenImages[] = $selector;
                        } else {
                            $associatedProductImages[] = $selector;
                        }
                    } else {
                        if($scrollEnabled) {
                            $hiddenImages[] = $selector;
                            $associatedProductImages[] = $selector;
                        } else {
                            $associatedProductImages[] = $selector;
                        }
                    }
                }
            }
        }
    }
?>
</div>
<?php
}


//NOTE: another way to get product options data
$_productOptions = $_product->getOptions();
if($_productOptions)
foreach($_productOptions as $_option) {
    $optionType = $_option->getType();
    if($optionType == Mage_Catalog_Model_Product_Option::OPTION_TYPE_DROP_DOWN || $optionType == Mage_Catalog_Model_Product_Option::OPTION_TYPE_RADIO) {
        $optionValues = array();
        foreach($_option->getValues() as $_optionValue) {
            $optionValues[$_optionValue->getOptionTypeId()] = strtolower(trim($_optionValue->getTitle()));
        }
        $scriptHTML .= ' optionLabels[\''.$_option->getId().'\'] = '.Mage::helper('core')->jsonEncode($optionValues).';'.
                       ' optionTitles[\''.$_option->getId().'\'] = \''.strtolower(trim($_option->getTitle())).'\'; ';
    }
}

if(count($mainProductImages) == 1 && $mainImageSelectorExists && (empty($associatedProductImages) || !$selectorsVisibility) /*&& empty($hiddenImages)*/) {
    $mainProductImages = array();
}
if(empty($mainProductImages) && (empty($associatedProductImages) || !$selectorsVisibility)) {
    $moreViewsCaption = '';
}
if(!empty($hiddenImages)) {
    echo '<div style="display: none !important;">'.implode($hiddenImages).'</div>';
}
echo MagicToolboxTemplateHelperClass::render(array(
    'main' => $main,
    'thumbs' => array_merge($mainProductImages, $associatedProductImages),
    'pid' => $id,
    'moreViewsCaption' => $moreViewsCaption
));
if($scriptHTML) {
    echo '<script type="text/javascript">'.$scriptHTML.'</script>';
}

echo '<img id="image" scr="" style="display: none !important;" />';

?>

	
	<?php if (count($this->getVideoGallery()) > 0): ?>
	
	<div class="more-views">
	    <h2><?php echo $this->__('Videos') ?></h2>
		<?php if (count($this->getVideoGallery()) > 0): ?>
		<?php $isMobile = $this->isMobile(); ?>
	    <ul class="video-gallery-links">
	    <?php foreach ($this->getVideoGallery() as $_video): ?>
	        <li>
	        	<?php if ($isMobile): ?>
	        		<div class="m-video-thumb"><?php echo $this->getMobileEmbed($_video, 78, 56); ?></div>
	        	<?php else: ?>
				<a class="video-thumb" modal="width=650;height=400" rel="iblightbox" href="<?php echo $this->getVideoGalleryUrl( $_video ); ?>" target="_blank" title="<?php echo $this->htmlEscape($_video['label']) ?> " style="width:78px; height:56px">
					<span></span>
					<img style="margin-top:-11px" src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_video['file'])->resize(78,78); ?>" width="78" height="78" alt="<?php echo $this->htmlEscape($_video['label']) ?>"  title="<?php echo $_video['label'] . ($_video['label'] && $_video['description']? ' - ' : '')  .$this->htmlEscape($_video['description']) ?>"/>
				</a>
				<?php endif; ?>
	        </li>
	    <?php endforeach; ?>
	    </ul>
	    <?php endif;?>
	</div>
	<?php endif; ?>

</div>
</div>
<script type="text/javascript">
Varien.Tabs = Class.create();
Varien.Tabs.prototype = {
  initialize: function(selector) {
    var self=this;
    $$(selector+' a').each(this.initTab.bind(this));
  },

  initTab: function(el) {
      el.href = 'javascript:void(0)';
      if ($(el.parentNode).hasClassName('active')) {
        this.showContent(el);
      }
      el.observe('click', this.showContent.bind(this, el));
  },

  showContent: function(a) {
    var li = $(a.parentNode), ul = $(li.parentNode);
    ul.getElementsBySelector('li', 'ol').each(function(el){
      var contents = $(el.id+'-contents');
      if (el==li) {
        el.addClassName('active');
        contents.show();
      } else {
        el.removeClassName('active');
        contents.hide();
      }
    });
    
    return false;
  }
}

var sections = $$('.product-img-box .more-views');
var haveVideos = <?php echo count($this->getVideoGallery()) > 0 ? 'true' : 'false'; ?>;
var haveImages = haveVideos ? sections.length==2 : sections.length==1;
var pointer = $$('.zoom').first() ? $$('.zoom').first() : ($('track_outer') ? $('track_outer') : $$('.product-img-box .MagicZoomPlus').first());

if (pointer)
{
	if (haveImages && haveVideos)
	{
		// Both tabs
		Element.insert(pointer, {'after':'        \
		<ul class="media-tabs">                                                         \
			<li id="media-tab-images" class="first active"><a href="#">Images</a></li>  \
			<li id="media-tab-videos" class="last"><a href="#"><?php echo $this->__('Videos')?></a></li>          \
		</ul> <div style="clear:both"></div>'});
		
		//sections[0].id="media-tab-images-contents";
		jQuery('.MagicScroll').attr('id','media-tab-images-contents');
		sections[1].id="media-tab-videos-contents";
	}
	else if (haveImages && !haveVideos)
	{
		// Only Images Tab
		Element.insert(pointer, {'after':'        \
		<ul class="media-tabs">                                                         \
			<li id="media-tab-images" class="first active"><a href="#"><?php echo $this->__('Images')?></a></li>  \
		</ul> <div style="clear:both"></div>'});
		jQuery('.MagicScroll').attr('id','media-tab-images-contents');
		//sections[0].id="media-tab-images-contents";
	}
	else if (haveVideos && !haveImages)
	{
		// Only Videos Tab
		Element.insert(pointer, {'after':'        \
		<ul class="media-tabs">                                                         \
			<li id="media-tab-videos" class="first active"><a href="#"><?php echo $this->__('Videos')?></a></li>          \
		</ul> <div style="clear:both"></div>'});
		
		sections[0].id="media-tab-videos-contents";
	}
	
	new Varien.Tabs('.media-tabs');
}
</script>  
<style>
#iboverlay {
    z-index: 1002;
}
@media only screen and (max-width: 767px) {
.video-object, .video-object iframe {
    width: 100% !important;
}
#iblightbox #ibouterImageContainer, #ibimageDataContainer {
    width: 95% !important;
}
}
</style>
<script>

function center()
{
var w = jQuery(window).width();
var h = jQuery(window).height();
var d = document.getElementById('iblightbox');
var divW = jQuery(d).width();
var divH = jQuery(d).height();

d.style.position="fixed";
d.style.top = (h/2)-(divH/2)+"px";
d.style.left = (w/2)-(divW/2)+"px";
}
jQuery('.video-gallery-links a').click(function(){
    jQuery(window).scroll(center);
    jQuery(window).resize(center);
	});

</script>