<?php $categories = $this->getCategories(); ?>
<?php $attributes = $this->getAttributes(); ?>
<?php $product = $this->getProductObject(); ?>
<?php $data = Mage::getSingleton("supplierfrontendproductuploader/session")->getProductData(); ?>
<?php //Mage::getSingleton("supplierfrontendproductuploader/session")->clear(); ?>
<?php $this->setProduct($product); ?>
<?php $selectedCategories = isset($data['category']) ? $data['category'] : array();?>
<?php $this->setSelectedCategories($selectedCategories); ?>
<?php $mediaGallery = (isset($data['image'])) ? $data['image'] : array();?>

<?php $selectedCategories = $product->getCategoryIds(); ?>
<?php $mediaGallery = $product->getMediaGalleryImages(); ?>
<?php $data = $this->getProductAttributes($product); ?>

<?php $method = $this->getLayout()->createBlock('marketplace/shipping_methods');?>
<?php $methods = $method->getSavedMethods(); ?>
<?php $typeId = $this->getRequest()->getParams(); 
$customerData = Mage::getModel('customer/customer')->load(Mage::getSingleton('customer/session')->getId());
?>
<div class="col-md-10 main-container vendor-container pull-right">
    <h1 class="text-center e-title"><?php echo $this->__('Clone Product'); ?></h1>
    <!--<div class="row">-->
        <div class="col-md-12 form-container">
            <form name="product_create_form" id="product_create_form" action="<?php echo Mage::getUrl('supplier/product/save') ?>" method="post" enctype="multipart/form-data">
                <input type="hidden" name="attribute_set_id" value="<?php echo $this->getAttributeSetId() ?>"/>
                <input type="hidden" name="type" value="<?php echo $this->getProductTypeId(); ?>"/>
                <input type="hidden" name="is_cloned" value="<?php echo 'true'; ?>"/>
                <!--<div class="row">-->
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class=" label-container">
                                <label for="name">
                                    <?php echo $this->getLabel('name', 'Name', false); ?>
                                    <span class="required">*</span>:
                                </label>
                            </div>
                            <div class="input-container">
                                <input type="text" id="name" name="name" class="input-text form-control required-entry" value="<?php echo $product->getData('name'); ?>"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" label-container">
                                <label for="short_description">
                                    <?php echo $this->getLabel('short_description', __('Short Description'), false); ?>
                                    <span class="required">*</span>:
                                </label>
                            </div>
                            <div class="input-container">
                                <textarea id="short_description" name="short_description" class="input-text form-control required-entry form-control wysiwyg" rows="15"><?php echo $product->getData('short_description'); ?></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" label-container">
                                <label for="description">
                                    <?php echo $this->getLabel('description', __('Detailed Description '), false); ?>
                                    <span class="required">*</span>:
                                </label>
                            </div>
                            <div class="input-container">
                                <textarea id="description" name="description" class="input-text form-control required-entry wysiwyg" rows="15"><?php echo $product->getData('description'); ?></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" label-container">
                                <label for="price">
                                    <?php echo $this->getLabel('price', __('Price'), false); ?>
                                    <span class="required">*</span>:
                                </label>
                            </div>
                            <div class="input-container">
                                <input type="text" id="price" name="price" class="input-text form-control required-entry validate-number validate-greater-than-zero" />
                                <?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" label-container">
                                <label for="special_price">
                                    <?php echo $this->getLabel('special_price', __('Special Price'), false); ?>:
                                </label>
                            </div>
                            <div class="input-container">
                                <input type="text" id="special_price" name="special_price"  class="input-text form-control validate-number validate-special-price" />
                                <?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" label-container">
                                <label for="special_price_from_date">
                                    <?php echo $this->getLabel('special_price_from_date', __('Special Price From'), false); ?>:
                                </label>
                            </div>
                            <div class="input-container">
                                <input type="text" id="special_price_from_date" name="special_price_from_date" value="<?php echo (isset($data['special_price_from_date']) ? $data['special_price_from_date'] : ''); ?>" class="input-text form-control datepicker" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" label-container">
                                <label for="special_price_to_date">
                                    <?php echo $this->getLabel('special_price_to_date', __('Special Price To'), false); ?>:
                                </label>
                            </div>
                            <div class="input-container">
                                <input type="text" id="special_price_to_date" name="special_price_to_date" value="<?php echo (isset($data['special_price_to_date']) ? $data['special_price_to_date'] : ''); ?>" class="input-text form-control datepicker" />
                            </div>
                        </div>

                             <div class="form-group tire_price_main">
                            <div class="label-container">
                                <label for="tier_price_qty">
                                    <?php echo $this->getLabel('tier_price', __('Tier Price :'), false); ?>
                                </label>

                            </div>
                            <div>
                                 <input type="hidden" name="tier_price[0][website_id]" value="0"/>
                            <input type="hidden" name="tier_price[0][cust_group]" value="32000"/>
                             <div class="col-md-5 form-group">

                                 <input type="text" id="qty" name="tier_price[0][price_qty]" class="input-text form-control validate-number validate-qnt validate-greater-than-zero" placeholder="QTY"/>
                              
                            </div>
                            <div class="col-md-5 form-group">
                                <input type="text" id="tier_price" name="tier_price[0][price]" value=""  class="input-text form-control validate-number validate-price validate-greater-than-zero validate-special-price" placeholder="Price"/>
                                <?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?>
                            </div>
                           
                           
                            <div class="col-md-2 action_class nopadding">
                                <a href="javascript:void(0);" id="add_0" data-id="0" class="add_clone_add">+</a>
                               <!--<a href="javascript:void(0);" class="remove_clone_add">X</a>-->
                                

                            </div>
                            </div>
                        </div>
                        <?php if ($this->canManageStock() && $typeId['type'] !='configurable'): ?>
                            <div class="form-group">
                                <div class=" label-container">
                                    <label for="qty">
                                        <?php echo $this->getLabel('qty', __('QTY Availabel'), false); ?>
                                        <span class="required">*</span>:
                                    </label>
                                </div>
                                <div class="input-container">
                                    <input type="text" id="qty" name="qty" value="<?php echo (isset($data['qty']) ? $data['qty'] : ''); ?>" class="input-text form-control required-entry validate-number validate-greater-than-zero" />
                                </div>
                            </div>
                        <?php endif; ?>
                        <?php if($this->canAddSku()): ?>
                            <div class="form-group">
                                <div class=" label-container">
                                    <label for="sku">
                                        <?php echo $this->getLabel('sku', 'SKU', false); ?>
                                        <span class="required">*</span>:
                                    </label>
                                </div>
                                <div class="input-container">
                                    <input type="text" id="sku" name="sku" class="input-text form-control  required-entry" />
                                </div>
                            </div>
                        <?php endif; ?>
                        <?php $typeId = $this->getRequest()->getParams();
                        if ($typeId['type'] == 'simple'){   ?>
                            <div class="form-group">
                                <div class=" label-container">
                                    <label for="weight">
                                        <?php echo $this->getLabel('weight', __('Product Weight'), false); ?>
                                        <span class="required">*</span>:
                                    </label>
                                </div>
                                <div class="input-container">
                                 <div class="col-md-9 form-group">
                                    <input type="text" id="weight" name="weight" value="<?php echo number_format($product->getData('weight'),0); ?>" class="input-text form-control required-entry validate-number" />
                                    </div>
                                    <div class="col-md-3 form-group">                                           
                                    <select name="weight_unit" class="form-control required-entry">
                                    <option value="">Select</option>
                                    <option value="Grams" <?php if($product->getData('weight_unit') == "Grams") echo "selected"; ?>>Grams</option>
                                    <option value="Kgs"  <?php if($product->getData('weight_unit') == "Kgs") echo "selected"; ?>>Kgs</option>
                                        
                                    </select>       </div>
                                </div>
                            </div>
                        <?php } ?>
                        <div class="form-group">
                            <div class="label-container">
                                <label for="weight">
                                    <?php echo $this->getLabel('brand', 'Brand', false); ?>
                                    <span class="required">*</span>:
                                </label>
                            </div>
                            <div class="input-container">
								<select class="form-control" name="brand">
								<?php 

								$category = Mage::getModel('catalog/category')->load(42);
								$subcategories = $category->getChildrenCategories();
								 $categories = Mage::getModel('marketplace/categories')->getCollection()->addFilter('supplier_id', $customerData->getEntityId());
								$notSelectedCategories = array();

								foreach($categories AS $category) {          
									$notSelectedCategories[] = $category->getCategoryId();
								}
								if (count($subcategories) > 0){
								?>
								<option value="">Please select</option>
								<?php foreach($subcategories as $subcategory){
									if(!in_array($subcategory->getId(),$notSelectedCategories )){ ?>
										<option value="<?php echo $subcategory->getName(); ?>" <?php if($subcategory->getName() == $data['brand']) { echo "selected='selected'"; } ?>><?php echo $subcategory->getName(); ?></option>
								<?php }
									}
								}
								?>  
								</select> 
                                <p class="m-t-10">If you do not find your Brand <a href="<?php echo Mage::getBaseUrl().'supplier/settings/addbrand/' ?>" target="_blank">Click Here</a></p>
                            </div>
                        </div>
                        <?php if($this->getProductTypeId() == 'simple' || $this->getProductTypeId() == 'configurable'): ?>
						<div class="form-group">
                            <div class="label-container">
                                <label for="color">
                                    <?php echo $this->getLabel('color', 'Color', false); ?>&nbsp;:
                                </label>
                            </div>
                            <!-- color picker HTML -->
                            <div class="input-container">
                                 <?php
                                    $colors = array();
                                    $atributeCode = 'color';
                                    $attribute = Mage::getModel('eav/config')->getAttribute('catalog_product',$atributeCode);
                                    $options = $attribute->getSource()->getAllOptions();
                                    foreach($options as $key => $value){
                                        if($value['label'] != ''){
                                            $fruitList .= $prefix . '"' . $value['label'] . '"';
                                            $prefix = ', ';
                                        }
                                    }
                                    $_product = Mage::getModel('catalog/product');
                                    $attr = $_product->getResource()->getAttribute('color');
                                    $optionId = $product->getData('color');
                                    if ($attr->usesSource()) {
                                           $optionText = $attr->getSource()->getOptionText($optionId);
                                     }                                      
                                    ?>   
                                <input type='hidden' name='color' value="<?php echo $color_id; ?>" id="color-pick" class="color-pick"/>
                            </div>                            
                        </div> 
                        <?php endif; ?>    
                        <!-- color picker HTML -->
                        <?php //if($typeId['type'] !='downloadable'): ?>
                        <?php foreach ($attributes AS $attribute): ?>
                        <?php $attributeObj = Mage::getSingleton('eav/config')->getAttribute(Mage_Catalog_Model_Product::ENTITY, $attribute['code']); ?>
                        <?php if (count($attributeObj->getApplyTo()) > 0 && !in_array('configurable', $attributeObj->getApplyTo())) continue; ?>
                        <?php //if ($attributeObj->getData('is_user_defined') == 1) : ?>
                            <?php if ($attributeObj->getData('available_for_supplier') == 0) continue; ?>
                            <?php if ($attributeObj->getData("is_{$typeId['type']}")): ?>
                                <?php if ($attributeObj->getData('frontend_input') == 'select') continue; ?>
                                <?php $attributeFrontend = $attributeObj->getFrontend(); ?>
                                <?php $isRequired = $attributeFrontend->getAttribute()->getIsRequired(); ?>
                                <div class="form-group">
                                    <div class="label-container">
                                        <label for="product_name">
                                            <?php echo $this->getLabel($attributeObj); ?>
                                            <?php if ($isRequired == 1): ?><span
                                                class="required">*</span> <?php endif; ?>:
                                        </label>
                                    </div>
                                    <div class="input-container">
                                        <?php echo $this->getAttributeHtml($attributeObj, $data); ?>
                                    </div>
                                </div>
                            <?php else: ?>
                                <?php $attributeFrontend = $attributeObj->getFrontend(); ?>
                                <?php $isRequired = $attributeFrontend->getAttribute()->getIsRequired();
									if($this->getLabel($attributeObj)!="Color")
                                    {
								?>
									<div class="form-group <?php echo ($this->getLabel($attributeObj) == 'Color') ? 'v-color' : 'attr'; ?>">
										<div class="label-container">
											<label for="product_name">
												<?php echo $this->getLabel($attributeObj); ?>
												<?php if ($isRequired == 1): ?><span
													class="required">*</span> <?php endif; ?>:
											</label>
										</div>
										<div class="input-container">
											<?php echo $this->getAttributeHtml($attributeObj, $data); ?>
										</div>
									</div>
								<?php } endif; ?>
                        <?php //endif; ?>
                    <?php endforeach; ?>
                     <?php //endif; ?>

                        <?php
                         if ($typeId['type']=='configurable'){   ?>
                            <div class="form-group">
                            <div class="label-container">
                                 <label for="sku">
                                  <?php echo Mage::helper('marketplace')->__('Product Attributes:'); ?>
                                </label>
                            </div>
                            <div class="input-container">           
                                 <ul class="super-attributes">                
                                    <?php foreach ($attributes AS $attribute):?>
                                    <?php $attributeObj = Mage::getSingleton('eav/config')->getAttribute(Mage_Catalog_Model_Product::ENTITY, $attribute['code']); ?>
                                    <?php if (!$attributeObj->getData('is_user_defined')) continue; ?>
                                    <?php if (!$attributeObj->getData('is_configurable')) continue; ?>
                                    <?php if ($attributeObj->getData('frontend_input') != 'select') continue; ?>
                                    <li>

                                    <?php if($attributeObj->getAttributeCode() == 'size_top' || $attributeObj->getAttributeCode() == 'size_bottom' || $attributeObj->getAttributeCode() == 'size_bust' || $attributeObj->getAttributeCode() == 'shoe_size'): ?>
                                    <input type="radio" class="sizeattrs" name="attributes[]"
                                               id="<?php echo $attributeObj->getAttributeCode(); ?>"
                                               value="<?php echo $attributeObj->getAttributeCode(); ?>"/>
                                    <label for="<?php echo $attributeObj->getAttributeCode(); ?>" class="sizeattrs lbl">
                                        <?php echo $attributeObj->getFrontendLabel(); ?></label>

                                    <?php else: ?>    
                                    
                                    <input type="checkbox" name="attributes[]"
                                               id="<?php echo $attributeObj->getAttributeCode(); ?>"
                                               value="<?php echo $attributeObj->getAttributeCode(); ?>"/>

                                    <label for="<?php echo $attributeObj->getAttributeCode(); ?>">
                                        <?php echo $attributeObj->getFrontendLabel(); ?></label>
                                    <br/>                        
                                    <?php endif; ?>
                                    </li>
                                    <?php endforeach; ?>
                                </ul>   
                              
                                <div class="input-container">  
                                </div>
                            </div>
                        </div>
                        <?php } ?>

                        <?php foreach($attributes AS $attribute): ?>
                            <?php $attributeObj = Mage::getSingleton('eav/config')->getAttribute(Mage_Catalog_Model_Product::ENTITY, $attribute['code']); ?>
                            <?php if ($attributeObj->getData('availabel_for_supplier') == 0) {
                                continue;
                            } ?>
                            <?php if((count($attributeObj->getApplyTo()) == 0 || in_array('simple', $attributeObj->getApplyTo()))) : ?>
                                <?php $attributeFrontend = $attributeObj->getFrontend(); ?>
                                <?php $isRequired = $attributeFrontend->getAttribute()->getIsRequired(); ?>
                                <div class="form-group">
                                    <div class="col-md-3 label-container">
                                        <label for="product_name">
                                            <?php echo $this->getLabel($attributeObj); ?>
                                            <?php if($isRequired == 1): ?><span class="required">*</span> <?php endif; ?>
                                        </label>
                                    </div>
                                    <div class="col-md-5 input-container">
                                        <?php echo $this->getAttributeHtml($attributeObj, $data); ?>
                                    </div>
                                </div>
                            <?php endif; ?>
                        <?php endforeach; ?>
                        <?php if($typeId['type'] =='simple' || $typeId['type'] =='configurable'): ?>
						 <div class="form-group">                            
                                <label for="product_name">
                                    Shiping Method                                        :
                                </label>  
                                <select name="shipping_method" id="shipping_method">
                                    <option value="0">----------</option>
                                    <?php foreach($methods AS $smethods):?>
                                        <?php ; ?>
                                        <option value="<?php echo $smethods->getName(); ?>" <?php if($product->getShippingMethod() == $smethods->getName()) {echo "selected='selected'";} ?>><?php echo $smethods->getName(); ?></option>
                                    <?php endforeach;?>
                                </select>                            
                        </div>
                        <?php endif; ?>
                        <?php if($product->getAdminProductNote() != NULL && $product->getAdminProductNote() != ''): ?>
                            <div class="form-group">
                                <div class="col-md-3 label-container">
                                    <label for="notify_admin_about_change"><?php echo $this->__('Notify Admin About Change'); ?></label>
                                </div>
                                <div class="col-md-3 input-container">
                                    <input type="checkbox" name="notify_admin_about_change" id="notify_admin_about_change" value="1"/>
                                </div>
                            </div>
                        <?php endif; ?>
                    </div>
                    <div class="col-md-3 p-l-0">
                        <div class="sidebar">
                        <div class="form-group">
                            <div class="col-md-12 photo-content">
                                <label><?php echo $this->__('Product Images'); ?></label>
                                <div class="col-md-12">
                                    <div class="row">
                                        <span class="file_upload_span btn btn-primary"><?php echo $this->__('Select and Upload Image')?></span>
                                        <input type="file" name="file_upload" id="file_upload" multiupload />
                                    </div>
                                </div>
                                <?php $mainPhotoImage = ''; ?>
                                <?php foreach($mediaGallery AS $img) : ?>
                                    <?php if($product->getImage() == $img->getFile()) : ?>
                                        <?php $mainPhotoImage = $product->getImage(); ?>

                                    <?php endif; ?>
                                <?php endforeach; ?>
                                <input type="hidden" class="image hidden" name="main_photo" id="main_photo" value="<?php echo $mainPhotoImage ?>"/>
                                <div class="col-md-8 photos">
                                    <ul class="photo panel-body">
                                        <?php foreach($mediaGallery AS $img) : ?>
                                            <?php if(file_exists(Mage::getBaseDir('media') . '/catalog/product' . $img->getFile())): ?>
                                                <li class="thumbnail<?php echo ($mainPhotoImage == $img->getFile()) ? ' main' : '' ?>">
                                                    <img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail', $img->getFile())->resize(171); ?>" alt="<?php echo $this->htmlEscape($img->getLabel());?>" title="<?php echo $this->htmlEscape($img->getLabel());?>" data-name="<?php echo $img->getFile(); ?>"/>
                                                    <span class="remove"><i class="glyphicon glyphicon-remove"></i></span>
                                                    <span class="default"><i class="glyphicon glyphicon-home"></i></span>
                                                    <input type="hidden" class="image hidden" name="image[]" value="<?php echo $img->getFile(); ?>" /></li>
                                                </li>
                                            <?php endif; ?>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 photo-content">
                               
                                <label class=""><?php echo $this->__('Video URL') ?></label>
                                <input class="input-text form-control" type="text" value="" name="video_gallery[0][url]">
                                 <span class="note">Supported Platforms: Vimeo, Youtube</span>
                                 <label class=""><?php echo $this->__('Video Label') ?></label>
                                <input class="input-text form-control" value="" name="video_gallery[0][label]" type="text">
                                
                                <div class="col-md-8 photos">
                                   
                                </div>
                            </div>
                        </div>

                        <ul class="category-list">
                            <label><?php echo $this->__('Product Categories'); ?></label>
                            <?php echo $this->getNodes($categories); ?>
                            <p class="m-t-10">If you do not find your Category <a href="<?php echo Mage::getBaseUrl().'supplier/settings/addcategory/' ?>" target="_blank">Click Here</a></p>
                        </ul>
                        <ul class="category-list">
                            <?php $types = $this->getRequest()->getParams();

                            if ($types['type'] == 'downloadable'){   ?>
                            <div class="row">
                                <p><strong>Select and upload downloadable file</strong></p>
                                <input type="file" name="downloadable_upload" id="downloadable_upload" style='margin: 20px 0'> 
                                <li><?php echo $this->__("Or"); ?></li>
                            <li>
                                <input type="text" id="sku" name="file_url" class="input-text form-control "/>
                            </li>
                            <span class="note">Supported Extensions: jpg, jpeg, pdf, png, gif, csv, zip</span>
                                <?php } ?>
                            </div>

                        </ul>
                             <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-3 col-sm-4 col-sm-offset-4 col-md-offset-3 btn-save-fix">
                        <input type="submit" name="submit" id="create_product" class="btn btn-primary save-button" value="<?php echo $this->__('Save Product') ?>" />
                    </div>
            </form>
        </div>
    <!--</div>-->
<!--</div>-->
<div class="slideshow-container"><div class="slideshow"></div></div>


<script type="text/javascript">

     jQuery(document).ready(function(){


        <?php  if ($types['type'] == 'downloadable'){ ?>
            jQuery("#create_product").click(function(){
            var filetext = jQuery("#sku").val();    
            var fileupload = jQuery("#downloadable_upload")[0].files[0];
            if(fileupload == undefined && filetext.length == 0){
                var countlinks = "<?php echo count($links) ?>";
                if(countlinks == 0){
                    alert('*Either upload file or enter valid path for file.');              
                    jQuery(".list-unstyled").css({'border':'1px solid #a94442'});
                    return false;
                }
            }
            jQuery(".list-unstyled").css({'border':'none'});
            });
            <?php } ?>


        var type = "<?php  echo $product->getTypeId();?>";

        if(type == 'virtual'){
            jQuery(".v-color").remove();
        }

        jQuery(".sizeattrs").hide();

        jQuery("#size").change(function(){
                
            if (jQuery("#size").is(':checked')) {
           
            jQuery(".sizeattrs").show();    

        }
        else{
            jQuery(".sizeattrs").hide();    
        }
        }); 

        jQuery("#create_product").click(function(){

            if(type == 'configurable'){
                var count_checked = jQuery("[name='attributes[]']:checked").length; 
             
                if(count_checked == 0)
                {
                    alert('Please select atleast one Attribute');               
                    return false;
                }
            }

            if (jQuery("#size").is(':checked')) {
                
             if (jQuery('.sizeattrs:checked').length) {
                        //alert(jQuery(".sizeattrs").val())
                       //jQuery("#size").val(jQuery(".sizeattrs:checked").val()); 
                        jQuery("#size").removeAttr("name");
                       // at least one of the radio buttons was checked
                       return true; // allow whatever action would normally happen to continue
                  }
                  else {
                       // no radio button was checked
                       alert('Select at least one of the Size attributes');
                       return false; // stop whatever action would normally happen
                  }
              }
            });

    });  

    //< ![CDATA[
    var customForm = new VarienForm('product_create_form');
    //]]>
    jQuery(document).ready(function($){
		jQuery("#create_product").click(function(){
			if(jQuery('#product_create_form').find('input[type=checkbox]:checked').length == 0)
			{
				alert('Please select atleast one Categories');				
				return false;
			}
		});
		
		
       jQuery('.datepicker').datepicker({ 
            dateFormat: "yy-mm-dd",
            showButtonPanel: true,           
            closeText: 'Clear', // Text to show for "close" button
            onClose: function () {
                var event = arguments.callee.caller.caller.arguments[0];
                // If "Clear" gets clicked, then really clear it
                if ($(event.delegateTarget).hasClass('ui-datepicker-close')) {
                    $(this).val('');
                }
            }
        });

        jQuery("#special_price_from_date").keypress(function(event) {event.preventDefault();});
        jQuery("#special_price_to_date").keypress(function(event) {event.preventDefault();});

        jQuery('#file_upload').fileupload({
                url: '<?php echo Mage::getUrl('supplier/product/upload') ?>',
                dataType: 'json',
                done: function (e, data) {
                    if(data.result.success) {
                        $('.photo.panel-body').append('<li class="thumbnail"><img src="' + data.result.url + '" alt="" data-name="' + data.result.name + '"/><span class="remove"><i class="glyphicon glyphicon-remove" title="Remove This Picture"></i></span><span class="default"><i class="glyphicon glyphicon-home" title="Set As Main Picture"></i></span><input type="hidden" class="image hidden" name="image[]" value="' + data.result.name + '" /></li>');
                    } else {
                        alert(data.result.message);
                    }
                }
            })
            .prop('disabled', !jQuery.support.fileInput)
            .parent().addClass(jQuery.support.fileInput ? undefined : 'disabled')
            .on('fileuploadadd', function (e, data) {
                var limit = <?php echo $this->getMaxImagesCount() ?>;

                if(jQuery('.thumbnail:visible').length >= limit) {
                    alert('The upload limit has been reached');
                    return false;
                }
            });

        jQuery(document).on('click', 'li span.remove', function($){
            var img = jQuery(this).prev();
            var imgName = jQuery(img).attr('data-name');

            $j('input.image.hidden').each(function(el){
                if($j(this).val() == imgName) {
                    $j(this).val('');
                }
            });
            $j(this).parent().fadeOut();

        });

        CKEDITOR.replace( 'description' );
        CKEDITOR.replace( 'short_description' );

        jQuery(document).on('click', 'li span.default', function($){
            var img = jQuery(this).prev().prev();
            var imgName = jQuery(img).attr('data-name');
            var mainPhotoInput = jQuery('#main_photo');
            mainPhotoInput.val(imgName);

            if(jQuery('li.thumbnail.main').length) {
                jQuery('li.thumbnail.main').removeClass('main');
            }

            img.parent().addClass('main');
        });
    });
</script>
<script type="text/javascript">
    var colortext='';      
    jQuery("#color-pick").spectrum({
        showPaletteOnly: true,
        showPalette: true,
        allowEmpty:true,
        chooseText: "Alright",
        cancelText: "Close",
        showButtons: true,
        showSelectionPalette: false,
        showInput: true,
        color: "<?php echo $optionText; ?>",
        togglePaletteOnly: true,
        togglePaletteMoreText: false,       
        change: function(color) {
             // #ff0000
            jQuery('#color-pick').val(color.toName());
        },
        palette: [
            [<?php echo $fruitList; ?>]
        ]
    });
</script>