<input type="hidden" value="<?php echo $this->getBaseUrl();?>" id="base_url"/>
<?php 
$string="";
 ?>
 <?php $datanew= array();?>
<?php $attributes = $this->getAttributes(); ?>
<?php $notAssociatedProducts = $this->getNotAssociatedProducts(); ?>

            <?php foreach($attributes AS $attribute): 
                $datanew[$attribute['attribute_code']] = array();
            ?>
            <?php foreach($this->getChildrenProducts() AS $product): ?>
        <?php $p = Mage::getModel('catalog/product')->load($product->getId());
        ?>
                                    <?php     
                                   
                                     array_push($datanew[$attribute['attribute_code']],$p->getAttributeText($attribute['attribute_code']));
                                    ?>
                                     <?php endforeach; ?>
                                    
                                <?php 
                              $datanew[$attribute['attribute_code']] = array_unique($datanew[$attribute['attribute_code']]);  
                              $datanew[$attribute['attribute_code']] = implode(';', $datanew[$attribute['attribute_code']]);                                    
                                endforeach; ?>
                               

<div class="col-md-10 pull-right container-fluid main-container vendor-container">
    <!-- <div class="page-header"> -->
        <h1 class="text-center e-title"><?php echo $this->__("Quick Create Associated Product") ?></h1>
    <!-- </div> -->
    <!-- <div class="row"> -->
        <div class="form-container">
            <form name="product_create_form" id="product_create_form" action="<?php echo Mage::getUrl('marketplace/product/saveAssociatedProductMain') ?>" method="post" enctype="multipart/form-data">
                <!--<div class="container-fluid">-->
                    <div class="col-md-12">
                       <!-- <div class="cold-md-5"> -->
                            <?php /*if(count($notAssociatedProducts) > 0) : ?>
                                <div class="container form-group col-sm-2">
                                    <div class="label-container">
                                        <label for="name">
                                            <?php echo $this->getLabel('Existing Product', 'Existing Product', false); ?>:
                                        </label>
                                    </div>
                                    <div class="input-container">
                                        <select name="product_id" id="product_id">
                                            <option value="0">----------</option>
                                            <?php foreach($notAssociatedProducts AS $product): ?>
                                                <?php ; ?>
                                                <option value="<?php echo $product->getId(); ?>" <?php echo $this->areOptionsExists($product) ? "disabled" : ""; ?> ><?php echo $product->getName(); ?>, <?php echo $this->__('SKU'); ?>: <?php echo $product->getSku(); ?></option>
                                            <?php endforeach;?>
                                        </select>
                                    </div>
                                </div>
                            <?php endif;*/ ?>
                            <div class="custom-attributes">
                                <input type="hidden" value="<?php echo count($attributes)?>" id="attribute_count"/>
                                <input type="hidden" id="super_product_id" value="<?php echo $this->getProductId(); ?>">
                                <?php foreach($attributes AS $attribute): ?>
                                    <?php $attributeObj = Mage::getSingleton('eav/config')->getAttribute(Mage_Catalog_Model_Product::ENTITY, $attribute['attribute_code']); ?>

                                    <?php if($attributeObj->getData('is_user_defined') == 1) : ?>
                                        <?php $attributeFrontend = $attributeObj->getFrontend(); ?>
                                        <?php if(!$attributeObj->getData('is_configurable')) continue; ?>
                                        <?php $isRequired = $attributeFrontend->getAttribute()->getIsRequired(); ?>
                                        <input type="hidden" id="<?php echo $attributeObj->getAttributeCode();?>_id" value="<?php echo $attribute['id'] ?>" style="" />
                                        <input type="hidden" id="<?php echo $attributeObj->getAttributeCode();?>_attribute_id" value="<?php echo $attributeObj->getAttributeId(); ?>" style="" />
                                            <div class="container form-group col-sm-12">
                                                <div class="label-container">
                                                    <label for="<?php echo $attributeObj->getAttributeCode() ?>">
                                                        <?php echo $attributeObj->getAttributeCode(); ?>
                                                        <?php if($isRequired == 1): ?><span class="required">*</span> <?php endif; ?>:
                                                    </label>
                                                </div>
                                            <div class="input-container">
                                               
                                                  <div class="main_input <?php if($attributeObj->getAttributeCode()=="color" ){  echo "mycolorclass".$attributeObj->getAttributeId(); } ?>" id="cus_picker_<?php echo $attributeObj->getAttributeId(); ?>">
                                                <input type="text" data-role="tagsinput" class="input-text form-control custom_id" id="<?php echo $attributeObj->getAttributeId();?>" value="<?php echo $datanew[$attributeObj->getAttributecode()]?>"/>
                                                  <input type="hidden" id="cust_<?php echo $attributeObj->getAttributecode();?>" value="<?php echo $attributeObj->getAttributecode();?>" class="<?php echo $attributeObj->getAttributeId();?>"/>
                                                 <?php if($attributeObj->getAttributeCode()=="color" ){ ?>
                                                     <input type="color" style="width:50px;" id="colorpicker" name="color" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="#bada55">
                                                <?php  } ?>
                                                </div>
                                            </div>
                                        </div>
										<script>
										jQuery('#colorpicker').on('change',function(){
											var clr = "<?php echo $attributeObj->getAttributeId() ?>";
											jQuery('.mycolorclass'+clr+' .input-text').val(this.value);
											jQuery('.mycolorclass92'+clr+' > span').css({'background-color':this.value});

											var cus_c = jQuery('#cust_color').val();        
												var class_data = jQuery('.custom_id').attr('id');        
											   
												if(class_data=="92")
												{   jQuery('#'+class_data ).val(this.value);
													//jQuery('.bootstrap-tagsinput:first-child').trigger('click');
													jQuery(".input-text").trigger("blur");
												}
                                             /******* Save button enable by:Sachin ********/    
                                            /*var colorvalue = jQuery('.bootstrap-tagsinput').find('span.tag').text();
                                            if(colorvalue != ''){
                                                 jQuery('.assocbtn').removeAttr('disabled','false');
                                            }*/
                                            /********************* End ********************/
											});
										</script>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            </div>
                        <!-- </div> -->
                    </div>
                  
                    <div class="col-md-12">
                        <div class="table-responsive col-md-12">
                            <table class="table table-striped e-order-table"  id="associated">
                                <thead>
                                <tr>
                                    <td></td>
                                    <td><strong><?php echo $this->__("ID"); ?></strong></td>
                                    <td class="text-center"><strong><?php echo $this->__("option"); ?></strong></td>
                                    <td class="text-center"><strong><?php echo $this->__("Name"); ?></strong></td>
                                    <td class="text-center"><strong><?php echo $this->__("QTY"); ?></strong></td>
                                    <td class="text-center"><strong><?php echo $this->__("Weight"); ?></strong></td>
                                    <td class="text-center"><strong><?php echo $this->__("Price"); ?></strong></td>
                                    <td class="text-right"><strong><?php echo $this->__("Action"); ?></strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <?php $m=0;?>
                                <input type="hidden" id="children_count" value="<?php echo count($this->getChildrenProducts())?>" />
                                
                                <?php foreach($this->getChildrenProducts() AS $product): ?>
                                    <?php $p = Mage::getModel('catalog/product')->load($product->getId()); 
                                    $stock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($p);
                                    ?>
                                     <?php 
                                     $id="";
                                     foreach($attributes AS $attribute): ?>
                                    <?php

                                        $id=$id."-".$p->getAttributeText($attribute['attribute_code']);
                                    ?>
                                     <?php endforeach;
                                    
                                     $str = substr($id, 1); 
                                      ?>
                                    <tr id="<?php echo $str;?>">
                                       
                                    <td>
                                        <input class="associated" type="checkbox" name="associated[<?php echo $m; ?>][checkbox]" value="<?php echo $this->escapeHtml($product->getId()); ?>" checked="true"/>
                                         <input type="hidden" name="associated[<?php echo $m; ?>][product_id]" value="<?php echo $product->getId();?>" id=""/>
                                         <input type="hidden" name="associated[<?php echo $m; ?>][super_product_id]" value="<?php echo $this->getProductId(); ?>"/>
                                    </td>
                                     <td><?php echo $str;?></td>
                                    <td>
                                        <?php echo $this->escapeHtml($product->getId()); ?>
                                    </td>
                                    
                                    <td>
                                        <input type='text' id='name' name='associated[<?php echo $m; ?>][name]' class='input-text form-control required-entry' value='<?php echo $this->escapeHtml($p->getName()); ?>'/>
                                    </td>
                                    <td>
                                        <input type='text' id='qty' name='associated[<?php echo $m; ?>][qty]' value='<?php echo $this->escapeHtml($stock->getQty()); ?>' class='input-text form-control required-entry validate-number validate-greater-than-zero' />
                                    </td>
                                    <td>
                                        <input type='text' id='weight' name='associated[<?php echo $m; ?>][weight]' value='<?php echo $this->escapeHtml($p->getweight()); ?>' class='input-text form-control required-entry validate-number' />
                                    </td>
                                    <td>
                                        <input type='text' name='associated[<?php echo $m; ?>][price]' class='input-text form-control  attribute-price validate-number price' value="<?php echo $this->escapeHtml($p->getPrice()); ?>"/>
                                    </td>
                                    <td class="text-center">
                                            <a class="btn btn-danger btn-sm" href="<?php echo Mage::getUrl('marketplace/product/deleteAssociated', array('id' => $product->getId()))?>"><?php echo $this->__('Remove Product'); ?></a>
                                    </td>

                                    </tr>

                                <?php 
                                $m++;
                                endforeach; ?>
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                <!--</div>-->
        </div>
        <!-- <div class="row"> -->
             <div class="col-md-3 col-sm-12 col-md-offset-4 inline-fld">
                <input type="submit" name="submit" class="btn btn-primary assocbtn" value="<?php echo $this->__('Save') ?>" />
				<a href="<?php echo Mage::getBaseUrl(); ?>supplier/product/list/" class="btn btn-primary"><?php echo $this->__('Go To list') ?><a/>
            </div>
        <!-- </div> -->
        </form>
    <!-- </div> -->
</div>
</div>


<script type="text/javascript">
    //< ![CDATA[
    var customForm = new VarienForm('product_create_form');
    jQuery(document).ready(function(){
        jQuery('.custom-attributes input, .custom-attributes select, .custom-attributes textarea').not('.price').on('change', function(){
            jQuery(this).next().show().find('input').addClass('required-entry');
        });

        /********************** Save button disabled by:Sachin *****************/
        
        /*var colorvalue = jQuery('.bootstrap-tagsinput').find('span.tag').text();
        if(colorvalue == ''){   alert(1); 
            jQuery('.assocbtn').attr('disabled','true');
        }

        jQuery('.main_input .bootstrap-tagsinput').on('click', function() {

               var colorvalue1 = jQuery('.bootstrap-tagsinput').find('span.tag').text();
               if(colorvalue1 == ''){    
                    jQuery('.assocbtn').attr('disabled','true');
               }
        });*/
        //jQuery('.assocbtn').attr('disabled','false');

       
        // jQuery("span.tag span").click(function(){
        //     alert(1);
        // });

       // jQuery('.bootstrap-tagsinput').trigger('click');

        /************************ END ********************************/

        jQuery('.associated').change(function(){
            
            var checkbox = jQuery(this)[0];
            var checked = checkbox.checked;
            var productId = checkbox.value;

            var configurableId = "<?php echo $this->getProductId(); ?>";

            jQuery(checkbox).attr('disabled', true);
            jQuery.ajax({
                type : 'POST',
                url: '<?php echo Mage::getUrl("*/*/changeAssociatedStatus")?>',
                data : {
                    product_id : productId,
                    configurable_id : configurableId,
                    status : checked,
                },
                success : function(){
                    jQuery(checkbox).removeAttr('disabled');
                }
            });
        });

        jQuery('.associated-dropdown').change(function() {
            var price = jQuery(this).find(':selected').attr('data-id');
            jQuery(this).next().show().find('input').val(price);
        });

        jQuery('#product_id').change(function(){
            if(jQuery(this).val() != 0) {
                jQuery('#name').attr('disabled', '').removeClass('required-entry');
                jQuery('#qty').attr('disabled', '').removeClass('required-entry');
                jQuery('#weight').attr('disabled', '').removeClass('required-entry');
                jQuery('#sku').attr('disabled', '').removeClass('required-entry');
                jQuery('.associated-dropdown').attr('disabled', '').removeClass('required-entry');
            } else {
                jQuery('#name').removeAttr('disabled').addClass('required-entry');
                jQuery('#qty').removeAttr('disabled').addClass('required-entry');
                jQuery('#weight').removeAttr('disabled').addClass('required-entry');
                jQuery('#sku').removeAttr('disabled').addClass('required-entry');
            }
        });
    });
    //]]>
</script>
