<?php 
if(Mage::getSingleton('customer/session')->isLoggedIn()) {
     $customerData = Mage::getSingleton('customer/session')->getCustomer();
      $product_data=Mage::getModel('catalog/product')->load($this->getRequest()->getParam('id'));
     
      if( $customerData->getId() !=$product_data->getCreatorId())
      {
        Mage::app()->getResponse()->setRedirect(Mage::getBaseUrl().'supplier/product/list'); 
      }
}
?>
<input type="hidden" value="<?php echo $this->getBaseUrl();?>" id="base_url"/>
<?php $string=""; ?>
<?php $datanew= array();?>
<?php $attributes = $this->getAttributes(); ?>
<?php 
    $notAssociatedProducts = $this->getNotAssociatedProducts();
    $notAssociatedProducts1=$notAssociatedProducts->getData();
 ?>

    <?php 
        foreach($attributes AS $attribute): 
            $datanew[$attribute['attribute_code']] = array();
                foreach($this->getChildrenProducts() AS $product):
                    $p = Mage::getModel('catalog/product')->load($product->getId()); 
                    array_push($datanew[$attribute['attribute_code']],$p->getAttributeText($attribute['attribute_code']));
         endforeach;
    ?>

    <?php 
    $datanew[$attribute['attribute_code']] = array_unique($datanew[$attribute['attribute_code']]);  
    $datanew[$attribute['attribute_code']] = implode(';', $datanew[$attribute['attribute_code']]);
    endforeach; ?>
                               

<div class="col-md-10 pull-right container-fluid main-container vendor-container">
    <!-- <div class="page-header"> -->
        <h1 class="text-center e-title"><?php echo $this->__("Quick Create Associated Product") ?></h1>
    <!-- </div> -->
    <!-- <div class="row"> -->
        <div class="form-container">
            <span class="loader" style="display:none;"></span>
            <form name="product_create_form" id="product_create_form" action="<?php echo Mage::getUrl('marketplace/product/saveAssociatedProductMain') ?>" method="post" enctype="multipart/form-data">
                <!--<div class="container-fluid">-->
                    <div class="col-md-12">
                       <!-- <div class="cold-md-5"> -->
                            <?php /*if(count($notAssociatedProducts1) > 0) : ?>
                                <div class="form-group col-sm-2">
                                    <div class="label-container">
                                        <label for="name">
                                            <?php echo $this->getLabel('Existing Product', 'Existing Product', false); ?>:
                                        </label>
                                    </div>
                                    <div class="input-container">
                                        <select name="product_id" id="product_id">
                                            <option value="0">----------</option>
                                            <?php foreach($notAssociatedProducts1 AS $product):                                            
                                                $product= Mage::getModel('catalog/product')->load($product['entity_id']);
                                            ?>
                                                <option value="<?php echo $product['entity_id']; ?>" <?php echo $this->areOptionsExists($product) ? "disabled" : ""; ?> ><?php echo $product->getName(); ?>, <?php echo $this->__('SKU'); ?>: <?php echo $product->getSku(); ?></option>
                                            <?php endforeach;?>
                                        </select>
                                    </div>
                                </div>
                            <?php endif; */?>
                            <div class="custom-attributes">
                                <?php 
                                    $attrvalues = array();
                                    $productsdata = Mage::getModel('catalog/product')->load($this->getProductId()); 
                                    $childProducts = Mage::getModel('catalog/product_type_configurable')
                                                        ->getUsedProducts(null,$productsdata);
                                    foreach($childProducts as $child) {
                                         $ids = Mage::getModel('catalog/product')->load($child->getId())->getSku();

                                        $explodes = explode('-', $ids);
                                        $attrvalues[] = $explodes[1];
                                        $attrvalues[] = $explodes[2];
                                     
                                    }
                                ?>
                                <input type="hidden" value="<?php echo count($attributes)?>" id="attribute_count"/>
                                <input type="hidden" id="super_product_id" value="<?php echo $this->getProductId(); ?>">
                                <?php foreach($attributes AS $attribute): ?>
                                    <?php $attributeObj = Mage::getSingleton('eav/config')->getAttribute(Mage_Catalog_Model_Product::ENTITY, $attribute['attribute_code']); ?>
                                    <?php $attributeValue = $product_data->getIsDeal();?>
                                    <?php if($attributeObj->getData('is_user_defined') == 1) : ?>
                                        <?php $attributeFrontend = $attributeObj->getFrontend(); ?>
                                        <?php if(!$attributeObj->getData('is_configurable')) continue; ?>
                                        <?php $isRequired = $attributeFrontend->getAttribute()->getIsRequired(); ?>
                                        <?php if($attributeObj->getAttributeCode() != 'size'): ?>
                                        <input type="hidden" id="<?php echo $attributeObj->getAttributeCode();?>_id" value="<?php echo $attribute['id'] ?>" style="" />
                                        <input type="hidden" id="<?php echo $attributeObj->getAttributeCode();?>_attribute_id" value="<?php echo $attributeObj->getAttributeId(); ?>" style="" />
                                        <?php endif; ?>     
                                        <!-- <div class="container form-group col-sm-12">
                                                <div class="label-container">
                                                    <label for="<?php echo $attributeObj->getAttributeCode() ?>">
                                                        <?php echo $attributeObj->getAttributeCode(); ?>
                                                        <?php if($isRequired == 1): ?><span class="required">*</span> <?php endif; ?>:
                                                    </label>
                                                </div>
                                            <div class="input-container">
                                               
                                                  <div class="main_input <?php if($attributeObj->getAttributeCode()=="color" ){  echo "mycolorclass".$attributeObj->getAttributeId(); } ?>" id="cus_picker_<?php echo $attributeObj->getAttributeId(); ?>">
                                                <input type="text" data-role="tagsinput" class="input-text form-control custom_id" id="<?php echo $attributeObj->getAttributeId();?>" value="<?php echo $datanew[$attributeObj->getAttributecode()]?>"/>
                                                  <input type="hidden" id="cust_<?php echo $attributeObj->getAttributecode();?>" value="<?php echo $attributeObj->getAttributecode();?>" class="<?php echo $attributeObj->getAttributeId();?>"/>
                                                 <?php if($attributeObj->getAttributeCode()=="color" ){ ?>
                                                     <input type="color" style="width:50px;" id="colorpicker" name="color" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="">
                                                <?php  } ?>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="form-group">
                                            <div class="col-md-3 label-container p-b-10 p-t-10">
                                                <?php if(in_array($attributeObj->getAttributeCode(),array('size_top','size_bottom','size_bust','shoe_size'))): ?>      
                                                 <input type="hidden" class="sizeother" id="" value="<?php echo $attributeObj->getAttributeCode()?>">   
                                                <?php endif; ?>
                                                <label for="<?php echo $attributeObj->getAttributeCode() ?>">
                                                    <?php echo $this->escapeHtml($this->getLabel($attributeObj)); ?>
                                                    <?php if($isRequired == 1): ?><span class="required">*</span> <?php endif; ?>:
                                                </label>
                                            </div>
                                            <div class="col-md-12 input-container size-att">
                                            <?php if($attributeObj->getAttributeCode() != 'size'): ?>  
                                            <input type="hidden" id="cust_<?php echo $attributeObj->getAttributecode();?>" value="<?php echo $attributeObj->getAttributecode();?>" class="<?php echo $attributeObj->getAttributeId();?>"/>
                                            <?php endif; ?>
                                                <?php 

                                                $attribute = Mage::getModel('eav/entity_attribute')->loadByCode('catalog_product', $attributeObj->getAttributeCode());

                                                       $options = Mage::getModel('eav/entity_attribute_source_table')
                                                                ->setAttribute($attribute)
                                                                ->getAllOptions(false);
                                                       
                                                       foreach ($options as $option) {
                                                          //var_dump($options[0]['value']);
                                                            ?>
                                                             <?php  if ($attributeObj->getAttributeCode() == 'color') { ?>
                                                            <style>
                                                                input[type="checkbox"]{
                                                                margin-left: 10px;
                                                                display: none;  

                                                                }

                                                                label#<?php echo $option['label'];?>:before {
                                                                    content: "";
                                                                    display: inline-block;
                                                                    width: 16px;
                                                                    height: 16px;
                                                                    margin-left: 2px;
                                                                    position: absolute;
                                                                    left: 0;
                                                                    bottom: 1px;
                                                                    background-color: <?php echo $option['label'];?>;
                                                                    border-radius: 3px;
                                                                    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
                                                                }

                                                                label#<?php echo $option['label'];?> {
                                                                    display: inline-block;
                                                                    cursor: pointer;
                                                                    position: relative;
                                                                    padding-left: 40px;
                                                                    margin-right: 15px;
                                                                    font-size: 15px;
                                                                }
                                                                .checkbox label#<?php echo $option['label'];?> {
                                                                    margin-bottom: 10px;
                                                                }

                                                                 .checkbox label#<?php echo $option['label'];?>:before {  
                                                                    border-radius: 3px;  
                                                                }  

                                                                input[type="checkbox"]:checked + label#<?php echo $option['label'];?>:before {  
                                                                    content: "\2713";  
                                                                    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
                                                                    font-size: 15px;  
                                                                    color: white;
                                                                    text-align: center;  
                                                                    line-height: 15px;  
                                                                }
                                                                label#size:before {
                                                                    content: "";
                                                                    display: inline-block;
                                                                    width: 16px;
                                                                    height: 16px;
                                                                    margin-left: 2px;
                                                                    position: absolute;
                                                                    left: 0;
                                                                    bottom: 1px;
                                                                   border: 1px solid #000;
                                                                    border-radius: 3px;
                                                                   
                                                                }

label#size {
                                                                    display: inline-block;
                                                                    cursor: pointer;
                                                                    position: relative;
                                                                    padding-left: 26px;
                                                                    font-size: 15px;
                                                                }
.size-att input[type="checkbox"]:checked + label#size:before {  
                                                                    content: "\2713";  
                                                                    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
                                                                    font-size: 15px;  
                                                                    color: #000;
                                                                    text-align: center;  
                                                                    line-height: 5px;  
                                                                }                                                            </style>           
                                                             <div class="col-md-2 p-l-0 color" >
                                                                <input type="checkbox" class="<?php echo $attribute->attribute_code;?>" id="<?php echo $option['value']?>"  value="<?php echo $option['value']?>" <?php echo in_array($option['value'], array_unique($attrvalues)) ? 'checked="checked"':''; ?>><label class="attr-value" id="<?php echo $option['label'];?>" for="<?php echo $option['value']?>"><span style="display:none;"><?php echo $option['label'];?></span></label>
                                                            </div>    
                                                         <?php } else { ?>   
                                                             <div class="col-md-2 p-l-0">
                                                             <input type="checkbox" class="<?php echo $attribute->attribute_code;?>" id="<?php echo $option['value']?>"  value="<?php echo $option['value']?>" <?php echo in_array($option['value'], array_unique($attrvalues)) ? 'checked="checked"':''; ?>><label class="attr-value" id="size" for="<?php echo $option['value']?>"><?php echo $option['label'];?></label>
                                                         </div> 
                                                       <?php } }?>
                                                   </div>
                                    
                                            </div>
                                        </div>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                                <div class="table-responsive col-md-12">
                            <table class="table table-striped e-order-table"  id="associated">
                                <thead>
                                <tr>
                                    <td></td>
                                    <td><strong><?php echo $this->__("ID"); ?></strong></td>
                                    <td class="text-center"><strong><?php echo $this->__("option"); ?></strong></td>
                                    <td class="text-center"><strong><?php echo $this->__("Name"); ?></strong></td>
                                    <td class="text-center"><strong><?php echo $this->__("QTY"); ?></strong></td>
                                    <td class="text-center"><strong><?php echo $this->__("Weight"); ?></strong></td>
                                    <td class="text-center"><strong><?php echo $this->__("Unit"); ?></strong></td>
                                    <td class="text-center"><strong><?php echo $this->__("Price"); ?></strong></td>
                                    <td class="text-right"><strong><?php echo $this->__("Action"); ?></strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <?php $m=0;?>
                                <input type="hidden" id="children_count" value="<?php echo count($this->getChildrenProducts())?>" />
                                <?php foreach($notAssociatedProducts1 AS $product): 
                                                             ?>
                                    <?php $product = Mage::getModel('catalog/product')->load($this->getProductId()); //$product['entity_id']
                                    $stock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($product);
                                    ?>
                                    <?php 
                                     $id="";
                                     foreach($attributes AS $attribute): ?>
                                    <?php

                                        $id=$id."-".$product->getAttributeText($attribute['attribute_code']);
                                    ?>
                                     <?php endforeach;
                                    
                                     $str = substr($id, 1); 
                                      ?>
                                    <?php if($product->getConfigFlag() == 1): ?> 
                                    <tr id="<?php echo $str;?>">
                                        <td>
                                            <input class="associated" type="checkbox" name="associated[<?php echo $m; ?>][checkbox]" value="<?php echo $this->escapeHtml($product->getId()); ?>"/>
                                             <input type="hidden" name="associated[<?php echo $m; ?>][product_id]" value="<?php echo $product->getId();?>" id=""/>
                                            <input type="hidden" name="associated[<?php echo $m; ?>][super_product_id]" value="<?php echo $this->getProductId(); ?>"/>
                                        </td>
                                        <td>
                                            <?php echo $str; ?>
                                        </td>
                                        <td>
                                            <?php echo $this->escapeHtml($product->getId()); ?>
                                        </td>
                                        <td>
                                            <input type='text' id='name' name='associated[<?php echo $m; ?>][name]' class='input-text form-control required-entry' value='<?php echo $this->escapeHtml($product->getName()); ?>'/>
                                        </td> 
                                        <td>
                                        <input type='text' id='qty' name='associated[<?php echo $m; ?>][qty]' value='<?php echo $this->escapeHtml($stock->getQty()); ?>' class='input-text form-control required-entry validate-number validate-greater-than-zero' />
                                        </td>
                                        <td>
                                            <input type='text' id='weight' name='associated[<?php echo $m; ?>][weight]' value='<?php echo $this->escapeHtml($product->getweight()); ?>' class='input-text form-control required-entry validate-number' />
                                        </td>
                                        <td><select name='associated[<?php echo $m; ?>][weight_unit]'><option value=''>Select</option><option value='Grams'>Grams</option><option value='Kgs'>Kgs</option></select></td>
                                        <td>
                                            <?php
												$current = Mage::app()->getStore()->getCurrentCurrencyCode();
												$baseCurrency = Mage::app()->getStore()->getBaseCurrencyCode();
												 
												if($current == 'AED'){            
													$aedprice =  Mage::helper('directory')->currencyConvert($this->escapeHtml($product->getPrice()), $baseCurrency, $current);                             
													//$assoprice = round($aedprice,3);
													$assoprice = number_format(round($aedprice,2),3);
												} else {          
												  //$assoprice = number_format($this->escapeHtml($product->getPrice()),3);
													$assoprice = number_format(round($this->escapeHtml($product->getPrice()),2),3);
												}
											?>                                      
                                            <input type='text' name='associated[<?php echo $m; ?>][price]' class='input-text form-control  attribute-price validate-number price' value="<?php echo $this->escapeHtml($assoprice); ?>"/>
                                            <?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?>
                                        </td>
                                        <td class="text-center">
                                                <a class="btn btn-danger btn-sm" href="<?php echo Mage::getUrl('marketplace/product/deleteAssociated', array('id' => $product->getId()))?>"><?php echo $this->__('Remove Product'); ?></a>
                                        </td>
                                           
                                    </tr>
                                <?php endif; ?>
                                <?php $m++; endforeach;?>       

                                <?php foreach($this->getChildrenProducts() AS $product): ?>
                                    <?php $p = Mage::getModel('catalog/product')->load($product->getId()); 
                                    $stock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($p);
                                    ?>
                                     <?php 
                                     $id="";
                                     foreach($attributes AS $attribute): ?>
                                    <?php

                                        $id=$id."-".$p->getAttributeText($attribute['attribute_code']);
                                    ?>
                                     <?php endforeach;
                                     
                                      $ids = Mage::getModel('catalog/product')->load($product->getId())->getSku();
                                      $explodes = explode('-', $ids);
                                      array_shift($explodes); // Remove 1st element index
                                      $optionText = '';
                              
                                      /* if($product->getSize() >=0 && $product->getColor() == NULL){
                                         $attrsize = $product->getResource()->getAttribute('size');
                                          if ($attrsize->usesSource()) {
                                            $optionText = $attrsize->getSource()->getOptionText($explodes[0]);
                                          }
                                      }
                                      if($product->getColor() >= 0 && $product->getSize() == NULL) {
                                         $attrcolor = $product->getResource()->getAttribute('color');
                                          if ($attrcolor->usesSource()) {
                                            $optionText = $attrcolor->getSource()->getOptionText($explodes[0]);
                                          }
                                      }
                                      if($product->getSize() > 0 && $product->getColor() > 0){
                                        $attrcolor = $product->getResource()->getAttribute('color');

                                          if ($attrcolor->usesSource()) {
                                            $optionText = $attrcolor->getSource()->getOptionText($explodes[0]);
                                          }

                                          $attrsize = $product->getResource()->getAttribute('size');
                                          if ($attrsize->usesSource()) {
                                            $optionText .='-'.$attrsize->getSource()->getOptionText($explodes[1]);

                                          }
                                      } */
                                      
                                      if($product->getShoeSize() >=0 && $product->getColor() == NULL && $product->getSizeBottom() == NULL && $product->getSizeTop() == NULL && $product->getSizeBust() == NULL){
                                         $attrsize = $product->getResource()->getAttribute('shoe_size');
                                          if ($attrsize->usesSource()) {
                                            $optionText = $attrsize->getSource()->getOptionText($explodes[0]);
                                          }
                                      }
                                      if($product->getSizeTop() >=0 && $product->getColor() == NULL && $product->getSizeBottom() == NULL && $product->getShoeSize() == NULL && $product->getSizeBust() == NULL){
                                         $attrsize = $product->getResource()->getAttribute('size_top');
                                          if ($attrsize->usesSource()) {
                                            $optionText = $attrsize->getSource()->getOptionText($explodes[0]);
                                          }
                                      }
                                      if($product->getSizeBottom() >=0 && $product->getColor() == NULL && $product->getSizeTop() == NULL && $product->getShoeSize() == NULL && $product->getSizeBust() == NULL){
                                         $attrsize = $product->getResource()->getAttribute('size_bottom');
                                          if ($attrsize->usesSource()) {
                                            $optionText = $attrsize->getSource()->getOptionText($explodes[0]);
                                          }
                                      }
                                      if($product->getSizeBust() >=0 && $product->getColor() == NULL && $product->getSizeTop() == NULL && $product->getShoeSize() == NULL && $product->getSizeBottom() == NULL){
                                         $attrsize = $product->getResource()->getAttribute('size_bust');
                                          if ($attrsize->usesSource()) {
                                            $optionText = $attrsize->getSource()->getOptionText($explodes[0]);
                                          }
                                      }
                                      if($product->getColor() >=0 && $product->getSizeBust() == NULL && $product->getSizeTop() == NULL && $product->getShoeSize() == NULL && $product->getSizeBottom() == NULL){
                                         $attrsize = $product->getResource()->getAttribute('color');
                                          if ($attrsize->usesSource()) {
                                            $optionText = $attrsize->getSource()->getOptionText($explodes[0]);
                                          }
                                      }
                                      if($product->getColor() > 0 || $product->getSizeBust() != NULL && $product->getSizeTop() != NULL && $product->getShoeSize() != NULL && $product->getSizeBottom() != NULL){

                                          $attrcolor = $product->getResource()->getAttribute('color');

                                          if ($attrcolor->usesSource()) {
                                            $optionText = $attrcolor->getSource()->getOptionText($explodes[0]);
                                          }
                                          if($attribute['attribute_code'] != 'color'){
                                            $attrothers = $product->getResource()->getAttribute($attribute['attribute_code']);
                                              if ($attrothers->usesSource()) {
                                                $optionText.='-'.$attrothers->getSource()->getOptionText($explodes[1]);
                                                //echo $optionText;
                                              }
                                          }
                                      }
                                      
                                     //$str = substr($id, 1); 
                                     $str = $optionText;
                                      ?>
                                    <tr id="<?php echo $str;?>" class="<?php $class_str = str_replace('-', ' my', $str); $class_str = str_replace('#','',$class_str); echo "my".$class_str; ?>">
                                       
                                    <td>
                                        <input class="associated" type="checkbox" name="associated[<?php echo $m; ?>][checkbox]" value="<?php echo $this->escapeHtml($product->getId()); ?>" checked="true"/>
                                         <input type="hidden" name="associated[<?php echo $m; ?>][product_id]" value="<?php echo $product->getId();?>" id=""/>
                                         <input type="hidden" name="associated[<?php echo $m; ?>][super_product_id]" value="<?php echo $this->getProductId(); ?>"/>
                                    </td>
                                     <td><?php echo $str;?></td>
                                    <td>
                                        <?php echo $this->escapeHtml($product->getId()); ?>
                                    </td>
                                    
                                    <td>
                                        <input type='text' id='name' name='associated[<?php echo $m; ?>][name]' class='input-text form-control required-entry' value='<?php echo $this->escapeHtml($p->getName()); ?>'/>
                                    </td>
                                    <td>
                                        <input type='text' id='qty' name='associated[<?php echo $m; ?>][qty]' value='<?php echo number_format($this->escapeHtml($stock->getQty()),0); ?>' class='input-text form-control required-entry validate-number validate-greater-than-zero' />
                                    </td>
                                    <td>
                                        <input type='text' id='weight' name='associated[<?php echo $m; ?>][weight]' value='<?php echo number_format($this->escapeHtml($p->getweight()),0); ?>' class='input-text form-control required-entry validate-number' />
                                    </td>
                                    <td>
                                        <select name='associated[<?php echo $m; ?>][weight_unit]' class="form-control required-entry">
                                            <option value=''>Select</option>
                                            <option value='Grams' <?php if($p->getWeightUnit()=="Grams"){ echo "selected='selected'"; } ?>>Grams</option>
                                            <option value='Kgs' <?php if($p->getWeightUnit()=="Kgs"){ echo "selected='selected'"; } ?>>Kgs</option>
                                        </select>
                                    </td>
                                    <td>
                                        <?php
											$current = Mage::app()->getStore()->getCurrentCurrencyCode();
											$baseCurrency = Mage::app()->getStore()->getBaseCurrencyCode();
											 
											if($current == 'AED'){            
												$aedprice =  Mage::helper('directory')->currencyConvert($p->getPrice(), $baseCurrency, $current);
												//echo "<pre/>"; print_r($_SESSION) 
												//$assoprice = round($aedprice,3);
												$assoprice = number_format(round($aedprice,2),3); 
											} else {          
											   //$assoprice = number_format($this->escapeHtml($p->getPrice()),3);
											   $assoprice = number_format(round($this->escapeHtml($p->getPrice()),2),3);
											}
										?>
                                        <input type='text' name='associated[<?php echo $m; ?>][price]' class='input-text form-control  attribute-price validate-number price' value="<?php echo str_replace(',','',$assoprice); ?>"/>
                                        <?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?>
                                    </td>
                                    <td class="text-center">
                                            <a class="btn btn-danger btn-sm" href="<?php echo Mage::getUrl('marketplace/product/deleteAssociated', array('id' => $product->getId()))?>"><?php echo $this->__('Remove Product'); ?></a>
                                    </td>
                                </tr>
                                <?php 
                                $m++;
                                endforeach; ?>
                                
                                </tbody>
                            </table>
                        </div>
               </div>      
        <!-- <div class="row"> -->
             <div class="col-md-2 col-sm-12 col-md-offset-5 inline-fld p-b-10">
                <input type="submit" name="submit" class="btn btn-primary assocbtn" value="<?php echo $this->__('Save') ?>" />
                <a href="<?php echo Mage::getBaseUrl(); ?>supplier/product/list/" class="btn btn-primary"><?php echo $this->__('Go To list') ?><a/>
            </div>
        <!-- </div> -->
        </form>
        <!-- </div> -->
    </div>
</div>
<script type="text/javascript">
    //< ![CDATA[
    var customForm = new VarienForm('product_create_form');
    jQuery(document).ready(function(){
        jQuery('.custom-attributes input, .custom-attributes select, .custom-attributes textarea').not('.price').on('change', function(){
            jQuery(this).next().show().find('input').addClass('required-entry');
        });

        jQuery(".assocbtn").click(function(){
                var color = jQuery("#cus_picker_92 .bootstrap-tagsinput").find('span.tag').text();
                var size = jQuery("#cus_picker_180 .bootstrap-tagsinput").find('span.tag').text();
               
                if(color == "" || size == ""){
                   // alert("This attributes are required.");
                   // return false;
                }
                return true;
        });

        jQuery('.associated').change(function(){
            
            var checkbox = jQuery(this)[0];
            var checked = checkbox.checked;
            var productId = checkbox.value;
           

            var configurableId = "<?php echo $this->getProductId(); ?>";

            jQuery(checkbox).attr('disabled', true);
            jQuery.ajax({
                 data : {
                    product_id : productId,
                    configurable_id : configurableId,
                    status : checked,
                },
                global: false,
                type : 'POST',
                url: '<?php echo Mage::getUrl("*/*/changeAssociatedStatus")?>',
                beforeSend: function () {
                    jQuery(".loader").show();
                },
                complete: function () {
                    jQuery(".loader").hide();
                }
            });
            jQuery.ajax({
                data : {
                    product_id : productId,
                    configurable_id : configurableId,
                    status : checked,
                },
                success : function(){
                    jQuery(checkbox).removeAttr('disabled');
                }
            });
        });

        jQuery('.associated-dropdown').change(function() {
            var price = jQuery(this).find(':selected').attr('data-id');
            jQuery(this).next().show().find('input').val(price);
        });

        jQuery('#product_id').change(function(){
            if(jQuery(this).val() != 0) {
                jQuery('#name').attr('disabled', '').removeClass('required-entry');
                jQuery('#qty').attr('disabled', '').removeClass('required-entry');
                jQuery('#weight').attr('disabled', '').removeClass('required-entry');
                jQuery('#sku').attr('disabled', '').removeClass('required-entry');
                jQuery('.associated-dropdown').attr('disabled', '').removeClass('required-entry');
            } else {
                jQuery('#name').removeAttr('disabled').addClass('required-entry');
                jQuery('#qty').removeAttr('disabled').addClass('required-entry');
                jQuery('#weight').removeAttr('disabled').addClass('required-entry');
                jQuery('#sku').removeAttr('disabled').addClass('required-entry');
            }
        });
        
        /********************** SACHIN & MAYUR***********************************/
       var others = jQuery(".sizeother").val();
       var color_display = jQuery(".color").length;
       var size_display = jQuery("."+others).length;
       var coloattrrid = jQuery("#color_attribute_id").val();
       var colorid = jQuery("#color_id").val();
       var sizeattrid = jQuery("#"+others+"_attribute_id").val();
       var sizeid = jQuery("#"+others+"_id").val();

       var attributelist=[];
       var mainarray=[];
       var superproductid=jQuery("#super_product_id").val();
       //var counter = jQuery("#children_count").val();
       var counter = "<?php echo $m ?>";
       //console.log(counter1);
       var pID = "<?php echo $this->getProductId() ?>";
       if (color_display > 0) {
    jQuery(".color").on('change', function() {

        if (jQuery(this).is(':checked')) {
            var colorvalue = jQuery(this).val();
            var clvalue = jQuery(this).next('label').text();
            
            var size = [];
            if (size_display > 0) {
                jQuery.each(jQuery("."+others+":checked"), function() {

                    var sizeattrvalue = jQuery(this).val();
                    var sizevalue = jQuery(this).next('label').text();
                    var colorlable = "my"+clvalue;
                        colorlable = colorlable.replace('#', ''); 
                    

                    var sizelable = "my"+sizevalue;
                        sizelable = sizelable.replace('#', ''); 
                    
                    var htmldata = jQuery("#associated").text();

                    var extratd = '<td><input type="hidden" name="associated[' + counter + '][options][color][attribute_id]" value=' + coloattrrid + '><input type="hidden" name="associated[' + counter + '][options][color][id]" value=' + colorid + '><input type="hidden" name="associated[' + counter + '][color]" value="' + clvalue + '"><input type="hidden" name="associated[' + counter + '][options]['+others+'][attribute_id]" value=' + sizeattrid + '><input type="hidden" name="associated[' + counter + '][options]['+others+'][id]" value=' + sizeid + '><input type="hidden" name="associated[' + counter + ']['+others+']" value=' + sizevalue + '><input type="hidden" name="associated[' + counter + '][options][color][colorvalue]" value=' + colorvalue + '><input type="hidden" name="associated[' + counter + '][options]['+others+'][sizevalue]" value=' + sizeattrvalue + '></td>';

                    var html = "<tr class='"+ colorlable +" "+sizelable+"' id='" + clvalue + "-" + sizevalue + "'><td><input class='associated' name='associated[" + counter + "][checkbox]' type='checkbox' checked='true'/></td><td><input type='hidden' name='associated[" + counter + "][super_product_id]' value='" + pID + "'>" + clvalue + "-" + sizevalue + "</td><td></td><td><input type='text' id='name' name='associated[" + counter + "][name]' class='input-text form-control required-entry' value=''/></td><td><input type='text' id='qty' name='associated[" + counter + "][qty]' value='' class='input-text form-control required-entry validate-number validate-greater-than-zero' /></td><td><input type='text' id='weight' name='associated[" + counter + "][weight]' value='' class='input-text form-control required-entry validate-number' /></td><td><select name='associated["+counter+"][weight_unit]' class='form-control required-entry'><option value=''>Select</option><option value='Grams'>Grams</option><option value='Kgs'>Kgs</option></select></td><td><input type='text' name='associated[" + counter + "][price]' class='input-text form-control  attribute-price validate-number price' style='' /></td>" + extratd;

                    html = html + "</tr>";

                    jQuery("#associated").append(html);
                    counter++;
                });
            } else {
                var colorlable = "my"+clvalue;
                colorlable = colorlable.replace('#', ''); 
                var htmldata = jQuery("#associated").text();

                var extratd = '<td><input type="hidden" name="associated[' + counter + '][options][color][attribute_id]" value=' + coloattrrid + '><input type="hidden" name="associated[' + counter + '][options][color][id]" value=' + colorid + '><input type="hidden" name="associated[' + counter + '][color]" value="' + clvalue + '"><input type="hidden" name="associated[' + counter + '][options][color][colorvalue]" value=' + colorvalue + '></td>';

                var html = "<tr class='" + colorlable + "' id='" + clvalue + "'><td><input class='associated' name='associated[" + counter + "][checkbox]' type='checkbox' checked='true'/></td><td><input type='hidden' name='associated[" + counter + "][super_product_id]' value='" + pID + "'>" + clvalue + "</td><td></td><td><input type='text' id='name' name='associated[" + counter + "][name]' class='input-text form-control required-entry' value=''/></td><td><input type='text' id='qty' name='associated[" + counter + "][qty]' value='' class='input-text form-control required-entry validate-number validate-greater-than-zero' /></td><td><input type='text' id='weight' name='associated[" + counter + "][weight]' value='' class='input-text form-control required-entry validate-number' /></td><td><select name='associated["+counter+"][weight_unit]' class='form-control required-entry'><option value=''>Select</option><option value='Grams'>Grams</option><option value='Kgs'>Kgs</option></select></td><td><input type='text' name='associated[" + counter + "][price]' class='input-text form-control  attribute-price validate-number price' style='' /></td>" + extratd;

                html = html + "</tr>";
                jQuery("#associated").append(html);
                counter++;
            }
        } else {
            if (!jQuery(this).is(':checked')) {
                var clvalue = jQuery(this).next('label').text();
                var colorlable = "my"+clvalue;
                colorlable = colorlable.replace('#', '');               
                jQuery("#associated tr." + colorlable).remove();
                counter--;
            }
        }
    });
}

if (size_display > 0) {
    jQuery("."+others).on('change', function() {

        var clvalue = jQuery(this).next('label').text();
        if (jQuery(this).is(':checked')) {
            var sizeattrvalue = jQuery(this).val();
            var sizevalue = jQuery(this).next('label').text();
            if (color_display > 0) {
                var color = [];
                jQuery.each(jQuery(".color:checked"), function() {
                    var colorvalue = jQuery(this).val()
                    var sizevalue = jQuery(this).next('label').text();
                    var htmldata = jQuery("#associated").text();
                    var colorlable = "my"+clvalue;
                    colorlable = colorlable.replace('#', ''); 
                    var sizelable = "my"+sizevalue;
                    sizelable = sizelable.replace('#', ''); 
                    var extratd = '<td><input type="hidden" name="associated[' + counter + '][options][color][attribute_id]" value=' + coloattrrid + '><input type="hidden" name="associated[' + counter + '][options][color][id]" value=' + colorid + '><input type="hidden" name="associated[' + counter + '][color]" value="' + sizevalue + '"><input type="hidden" name="associated[' + counter + '][options]['+others+'][attribute_id]" value=' + sizeattrid + '><input type="hidden" name="associated[' + counter + '][options]['+others+'][id]" value=' + sizeid + '><input type="hidden" name="associated[' + counter + ']['+others+']" value=' + clvalue + '><input type="hidden" name="associated[' + counter + '][options][color][colorvalue]" value=' + colorvalue + '><input type="hidden" name="associated[' + counter + '][options]['+others+'][sizevalue]" value=' + sizeattrvalue + '></td>';


                    var html = "<tr class='" + colorlable + " " + sizelable + "' id='" + sizevalue + "-" + clvalue + "'><td><input class='associated' name='associated[" + counter + "][checkbox]' type='checkbox' checked='true'/></td><td><input type='hidden' name='associated[" + counter + "][super_product_id]' value='" + pID + "'>" + sizevalue + "-" + clvalue + "</td><td></td><td><input type='text' id='name' name='associated[" + counter + "][name]' class='input-text form-control required-entry' value=''/></td><td><input type='text' id='qty' name='associated[" + counter + "][qty]' value='' class='input-text form-control required-entry validate-number validate-greater-than-zero' /></td><td><input type='text' id='weight' name='associated[" + counter + "][weight]' value='' class='input-text form-control required-entry validate-number' /></td><td><select name='associated["+counter+"][weight_unit]' class='form-control required-entry'><option value=''>Select</option><option value='Grams'>Grams</option><option value='Kgs'>Kgs</option></select></td><td><input type='text' name='associated[" + counter + "][price]' class='input-text form-control  attribute-price validate-number price' style='' /></td>" + extratd;

                    html = html + "</tr>";

                    jQuery("#associated").append(html);
                    counter++;
                });
            } else {

                var sizevalue = jQuery(this).next('label').text();
                var sizelable = "my"+sizevalue;
                sizelable = sizelable.replace('#', ''); 
                var htmldata = jQuery("#associated").text();

                var extratd = '<td><input type="hidden" name="associated[' + counter + '][options]['+others+'][attribute_id]" value=' + sizeattrid + '><input type="hidden" name="associated[' + counter + '][options]['+others+'][id]" value=' + sizeid + '><input type="hidden" name="associated[' + counter + ']['+others+']" value=' + sizevalue + '><input type="hidden" name="associated[' + counter + '][options]['+others+'][sizevalue]" value=' + sizeattrvalue + '></td>';


                var html = "<tr class='" + sizelable + "' id='" + sizevalue + "'><td><input class='associated' name='associated[" + counter + "][checkbox]' type='checkbox' checked='true'/></td><td><input type='hidden' name='associated[" + counter + "][super_product_id]' value='" + pID + "'>" + sizevalue + "</td><td></td><td><input type='text' id='name' name='associated[" + counter + "][name]' class='input-text form-control required-entry' value=''/></td><td><input type='text' id='qty' name='associated[" + counter + "][qty]' value='' class='input-text form-control required-entry validate-number validate-greater-than-zero' /></td><td><input type='text' id='weight' name='associated[" + counter + "][weight]' value='' class='input-text form-control required-entry validate-number' /></td><td><select name='associated["+counter+"][weight_unit]' class='form-control required-entry'><option value=''>Select</option><option value='Grams'>Grams</option><option value='Kgs'>Kgs</option></select></td><td><input type='text' name='associated[" + counter + "][price]' class='input-text form-control  attribute-price validate-number price' style='' /></td>" + extratd;

                html = html + "</tr>";

                jQuery("#associated").append(html);
                counter++;
            }
        } else {

            if (!jQuery(this).is(':checked')) {

                var clvalue = jQuery(this).next('label').text();
                var sizelable = "my"+clvalue;
                sizelable = sizelable.replace('#', ''); 
                jQuery("#associated tr." + sizelable).remove();
                counter--;
            }

        }
    });
}
        /**************************** END **********************************/
        
        var newval = '<?php echo $attributeValue; ?>'; 
       //alert(newval);
           if(newval == 1){   
            jQuery('select[name="is_deal"] option:nth-child(2)').removeAttr('selected','selected');
           }else if(newval == 0){
            //alert('vbnvbn');
            jQuery('select[name="is_deal"] option:nth-child(1)').removeAttr('selected','selected');
           }else{       
       }
            
    });
    //]]>
</script>
