<?php
$categories = $this->getCategories();
$attributes = $this->getAttributes();
$product = $this->getProduct();
$data = $product->getData();
$isEditMode = $product->getId();
$selectedCategories = $product->getCategoryIds() ? $product->getCategoryIds() : array();
$this->setSelectedCategories($selectedCategories);
$mediaGallery = (isset($data['image'])) ? $data['image'] : array();
if($isEditMode) {
    $mediaGallery = $product->getMediaGalleryImages();
}
$method = $this->getLayout()->createBlock('marketplace/shipping_methods');
$methods = $method->getSavedMethods();
$customerData = Mage::getModel('customer/customer')->load(Mage::getSingleton('customer/session')->getId());
?>
<?php $imagesBlock = $this->getLayout()->createBlock('videogallery/Video');?>
<?php $videodata=$imagesBlock->getVideoGallery1($product->getId());?>
<?php 
if($videodata){
 foreach ($videodata as $vidArr)
{
    $key = (int)$vidArr['position_default'];
    if (!isset($arr[$key]))
    {
        $arr[$key] = array();
    }
    $arr[$key][] = $vidArr;
}

ksort($arr);
}
?>
<?php
    $current = Mage::app()->getStore()->getCurrentCurrencyCode();
    $baseCurrency = Mage::app()->getStore()->getBaseCurrencyCode();
    $baseprice = Mage::helper('directory')->currencyConvert($product->getData('price'), $baseCurrency, $current);
	
	if($current == 'AED'){                    
		//$editprice = number_format(round($baseprice),3);
                  $editprice = number_format(round($baseprice,2),3);
	} else {
		 //$editprice = $product->getData('price');
                 $editprice = number_format(round($product->getData('price'),2),3);
	}
	
    
    $specialpri = Mage::helper('directory')->currencyConvert($product->getSpecialPrice(), $baseCurrency, $current);   
    //$specialpricenn = round($specialpri,2);
	if($current == 'AED'){                    
		//$specialprice = number_format($specialpricenn,3);
		$specialprice = number_format(round($specialpri,2),3);
	} else {
		//$specialprice = number_format($product->getSpecialPrice(),3);
		$specialprice = number_format(round($product->getSpecialPrice(),2),3);
	}
    
   
    //echo '<pre>';
    //echo $product->getData('price');;
    //print_r($baseCurrency);
    //var_dump($specialprice);
   // exit;
?>
<div class="col-md-10 pull-right main-container vendor-container">
<?php if(!$isEditMode) : ?>
    <h1 class='text-center e-title'><?php echo Mage::helper('supplierfrontendproductuploader')->__('Add Product'); ?></h1>
<?php else : ?>
    <h1 class="text-center e-title"><?php echo $this->__('Edit Product'); ?> - <?php echo $product->getName(); ?> <small>(SKU : <?php echo $product->getSku(); ?>)</small></h1>
<?php endif; ?>
<div class="col-md-12 form-container">

<form name="product_create_form" id="product_create_form"
      action="<?php echo Mage::getUrl('marketplace/product/save') ?>" method="post"
      enctype="multipart/form-data">
<input type="hidden" name="attribute_set_id" value="<?php echo $this->getAttributeSetId() ?>"/>
<input type="hidden" name="product_id" value="<?php echo $product->getId() ?>"/>
<input type="hidden" name="type" value="<?php echo $this->getProductTypeId(); ?>"/>
<div class="col-md-9">

        <div class="form-group">
            <div class="label-container">
                <label for="name">
                    <?php echo $this->getLabel('name', 'Name', false); ?>
                    <span class="required">*</span>:
                </label>
            </div>
            <div class="input-container">
                <input type="text" id="name" name="name"
                       class="input-text form-control required-entry"
                       value="<?php echo(isset($data['name']) ? $data['name'] : ''); ?>"/>
            </div>
        </div>

    <div class="form-group">
        <div class="label-container">
            <label for="short_description">
                <?php echo $this->getLabel('short_description', 'Short Description', false); ?>
                <span class="required">*</span>:
            </label>
        </div>
        <div class="input-container">
            <textarea id="short_description" name="short_description"
                      class="input-text required-entry form-control wysiwyg"
                      rows="15"><?php echo(isset($data['short_description']) ? $data['short_description'] : ''); ?></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="label-container">
            <label for="description">
                <?php echo $this->getLabel('description', 'Detailed Description ', false); ?>
                <span class="required">*</span>:
            </label>
        </div>
        <div class="input-container">
            <textarea id="description" name="description"
                      class="input-text form-control required-entry wysiwyg"
                      rows="15"><?php echo(isset($data['description']) ? $data['description'] : ''); ?></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="label-container">
            <label for="price">
                <?php echo $this->getLabel('price', 'Price', false); ?>
                <span class="required">*</span>:
            </label>
        </div>
        <div class="input-container">
            <input type="text" id="price" name="price"
                   <?php /*value="<?php echo(isset($data['price']) ? $data['price'] : ''); ?>"*/?>
                   value="<?php echo $editprice;?>"
                   class="input-text form-control required-entry validate-greater-than-zero"/>
                   <?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?>
        </div>
    </div>
    <div class="form-group">
        <div class="label-container">
            <label for="special_price">
                <?php echo $this->getLabel('special_price', 'Special Price', false); ?>:
            </label>
        </div>
        <div class="input-container">
            <input type="text" id="special_price" name="special_price"
                    placeholder="Special Price"
                    value="<?php if(!empty($specialprice) && $specialprice!="0.000" ){ echo str_replace(",","",$specialprice); }?>"
                   class="input-text form-control validate-number validate-special-price"/>
                   <?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?>
        </div>
    </div>
    <div class="form-group">
        <div class="label-container">
            <label for="special_price_from_date">
                <?php echo $this->getLabel('special_price_from_date', 'Special Price From', false); ?>
                :
            </label>
        </div>
        <div class="input-container">
            <input type="text" id="special_price_from_date" name="special_price_from_date"
                   value="<?php if($product->getSpecialFromDate()==""){}else{echo date('m/d/Y',strtotime($product->getSpecialFromDate()));} ?>"
                   class="input-text form-control datepicker"/>
        </div>
    </div>
    <div class="form-group">
        <div class="label-container">
            <label for="special_price_to_date">
                <?php echo $this->getLabel('special_price_to_date', 'Special Price To', false); ?>:
            </label>
        </div>
        <div class="input-container">
            <input type="text" id="special_price_to_date" name="special_price_to_date"
                  value="<?php if($product->getSpecialToDate()==""){}else{echo date('m/d/Y',strtotime($product->getSpecialToDate()));} ?>"
                   class="input-text form-control datepicker"/>
        </div>
    </div>
    <div class="form-group tire_price_main">
                            <div class="label-container">
                                <label for="tier_price_qty">
                                    <?php echo $this->getLabel('tier_price', __('Tier Price :'), false); ?>
                                </label>

                            </div>
                            <?php $i=0;
                            $numItems = count($product->getData('tier_price'));
                            if($numItems==0)
                            {?>
                            
                            
                            <div class="input-container">
                                <input type="hidden" name="tier_price[0][website_id]" value="0"/>
                                <input type="hidden" name="tier_price[0][cust_group]" value="32000"/>
                                <div class="col-md-5 form-group">

                                 <input type="text" id="qty" name="tier_price[0][price_qty]" class="input-text form-control validate-number validate-qnt validate-greater-than-zero" placeholder="QTY"/>
                              
                                </div>
                                <div class="col-md-5 form-group">
                                    <input type="text" id="tier_price" name="tier_price[0][price]"
                                           value=""
                                           class="input-text form-control validate-price validate-greater-than-zero validate-special-price" placeholder="Price"/>
                                           <?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?>
                                </div>
                           
                           
                                <div class="col-md-2 action_class nopadding">
                                    <a href="javascript:void(0);" id="add_0" data-id="0" class="add_clone_edit">+</a>
									<!--<a href='javascript:void(0);' class='remove_clone_edit'>X</a>--> 
                                </div>
                            </div>
                        
                            <?php }
                            else
                            {
                            ?>
                            <?php

							
							foreach ($product->getData('tier_price') as $key => $value) {
								
								$current = Mage::app()->getStore()->getCurrentCurrencyCode();
								$baseCurrency = Mage::app()->getStore()->getBaseCurrencyCode();
								$base = Mage::helper('directory')->currencyConvert($value['price'], $baseCurrency, $current);
								
								if($current == 'AED'){                    
									//$tier = number_format(round($base),3);
									$tier = number_format(round($base,2),3);
								} else {
									// $tier = number_format($value['price'], 0);
									$tier = number_format(round($value['price'],2),3);
								}
                                ?>

                                <div class="input-container">
                                 <input type="hidden" name="<?php echo 'tier_price['.$key.'][website_id]';?>"  value="<?php echo(isset($value['website_id']) ? $value['website_id'] : ''); ?>"/>
                            <input type="hidden" name="<?php echo 'tier_price['.$key.'][cust_group]';?>" value="<?php echo(isset($value['website_id']) ? $value['cust_group'] : ''); ?>"/>
                             <div class="col-md-5 form-group">

                                 <input type="text" id="qty" name="<?php echo 'tier_price['.$key.'][price_qty]';?>" class="input-text form-control validate-qnt validate-greater-than-zero" placeholder="QTY" value="<?php echo(isset($value['price_qty']) ? number_format($value['price_qty'], 0) : '');
                                 //echo round($value['price_qty']); ?>"/>
                              
                            </div>
                            <div class="col-md-5 form-group">
                                <input type="text" id="tier_price" name="<?php echo 'tier_price['.$key.'][price]';?>"
                                       value="<?php $value = (isset($value['price_qty']) ? $tier : '');  echo str_replace(",", "", $tier); ?>"
                                       class="input-text form-control validate-greater-than-zero" placeholder="Price"/>
                            </div>
                           
                           
                            <div class="col-md-2 action_class">
                                <?php  if(++$i === $numItems) { ?>
                                <a href="javascript:void(0);" id="add_0" data-id="0" class="add_clone_edit">+</a>    
                                <?php } ?>
                                
                             
									<!--<a href='javascript:void(0);' class='remove_clone_edit'>X</a>-->
									<a id="remove_<?php echo $i; ?>" data-id="<?php echo $i; ?>" href="javascript:void(0);" class="remove_clone_edit">X</a>
                            </div>
                            </div>

                            <?php } }?>
                            <input type="hidden" id="tier_counter" value="<?php echo count($product->getData('tier_price'))?>" />
                        </div>
			<?php if ($this->canAddSku()): ?>
				<div class="form-group">
					<div class="label-container">
						<label for="sku">
							<?php echo $this->getLabel('sku', 'SKU', false); ?>
							<span class="required">*</span>:
						</label>
					</div>
					<div class="input-container">
						<input type="text" id="sku" name="sku"
							   value="<?php echo(isset($data['sku']) ? $data['sku'] : ''); ?>"
							   class="input-text form-control required-entry"/>
					</div>
				</div>
			<?php endif; ?>
			<div class="form-group">
			<div class="label-container">
				<label for="weight">
					<?php echo $this->getLabel('brand', 'Brand', false); ?>
					<span class="required">*</span>:
				</label>
			</div>
			<div class="input-container">
					<select class="form-control required-entry" name="brand">
				<?php 
				
					$category = Mage::getModel('catalog/category')->load(42);
					$subcategories = $category->getChildrenCategories();
					 $categories = Mage::getModel('marketplace/categories')->getCollection()->addFilter('supplier_id', $customerData->getEntityId());
					$notSelectedCategories = array();

					foreach($categories AS $category) {          
						$notSelectedCategories[] = $category->getCategoryId();
					}
					if (count($subcategories) > 0){
						?>
						<option value="">Please select</option>
						<?php foreach($subcategories as $subcategory){
							if(!in_array($subcategory->getId(),$notSelectedCategories )){
							?><option value="<?php echo $subcategory->getName(); ?>"  <?php if($subcategory->getName() == $product->getData("brand")) echo "selected"; ?>><?php echo $subcategory->getName(); ?></option>
						<?php }
						}
					}
				?>  
				</select>                                     
				<p class="m-t-10">If you do not find your Brand <a href="<?php echo Mage::getBaseUrl().'supplier/settings/addbrand/' ?>" target="_blank">Click Here</a></p>
			</div>
		</div>
    <?php foreach ($attributes AS $attribute): ?>
        <?php $attributeObj = Mage::getSingleton('eav/config')->getAttribute(Mage_Catalog_Model_Product::ENTITY, $attribute['code']); ?>
        <?php if (count($attributeObj->getApplyTo()) > 0 && !in_array('configurable', $attributeObj->getApplyTo())) continue; ?>
        <?php //if ($attributeObj->getData('is_user_defined') == 1) : ?>
            <?php if ($attributeObj->getData('available_for_supplier') == 0) continue; ?>
            <?php if ($attributeObj->getData('is_configurable')): ?>
                <?php if ($attributeObj->getData('frontend_input') == 'select') continue; ?>
                <?php $attributeFrontend = $attributeObj->getFrontend(); ?>
                <?php $isRequired = $attributeFrontend->getAttribute()->getIsRequired(); ?>
                <div class="form-group">
                    <div class="label-container">
                        <label for="product_name">
                            <?php echo $this->getLabel($attributeObj); ?>
                            <?php if ($isRequired == 1): ?><span
                                class="required">*</span> <?php endif; ?>:
                        </label>
                    </div>
                    <div class="input-container">
                        <?php echo $this->getAttributeHtml($attributeObj, $data); ?>
                    </div>
                </div>
            <?php else: ?>
                <?php $attributeFrontend = $attributeObj->getFrontend(); ?>
                <?php $isRequired = $attributeFrontend->getAttribute()->getIsRequired(); ?>
                <div class="form-group">
                    <div class="label-container">
                        <label for="product_name">
                            <?php echo $this->getLabel($attributeObj); ?>
                            <?php if ($isRequired == 1): ?><span
                                class="required">*</span> <?php endif; ?>:
                        </label>
                    </div>
                    <div class="input-container">
                        <?php echo $this->getAttributeHtml($attributeObj, $data); ?>
                    </div>
                </div>
            <?php endif; ?>
        <?php //endif; ?>
    <?php endforeach; ?>
    <?php //echo $product->getTypeId(); ?>
    <?php if (!$isEditMode) : ?>
        <div class="form-group">
            <div class="label-container">
                 <label for="sku">
                  <?php echo Mage::helper('marketplace')->__('Product Attributes:'); ?>
                </label>
            </div>
			<?php if (!$isEditMode) : ?>
            <div class="input-container">			
                 <ul class="super-attributes">                
                    <?php foreach ($attributes AS $attribute): ?>
                    <?php $attributeObj = Mage::getSingleton('eav/config')->getAttribute(Mage_Catalog_Model_Product::ENTITY, $attribute['code']); ?>
                    <?php if (!$attributeObj->getData('is_user_defined')) continue; ?>
                    <?php if (!$attributeObj->getData('is_configurable')) continue; ?>
                    <?php if ($attributeObj->getData('frontend_input') != 'select') continue; ?>
                    <!-- <li><input type="checkbox" name="attributes[]"
                               id="<?php echo $attributeObj->getAttributeCode(); ?>"
                               value="<?php echo $attributeObj->getAttributeCode(); ?>"/>
                        <label
                            for="<?php echo $attributeObj->getAttributeCode(); ?>"><?php echo $attributeObj->getFrontendLabel(); ?></label>
                            <br/>                        
                    </li> -->
					<li>

                    <?php if($attributeObj->getAttributeCode() == 'size_top' || $attributeObj->getAttributeCode() == 'size_bottom' || $attributeObj->getAttributeCode() == 'size_bust' || $attributeObj->getAttributeCode() == 'shoe_size'): ?>
                    <input type="radio" class="sizeattrs" name="attributes[]"
                               id="<?php echo $attributeObj->getAttributeCode(); ?>"
                               value="<?php echo $attributeObj->getAttributeCode(); ?>"/>
                    <label for="<?php echo $attributeObj->getAttributeCode(); ?>" class="sizeattrs lbl">
                        <?php echo $attributeObj->getFrontendLabel(); ?></label>

                    <?php else: ?>    
                    
                    <input type="checkbox" name="attributes[]"
                               id="<?php echo $attributeObj->getAttributeCode(); ?>"
                               value="<?php echo $attributeObj->getAttributeCode(); ?>"/>

                    <label for="<?php echo $attributeObj->getAttributeCode(); ?>">
                        <?php echo $attributeObj->getFrontendLabel(); ?></label>
                    <br/>                        
                    <?php endif; ?>
                    </li>
                    <?php endforeach; ?>
                </ul>				
                <div class="input-container">                   
                   <?php //echo $this->getLayout()->createBlock('marketplace/product_associated')->setTemplate('marketplace/product/associatedproducts.phtml')->toHtml(); ?>  
                </div>
            </div>
		<?php endif; ?>
        </div>
    <?php endif; ?>
	<div class="form-group">
        <div class="col-md-12 label-container">
            <label for="product_name">
                Shiping Method                                        :
            </label>
        </div>       
            <select name="shipping_method" id="shipping_method" class="form-control required-entry">
                <option value="">----------</option>
                <?php foreach($methods AS $smethods):?>
                    <?php
                       $selected = '';  
                       if(isset($data['shipping_method']) && !empty($data['shipping_method'])){
                            if($smethods->getName() == $data['shipping_method']) {
                                $selected = "selected='selected'";
                            }
                            else{
                                $selected="";
                            }
                       } 
                       else{
                        $selected="";
                       }
                    ?>
                    <option value="<?php echo $smethods->getName(); ?>" <?php echo $selected; ?>><?php echo $smethods->getName(); ?></option>
                <?php endforeach;?>
            </select>       
    </div>
	
	
</div>

<div class="col-md-3 p-l-0">
    <div class="sidebar">
    <div class="form-group">
        <div class="col-md-12 photo-content">
            <label><?php echo $this->__('Product Images'); ?></label>
                            <span
                                class="file_upload_span btn btn-small btn-primary"><?php echo $this->__('Select and Upload Image') ?></span>
            <input type="file" name="file_upload" id="file_upload" multiupload/>
            <?php $mainPhotoImage = ''; ?>
            <?php foreach ($mediaGallery AS $img) : ?>
                <?php if ($product->getImage() == $img->getFile()) : ?>
                    <?php $mainPhotoImage = $product->getImage() ?>
                <?php endif; ?>
            <?php endforeach; ?>
            <input type="hidden" class="image hidden" name="main_photo" id="main_photo"
                   value="<?php echo isset($data['main_photo']) ? $data['main_photo'] : ''; ?>"/>

            <div class="col-md-12 photos">
                <ul class="photo panel-body">
                    <?php foreach($mediaGallery AS $img) : ?>
                        <?php if(file_exists(Mage::getBaseDir('media') . '/catalog/product' . $img->getFile())): ?>
                            <li class="thumbnail<?php echo ($mainPhotoImage == $img->getFile()) ? ' main' : '' ?>">
                                <img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail', $img->getFile())->resize(171); ?>" alt="<?php echo $this->htmlEscape($img->getLabel());?>" title="<?php echo $this->htmlEscape($img->getLabel());?>" data-name="<?php echo $img->getFile(); ?>"/>
                                <span class="remove">X</span>
                                <!-- <span class="default"><i class="glyphicon glyphicon-home"></i></span> -->
                                <input type="hidden" class="image hidden" name="image[]" value="<?php echo $img->getFile(); ?>" /></li>
                            </li>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>
    <!--  ****************************************************  -->
	
					<?php if($videodata){ ?>
                      <?php foreach ($arr as $items) : ?>
                         <?php foreach ($items as $item) : ?>
                         <?php 
                            $marginLeft = 0;
                            $marginTop  = 0;
                            $imagehelper = $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $item['file']);
                            $imagehelper->__toString(); // Hack to load img dimensions
                            $resize_width = $width_thumb;
                            $resize_height = $height_thumb;
                              $width  = $imagehelper->getOriginalWidth();
                            $height = $imagehelper->getOriginalHeight();
                            $aspect = $width / $height;
                          
                            if($width > $height)
                            {
                                $resize_width = $resize_height = ceil($resize_height * $width / $height);
                                $marginLeft = -1 * floor(($resize_width-$width_thumb)/2.0);
                            }
                            elseif ($width < $height)
                            {
                                $resize_width = $resize_height = ceil($resize_width * $height / $width);
                                $marginTop = -1 * floor(($resize_height-$height_thumb)/2.0);
                            }
                            $_imageUrl = $imagehelper->keepAspectRatio(true)->constrainOnly(false)->keepFrame(false)->resize($resize_width,$resize_width);
                            ?>
                    
                    
                  <!-- 
                        <a class="video-thumb" href="<?php echo $imagesBlock->getVideoGalleryUrl1main($item,$product->getId()); ?>">
                <img src="<?php echo $_imageUrl?>" alt="<?php echo $imagesBlock->htmlEscape($item['label']) ?>"  title="<?php echo $item['label'] . ($item['label'] && $item['description']? ' - ' : '')  .$this->htmlEscape($item['description']) ?>"/>
                
                </a>
                   -->
                 <input type="hidden" id="base_url" value="<?php echo $this->getBaseUrl();?>"/>
                 <input type="hidden" id="product_id" value="<?php echo $product->getId();?>"/>
                 <input type="hidden" id="value_id" value="<?php echo $item['value_id'];?>"/>

                   <a href="javascript:void(0)" class="remove_video">remove</a>
                 
                  <a class="video-thumb" modal="width=650;height=400" rel="iblightbox[gallery]" href="<?php echo $imagesBlock->getVideoGalleryUrl1main($item,$product->getId()); ?>" target="_blank" title="<?php echo $this->htmlEscape($item['label']) ?> " style="width:<?php echo $width_thumb?>px; height:<?php echo $height_thumb?>px">
                <span></span>
                <img src="<?php echo $item['file']?>" alt="<?php echo $this->htmlEscape($item['label']) ?>"  title="<?php echo $item['label'] . ($item['label'] && $item['description']? ' - ' : '')  .$this->htmlEscape($item['description']) ?>"/>
                </a>

                     <?php endforeach; ?>
                    <?php endforeach; ?>
                    <?php } ?>
					
					<?php if(!$videodata){?>
                        <div class="form-group">
                            <div class="col-md-12 photo-content">
                               
                                <label class=""><?php echo $this->__('Video URL') ?></label>
                                <input class="input-text form-control" type="text" value="" name="video_gallery[0][url]">
								 <span class="note">Supported Platforms: Vimeo, Youtube</span>
                                 <label class=""><?php echo $this->__('Video Label') ?></label>
                                <input class="input-text form-control" value="" name="video_gallery[0][label]" type="text">
                                
                                <div class="col-md-8 photos">
                                   
                                </div>
                            </div>
                        </div>
					 <?php } ?>
						<ul class="category-list">
							<label><?php echo Mage::helper('supplierfrontendproductuploader')->__('Product Categories'); ?></label>
							<!-- <div class="col-md-12"> -->
							<?php //echo $this->getNodes($categories); ?>
							<?php echo $this->getChildHtml('cminds_supplierfrontendproductuploader.product_create_categories_configurabl', false); ?>
								<p class="m-t-10">If you do not find your Category <a href="<?php echo Mage::getBaseUrl().'supplier/settings/addcategory/' ?>" target="_blank">Click Here</a></p>
							<!-- </div> -->
						</ul>
    <div class="clearfix"></div>
    </div>
    
</div>
<div class="col-md-3 col-sm-4 col-sm-offset-4 col-md-offset-3 btn-save-fix">
    <input type="submit" name="submit" id="create_product" class="btn btn-primary save-button" value="<?php echo $this->__('Continue') ?>"/>
</div>
</form>
</div>
</div>
</div>


<script type="text/javascript">
	/********************************** Mayur.P ********************************/
	jQuery(document).ready(function(){
    jQuery(".sizeattrs").hide();

	jQuery("#size").change(function(){
		if (jQuery("#size").is(':checked')) {
		jQuery(".sizeattrs").show();    
	}
	else{
		jQuery(".sizeattrs").hide();    
	}
	});
	jQuery("#create_product").click(function(){
	if (jQuery("#size").is(':checked')) {
	 if (jQuery('.sizeattrs:checked').length) {
		jQuery("#size").removeAttr("name");
			// at least one of the radio buttons was checked
			return true; // allow whatever action would normally happen to continue
		}
		else{
			// no radio button was checked
			alert('Select at least one of the Size attributes');
			return false; // stop whatever action would normally happen
		}
	  }
	});
});
/************************************ END ******************************/

    var editmode = ("<?php echo $isEditMode ?>");
    //< ![CDATA[
    var customForm = new VarienForm('product_create_form');
    //]]>
	
	Validation.add('validate-qnt', 'Please enter a valid Qnt', function(v) {
		return Validation.get('IsEmpty').test(v) || /^0$|^[1-9][0-9]*$/i.test(v)
	});
	 Validation.add('validate-price', 'Please enter a valid price', function(v) {
		return Validation.get('IsEmpty').test(v) || /^0$|^[1-9][0-9]*$/i.test(v)
	});
    jQuery(document).ready(function ($) {		
        jQuery('.datepicker').datepicker({ 
            dateFormat: "yy-mm-dd",
            showButtonPanel: true,
            closeText: 'Clear', // Text to show for "close" button
            onClose: function () {
                var event = arguments.callee.caller.caller.arguments[0];
                // If "Clear" gets clicked, then really clear it
                if ($(event.delegateTarget).hasClass('ui-datepicker-close')) {
                    $(this).val('');
                }
            }
        });

        jQuery("#special_price_from_date").keypress(function(event) {event.preventDefault();});
        jQuery("#special_price_to_date").keypress(function(event) {event.preventDefault();});


        jQuery('#file_upload').fileupload({
            url: '<?php echo Mage::getUrl('supplier/product/upload') ?>',
            dataType: 'json',
            done: function (e, data) {
                if (data.result.success) {
                    $('.photo.panel-body').append('<li class="thumbnail"><img src="' + data.result.url + '" alt="" data-name="' + data.result.name + '"/><span class="remove">X</span><input type="hidden" class="image hidden" name="image[]" value="' + data.result.name + '" /></li>');
                } else {
                    alert(data.result.message);
                }
            }
        })
            .prop('disabled', !jQuery.support.fileInput)
            .parent().addClass(jQuery.support.fileInput ? undefined : 'disabled')
            .on('fileuploadadd', function (e, data) {
                var limit = <?php echo $this->getMaxImagesCount() ?>;

                if (jQuery('.thumbnail:visible').length >= limit) {
                    alert('The upload limit has been reached');
                    return false;
                }
            });

        jQuery(document).on('click', 'li span.remove', function ($) {
            var img = jQuery(this).prev();
            var imgName = jQuery(img).attr('data-name');

            $j('input.image.hidden').each(function (el) {
                if ($j(this).val() == imgName) {
                    $j(this).val('');
                }
            });
            $j(this).parent().fadeOut();

        });

        CKEDITOR.replace( 'description' );
        CKEDITOR.replace( 'short_description' );

        jQuery(document).on('click', 'li span.default', function ($) {
            var img = jQuery(this).prev().prev();
            var imgName = jQuery(img).attr('data-name');
            var mainPhotoInput = jQuery('#main_photo');
            mainPhotoInput.val(imgName);

            if (jQuery('li.thumbnail.main').length) {
                jQuery('li.thumbnail.main').removeClass('main');
            }

            img.parent().addClass('main');
        });

        /************* Regular-Price validation***************/
		jQuery("#price").on("keyup", function(){
            var val = $(this).val();

            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        });
        jQuery("#special_price").on("keyup", function(){
            var val = $(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            $(this).val(val); 
        });
		jQuery("#tier_price").on("keyup", function(){
            var val = $(this).val();

            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        });
        
        
    });
</script>
