<?php $_items = $this->getItems();

 ?>
<?php $status = $this->getRequest()->getParam('status', 'all'); ?>
<?php $helper = Mage::helper('supplierfrontendproductuploader'); ?>
<div class="container-fluid main-container  vendor-container col-md-10 pull-right">
    <h1 class="text-center e-title"><?php echo $this->__('List of All Products') ?></h1>
        <div class="col-md-12 p-l-0 clearfix">
            <form name="report_filter" id="report_filter" action="<?php echo Mage::getUrl('*/*/*') ?>" method="get" enctype="multipart/form-data">
                <div class="col-sm-4">
                    <input name="name" id="name" type="text" placeholder="<?php echo $this->__("Search by Name");?>" value="<?php echo $this->getRequest()->getParam('name'); ?>" class="form-control input-text">
                </div>
                <div class="col-sm-4">
                    <select name="status" id="status">
                        <option value=""><?php echo $this->__("Search by Status"); ?></option>
                        <option value="active"><?php echo $this->__("Active"); ?></option>
                        <option value="pending"><?php echo $this->__("Pending"); ?></option>
                        <option value="inactive"><?php echo $this->__("Inactive"); ?></option>
                        <option value="disapproved"><?php echo $this->__("Disapproved"); ?></option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <input type="submit" name="submit" class="btn btn-primary btn-sm btn-filter" value="<?php echo $this->__('Filter') ?>" />
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-sm btn-primary export-to-csv"><?php echo $this->__('Export to CSV') ?></button>
                </div>
            </form>
        </div>
        <div class="col-md-12">
    <div class="table-responsive col-md-12 p-l-0">
        <table class="table table-striped e-order-table">
            <thead>
            <th><?php echo $this->__('ID') ?></th>
            <th><?php echo $this->__('Name') ?></th>
            <th><?php echo $this->__('Product Type') ?></th>
            <th><?php echo $this->__('SKU') ?></th>
            <th><?php echo $this->__('Product Price') ?></th>
            <th><?php echo $this->__('Qty Available') ?></th>
            <?php if($helper->isProductCodeEnabled()): ?>
            <th><?php echo $this->__('Product Code') ?></th>
            <?php endif; ?>
            <th><?php echo $this->__('Status') ?></th>
            <th colspan="<?php echo $helper->canEditProducts() ? '3' : '2' ?>"><?php echo $this->__('Actions') ?></th>
            </thead>
            <tbody>
            <?php if($_items->count()): ?>
                <?php foreach($_items AS $_item): ?>
                    <?php $item = Mage::getModel('catalog/product')->load($_item->getEntityId()); ?>
					<?php if($item->getConfigFlag() != 1):?>
                    <tr class="item<?php echo ($item->isSalable() && $item->getSupplierActivedProduct() == 1) ? ' success': '' ?>">
                        <td><?php echo $item->getId(); ?></td>
                        <td><?php echo $item->getName(); ?><?php echo $item->getAdminProductNote() ? ' <span class="badge pull-right badge-important" data-toggle="tooltip" data-placement="top" title="'.$item->getAdminProductNote().'">!</span>' : "" ?></td>
                        <td><?php echo $item->getTypeId(); ?></td>
                        <td><?php echo $item->getSku(); ?></td>
                        <td><?php 
						$current = Mage::app()->getStore()->getCurrentCurrencyCode();
						$baseCurrency = Mage::app()->getStore()->getBaseCurrencyCode();
						$base = Mage::helper('directory')->currencyConvert($item->getFinalPrice(), $baseCurrency, $current);
						if($current == 'AED'){                    
						   // echo $current.' '.number_format(round($base),3);
							echo $current .'&nbsp;'. number_format(round($base,2),3);
						} else {
							$pnew = number_format(round($item->getFinalPrice(),2),3);
							echo Mage::helper('core')->currency($pnew);
						}
						
							/*$item_price = number_format($item->getFinalPrice(),3);
							$code = Mage::app()->getStore()->getCurrentCurrencyCode();
							echo $code.$item_price;*/
							//echo Mage::helper('core')->currency($item->getFinalPrice()); ?>
						</td>
                        <td><?php echo number_format(Mage::getModel('cataloginventory/stock_item')->loadByProduct($item)->getQty()) ?></td>
                        <?php if($helper->isProductCodeEnabled()): ?>
                            <td><?php echo $item->getSupplierProductCode(); ?></td>
                        <?php endif; ?>
                        <td><?php echo $this->getStatusLabel($item->getData('frontendproduct_product_status')); ?></td>
                        <td>
                            <a href="<?php echo $item->getProductUrl() ?>" class="btn btn-primary btn-sm" target="_blank"><?php echo $this->__('Preview'); ?></a>
                       <!--  </td>
                        <td> -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <?php echo $this->__('More Actions'); ?> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <?php if(Mage::helper('supplierfrontendproductuploader')->canEditProducts()) : ?>
                                        <li>
                                            <?php if($item->getTypeId() == Mage_Catalog_Model_Product_Type::TYPE_CONFIGURABLE) : ?>
                                                <a href="<?php echo Mage::getUrl('marketplace/product/editConfigurable', array('id' => $item->getId(), 'type' => $item->getTypeId())); ?>"><?php echo $this->__('Edit'); ?></a>
                                            <?php else : ?>
                                                <a href="<?php echo Mage::getUrl('supplierfrontendproductuploader/product/edit', array('id' => $item->getId(), 'type' => $item->getTypeId())); ?>"><?php echo $this->__('Edit'); ?></a>
                                            <?php endif; ?>
                                        </li>
                                    <?php endif;?>
                                    <?php if(Mage::helper('supplierfrontendproductuploader')->canDeleteProducts()) : ?>
                                        <li>
                                            <a class="confirm" href="<?php echo Mage::getUrl('supplierfrontendproductuploader/product/delete', array('id' => $item->getId())); ?>"><?php echo $this->__('Delete'); ?></a>
                                        </li>
                                    <?php endif;?>
                                    <li>
                                        <?php if($item->getTypeId() == Mage_Catalog_Model_Product_Type::TYPE_CONFIGURABLE) : ?>
                                            <a href="<?php echo Mage::getUrl('marketplace/product/clone', array('id' => $item->getId(), 'type' => $item->getTypeId())); ?>"><?php echo $this->__('Clone'); ?></a>
                                        <?php else : ?>
                                            <a href="<?php echo Mage::getUrl('supplierfrontendproductuploader/product/clone', array('id' => $item->getId(), 'type' => $item->getTypeId())); ?>"><?php echo $this->__('Clone'); ?></a>
                                        <?php endif; ?>
                                    </li>
                                    <?php if(!in_array($item->getData('frontendproduct_product_status'), array(Cminds_Supplierfrontendproductuploader_Model_Product::STATUS_PENDING, Cminds_Supplierfrontendproductuploader_Model_Product::STATUS_DISAPPROVED))) : ?>
                                        <li>
                                            <?php if($item->getSupplierActivedProduct() == 0) : ?>
                                                <a href="<?php echo Mage::getUrl('supplierfrontendproductuploader/product/active', array('id' => $item->getId(), 'type' => $item->getTypeId())); ?>"><?php echo $this->__('Activate'); ?></a>
                                            <?php elseif($item->getSupplierActivedProduct() == 1): ?>
                                                <a href="<?php echo Mage::getUrl('supplierfrontendproductuploader/product/deactive', array('id' => $item->getId(), 'type' => $item->getTypeId())); ?>"><?php echo $this->__('Deactivate'); ?></a>
                                            <?php endif; ?>
                                        </li>
                                    <?php endif; ?>

                                    <?php if($item->getTypeId() == Mage_Catalog_Model_Product_Type::TYPE_CONFIGURABLE) : ?>
                                        <li><a href="<?php echo Mage::getUrl('marketplace/product/associatedProducts', array('id' => $item->getId())) ?>"><?php echo $this->__("Associated Products"); ?></a></li>
                                    <?php endif;?>
                                </ul>
                            </div>
                        </td>
                    </tr>
				<?php endif; ?>
                <?php endforeach; ?>
            <?php else: ?>
                <td colspan="7"><?php echo $this->__("No results"); ?></td>
            <?php endif; ?>
            </tbody>
            <tfoot>
            <th><?php echo $this->__('ID') ?></th>
            <th><?php echo $this->__('Name') ?></th>
            <th><?php echo $this->__('Product Type') ?></th>
            <th><?php echo $this->__('SKU') ?></th>
            <th><?php echo $this->__('Product Price') ?></th>
            <th><?php echo $this->__('Qty Available') ?></th>
            <?php if($helper->isProductCodeEnabled()): ?>
                <th><?php echo $this->__('Product Code') ?></th>
            <?php endif; ?>
            <th><?php echo $this->__('Active') ?></th>
            <th colspan="<?php echo Mage::helper('supplierfrontendproductuploader')->canEditProducts() ? '3' : '2' ?>"><?php echo $this->__('Actions') ?></th>
            </tfoot>
        </table>
		</div>
	</div>
        <?php
        echo $this->getLayout()->createBlock('core/template')
            ->setTemplate('supplierfrontendproductuploader/product/pagination.phtml')
            ->setCollection($_items)
            ->toHtml() ?>
    </div>
</div>
<div class="slideshow-container"><div class="slideshow"></div></div>
<script>
    jQuery(document).ready(function () {
        if(jQuery("[data-toggle=tooltip]").length) {
            jQuery("[data-toggle=tooltip]").tooltip().on('hidden.bs.popover', function(){
                jQuery(this).show();
            });
        }

        jQuery('.export-to-csv').click(function(){
            var actionExport = '<?php echo $this->getUrl('*/*/exportCsv') ?>';
            var form = jQuery('#report_filter');
            form.attr('action', actionExport);
            form.submit();
        });
		
		jQuery('.btn-filter').click(function(){
            var actionExport = '<?php echo $this->getUrl('*/*/list') ?>';
            var form = jQuery('#report_filter');
            form.attr('action', actionExport);
            form.submit();
        });

        jQuery('a.confirm').click(function(e){
            var btn = confirm(
                '<?php echo $this->__("Are you sure to perform this action ?"); ?>'
            );

            if(btn == 'false'){
                e.preventDefault();
            }
        });
    });
</script>
