<?php $categories = $this->getCategories(); ?>
<?php $attributes = $this->getAttributes(); ?>
<?php $product = $this->getProductObject(); ?>
<?php $this->setProduct($product); ?>
<?php $selectedCategories = $product->getCategoryIds(); ?>
<?php $mediaGallery = (isset($data['image'])) ? $data['image'] : array(); ?>

<?php $mediaGallery = $product->getMediaGalleryImages(); ?>
<?php $method = $this->getLayout()->createBlock('marketplace/shipping_methods');?>
<?php $methods = $method->getSavedMethods(); ?>
<?php //$countrySel = Mage::getSingleton('customer/session')->getCustomer(); 
$customerData = Mage::getModel('customer/customer')->load(Mage::getSingleton('customer/session')->getId());
?>
<?php
$width_thumb  = 150;
$height_thumb = 150;

$width_regular  = 700;
$height_regular = 520;

$width_full  = 700;
$height_full = 520;

//$c = floor(($width_thumb - 33) / 2);
//$w = ($width_thumb+14) * count($mediaArr);
?>
<?php $this->setSelectedCategories($selectedCategories); ?>
<?php $data = $this->getProductAttributes($product); ?>
<?php $imagesBlock = $this->getLayout()->createBlock('videogallery/Video');?>
<?php $videodata=$imagesBlock->getVideoGallery1($product->getId());?>


<?php 
if($videodata){
 foreach ($videodata as $vidArr)
{
    $key = (int)$vidArr['position_default'];
    if (!isset($arr[$key]))
    {
        $arr[$key] = array();
    }
    $arr[$key][] = $vidArr;
}

ksort($arr);
}
?>
<?php $isEditMode = $product->getId(); ?>

<?php //$data = Mage::getSingleton("supplierfrontendproductuploader/session")->getProductData(); ?>
<?php
    $current = Mage::app()->getStore()->getCurrentCurrencyCode();
    $baseCurrency = Mage::app()->getStore()->getBaseCurrencyCode();
    $baseprice = Mage::helper('directory')->currencyConvert($product->getData('price'), $baseCurrency, $current);

    //$basepricefoo = $baseprice;
   // $basepricenn = round($baseprice,2);  
   // $editprice = number_format(round($baseprice),3);
    $editprice = number_format(round($baseprice,2),3);
    $specialprice = Mage::helper('directory')->currencyConvert($product->getSpecialPrice(), $baseCurrency, $current);

    $specialpricefoo = $specialprice;
   // $specialpricenn = round($specialpricefoo,2);  
    $specialprice = number_format(round($specialpricefoo,2),3);
   
    //echo '<pre>';
    //echo $product->getData('price');;
    //print_r($baseCurrency);
    //var_dump($specialprice);
   // exit;
?>

<div class="vendor-container col-md-10 pull-right">
    <h1 class="text-center"><?php echo $this->__('Edit Product'); ?> - <?php echo $product->getName(); ?>
        <small>(SKU : <?php echo $product->getSku(); ?>)</small>
    </h1>
    <?php if ($product->getAdminProductNote() != NULL && $product->getAdminProductNote() != ''): ?>
        <div class="alerts">
            <div class="alert-message info">
                <a class="close" href="#">×</a>

                <p><strong>Admin Remark :</strong> <?php echo $product->getAdminProductNote(); ?></p>
            </div>
        </div>
    <?php endif; ?>
    <div class="row">
        <div class="col-md-12 form-container">
            <form name="product_create_form" id="product_create_form"
                  action="<?php echo Mage::getUrl('supplier/product/save') ?>" method="post"
                  enctype="multipart/form-data">
                  
                <input type="hidden" name="attribute_set_id" value="<?php echo $this->getAttributeSetId() ?>"/>
                <input type="hidden" name="product_id" value="<?php echo $product->getId(); ?>"/>
                <input type="hidden" name="type" value="<?php echo $this->getProductTypeId(); ?>"/>

                <?php
               /* $linkPurchasedItems = Mage::getModel('downloadable/link')->getCollection()
                            ->addFieldToFilter('product_id', $product->getId())->load();
                        $currentPurchasedItemsT = $linkPurchasedItems->getItems();

                        foreach( $currentPurchasedItemsT as $c){

                            print_r($c->getLinkFile());

                        }
*/

                ?>

                <div class="col-md-9 p-0 col-sm-9">
                    <div class="form-group">
                        <div class="label-container">
                            <label for="name">
                                <?php echo $this->getLabel('name', 'Name', false); ?>
                                <span class="required">*</span>:
                            </label>
                        </div>
                        <div class="input-container">
                            <input type="text" id="name" name="name" class="input-text form-control required-entry"
                                   value="<?php echo $product->getData('name'); ?>"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label-container">
                            <label for="short_description">
                                <?php echo $this->getLabel('short_description', 'Short Description', false); ?>
                                <span class="required">*</span>:
                            </label>
                        </div>
                        <div class="input-container">
                            <textarea id="short_description" name="short_description"
                                      class="input-text form-control required-entry form-control wysiwyg"
                                      rows="15"><?php echo $product->getData('short_description'); ?></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label-container">
                            <label for="description">
                                <?php echo $this->getLabel('description', 'Detailed Description ', false); ?>
                                <span class="required">*</span>:
                            </label>
                        </div>
                        <div class="input-container">
                            <textarea id="description" name="description"
                                      class="input-text form-control form-control required-entry wysiwyg"
                                      rows="15"><?php echo $product->getData('description'); ?></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label-container">
                            <label for="price">
                                <?php echo $this->getLabel('price', 'Price', false); ?>
                                <span class="required">*</span>:
                            </label>
                        </div>
                        <div class="input-container">
                            <input type="text" id="price" name="price" value="<?php echo str_replace(",","",$editprice);?>" class="input-text form-control required-entry  validate-greater-than-zero"/>
                              <?php //echo "fgd".Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
                                echo Mage::app()->getStore()->getCurrentCurrencyCode();
                              ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label-container">
                            <label for="special_price">
                                <?php echo $this->getLabel('special_price', 'Special Price', false); ?>:
                            </label>
                        </div>
                        <div class="input-container">
                            <input type="text" id="special_price" name="special_price"
                                    placeholder="Special Price"
                                   value="<?php if(!empty($specialprice) && $specialprice!="0.000" ){ echo str_replace(",","",$specialprice); }?>"
                                   class="input-text form-control validate-number validate-special-price"/>
                              <?php //echo "fgd".Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
                                echo Mage::app()->getStore()->getCurrentCurrencyCode();
                              ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label-container">
                            <label for="special_price_from_date">
                                <?php echo $this->getLabel('special_price_from_date', 'Special Price From', false); ?>:
                            </label>
                        </div>
                        <div class="input-container">
                            <input type="text" id="special_price_from_date" name="special_price_from_date"
                             placeholder="Special Price From"
                                   value="<?php if($product->getSpecialFromDate()==""){}else{echo date('m/d/Y',strtotime($product->getSpecialFromDate()));} ?>"
                                   class="input-text form-control datepicker"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label-container">
                            <label for="special_price_to_date">
                                <?php echo $this->getLabel('special_price_to_date', 'Special Price To', false); ?>:
                            </label>
                        </div>
                        <div class="input-container">
                            <input type="text" id="special_price_to_date" name="special_price_to_date"
                            placeholder="Special Price To"
                                   value="<?php if($product->getSpecialToDate()==""){}else{echo date('m/d/Y',strtotime($product->getSpecialToDate()));} ?>"
                                   class="input-text form-control datepicker"/>
                        </div>
                    </div>

                     <div class="form-group tire_price_main">
                            <div class="label-container">
                                <label for="tier_price_qty">
                                    <?php echo $this->getLabel('tier_price', __('Tier Price :'), false); ?>
                                </label>

                            </div>
                            <?php $i=0;
                            $numItems = count($product->getData('tier_price'));
                            if($numItems==0)
                            {?>
                            
                            
                            <div class="input-container">
                                <input type="hidden" name="tier_price[0][website_id]" value="0"/>
                                <input type="hidden" name="tier_price[0][cust_group]" value="32000"/>
                                <div class="col-md-5 form-group">

                                 <input type="text" id="qty" name="tier_price[0][price_qty]" class="input-text form-control validate-number validate-qnt validate-greater-than-zero" placeholder="QTY"/>
                              
                                </div>
                                <div class="col-md-5 form-group">
                                    <input type="text" id="tier_price" name="tier_price[0][price]"
                                           value=""
                                           class="input-text form-control validate-price validate-greater-than-zero validate-special-price" placeholder="Price"/>
                                           <?php echo Mage::app()->getStore()->getCurrentCurrencyCode();?>
                                </div>
                           
                           
                                <div class="col-md-2 action_class nopadding">
                                    <a href="javascript:void(0);" id="add_0" data-id="0" class="add_clone_edit">+</a>
									<!--<a href='javascript:void(0);' class='remove_clone_edit'>X</a>--> 
                                </div>
                            </div>
                        
                            <?php }
                            else
                            {
                            ?>
                            <?php

							
							foreach ($product->getData('tier_price') as $key => $value) {
								
								$current = Mage::app()->getStore()->getCurrentCurrencyCode();
								$baseCurrency = Mage::app()->getStore()->getBaseCurrencyCode();
								$base = Mage::helper('directory')->currencyConvert($value['price'], $baseCurrency, $current);
								
								  if($current == 'AED'){                    
									//$tier = number_format(round($base),3);
									$tier = number_format(round($base,2),3);
								} else {
									//$tier = number_format($value['price'], 0);
									$tier = number_format(round($value['price'],2),3);
								}
                                ?>

                                <div class="input-container">
                                 <input type="hidden" name="<?php echo 'tier_price['.$key.'][website_id]';?>"  value="<?php echo(isset($value['website_id']) ? $value['website_id'] : ''); ?>"/>
                            <input type="hidden" name="<?php echo 'tier_price['.$key.'][cust_group]';?>" value="<?php echo(isset($value['website_id']) ? $value['cust_group'] : ''); ?>"/>
                             <div class="col-md-5 form-group">

                                 <input type="text" id="qty" name="<?php echo 'tier_price['.$key.'][price_qty]';?>" class="input-text form-control validate-qnt validate-greater-than-zero" placeholder="QTY" value="<?php echo(isset($value['price_qty']) ? number_format($value['price_qty'], 0) : '');
                                 //echo round($value['price_qty']); ?>"/>
                              
                            </div>
                            <div class="col-md-5 form-group">
                                <input type="text" id="tier_price" name="<?php echo 'tier_price['.$key.'][price]';?>"
                                       value="<?php $value = (isset($value['price_qty']) ? $tier : '');  echo str_replace(",", "", $tier); ?>"
                                       class="input-text form-control validate-greater-than-zero" placeholder="Price"/>
                            </div>
                           
                           
                            <div class="col-md-2 action_class">
                                <?php  if(++$i === $numItems) { ?>
                                <a href="javascript:void(0);" id="add_0" data-id="0" class="add_clone_edit">+</a>    
                                <?php } ?>
                                
                             
									<!--<a href='javascript:void(0);' class='remove_clone_edit'>X</a>-->
									<a id="remove_<?php echo $i; ?>" data-id="<?php echo $i; ?>" href="javascript:void(0);" class="remove_clone_edit">X</a>
                            </div>
                            </div>

                            <?php } }?>
                            <input type="hidden" id="tier_counter" value="<?php echo count($product->getData('tier_price'))?>" />
                        </div>
                    <div class="form-group">
                        <div class="label-container">
                            <label for="qty">
                                <?php echo $this->getLabel('qty', 'QTY Available', false); ?>
                                <span class="required">*</span>:
                            </label>
                        </div>
                        <div class="input-container">
                            <input type="text" id="tqty" name="qty"
                                   value="<?php echo round(Mage::getModel('cataloginventory/stock_item')->loadByProduct($product)->getQty()) ?>"
                                   class="input-text form-control validate-number validate-qnt required-entry"/>
                        </div>
                    </div>
                    <?php $typeId = $this->getRequest()->getParams();
                    if ($typeId['type'] == 'simple' || $typeId['type'] == 'configurable') { ?>
                        <div class="form-group">
                            <div class="label-container">
                                <label for="weight">
                                    <?php echo $this->getLabel('weight', 'Product Weight', false); ?>
                                    <span class="required">*</span>:
                                </label>
                            </div>
                            <div class="input-container">
                             <div class="col-md-9 form-group"> 
                                <input type="text" id="weight" name="weight"
                                       value="<?php echo number_format($product->getData('weight'),0); ?>"
                                       class="input-text form-control validate-number required-entry"/>
                                       </div>
                                       <div class="col-md-3 form-group">                                           
                                    <select name="weight_unit" class="form-control required-entry">
                                    <option value="">Select</option>
                                    <option value="Grams" <?php if($product->getData('weight_unit') == "Grams") echo "selected"; ?>>Grams</option>
                                    <option value="Kgs"  <?php if($product->getData('weight_unit') == "Kgs") echo "selected"; ?>>Kgs</option>
                                        
                                    </select>       </div>
                            </div>
                        </div>
                    <?php } ?>
                    <div class="form-group">
                            <div class="label-container">
                                <label for="weight">
                                    <?php echo $this->getLabel('brand', 'Brand', false); 
                                     if($this->getProductTypeId() == 'simple' || $this->getProductTypeId() == 'configurable'){
                                        ?>
                                    <span class="required">*</span>:
                                    <?php } ?>
                                </label>
                            </div>
                            <div class="input-container">
                            <?php  
                            $required = "";
                            if($this->getProductTypeId() == 'simple' || $this->getProductTypeId() == 'configurable'){
                                $required = "required-entry";
                                } ?>
								<select class="form-control <?php echo $required; ?>" name="brand">
								<?php 

								$category = Mage::getModel('catalog/category')->load(42);
								$subcategories = $category->getChildrenCategories();
								 $categories = Mage::getModel('marketplace/categories')->getCollection()->addFilter('supplier_id', $customerData->getEntityId());
								$notSelectedCategories = array();

								foreach($categories AS $category) {          
									$notSelectedCategories[] = $category->getCategoryId();
								}

								
								if (count($subcategories) > 0){
								?>
								<option value="">Please select</option>
								<?php foreach($subcategories as $subcategory){
									if(!in_array($subcategory->getId(),$notSelectedCategories )){ ?>
										<option value="<?php echo $subcategory->getName(); ?>" <?php if($subcategory->getName() == $product->getData("brand")) echo "selected"; ?>><?php echo $subcategory->getName(); ?></option>
								<?php }
									}
								}
								?>  
								</select>   
                                <p class="m-t-10">If you do not find your Brand <a href="<?php echo Mage::getBaseUrl().'supplier/settings/addbrand/' ?>" target="_blank">Click Here</a></p>
                            </div>
                        </div>
                        <?php if($this->getProductTypeId() == 'simple' || $this->getProductTypeId() == 'configurable'): ?>  
						<div class="form-group">
                            <div class="label-container">
                                <label for="color">
                                    <?php echo $this->getLabel('color', 'Color', false); ?>&nbsp;:
                                </label>
                            </div>
                            <!-- color picker HTML -->
                            <div class="input-container">
                                 <?php
                                    $colors = array();
                                    $atributeCode = 'color';
                                    $attribute = Mage::getModel('eav/config')->getAttribute('catalog_product',$atributeCode);
                                    $options = $attribute->getSource()->getAllOptions();
                                    foreach($options as $key => $value){
                                        if($value['label'] != ''){
                                            $fruitList .= $prefix . '"' . $value['label'] . '"';
                                            $prefix = ', ';
                                        }
                                    }
                                    $_product = Mage::getModel('catalog/product');
                                    $attr = $_product->getResource()->getAttribute('color');
                                    $optionId = $product->getData('color');
                                    if ($attr->usesSource()) {
                                           $optionText = $attr->getSource()->getOptionText($optionId);
                                     }                                      
                                    ?>   
                                <input type='hidden' name='color' value="<?php echo $color_id; ?>" id="color-pick" class="color-pick"/>
                            </div>                            
                        </div>
                        <?php endif; ?>   
                        <!-- color picker HTML -->
                    <?php foreach ($attributes AS $attribute): ?>
                        <?php $attributeObj = Mage::getSingleton('eav/config')->getAttribute(Mage_Catalog_Model_Product::ENTITY, $attribute['code']);
						$attributeValue = $product->getIsDeal();
							//$attributeValue = Mage::getModel('catalog/product')->load($product->getId())->getAttributeText('is_deal');
							//$attributeModel = Mage::getModel('eav/entity_attribute')->loadByCode('catalog_product','is_deal');
							
                         ?>
                        <?php if ($attributeObj->getData('available_for_supplier') == 0) {
                            continue;
                        } ?>
						<?php $product_type=explode(',', $attributeObj->getData('apply_to')); ?>
                            <?php 
                            if(in_array($this->getProductTypeId(),$product_type))
                            {
                            ?>
							<?php //if ((count($attributeObj->getApplyTo()) == 0 || in_array('virtual', $attributeObj->getApplyTo())))  :?>
								<?php $attributeFrontend = $attributeObj->getFrontend(); ?>
								<?php $isRequired = $attributeFrontend->getAttribute()->getIsRequired(); 
								if($this->getLabel($attributeObj)!="Weight Unit")
                                {
									if($this->getLabel($attributeObj)!="Color")
                                    {
                                ?>
								<div class="form-group">
									<div class="label-container">
										<label for="product_name">
											<?php echo $this->getLabel($attributeObj); ?>
											<?php if ($isRequired == 1): ?><span class="required">*</span> <?php endif; ?>
										</label>
									</div>
									<div class="input-container">
										<?php echo $this->getAttributeHtml($attributeObj, $data); ?>
									</div>
								</div>
							<?php 	}
								}
							} ?>
                    <?php endforeach; ?>
					<?php if($this->getProductTypeId() == 'simple' || $this->getProductTypeId() == 'configurable'): ?>	
					<div class="form-group">
                            <div class="col-md-3 label-container">
                                <label for="product_name">
                                    Shiping Method                                        :
                                </label>
                            </div>
                            <div class="form-group">
                                <select name="shipping_method" id="shipping_method" class="form-control required-entry">
                                    <option value="">----------</option>
                                    <?php foreach($methods AS $smethods):?>
                                        <?php ; ?>
                                        <option value="<?php echo $smethods->getName(); ?>" <?php if($product->getShippingMethod() == $smethods->getName()) {echo "selected='selected'";} ?>><?php echo $smethods->getName(); ?></option>
                                    <?php endforeach;?>
                                </select>
                            </div>
                        </div>
		              <?php endif; ?>	
                    <?php if ($product->getAdminProductNote() != NULL && $product->getAdminProductNote() != ''): ?>
                        <div class="form-group">
                            <div class="label-container">
                                <label
                                    for="notify_admin_about_change"><?php echo $this->__('Notify Admin About Change'); ?></label>
                            </div>
                            <div class="col-md-3 input-container">
                                <input type="checkbox" name="notify_admin_about_change" id="notify_admin_about_change"
                                       value="1"/>
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
                <div class="col-md-3">
                    <div class="sidebar">
                    <div class="form-group">
                        <div class="col-md-12 photo-content">
                            <label class="cm-product-images-title" data-remaining="<?php echo $this->getMaxImagesCount() ?>">
                            
                                <?php echo $this->__('Product Images <span>(%d)</span>', $this->getMaxImagesCount()); ?>
                            </label>
<span>Note : Please upload image with 655 x 430 pixel resolution only.</span>
<!--                            <div class="col-md-12">
                                <div class="row">-->
                                    <span
                                        class="file_upload_span btn btn-primary"><?php echo $this->__('Select and Upload Image') ?></span>
										<input type="file" name="file_upload" id="file_upload" multiupload />
<!--                                </div>
                            </div>-->
                            <?php $mainPhotoImage = ''; ?>
                            <?php foreach ($mediaGallery AS $img) : //echo "<pre/>"; print_r($img); ?>
                                <?php if ($product->getImage() == $img->getFile()) : ?>
                                    <?php $mainPhotoImage = $product->getImage(); ?>
                                <?php endif; ?>
                            <?php endforeach; ?>
                            <input type="hidden" class="image hidden" name="main_photo" id="main_photo"
                                   value="<?php echo $mainPhotoImage ?>"/>

                            <div class="col-md-8 photos">
                                <ul class="photo panel-body">
                                    <?php foreach($mediaGallery AS $img) : ?>
                                        <?php if(file_exists(Mage::getBaseDir('media') . '/catalog/product' . $img->getFile())): //echo Mage::getBaseDir('media') . '/catalog/product' . $img->getFile(); //echo $img->getFile();?>
                                            <li class="thumbnail<?php echo ($mainPhotoImage == $img->getFile()) ? ' main' : '' ?>">
                                                <img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail', $img->getFile())->resize(171); ?>" alt="<?php echo $this->htmlEscape($img->getLabel());?>" title="<?php echo $this->htmlEscape($img->getLabel());?>" data-name="<?php echo $img->getFile(); ?>"/>
                                                <span class="remove"><i class="glyphicon glyphicon-remove"></i></span>
                                                <span class="default"><i class="glyphicon glyphicon-home"></i></span>
                                                <input type="hidden" class="image hidden" name="image[]" value="<?php echo $img->getFile(); ?>" /></li>
                                            </li>
                                        <?php else: ?>
                                            <li class="thumbnail<?php echo ($mainPhotoImage == $img->getFile()) ? ' main' : '' ?>">
                                                <img src="<?php echo Mage::getBaseUrl('media').'upload'.$img->getFile(); ?>" alt="<?php echo $this->htmlEscape($img->getLabel());?>" title="<?php echo $this->htmlEscape($img->getLabel());?>" data-name="<?php echo $img->getFile(); ?>"/>
                                                <span class="remove"><i class="glyphicon glyphicon-remove"></i></span>
                                                <span class="default"><i class="glyphicon glyphicon-home"></i></span>
                                                <input type="hidden" class="image hidden" name="image[]" value="<?php echo $img->getFile(); ?>" /></li>
                                            </li>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        </div>
                    </div>
                     <!--<h3>Videos </h3>-->
                     <?php if($videodata){ ?>
                      <?php foreach ($arr as $items) : ?>
                         <?php foreach ($items as $item) : ?>
                         <?php 
							$marginLeft = 0;
							$marginTop  = 0;
							$imagehelper = $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $item['file']);
							$imagehelper->__toString(); // Hack to load img dimensions
							$resize_width = $width_thumb;
							$resize_height = $height_thumb;
							$width  = $imagehelper->getOriginalWidth();
							$height = $imagehelper->getOriginalHeight();
							$aspect = $width / $height;
						  
							if($width > $height)
							{
								$resize_width = $resize_height = ceil($resize_height * $width / $height);
								$marginLeft = -1 * floor(($resize_width-$width_thumb)/2.0);
							}
							elseif ($width < $height)
							{
								$resize_width = $resize_height = ceil($resize_width * $height / $width);
								$marginTop = -1 * floor(($resize_height-$height_thumb)/2.0);
							}
							$_imageUrl = $imagehelper->keepAspectRatio(true)->constrainOnly(false)->keepFrame(false)->resize($resize_width,$resize_width);
							?>
                    
                    
                  <!-- 
                        <a class="video-thumb" href="<?php echo $imagesBlock->getVideoGalleryUrl1main($item,$product->getId()); ?>">
                <img src="<?php echo $_imageUrl?>" alt="<?php echo $imagesBlock->htmlEscape($item['label']) ?>"  title="<?php echo $item['label'] . ($item['label'] && $item['description']? ' - ' : '')  .$this->htmlEscape($item['description']) ?>"/>
                
                </a>
                   -->
                 <input type="hidden" id="base_url" value="<?php echo $this->getBaseUrl();?>"/>
                 <input type="hidden" id="product_id" value="<?php echo $product->getId();?>"/>
                 <input type="hidden" id="value_id" value="<?php echo $item['value_id'];?>"/>

                   <a href="javascript:void(0)" class="remove_video">remove</a>
                 
                  <a class="video-thumb" modal="width=650;height=400" rel="iblightbox[gallery]" href="<?php echo $imagesBlock->getVideoGalleryUrl1main($item,$product->getId()); ?>" target="_blank" title="<?php echo $this->htmlEscape($item['label']) ?> " style="width:<?php echo $width_thumb?>px; height:<?php echo $height_thumb?>px">
                <span></span>
                <img src="<?php echo $item['file']?>" alt="<?php echo $this->htmlEscape($item['label']) ?>"  title="<?php echo $item['label'] . ($item['label'] && $item['description']? ' - ' : '')  .$this->htmlEscape($item['description']) ?>"/>
                </a>

                     <?php endforeach; ?>
                    <?php endforeach; ?>
                    <?php } ?>
                    <?php if(!$videodata){?>
                     <div class="form-group">
                            <div class="col-md-12 photo-content">
                               
                                <label class=""><?php echo $this->__('Video URL') ?></label>
                                <input class="input-text" type="text" value="" name="video_gallery[0][url]">
								 <span class="note">Supported Platforms: Vimeo, Youtube</span>
                                 <label class=""><?php echo $this->__('Video label') ?></label>
                                <input class="input-text" value="" name="video_gallery[0][label]" type="text">
                                
                                <div class="col-md-8 photos">
                                   
                                </div>
                            </div>
                        </div>
                    <?php }?>
                    <ul class="category-list">
                        <label><?php echo $this->__('Product Categories'); ?></label>
                        <?php echo $this->getChildHtml('cminds_supplierfrontendproductuploader.product_create_categories', false); ?>
                        <p class="m-t-10">If you do not find your Category <a href="<?php echo Mage::getBaseUrl().'supplier/settings/addcategory/' ?>" target="_blank">Click Here</a></p>
                    </ul>
                   
                   <?php  if ($product->getTypeId() == 'downloadable'): ?>
                            <ul class="list-unstyled">
                            <h5><?php echo $this->__("Uploaded Files"); ?></h5>
                            <?php $types = $this->getRequest()->getParams(); ?>
                            <?php $links=Mage::getModel('downloadable/link')
                      ->getCollection()
                      ->addFieldToFilter('product_id',array('eq'=>$product->getId()));

                       ?>
                             <?php foreach($links AS $link): 

                             $link_array = explode('/',$link['link_url']);
                             //$name = end($link_array);
                            ?><a href="<?php echo $link['link_url']?>" download><?php echo end($link_array);?></a>
                            <br>
                             <?php endforeach; ?>
                            <h5><?php echo $this->__("File"); ?></h5>
                            <li>
                                <input type="file" name="downloadable_upload" id="downloadable_upload" />
                            </li>
                            <li><?php echo $this->__("Or"); ?></li>
                            <li>
                                <input type="text" id="sku" name="file_url" class="input-text form-control "/>
                            </li>

                    </ul>
                    <span class="note">Supported Extensions: jpg, jpeg, pdf, png, gif, csv, zip</span>
                    <?php endif; ?>
                   <div class="clearfix"></div>
                    </div>
                    
                </div>
                

                <div class="col-md-3 col-sm-4 col-md-offset-3 btn-save-fix">
                    <input type="submit" name="submit" id="create_product" class="btn btn-primary"
                           value="<?php echo $this->__('Save Product') ?>"/>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="slideshow-container">
    <div class="slideshow"></div>
</div>
<script type="text/javascript">
    //< ![CDATA[
    var customForm = new VarienForm('product_create_form');
	Validation.add('validate-qnt', 'Please enter a valid Qnt', function(v) {
		return Validation.get('IsEmpty').test(v) || /^0$|^[1-9][0-9]*$/i.test(v)
	});
	Validation.add('validate-price', 'Please enter a valid price', function(v) {
		return Validation.get('IsEmpty').test(v) || /^0$|^[1-9][0-9]*$/i.test(v)
	});	
    //]]>

    jQuery(document).ready(function ($) {
        
		//jQuery('.datepicker').datepicker();
		
		jQuery('.datepicker').datepicker({ 
            dateFormat: "yy-mm-dd",
            showButtonPanel: true,
            closeText: 'Clear', // Text to show for "close" button
            onClose: function () {
                var event = arguments.callee.caller.caller.arguments[0];
                // If "Clear" gets clicked, then really clear it
                if ($(event.delegateTarget).hasClass('ui-datepicker-close')) {
                    $(this).val('');
                }
            }
        });


        jQuery("#special_price_from_date").keypress(function(event) {event.preventDefault();});
        jQuery("#special_price_to_date").keypress(function(event) {event.preventDefault();});
		//jQuery(".datepicker").attr("readonly","true");

		jQuery("#special_price_from_date").val("<?php if($product->getSpecialFromDate()==""){}else{echo date('m/d/Y',strtotime($product->getSpecialFromDate()));} ?>")
        jQuery("#special_price_to_date").val("<?php if($product->getSpecialToDate()==""){}else{echo date('m/d/Y',strtotime($product->getSpecialToDate()));} ?>")

		/************* Special-Price validation***************/
		jQuery("#special_price").on("keyup", function(){
            var val = $(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        });
		
        jQuery('#file_upload').fileupload({
                url: '<?php echo Mage::getUrl('supplier/product/upload') ?>',
                dataType: 'json',
                done: function (e, data) {
                    if (data.result.success) {
                        $('.photo.panel-body').append('<li class="thumbnail"><img src="' + data.result.url + '" alt="" data-name="' + data.result.name + '"/><span class="remove"><i class="glyphicon glyphicon-remove" title="Remove This Picture"></i></span><span class="default"><i class="glyphicon glyphicon-home" title="<?php echo $this->__("Set As Main Picture"); ?>"></i></span><input type="hidden" class="image hidden" name="image[]" value="' + data.result.name + '" /></li>');
                    } else {
                        alert(data.result.message);
                    }
                }
            })
            .prop('disabled', !jQuery.support.fileInput)
            .parent().addClass(jQuery.support.fileInput ? undefined : 'disabled')
            .on('fileuploadadd', function (e, data) {
                var limit = <?php echo $this->getMaxImagesCount() ?>;

                if ($j('.thumbnail:visible').length >= limit) {
                    alert('The upload limit has been reached');
                    return false;
                }
            });

        jQuery(document).on('click', 'li span.remove', function ($) {
            var img = jQuery(this).prev();
            var imgName = jQuery(img).attr('data-name');

            jQuery('input.image.hidden').each(function (el) {
                if (jQuery(this).val() == imgName) {
                    jQuery(this).val('');
                }
            });
            jQuery(this).parent().fadeOut();

        });

        jQuery(document).on('click', 'li span.default', function ($) {
            var img = jQuery(this).prev().prev();
            var imgName = jQuery(img).attr('data-name');
            var mainPhotoInput = jQuery('#main_photo');
            mainPhotoInput.val(imgName);
            jQuery('li.thumbnail.main').removeClass('main');
            img.parent().addClass('main');
        });
        CKEDITOR.replace( 'description' );
        CKEDITOR.replace( 'short_description' );
        jQuery(document).on('click', 'div.alerts .close', function (e) {
            e.preventDefault();
            jQuery(this).parent().slideUp();
        });
			var newval = '<?php echo $attributeValue; ?>';	
			//alert(newval);
			if(newval == 1){			
				jQuery('select[name="is_deal"] option:nth-child(2)').removeAttr('selected','selected');
			}else if(newval == 0){
				//alert('vbnvbn');
				jQuery('select[name="is_deal"] option:nth-child(1)').removeAttr('selected','selected');
			}else{
				
			}
    });
</script>
<script type="text/javascript">
var colortext='';      
jQuery("#color-pick").spectrum({
    showPaletteOnly: true,
    showPalette: true,
    allowEmpty:true,
    chooseText: "Alright",
    cancelText: "Close",
    showButtons: true,
    showSelectionPalette: false,
    color: "<?php echo $optionText; ?>",    
    showInput: true,
    togglePaletteOnly: true,
    togglePaletteMoreText: false,       
    change: function(color) {
         // #ff0000
        jQuery('#color-pick').val(color.toName());
    },
    palette: [
        [<?php echo $fruitList; ?>]
    ]
});
</script>
