<?php $_order = $this->getOrder(); ?>
<div class="col-md-10 pull-right vendor-container">
    <!-- <div class="row"> -->
        <div class="col-md-12 order-page">
            <!-- <div class="jumbotron"> -->
                <h1 class="text-center e-title"><?php echo $this->__('Order'); ?> #<?php echo $_order->getIncrementId(); ?></h1>

                <!-- <div class="row"> -->
                    <div class="col-md-8 col-sm-12">
                        <h3 class='margin-bottom-mobile e-sub-title'><?php echo $this->__("Order Information"); ?></h3>
                        <p><strong><?php echo $this->__("Order Date"); ?> : </strong> <?php echo date("M d, Y g:i:s A", strtotime($_order->getCreatedAt())); ?></p>
                        <p><strong><?php echo $this->__("Order Status"); ?> : </strong>
                            <?php if($_order->getStatus() == 'canceled') :?>
                                <span class="text-danger"><?php echo ucfirst($_order->getStatus()); ?></span>
                            <?php else : ?>
                                <?php echo ucfirst($_order->getStatus()); ?>
                            <?php endif; ?>
                        </p>
                        <?php if($supplierShipping = $this->getSupplierShippingCosts($_order->getSupplierShippingMethod())): ?>
                        <p><strong><?php echo $this->__("Supplier Shipping Costs"); ?> : </strong>
                            <span><?php echo Mage::helper('core')->currency($supplierShipping, true, false);; ?></span>
                        </p>
                        <?php endif; ?>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <h3 class='margin-bottom-mobile e-sub-title'><?php echo $this->__("Account Information"); ?></h3>
                        <p><strong><?php echo $this->__("Customer Name"); ?> : </strong> <?php echo $this->escapeHtml($_order->getCustomerFirstname()); ?> <?php echo $this->escapeHtml($_order->getCustomerLastname()); ?></p>
                        <p><strong><?php echo $this->__("Email"); ?> : </strong> <a href="mailto:<?php echo $_order->getCustomerEmail(); ?>"><?php echo $this->escapeHtml($_order->getCustomerEmail()); ?></a></p>
                    </div>
                <!-- </div> -->
            <!-- </div> -->
        </div>
    <!-- </div> -->
    <div class="col-md-12 main-tab" role="tabpanel">
        <ul class="view-acc nav-tabs" role="tablist" style='margin-left: 0'>
            <li<?php echo $this->getCurrentTab() == 'products' ? " class=\"active\"" : "" ?>><a href="#order" role="tab" data-toggle="tab"><?php echo $this->__('Order'); ?></a></li>
            <?php if(!$_order->getIsVirtual()): ?>
                <li<?php echo $this->getCurrentTab() == 'shipment' ? " class=\"active\"" : "" ?>><a href="#shipments" role="tab" data-toggle="tab"><?php echo $this->__('Shipments'); ?></a></li>
            <?php endif; ?>
            <li<?php echo $this->getCurrentTab() == 'invoice' ? " class=\"active\"" : "" ?>><a href="#invoices" role="tab" data-toggle="tab"><?php echo $this->__('Invoices'); ?></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane<?php echo $this->getCurrentTab() == 'products' ? " active" : "" ?>" id="order">
                <?php echo $this->getChild('view_order')->setOrder($_order)->setItems($this->getItems())->toHtml(); ?>
            </div>
            <?php if(!$_order->getIsVirtual()): ?>
                <div class="tab-pane<?php echo $this->getCurrentTab() == 'shipment' ? " active" : "" ?>" id="shipments"><?php echo $this->getChild('view_shipments')->setOrder($_order)->toHtml(); ?></div>
            <?php endif; ?>
            <div class="tab-pane<?php echo $this->getCurrentTab() == 'invoice' ? " active" : "" ?>" id="invoices"><?php echo $this->getChild('view_invoices')->setOrder($_order)->toHtml(); ?></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>