<?php $_items = $this->getEntries(); ?>
<div class="col-md-10 main-container vendor-container pull-right">
    <h1 class="text-center e-title"><?php echo $this->__('RMA') ?></h1>
    <div class="col-md-12">
            <form name="report_filter" id="report_filter"
                  action="<?php echo Mage::getUrl( '*/*/*' ) ?>" method="post"
                  enctype="multipart/form-data" class="e-filter">
                <!-- <div class="row"> -->
                    <div class="col-md-2">
                        <input type="text" class="form-control input-text"
                               placeholder="RMA ID"
                               name="autoincrement_id"
                               value="<?php echo $this->escapeHtml( $this->getRequest()->getPost( 'autoincrement_id',
                                   '' ) ); ?>"/>
                    </div>
                    <div class="col-md-2">
                        <input type="text"
                               class="form-control datepicker input-text input-text validate-date"
                               name="from"
                               value="<?php echo $this->escapeHtml( $this->getRequest()->getPost( 'from',
                                   '' ) ); ?>"
                               placeholder=<?php echo $this->__( 'From' ) ?>/>
                    </div>
                    <div class="col-md-2">
                        <input type="text"
                               class="form-control datepicker input-text input-text validate-date"
                               name="to"
                               value="<?php echo $this->escapeHtml( $this->getRequest()->getPost( 'to',
                                   '' ) ); ?>"
                               placeholder=<?php echo $this->__( 'To' ) ?>/>
                    </div>
                    <div class="col-md-2">
                        <select name="status" placeholder="From" class="e-select">
                            <option value=""> Status</option>
                            <option value="1"> Open</option>
                            <option value="2"> Closed</option>
                            <?php /*foreach ( Mage::getModel( 'sales/order_status' )->getResourceCollection() AS $status ): ?>
                                <?php if ( in_array( $status->getStatus(),
                                    $statusToSee ) ): ?>
                                    <option
                                        value="<?php echo $status->getStatus() ?>"<?php echo $status->getStatus() == $this->getRequest()->getPost( 'status',
                                        '' ) ? ' selected="selected"' : ""; ?>><?php echo $status->getLabel() ?></option>
                                <?php endif; ?>
                            <?php endforeach;*/ ?>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" name="submit"
                               class="btn btn-primary btn-sm"
                               value="<?php echo $this->__( 'Filter' ) ?>"/>
                    </div>
                    <div class="col-md-2">
                        <button
                            class="btn btn-sm btn-primary export-to-csv"><?php echo $this->__( 'Export to CSV' ) ?></button>
                    </div>
                <!-- </div> -->
            </form>
        </div>
    <div class="col-md-12">
        <div class='table-responsive col-md-12'>
    <table class="table table-striped e-order-table">
        <thead>
        <th><?php echo $this->__('RMA #') ?></th>
        <th><?php echo $this->__('Order #') ?></th>
        <th><?php echo $this->__('Initiated On') ?></th>
        <th><?php echo $this->__('Customer Name') ?></th>
        <th><?php echo $this->__('Customer Email') ?></th>
        <th><?php echo $this->__('Status') ?></th>
        <th><?php echo $this->__('Reason') ?></th>
        <th><?php echo $this->__('Actions') ?></th>
        </thead>
        <tbody>
<?php if($_items->count()): ?>
            <?php foreach($_items AS $_item): ?>
               <?php $item = Mage::getModel('sales/order')->load($_item->getOrderId()); ?>
				 <?php if(!$this->isSupplierItemInOrder($item)) continue;?>
                <tr class="item">
                    <td>#<?php echo $_item->getAutoincrementId(); ?></td>
                    <td>#<?php echo $item->getIncrementId(); ?></td>
                    <td><?php echo $item->getCreatedAt(); ?></td>
                    <td><?php echo $this->escapeHtml($item->getBillingAddress()->getFirstname()); ?> <?php echo $this->escapeHtml($item->getBillingAddress()->getLastname()); ?></td>
                    <td><?php echo $item->getCustomerEmail(); ?></td>
                    <td><span class="label <?php echo ($_item->isClosed()) ? 'label-warning' : 'label-default'; ?>"><?php echo ucfirst($_item->getStatusLabel()); ?></span></td>
                    <td><?php echo ucfirst($_item->getReasonLabel()); ?></td>
                    <td>
                        <a href="<?php echo Mage::getUrl('marketplace/rma_supplier/view/', array('id' => $_item->getId())) ?>" class="btn btn-primary btn-sm"><?php echo $this->__('View'); ?></a>
                    </td>
                </tr>
            <?php endforeach; ?>
        <?php else: ?>
            <td colspan="7"><?php echo $this->__("No results"); ?></td>
        <?php endif; ?>
        </tbody>
        <tfoot>
            <th><?php echo $this->__('RMA #') ?></th>
            <th><?php echo $this->__('Order #') ?></th>
            <th><?php echo $this->__('Purchased On') ?></th>
            <th><?php echo $this->__('Customer Name') ?></th>
            <th><?php echo $this->__('Customer Email') ?></th>
            <th><?php echo $this->__('Status') ?></th>
            <th><?php echo $this->__('Reason') ?></th>
            <th><?php echo $this->__('Actions') ?></th>
        </tfoot>
    </table>
</div>

    <?php
   /* echo $this->getLayout()->createBlock('core/template')
        ->setTemplate('marketplace/order/index/pagination.phtml')
        ->setCollection($_items)
        ->toHtml()*/ ?>
         <?php
    echo $this->getLayout()->createBlock('core/template')
        ->setTemplate('marketplacerma/supplier/index/pagination.phtml')
        ->setCollection($_items)
        ->toHtml() ?>
</div>
</div>
<script type="text/javascript">
    //< ![CDATA[
    var customForm = new VarienForm('report_filter');
    //]]>

    jQuery(document).ready(function($){
        $('.datepicker').datepicker();
    });
</script>