<?php $_items = $this->getCollection(); ?>
<?php $isDiscountEff = Mage::getStoreConfig('marketplace_configuration/general/is_discount_effective'); ?>
<div class="col-md-10 pull-right container-fluid main-container vendor-container">
        <h1 class="text-center e-title"><?php echo $this->__('Order Totals') ?></h1>
        <!--<div class="jumbotron">-->
        <div class="col-md-12">
            <form name="report_filter" id="report_filter" action="<?php echo Mage::getUrl('*/*/*') ?>" method="post" enctype="multipart/form-data">
                <!--<div class="row">-->
                    <div class="col-md-2">
                        <select id="sales_report_period_type" name="period_type" title="Period" class="form-control select">
                            <option value="day"><?php echo $this->__('Day')?></option>
                            <option value="month"><?php echo $this->__('Month')?></option>
                            <option value="year"><?php echo $this->__('Year')?></option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control datepicker input-text required-entry" name="from" value="<?php echo $this->getRequest()->getPost('from', ''); ?>" placeholder="<?php echo $this->__('From')?>*"/>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control datepicker input-text required-entry" name="to" value="<?php echo $this->getRequest()->getPost('to', ''); ?>" placeholder="<?php echo $this->__('To')?>*"/>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" name="submit" class="btn btn-primary btn-sm" value="<?php echo $this->__('Show Report') ?>" />
                    </div>
                    <div class="col-md-2">
                        <input type="submit" name="submit" class="btn btn-sm btn-primary" value="<?php echo $this->__('Export to CSV') ?>" />
                    </div>
                <!--</div>-->
            </form>
        <!--</div>-->

    <!--<div class="row">-->
        <div class='col-md-12'>
        <div class="table-responsive">
                    <table class="table table-striped e-order-table">
                        <thead>
                        <tr>
                            <th><?php echo $this->__('test No'); ?></th>
                            <th><?php //echo $this->__('Order No'); ?></th>
                            <th><?php echo $this->__('Period'); ?></th>
                            <th><?php echo $this->__('Qty Sold'); ?></th>
                            <th><?php echo $this->__('Subtotal'); ?></th>
                            <th><?php echo $this->__('Net Income'); ?></th>
                            <?php if($isDiscountEff):?>
                                <th><?php echo $this->__('Discount') ?></th>
                                <th><?php echo $this->__('With Discount') ?></th>
                            <?php endif; ?>
                        </tr>
                        </thead>
                        <tbody>
							<?php
								$current = Mage::app()->getStore()->getCurrentCurrencyCode();
								$baseCurrency = Mage::app()->getStore()->getBaseCurrencyCode();								
							?>
                            <?php $sumQtySold = 0; ?>
                            <?php $sumSubtotal = 0; ?>
                            <?php $sumIncome = 0; ?>
                            <?php $sumDiscount = 0; ?>
                            <?php $sumIncomeWithDiscount = 0; ?>
                            <?php $i = 1;?>
                            <?php foreach($_items AS $_item) :
                           // var_dump($_item->getSumPrice());
                             ?>
                                <?php $sumQtySold += $_item->getSoldCount(); ?>
                                <?php $sumSubtotal += $_item->getSumPrice(); ?>
                                <?php $sumIncome += $_item->getVendorIncome(); ?>
                                <?php $sumDiscount += $_item->getData('sum_discount'); ?>
                                <?php $sumIncomeWithDiscount += $_item->getData('vendor_income_with_discount'); 
                            //    var_dump($sumSubtotal);
                                ?>
								<?php// echo '<pre>';echo $_item->getSumPrice().'<br>'; ?>
                                <tr>
                                    <td><?php echo $i; ?></td>
                                    <td><?php //echo $_item->getIncrementId(); ?></td>
                                    <td><?php echo $this->getPeriodString($_item->getCreatedAt()); ?></td>
                                    <td><?php echo number_format($_item->getSoldCount()); ?></td>
                                    <td><?php 											
										if($current == 'AED'){ 
											echo $current.' '. number_format(round($_item->getSumPrice(),2),3);
										} else {
											//echo Mage::helper('core')->currency($_item->getSumPrice()); 
                                            $sumisub = number_format(round($_item->getSumPrice(),2),3);
                                               echo $current.' '.$sumisub; 
											//$vincoms = number_format(round($_item->getVendorIncome(),2),3);
											//echo  number_format(round($vincoms,2),3);
										}								
										
									?></td>
                                    <td><?php 
											
											if($current == 'AED'){                    
												//echo $current.' '.number_format($_item->getVendorIncome(),3);
												echo $current.' '. number_format(round($_item->getVendorIncome(),2),3);
											} else {
												/*echo Mage::helper('core')->currency($_item->getVendorIncome()) ;*/
												$vincom = number_format(round($_item->getVendorIncome(),2),3);
                                                echo $current.' '.$vincom;
												//echo Mage::helper('core')->currency($vincom) ;
											}
										?></td>
                                    <?php if($isDiscountEff):?>
                                        <td><?php echo Mage::helper('core')->currency($_item->getData('sum_discount')) ?></td>
                                        <td><?php echo Mage::helper('core')->currency($_item->getData('vendor_income_with_discount')); ?></td>
                                    <?php endif; ?>
                                </tr>
                            <?php $i++; endforeach;  ?>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th class="info"></th>
                            <th class="info"></th>
                            <th class="info"><?php echo $this->__('Total'); ?></th>
                            <th class="info"><?php echo $sumQtySold; ?></th>
                            <th class="info"><?php 
								
								if($current == 'AED'){                    
									//echo $current.' '.number_format($sumSubtotal,3);
									echo $current.' '. number_format(round($sumSubtotal,2),3);
								} else {
									$sumisub = number_format(round($sumSubtotal,2),3);
                                    echo $current.' '.$sumisub;
									//echo Mage::helper('core')->currency($sumisub);
                                    //echo Mage::helper('core')->currency($sumSubtotal) ;									
								}
								
							?></th>
                            <th class="info"><?php 
								
								if($current == 'AED'){                    
									//echo $current.' '.number_format($sumIncome,3);
									echo $current.' '. number_format(round($sumIncome,2),3);
								} else {
                                    echo $current.' '. number_format(round($sumIncome,2),3);
									/*$sumi = number_format(round($sumIncome,2),3);
									echo Mage::helper('core')->currency($sumIncome); */
									
								}
								?></th>
                            <?php if($isDiscountEff):?>
                                <th class="info"><?php echo Mage::helper('core')->currency($sumDiscount); ?></th>
                                <th class="info"><?php echo Mage::helper('core')->currency($sumIncomeWithDiscount); ?></th>
                            <?php endif; ?>
                        </tr>
                        </tfoot>
                    </table>
                </div>
        </div>
    </div>
    <!--</div>-->
</div>
<script type="text/javascript">
    //< ![CDATA[
    var customForm = new VarienForm('report_filter');
    //]]>

    jQuery(document).ready(function($){
        $('.datepicker').datepicker();
    });
</script>